﻿
@{
    ViewBag.Title = "AddArticle";
    Layout = "~/Views/Shared/_OwnerBusinessLayout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="/Themes/owner/assets/js/vendors/plugins/select2.init.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>

<script src="/assetsv8/plugins/custom/ckeditor/ckeditor-classic.bundle.js"></script>
<script src="/assetsv8/plugins/custom/ckeditor/ckeditor-inline.bundle.js"></script>
<script src="/assetsv8/plugins/custom/ckeditor/ckeditor-balloon.bundle.js"></script>
<script src="/assetsv8/plugins/custom/ckeditor/ckeditor-balloon-block.bundle.js"></script>
<script src="/assetsv8/plugins/custom/ckeditor/ckeditor-document.bundle.js"></script>
<script src="/Scripts/PNAjaxPaging.js"></script>
<script src="/Scripts/number-format.js"></script>

<style>
    .tagify{
        background-color:white !important;
    }
    .video-tem-bs {
        padding-left: 10px;
        border-left: 2px solid #ff6a00;
        padding-top: 5px;
        padding-right: 5px;
        margin: 5px;
        background-color: #f1eded;
    }
    .link-item-bs {
        padding-left: 10px;
        border-left: 2px solid #ff6a00;
        padding-top: 5px;
        padding-right: 5px;
        margin: 5px;
        background-color: #f1eded;
    }
</style>

<h2>Thêm bài viết</h2>

<div id="pageLoading" style="text-align:center;">
    <img style="width:50px;" src="/Images/page-loading.gif" />
    <p style="margin-top:5px; color:dodgerblue; text-align:center;">Đang tải dữ liệu...</p>
</div>
<div id="uiBox" style="display:none;">
    <p style="color:dodgerblue; margin-bottom:0px;">Chọn thư mục bài viết</p>
    <div id="selFolderBox">

    </div>

    <p style="color:dodgerblue; margin-bottom:0px; margin-top:15px;">Tiêu đề bài viết</p>
    <input class="form-control use-max-length" id="title" autocomplete="off" maxlength="190" />

    <p style="color:dodgerblue; margin-bottom:0px; margin-top:15px;">Hình ảnh</p>
    <div id="pictureBox">

    </div>

    <p style="color:dodgerblue; margin-bottom:0px; margin-top:15px;">Mô tả tóm tắt:</p>
    <textarea class="use-max-length" id="shortDesc" style="width:100%; height:100px" maxlength="290"></textarea>

    <p style="color:dodgerblue; margin-bottom:0px; margin-top:15px;">Từ khoá tìm kiếm:</p>
    <input class="form-control use-max-length" id="keywords" autocomplete="off" maxlength="190" placeholder="Cách nhau dấu phẩy" />

    <p style="color:dodgerblue; margin-bottom:0px; margin-top:15px;">Nội dung soạn thảo:</p>
    <textarea name="ct_ckeditor" id="ct_ckeditor">
    </textarea>    

    
    <div class="alert alert-success" style="margin-top:20px;">
        <h3>Nhãn</h3>
        <hr />

        <div class="row">
            <input class="form-control form-control-solid" value="" id="kt_tagify_7" />
        </div>
        <p style="text-align:center; margin-bottom:0px; margin-top:10px;">
            <button id="addTagBTN" data-bs-toggle="modal" data-bs-target="#addTagsModal" class="btn btn-success"><img src="/assets/media/icons/duotune/arrows/arr075.svg" /> Thêm nhãn</button>
        </p>
    </div>

    <div class="alert alert-primary" style="margin-top:10px;">
        <h3>Video clips</h3>
        <hr />

        <div class="row" id="videoBox">

        </div>
        <p style="text-align:center; margin-bottom:0px; height:45px;">
            <button id="btnVideoLib" class="btn btn-dark" style="float:left;">Thư viện video</button>
            <button style="float:right;" data-bs-toggle="modal" data-bs-target="#addVideoModal" class="btn btn-primary"><img src="/assets/media/icons/duotune/arrows/arr075.svg" /> Thêm Video</button>
        </p>
    </div>

    <div class="alert alert-warning" style="margin-top:10px;">
        <h3>Link liên kết</h3>
        <hr />

        <div class="row" id="linkBox">
        </div>
        <p style="text-align:center; margin-bottom:0px; height:45px;">
            <button id="btnLinkLib" class="btn btn-dark" style="float:left;">Thư viện link</button>
            <button style="float:right;" data-bs-toggle="modal" data-bs-target="#addLinkModal" class="btn btn-warning"><img src="/assets/media/icons/duotune/arrows/arr075.svg" /> Thêm Link</button>
        </p>
    </div>

    <div class="alert alert-danger" style="margin-top:10px;">
        <h3>File download</h3>
        <hr />

        <div class="row" id="fileBox">

        </div>
        <p style="margin-bottom:0px; height:45px;">
            <button id="btnFileLib" class="btn btn-dark" style="float:left;">Thư viện file</button>
            <button style="float:right" data-bs-toggle="modal" data-bs-target="#addFileModal" class="btn btn-danger"><img src="/assets/media/icons/duotune/arrows/arr075.svg" /> Thêm File</button>
        </p>
    </div>

    <p style="text-align:center; margin-top:10px;">
        <button id="submitBTN" class="btn btn-info">
            <span class="indicator-label">Đăng bài</span>
            <span class="indicator-progress">
                Đang xử lý...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </p>
</div>

<div class="modal fade" tabindex="-1" id="addTagsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm nhãn mới</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <input class="form-control new-tag" style="margin-bottom:10px; border:1px solid #454545" placeholder="Nhãn 1" />
                <input class="form-control new-tag" style="margin-bottom:10px;border:1px solid #454545" placeholder="Nhãn 2" />
                <input class="form-control new-tag" style="margin-bottom:10px;border:1px solid #454545" placeholder="Nhãn 3" />
                <input class="form-control new-tag" style="margin-bottom:10px;border:1px solid #454545" placeholder="Nhãn 4" />
                <input class="form-control new-tag" style="margin-bottom:10px;border:1px solid #454545" placeholder="Nhãn 5" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewTags" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="addVideoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Thêm video</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body" style="padding:10px;">
                <p style="margin-bottom:0px; color:dodgerblue;">Link video của youtube</p>
                <input class="form-control video-link" style="margin-bottom:10px; border:1px solid #454545" id="videoLink" />
                <p style="margin-bottom:0px; color:dodgerblue;">Tên video</p>
                <input class="form-control" style="margin-bottom:10px; border:1px solid #454545" id="videoTitle" />
                <p style="margin-bottom:0px; color:dodgerblue;">Mô tả</p>
                <textarea style="width: 100%; height: 100px; border: 1px solid #454545" id="videoDesc"></textarea>
                <div class="form-check form-check-custom form-check-solid" style="margin-top:10px;">
                    <input class="form-check-input" type="checkbox" value="" id="addToVideoLib" checked="checked" />
                    <label class="form-check-label" for="addToVideoLib">
                        Thêm vào thư viện video
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewVideo" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="selectVideoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Chọn video</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
            </div>

            <div class="modal-body" style="padding:10px;">
                <div id="videoPagingBox">
                    
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitSelectVideo" type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="addLinkModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Thêm Link</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body" style="padding:10px;">
                <p style="margin-bottom:0px; color:dodgerblue;">Địa chỉ link</p>
                <input class="form-control video-link" style="margin-bottom:10px; border:1px solid #454545" id="linkURL" />
                <p style="margin-bottom:0px; color:dodgerblue;">Tên mô tả</p>
                <input class="form-control" style="margin-bottom:10px; border:1px solid #454545" id="linkName" />

                <div class="form-check form-check-custom form-check-solid" style="margin-top:10px;">
                    <input class="form-check-input" type="checkbox" value="" id="addToLinkLib" checked="checked" />
                    <label class="form-check-label" for="addToLinkLib">
                        Thêm vào thư viện link
                    </label>
                </div>

                <div class="form-check form-check-custom form-check-solid" style="margin-top:10px;">
                    <input class="form-check-input" type="checkbox" value="" id="openNewTab" checked="checked" />
                    <label class="form-check-label" for="openNewTab">
                        Mở với tab mới
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewLink" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="selectLinkModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Chọn Link</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
            </div>

            <div class="modal-body" style="padding:10px;">
                <div id="linkPagingBox">

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitSelectLink" type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="addFileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Thêm file download</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
            </div>

            <div class="modal-body" style="padding:10px;">
                <p style="margin-bottom:0px; color:dodgerblue;">Đường dẫn file download</p>
                <input class="form-control video-link" style="margin-bottom:10px; border:1px solid #454545" id="fileURL" />
                <p style="margin-bottom:0px; color:dodgerblue;">Tên mô tả file</p>
                <input class="form-control" style="margin-bottom:10px; border:1px solid #454545" id="fileName" />

                <div class="form-check form-check-custom form-check-solid" style="margin-top:10px;">
                    <input class="form-check-input" type="checkbox" value="" id="addToFileLib" checked="checked" />
                    <label class="form-check-label" for="addToFileLib">
                        Thêm vào thư viện file
                    </label>
                </div>

                <div class="row" style="margin-top:10px;">
                    <select class="form-select" placeholder="Chọn loại file" data-dropdown-parent="#addFileModal" id="selFileType">
                        <option value="-1" data-kt-select2-file="fdown.png">Chọn loại file</option>
                        <option value="0" data-kt-select2-file="pdf.png">PDF</option>
                        <option value="1" data-kt-select2-file="word.png">Word</option>
                        <option value="2" data-kt-select2-file="excel.png">Excel</option>
                        <option value="3" data-kt-select2-file="ppt.png">PPT</option>
                        <option value="4" data-kt-select2-file="rarzip.png">RAR/ZIP</option>
                        <option value="5" data-kt-select2-file="exe.png">Setup/Application (exe)</option>
                        <option value="6" data-kt-select2-file="html.png">HTML</option>
                        <option value="7" data-kt-select2-file="photo.png">File hình ảnh (jpg,png,bmp...)</option>
                        <option value="8" data-kt-select2-file="ofile.png">Loại khác</option>
                    </select>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewFile" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="selectFileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Chọn File</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
            </div>

            <div class="modal-body" style="padding:10px;">
                <div id="filePagingBox">

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitSelectFile" type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>



<script>
    function removeVietnameseTones(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, "");
        str = str.replace(/\u02C6|\u0306|\u031B/g, "");
        str = str.replace(/ + /g, " ");
        str = str.trim();
        str = str.replace(/!|@@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, " ");
        str = str.toLowerCase();
        return str;
    }
    var wrapp = '<div class="input-group flex-nowrap">' +
        '<span class="input-group-text"><i class="bi bi-bookmarks-fill fs-4"></i></span>' +
        '<div class="overflow-hidden flex-grow-1">' +
        '{sel}' +
        '</div>' +
        '</div>';

    var selTemplate = '<select id="selFolder" class="form-select" data-control="select2" data-placeholder="Select an option">' +
        '{data}' +
        '</select>';

    var videoTemplate = '<div id="{id}" class="video-item" tag-name="{title}" style="border-bottom:1px solid #787878; margin-bottom:10px;">'+
                            '<p style="margin-bottom:0px;">'+
                                '<img style="max-width:100%;" src="https://img.youtube.com/vi/{id}/mqdefault.jpg" />'+
                            '</p>'+
                            '<p style="margin-top:5px; margin-bottom:0px;">{title}</p>'+
                            '<p style="margin-top:5px;">'+
                                '<button class="btn btn-danger btn-remove-video">Xoá</button>'+
                            '</p>'+
                        '</div>';

    var videoSearchTemplate = '<div class="video-tem-bs" >'+
                                    '<div style="height:50px; overflow:hidden;">'+
                                        '<div style="width:30px;float:left; padding-top:5px;">'+
                                            '<div class="form-check form-check-custom form-check-solid" style="margin-top:10px;">'+
                                                '<input tag-id="{id}" tag-name="{name}" class="form-check-input video-checking" type="checkbox" style="background-color:burlywood !important;" />'+
                                            '</div>'+
                                        '</div>'+
                                        '<div style="float:left;">'+
                                            '<img style="height:50px;" src="https://img.youtube.com/vi/{id}/mqdefault.jpg" />'+
                                        '</div>'+
                                    '</div>'+
                                    '<p style="color:blue;">{name}</p>'+
                                '</div>';


    var linkTemplate = '<div id="{id}" tag-blank="{blank}" class="link-item" style="border-bottom:1px solid #787878; margin-bottom:10px;">' +
                            '<h3><i class="bi bi-link-45deg fs-2x"></i> {title}</h3>' +
                            '<h4>{url}</h4>' +
                            '<p style="margin-top:5px;"><button class="btn btn-danger btn-remove-link">Xoá</button></p>' +
                        '</div>';

    var linkSearchTemplate = '<div class="link-item-bs" style="border-bottom:1px solid #787878; margin-bottom:10px;">' +
                                '<h3 style="height:40px;">'+
                                    '<div class="form-check form-check-custom form-check-solid" style="margin-top:10px;float:left;">' +
                                    '<input tag-id="{id}" tag-blank="{blank}" tag-name="{title}" class="form-check-input link-checking" type="checkbox" style="background-color:burlywood !important;" />' +
                                    '</div><p style="float:left; margin-top:12px; margin-left:10px; margin-bottom:0px;">{title}</p></h3>' +
                                '<h5 style="font-style:italic; color:blue;">{url}</h4>' +
                            '</div>';
        var fileTemplate = '<div id="{id}" tag-type="{type}" class="file-item" style="border-bottom:1px solid #787878; margin-bottom:10px;">' +
                            '<h3><img src="/images/files/{filename}" height="25px"> {title}</h3>' +
                            '<h4>{url}</h4>' +
                            '<p style="margin-top:5px;"><button class="btn btn-danger btn-remove-file">Xoá</button></p>' +
                        '</div>';

    var fileSearchTemplate = '<div class="link-item-bs" style="border-bottom:1px solid #787878; margin-bottom:10px;">' +
                                '<h3 style="height:40px;">'+
                                    '<div class="form-check form-check-custom form-check-solid" style="margin-top:10px;float:left;">' +
                                    '<input tag-id="{id}" tag-type="{type}" tag-type-id="{type-id}" tag-name="{title}" class="form-check-input file-checking" type="checkbox" style="background-color:burlywood !important;" />' +
                                    '</div><p style="float:left; margin-top:12px; margin-left:10px; margin-bottom:0px;">{title}</p></h3>' +
                                '<h5 style="font-style:italic; color:blue;">{url}</h4>' +
                            '</div>';


    function stopPageLoading() {
        $("#pageLoading").css("display", "none");
    }
    var folderData = new Array();
    var photoBox;
    var pageModel;
    var mapTagCode = {};
    var mapTagValue = {};

    $(document).ready(function () {

        PNGet("/api/owner/cms/get-article-folders", function (data) {
            stopPageLoading();
            pageModel = JSON.parse(data);
            var list = pageModel.Folders;
            for (var i = 0; i < list.length; i++) {
                if (!list[i].ParentId) {
                    list[i].Childs = new Array();
                    folderData.push(list[i]);
                }
            }
            for (var i = 0; i < list.length; i++) {
                if (list[i].ParentId) {
                    var parent;
                    for (var j = 0; j < folderData.length; j++) {
                        if (folderData[j].FolderId == list[i].ParentId) {
                            parent = folderData[j];
                            break;
                        }
                    }
                    if (parent) {
                        parent.Childs.push(list[i]);
                    }
                }
            }
            var groupHTMLs = "";

            for (var i = 0; i < folderData.length; i++) {
                var groupItemHTML = '<optgroup label="' + folderData[i].Name + '">{items}</optgroup>';
                var childHTMLs = "";
                for (var j = 0; j < folderData[i].Childs.length; j++) {
                    var e = folderData[i].Childs[j];
                    childHTMLs = childHTMLs + '<option value="' + e.FolderId + '">' + e.Name + '</option>'
                }
                groupItemHTML = groupItemHTML.replace("{items}", childHTMLs);
                groupHTMLs = groupHTMLs + groupItemHTML;
            }
            var html = selTemplate.replace("{data}", groupHTMLs);
            html = wrapp.replace("{sel}", html);
            $("#selFolderBox").append(html);
            $("#selFolder").select2();

            $("#uiBox").css("display", "block");

            var tagArray = new Array();
            var tags = pageModel.Tags;
            for (var i = 0; i < tags.length; i++) {
                tagArray.push(tags[i].Value);
                mapTagCode[tags[i].RootCode] = tags[i].Value;
                mapTagValue[tags[i].Value] = tags[i].RootCode;
            }
            bindingTags(tagArray);

        }, function () { });

        $("#pictureBox").empty();
        photoBox = new MultiPhotoBox("pictureBox", "", new Array(), "/api/media/post-multi-photo");
        photoBox.renderUI();

        $('.use-max-length').maxlength({
            warningClass: "badge badge-primary",
            limitReachedClass: "badge badge-success"
        });

        $("#saleType").change(function () {
            var type = $("#saleType").val();
            if (type == "0") {
                $("#saleNum").css("display", "none");
                $("#saleVal").css("display", "none");
            }
            else if (type == "1") {
                $("#saleNum").css("display", "none");
                $("#saleVal").css("display", "block");
            }
            else {
                $("#saleNum").css("display", "block");
                $("#saleVal").css("display", "none");
            }
                
        });

        $("#submitBTN").click(function () {
            var model = {};
            model.folder = $("#selFolder").val();
            model.title = $("#title").val();
            model.photo = photoBox.getMultiPostData();
            model.desc = $("#shortDesc").val();
            model.keywords = $("#keywords").val();
            model.content = editorUI.getData();
            model.price = $("#price").val();
            model.code = $("#code").val();
            model.dvt = $("#dvt").val();
            model.priceDVT = $("#dvp").val();
            model.store = $("#storeNum").val();
            model.salePer = $("#saleNum").val();
            model.saleVal = $("#saleVal").val();
            model.saleType = $("#saleType").val();
            model.note = $("#note").val();
            model.dvt = $("#dvt").val();

            model.viewType = $('input[name="view-type"]:checked').val();

            var jtag = $("#kt_tagify_7").val();
            if (jtag) {
                var tags = JSON.parse(jtag);
                var tagText = "";
                for (var i = 0; i < tags.length; i++) {
                    var x = mapTagValue[tags[i].value];
                    tagText = tagText + x + "*";
                }
                model.tags = tagText;
            }            

            var videos = $(".video-item");
            var listVideo = [];
            for (var i = 0; i < videos.length; i++) {
                var id = $(videos[i]).attr("id");
                var name = $(videos[i]).attr("tag-name");
                listVideo.push({ id: id, name: name });
            }
            model.videos = JSON.stringify(listVideo);

            var links = $(".link-item");
            var listLink = [];
            for (var i = 0; i < links.length; i++) {
                var link = $(links[i]).find("h4").text();
                var name = $(links[i]).find("h3").text();
                var blank = $(links[i]).attr("tag-blank");
                listLink.push({ link: link, name: name, blank: blank });
            }
            model.links = JSON.stringify(listLink);

            var files = $(".file-item");
            var listFile = [];
            for (var i = 0; i < files.length; i++) {
                var link = $(files[i]).find("h4").text();
                var name = $(files[i]).find("h3").text();
                var type = $(files[i]).attr("tag-type");
                listFile.push({ link: link, name: name, type: type });
            }

            model.files = JSON.stringify(listFile);

            var url = "/api/owner/cms/post-new-article";

            $("#submitBTN").prop("disabled", true);
            $("#submitBTN").attr("data-kt-indicator", "on");

            PNPost(url, model, function (data) {
                if (data && data.length > 35) {
                    setTimeout(function () {
                        window.location.href = "/owner/cms/articles";
                    }, 1500);
                }
            }, function () { });
        });

        $("#addTagBTN").click(function () {
            //tagObject.whitelist.push("New Object");

            //var tagElm = tagObject.createTagElem({ value: "New Object" });
            //tagObject.injectAtCaret(tagElm);
            //var elm = tagObject.insertAfterTag(tagElm); //  <- adds space after the tag
            //tagObject.placeCaretAfterNode(elm);
        });

        function bindingTags(list) {
            for (var i = 0; i < list.length; i++) {
                tagObject.whitelist.push(list[i]);
            }           
        }

        var input = document.querySelector("#kt_tagify_7");
        var tagObject = new Tagify(input, {
            whitelist: [],
            maxTags: 10,
            dropdown: {
                maxItems: 20,
                classname: "tagify__inline__suggestions", 
                enabled: 0,
                closeOnSelect: false
            }
        });

        $("#submitNewTags").click(function () {
            var list = $(".new-tag");
            var data = "";
            var newList = new Array();
            for (var i = 0; i < list.length; i++) {
                var text = $(list[i]).val();
                text = text.toLowerCase();
                if (text) {
                    var utext = removeVietnameseTones(text);
                    if (!mapTagCode[utext]) {
                        data = data + "*" + text;
                        mapTagCode[utext] = text;
                        mapTagValue[text] = utext;
                        newList.push(text);
                    }
                }
            }
            $("#submitNewTags").prop("disabled", true);
            $("#submitNewTags").attr("data-kt-indicator", "on");
            PNPost("/api/owner/cms/new-tags", { tags: data }, function (data) {
                if (data == "ok")
                    bindingTags(newList);

                $("#submitNewTags").prop("disabled", false);
                $("#submitNewTags").attr("data-kt-indicator", "");
                $(".new-tag").val("");
                $("#addTagsModal").modal('hide');
            }, function () { });
            
        });

        $("#submitNewVideo").click(function () {
            var link = $("#videoLink").val();
            var title = $("#videoTitle").val();
            var desc = $("#videoDesc").val();
            var checked = $("#addToVideoLib").prop("checked");
            var youtubeId = parseYoutubeId(link);
            if (!youtubeId) {
                Swal.fire({
                    text: "Link youtube không hợp lệ",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, thử lại",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else if (!title) {
                Swal.fire({
                    text: "Bạn chưa đặt tên video",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else {
                if (checked) {
                    var url = "/api/owner/cms/new-video";
                    var model = {};
                    model.yid = youtubeId;
                    model.title = title;
                    model.desc = $("#videoDesc").val();
                    $("#submitNewVideo").prop("disabled", true);
                    $("#submitNewVideo").attr("data-kt-indicator", "on");
                    PNPost(url, model, function (data) {
                        $("#videoLink").val("");
                        $("#videoTitle").val("");
                        $("#videoDesc").val("");
                        $("#submitNewVideo").prop("disabled", false);
                        $("#submitNewVideo").attr("data-kt-indicator", "");
                        addVideoToUI(model.title, model.yid, true);
                        $("#addVideoModal").modal('hide');
                    }, function () { });
                }
                else {
                    addVideoToUI(title, youtubeId, true);
                    $("#videoLink").val("");
                    $("#videoTitle").val("");
                    $("#videoDesc").val("");
                    $("#addVideoModal").modal('hide');
                }
            }
        });

        $("#submitNewLink").click(function () {
            var link = $("#linkURL").val();
            var title = $("#linkName").val();
            var addChecked = $("#addToLinkLib").prop("checked");
            var blankChecked = $("#openNewTab").prop("checked");

            if (!link) {
                Swal.fire({
                    text: "Link không hợp lệ",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, thử lại",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else if (!title) {
                Swal.fire({
                    text: "Bạn chưa đặt tên mô tả",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else {
                if (addChecked) {
                    var url = "/api/owner/cms/new-link";
                    var model = {};
                    model.url = link;
                    model.text = title;
                    model.blank = blankChecked ? "true" : "false";

                    $("#submitNewLink").prop("disabled", true);
                    $("#submitNewLink").attr("data-kt-indicator", "on");
                    PNPost(url, model, function (data) {
                        $("#linkURL").val("");
                        $("#linkName").val("");
                        $("#submitNewLink").prop("disabled", false);
                        $("#submitNewLink").attr("data-kt-indicator", "");
                        addLinkToUI(model.text, model.url, generateUUID(), model.blank, true);
                        $("#addLinkModal").modal('hide');
                    }, function () { });
                }
                else {
                    addLinkToUI(title, link, generateUUID(), blankChecked, true);

                    $("#linkURL").val("");
                    $("#linkName").val("");
                    $("#addLinkModal").modal('hide');
                }
            }
        });

        $("#submitNewFile").click(function () {
            var link = $("#fileURL").val();
            var title = $("#fileName").val();
            var addChecked = $("#addToFileLib").prop("checked");
            var opt = $('#selFileType').find(":selected").attr("data-kt-select2-file");
            var type = $('#selFileType').find(":selected").attr("value");
            if (!link) {
                Swal.fire({
                    text: "Link không hợp lệ",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, thử lại",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else if (!title) {
                Swal.fire({
                    text: "Bạn chưa đặt tên mô tả",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else {
                if (addChecked) {
                    var url = "/api/owner/cms/new-file-by-directly";
                    var model = {};
                    model.url = link;
                    model.name = title;
                    model.type = $("#selFileType").val();

                    $("#submitNewFile").prop("disabled", true);
                    $("#submitNewFile").attr("data-kt-indicator", "on");
                    PNPost(url, model, function (data) {
                        $("#fileURL").val("");
                        $("#fileName").val("");
                        $("#submitNewFile").prop("disabled", false);
                        $("#submitNewFile").attr("data-kt-indicator", "");
                        addFileToUI(model.name, model.url, data, opt, true, type);
                        $("#addFileModal").modal('hide');
                    }, function () { });
                }
                else {
                    addFileToUI(title, link, generateUUID(), opt, true, type);

                    $("#fileURL").val("");
                    $("#fileName").val("");
                    $("#addFileModal").modal('hide');
                }
            }
        });

        var editorUI;

        ClassicEditor
            .create(document.querySelector('#ct_ckeditor'))
            .then(editor => {
                editorUI = editor;
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });

        var videoPageData;
        var videoCurrentPage = 1;

        $("#btnVideoLib").click(function () {
            $("#selectVideoModal").modal('show');
            var vconfig = {};
            vconfig.baseURL = "/api/owner/cms/get-video";
            vconfig.boxId = "videoPagingBox";
            vconfig.searchHolder = "Từ khoá video x";
            vconfig.renderUI = function (list) {
                var dataList = list;
                for (var i = 0; i < dataList.length; i++) {
                    var html = videoSearchTemplate.replace("{id}", dataList[i].YoutubeId).replace("{id}", dataList[i].YoutubeId);
                    html = html.replace("{name}", dataList[i].Title).replace("{name}", dataList[i].Title);
                    $("#" + vconfig.boxId).append(html);
                }
            }
            var videoPaging = new PNAjaxPaging(vconfig);
            videoPaging.init();
        });

        $("#submitSelectVideo").click(function () {
            var list = $(".video-checking");
            for (var i = 0; i < list.length; i++) {
                if ($(list[i]).prop("checked")) {
                    var title = $(list[i]).attr("tag-name");
                    var id = $(list[i]).attr("tag-id");
                    addVideoToUI(title, id);
                }
            }
            $("#selectVideoModal").modal('hide');
        });

        $("#btnLinkLib").click(function () {
            $("#selectLinkModal").modal('show');
            var vconfig = {};
            vconfig.baseURL = "/api/owner/cms/get-text-link";
            vconfig.boxId = "linkPagingBox";
            vconfig.searchHolder = "Từ khoá link";
            vconfig.renderUI = function (list) {
                var dataList = list;
                for (var i = 0; i < dataList.length; i++) {
                    var html = linkSearchTemplate.replace("{id}", dataList[i].URL).replace("{url}", dataList[i].URL);
                    html = html.replace("{title}", dataList[i].Text).replace("{title}", dataList[i].Text).replace("{blank}", dataList[i].IsBlank ? "y" : "n");
                    $("#" + vconfig.boxId).append(html);
                }
            }
            var linkPaging = new PNAjaxPaging(vconfig);
            linkPaging.init();
        });

        $("#submitSelectLink").click(function () {
            var list = $(".link-checking");
            for (var i = 0; i < list.length; i++) {
                if ($(list[i]).prop("checked")) {
                    var title = $(list[i]).attr("tag-name");
                    var url = $(list[i]).attr("tag-id");
                    var bl = $(list[i]).attr("tag-blank");
                    var isBlank = bl == "y";
                    addLinkToUI(title, url, generateUUID(), isBlank, false);
                }
            }
            $("#selectLinkModal").modal('hide');
        });

        $("#btnFileLib").click(function () {
            $("#selectFileModal").modal('show');
            var vconfig = {};
            vconfig.baseURL = "/api/owner/cms/get-file";
            vconfig.boxId = "filePagingBox";
            vconfig.searchHolder = "Từ khoá tìm file";
            vconfig.renderUI = function (list) {
                var dataList = list;
                for (var i = 0; i < dataList.length; i++) {
                    var html = fileSearchTemplate.replace("{id}", dataList[i].Link).replace("{url}", dataList[i].Link);
                    var iname = getIconNameOfFileType(dataList[i].Type);
                    html = html.replace("{title}", dataList[i].Name).replace("{title}", dataList[i].Name).replace("{type}", iname).replace("{type-id}", dataList[i].Type);
                    $("#" + vconfig.boxId).append(html);
                }
            }
            var filePaging = new PNAjaxPaging(vconfig);
            filePaging.init();
        });

        $("#submitSelectFile").click(function () {
            var list = $(".file-checking");
            for (var i = 0; i < list.length; i++) {
                if ($(list[i]).prop("checked")) {
                    var title = $(list[i]).attr("tag-name");
                    var url = $(list[i]).attr("tag-id");
                    var photo = $(list[i]).attr("tag-type");
                    var type = $(list[i]).attr("tag-type-id");
                    addFileToUI(title, url, generateUUID(), photo, false, type);
                }
            }
            $("#selectFileModal").modal('hide');
        });

        const format = (item) => {
            if (!item.id) {
                return item.text;
            }

            var url = '/images/files/' + item.element.getAttribute('data-kt-select2-file');
            var img = $("<img>", {
                class: "rounded-circle me-2",
                width: 26,
                src: url
            });
            var span = $("<span>", {
                text: " " + item.text
            });
            span.prepend(img);
            return span;
        }

        $('#selFileType').select2({
            templateResult: function (item) {
                return format(item);
            }
        });
    });

    var mapVideos = {};
    var mapLinks = {};
    var mapFiles = {};

    function addVideoToUI(title, yid, isAlert) {
        if (!mapVideos[yid]) {
            var html = videoTemplate.replace("{id}", yid);
            html = html.replace("{id}", yid);
            html = html.replace("{title}", title);
            html = html.replace("{title}", title);
            $("#videoBox").append(html);
            mapVideos[yid] = yid;
            $("#" + yid).find(".btn-remove-video").click(function () {
                var box = $($(this).parent()).parent();
                $(box).remove();
                mapVideos[yid] = undefined;
            });
        }
        else {
            if (isAlert)
                alert("Video đã tồn tại trong sanh sách");
        }
    }

    function addLinkToUI(title, url, uid, isBlank, isAlert) {
        if (!mapLinks[url]) {
            var html = linkTemplate.replace("{id}", uid);
            html = html.replace("{url}", url);
            var b = isBlank ? "y" : "n";
            html = html.replace("{title}", title);
            html = html.replace("{blank}", b);
            $("#linkBox").append(html);
            mapLinks[url] = uid;
            $("#" + uid).find(".btn-remove-link").click(function () {
                var box = $($(this).parent()).parent();
                $(box).remove();
                mapLinks[url] = undefined;
            });
        }
        else {
            if (isAlert)
                alert("Link đã tồn tại trong sanh sách");
        }
    }

    function addFileToUI(title, url, uid, iname, isAlert, type) {
        if (!mapFiles[url]) {
            var html = fileTemplate.replace("{id}", uid);
            html = html.replace("{filename}", iname);
            html = html.replace("{type}", type);
            html = html.replace("{url}", url);
            html = html.replace("{title}", title);
            $("#fileBox").append(html);
            mapFiles[url] = uid;
            $("#" + uid).find(".btn-remove-file").click(function () {
                var box = $($(this).parent()).parent();
                $(box).remove();
                mapFiles[url] = undefined;
            });
        }
        else {
            if (isAlert)
                alert("Link đã tồn tại trong sanh sách");
        }
    }

    function getIconNameOfFileType(type) {
        switch (type) {
            case -1: {
                return "fdown.png";
                break;
            }
            case 0: {
                return "pdf.png";
                break;
            }
            case 1: {
                return "word.png";
                break;
            }
            case 2: {
                return "excel.png";
                break;
            }
            case 3: {
                return "ppt.png";
                break;
            }
            case 4: {
                return "rarzip.png";
                break;
            }
            case 5: {
                return "exe.png";
                break;
            }
            case 6: {
                return "html.png";
                break;
            }
            case 7: {
                return "photo.png";
                break;
            }
            case 8: {
                return "ofile.png";
                break;
            }
            default: {
                return "fdown.png";
                break;
            }
        }
    }

    function parseYoutubeId(url) {
        var id = "";
        url = url.trim();
        if (url.length >= 15) {
            var index = url.indexOf('watch?v=');
            var index = url.indexOf('watch?v=');
            if (index > -1) {
                try {
                    text = url.substr(index + 8, 11);
                    id = text;
                }
                catch { }
            }
            else {
                var index2 = url.indexOf('youtu.be');
                if (index2 > -1) {
                    try {
                        text = url.substr(index2 + 9, 11);
                        id = text;
                    }
                    catch { }
                }
            }
        }
        return id;
    }

    function generateUUID() { // Public Domain/MIT
        var d = new Date().getTime();//Timestamp
        var d2 = ((typeof performance !== 'undefined') && performance.now && (performance.now() * 1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16;//random number between 0 and 16
            if (d > 0) {//Use timestamp until depleted
                r = (d + r) % 16 | 0;
                d = Math.floor(d / 16);
            } else {//Use microseconds since page-load if supported
                r = (d2 + r) % 16 | 0;
                d2 = Math.floor(d2 / 16);
            }
            return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
    }

</script>


