﻿@model hrcloud.EF.Album
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_OwnerBusinessLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="/Scripts/PNAjaxPaging.js"></script>
<link href="/Content/swipe/photoswipe.css" rel="stylesheet" />
<link href="/Content/swipe/default-skin.css" rel="stylesheet" />
<script src="/Content/swipe/photoswipe-ui-default.min.js"></script>
<script src="/Content/swipe/photoswipe.min.js"></script>

<style>
    .postBox {
        padding-bottom: 10px;
        border-bottom: 1px solid #addada;
        margin-top: 15px;
    }

    .post-sub-title {
        font-style: italic;
        margin-left: 5px;
    }

    .upost-photo {
        width: 160px;
        height: 90px;
        text-align: center;
        border: 1px solid #ccc;
    }

    .upost-body {
        margin-left: 170px;
        margin-top: -90px;
        height: 90px;
    }

    .postBox-last {
        border-bottom: none !important;
    }

    .upost-photo img {
        margin-top: 20px;
    }

    .postBox button {
        margin-right: 5px;
    }

    .postBox .btn-edit {
        margin-right: 5px;
    }

    .box-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .iloading {
        margin-top: 50px;
    }
</style>

<input id="aid" type="hidden" value="@Model.AlbumId" />
<input id="oid" type="hidden" value="@Model.OwnerId" />
<input id="jdata" type="hidden" value="@ViewBag.JData" />

<h2><i class="bi bi-images fs-2x"></i> @Model.Name</h2>

<div style="height:50px;">
    <button style="float:left" id="openFiles" class="btn btn-info"><i class="bi bi-arrow-up-circle-fill fs-2x"></i> Upload ảnh</button>
    <button style="float:right" id="btnSave" class="btn btn-primary">
        <span class="indicator-label"><i class="bi bi-check2-circle fs-2x"></i> Lưu lại</span>
        <span class="indicator-progress">
            Đang xử lý...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
    </button>
</div>

<div id="loadingBox" style="padding-bottom:10px; display:none; text-align:center;">
    <img style="height:50px;" src="/Images/loading.gif" />
    <span>Đang tải ảnh lên...</span>
</div>



<div class="row" id="pictureListBox">


</div>

<input style="visibility:hidden;" type="file" id="multiFileInput" accept="image/x-png,image/gif,image/jpeg" multiple />

<div class="modal fade" tabindex="-1" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align:center;"><i class="las la-trash fs-3x"></i></h3>
                <h4 id="removeTitle" style="text-align:center; color:red !important;"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitDelete" type="button" class="btn btn-danger">
                    <span class="indicator-label">Xóa</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editDescModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mô tả cho ảnh này</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
            </div>

            <div class="modal-body">
                <img id="modalPic" style="height:100px" />

                <p style="color:blue; margin-bottom:0px;">Mô tả ảnh:</p>
                <input class="form-control" id="picDesc" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitDesc" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="qualityModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Chọn chất lượng ảnh</p>
                <select id="selQuality" style="padding:7px; width:100%">
                    <option value="0.8">Cao nhất</option>
                    <option selected value="0.65">Khá (Mặc định)</option>
                    <option value="0.5">Trung bình</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="sumbitQuality" type="button" class="btn btn-danger" data-bs-dismiss="modal">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("Copy_View"); }

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>

    var pictureTemplate = '<div id="{uid}" time="{time}" tag-w="{w}" tag-h="{h}" tag-n="{n}"  style="padding:5px;" class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-xxl-1 photo-item-box">'+
                            '<div class="ct-img-box" style="height: 200px; border: 1px solid #ededed; border-radius: 5px; box-sizing:content-box;">'+
                                '<div style="height:150px;">'+
                                    '<a title="{ti}" tag-i="{i}" class="sw-link" href="#" style="width:100%; height:100%">'+
                                        '<div class="imgBox" tag-av="{av}" style="width: 100%; height: 100%; background-size: cover; text-align:center; background-position: center; ">'+
                                            '<img class="iloading" src="/Images/img_loading.gif" />' +
                                            '<img tag-av="{av}" style="display:none;" class="proIMG" src="" />' +
                                        '</div>'+
                                    '</a>'+
                                '</div>'+
                                '<div style="height: 50px; padding: 5px; background-color: #ededed; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">'+
                                    '<div style="margin-right:30px; height:40px;">'+
                                        '<p style="margin-bottom:0px;" class="box-title">{desc}</p>'+
                                    '</div>'+
                                    '<div style="float:right; width:25px; height:40px;margin-top:-40px;">'+
                                        '<button style="width:20px;padding-left:5px;height:40px;" type="button" class="btn btn-sm btn-dark" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start">'+
                                            '<i class="bi bi-three-dots-vertical"></i>'+
        '</button>' +
        '<div id="menu_{uid}" tag-id="{uid}" class="drop-menu menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-200px py-4" data-kt-menu="true">' +
        '<div class="menu-item px-3">' +
        '<a href="#" class="menu-link px-3 menu-copy">' +
        '<i class="bi bi-layers"></i> <span style="margin-left:10px;"> Copy link ảnh</span>' +
        '</a>' +
        '</div>' +
        '<div class="menu-item px-3">' +
        '<a href="#" class="menu-link px-3 menu-edit">' +
        '<i class="bi bi-pencil"></i> <span style="margin-left:10px;"> Sửa mô tả</span>' +
        '</a>' +
        '</div>' +
        '<div class="menu-item px-3">' +
        '<a href="#" class="menu-link px-3 menu-delete">' +
        '<i class="bi bi-trash-fill"></i> <span style="margin-left:10px; color:red !important"> Xoá</span>' +
        '</a>' +
        '</div>' +
        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>';

    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

    function timeFormat(d) {
        var datestring = ("0" + d.getDate()).slice(-2) + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" +
            d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);
        return datestring;
    }

    var mapFolder;

    var oid = "@ViewBag.OwnerId";

    var productPaging;

    var cid;

    var uploadedCount = 0;
    var postURL = "/api/owner/cms/import-multi-photo";

    var quality = 0.65;

    var mapUploaded = {};

    var newList = new Array();
    var removeList = new Array();

    var cid = "";

    var isLocal = true;

    $(document).ready(function () {

        var albumId = $("#aid").val();
        var ownerId = $("#oid").val();
        var jdata = $("#jdata").val();
        var listPhoto = JSON.parse(jdata);

        for (var i = 0; i < listPhoto.length; i++) {
            var html = pictureTemplate.replace("{uid}", listPhoto[i].Pid);
            html = html.replace("{uid}", listPhoto[i].Pid);
            html = html.replace("{uid}", listPhoto[i].Pid);
            html = html.replace("{i}", i);
            html = html.replace("{av}", listPhoto[i].Pid);
            html = html.replace("{av}", listPhoto[i].Pid);
            html = html.replace("{time}", listPhoto[i].Time);
            html = html.replace("{w}", listPhoto[i].W);
            html = html.replace("{h}", listPhoto[i].H);
            var desc = listPhoto[i].Desc ? listPhoto[i].Desc : "Chưa có mô tả ảnh";
            html = html.replace("{n}", desc);
            html = html.replace("{desc}", desc);
            var date = new Date(parseInt(listPhoto[i].Time) * 1000);
            var tx = timeFormat(date);
            html = html.replace("{ti}", tx);
            $("#pictureListBox").append(html);
        }
        KTMenu.createInstances();
        renderUIPhoto();

        $(".menu-copy").click(function () {
            isLocal = false;
            var row = $($(this).parent()).parent();
            var id = $(row).attr("tag-id");
            cid = id;
            var ipath = "https://vpages.vn/UData/" + oid + "/albums/pictures/" + albumId + "/" + cid + ".jpg";
           
            var menuElement = document.querySelector("#menu_" + cid);
            var menu = KTMenu.getInstance(menuElement);
            menu.hide();
            copyText(ipath);
            return false;
        });

        $(".menu-edit").click(function () {
            isLocal = false;
            var row = $($(this).parent()).parent();
            var id = $(row).attr("tag-id");
            cid = id;
            var findPic = $("#" + id);
            var desc = $(findPic).find(".box-title").text();
            if (desc == "Chưa có mô tả ảnh")
                desc = "";

            var url = $(findPic).find(".proIMG").attr("src");
            $("#modalPic").attr("src", url);

            $("#picDesc").val(desc);
            $("#editDescModal").modal('show');
            var menuElement = document.querySelector("#menu_" + cid);
            var menu = KTMenu.getInstance(menuElement);
            menu.hide();
            return false;
        });

        $(".menu-delete").click(function () {
            var row = $($(this).parent()).parent();
            var id = $(row).attr("tag-id");
            cid = id;
            var model = {};
            model.albumId = albumId;
            model.photoId = cid;
            PNPost("/api/owner/cms/delete-photo", model, function (data) {
                if (data == "ok") {
                    var findPic = $("#" + model.photoId);
                    $(findPic).remove();
                }
            });
            return false;
        });

        $("#submitDesc").click(function () {
            var model = {};
            model.albumId = albumId;
            model.photoId = cid;
            model.desc = $("#picDesc").val();
            if (!isLocal) {
                $("#submitDesc").prop("disabled", true);
                $("#submitDesc").attr("data-kt-indicator", "on");
                PNPost("/api/owner/cms/update-photo-desc", model, function (data) {
                    if (data == "ok") {
                        var findPic = $("#" + model.photoId);
                        if (model.desc)
                            $(findPic).find(".box-title").text(model.desc);
                        else
                            $(findPic).find(".box-title").text("Chưa có mô tả ảnh");
                    }
                    $("#submitDesc").prop("disabled", false);
                    $("#submitDesc").attr("data-kt-indicator", "");
                    $("#editDescModal").modal('hide');
                });
            }
            else {
                var findPic = $("#" + model.photoId);
                if (model.desc)
                    $(findPic).find(".box-title").text(model.desc);
                else
                    $(findPic).find(".box-title").text("Chưa có mô tả ảnh");

                $("#editDescModal").modal('hide');
            }
        });


        $("#openFiles").click(function () {
            $("#qualityModal").modal('show');
        });

        $("#sumbitQuality").click(function () {
            quality = parseFloat($("#selQuality").val());
            $("#multiFileInput").click();
        });

        $("#multiFileInput").change(function () {
            $("#loadingBox").css("display", "block");
            var files = $(this).get(0).files;
            var count = 0;
            uploadedCount = 0;
            var imgs = [];
            var names = {};
            var dataArray = [];
            var sizeArray = [];
            for (var i = 0; i < files.length; i++) {
                names[files[i].name] = i;
                var img = document.createElement("img");

                var reader = new FileReader();

                reader.onload = function (e) {
                    var fileName = e.target.fileName;
                    imgs[names[fileName]].src = e.target.result;
                }

                reader.fileName = files[i].name;
                reader.readAsDataURL(files[i]);
                img.name = files[i].name;
                img.onload = function () {
                    count++;
                    var current = imgs[names[this.name]]
                    var canvas = document.createElement('canvas');

                    var MAX_WIDTH = 1200;
                    var MAX_HEIGHT = 1200;
                    var width = current.width;
                    var height = current.height;

                    if (width > height) {
                        if (width > MAX_WIDTH) {
                            height *= MAX_WIDTH / width;
                            width = MAX_WIDTH;
                        }
                    } else {
                        if (height > MAX_HEIGHT) {
                            width *= MAX_HEIGHT / height;
                            height = MAX_HEIGHT;
                        }
                    }
                    canvas.width = width;
                    canvas.height = height;
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(current, 0, 0, width, height);

                    var size = parseInt(width) + "*" + parseInt(height);

                    var dataurl = canvas.toDataURL('image/jpeg', quality);
                    dataArray.push(dataurl);
                    sizeArray.push(size);

                    if (count >= files.length) {
                        var p0 = "";
                        var dataURL0 = "";
                        var size0 = "";
                        var dataURL1 = "";
                        var p1 = "";
                        var size1 = "";
                        for (var j = 0; j < count; j++) {
                            if (j % 2 == 0) {
                                p0 = dataArray[j].substr(23, dataArray[j].length - 23);
                                dataURL0 = dataArray[j];
                                p1 = "";
                                size0 = sizeArray[j];
                            }
                            else {
                                p1 = dataArray[j].substr(23, dataArray[j].length - 23);
                                dataURL1 = dataArray[j];
                                size1 = sizeArray[j];
                            }
                            if (j % 2 != 0 || j == count - 1) {
                                var data = new FormData();

                                if (p0) {

                                    data.append("photo0", p0);
                                    var uid0 = generateUUID();
                                    data.append("uid0", uid0);
                                    data.append("size0", size0);
                                    mapUploaded[uid0] = dataURL0;
                                    addImageHolder(uid0);
                                }

                                if (p1) {
                                    data.append("photo1", p1);
                                    var uid1 = generateUUID();
                                    data.append("uid1", uid1);
                                    data.append("size1", size1);
                                    mapUploaded[uid1] = dataURL1;
                                    addImageHolder(uid1);
                                }

                                data.append("album", albumId);
                                var ajaxRequest = $.ajax({
                                    type: "POST",
                                    url: postURL,
                                    contentType: false,
                                    processData: false,
                                    data: data,
                                    success: function (result) {
                                        updateUploadStatus(result);
                                        uploadedCount = uploadedCount + 2;
                                        if (uploadedCount >= count)
                                            $("#loadingBox").css("display", "none");
                                    }
                                });

                            }
                        }
                    }
                }
                imgs.push(img);
            }
        });

        var pswpElement = document.querySelectorAll('.pswp')[0];

        $(".sw-link").click(function () {
            var photoList = new Array();
            var plist = $(".photo-item-box");
            for (var i = 0; i < plist.length; i++) {
                var id = $(plist[i]).attr("id");
                var url = "/UData/" + oid + "/albums/pictures/" + albumId + "/" + id + ".jpg";
                var m = {
                    src: url,
                    w: parseInt($(plist[i]).attr("tag-w")),
                    h: parseInt($(plist[i]).attr("tag-h")),
                    title: $(plist[i]).attr("tag-n")
                };
                photoList.push(m);
            }

            var ind = $(this).attr("tag-i");
            var options = {
                index: parseInt(ind)
            };
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, photoList, options);
            gallery.init();
            return false;
        });

        $("#btnSave").click(function () {
            var model = {};
            model.album = albumId;
            var newPics = new Array();
            model.delPics = new Array();
            var nlist = new Array();
            for (var i = 0; i < newList.length; i++) {
                var box = $("#" + newList[i]);
                var id = $(box).attr("id");
                var time = $(box).attr("time");
                var w = $(box).attr("tag-w");
                var h = $(box).attr("tag-h");
                var u = $(box).attr("tag-u");
                var desc = $(box).find(".box-title").text();
                newPics.push({ Pid: id, Desc: desc, Time: time, W: w, H: h, U : u });
            }
            model.newPics = JSON.stringify(newPics);
            $("#btnSave").prop("disabled", true);
            $("#btnSave").attr("data-kt-indicator", "on");
            PNPost("/api/owner/cms/save-album-photo", model, function (data) {
                setTimeout(function () {
                    $("#btnSave").prop("disabled", false);
                    $("#btnSave").attr("data-kt-indicator", "");
                    window.location.reload();
                }, 1000);
            }, function () { });
        });

        function updateUploadStatus(jdata) {
            var list = JSON.parse(jdata);
            for (var i = 0; i < list.length; i++) {
                var uid = list[i].Uid;
                updateImageHolder(list[i].Pid, list[i].Time, list[i].W, list[i].H);
            }
        }

        function addImageHolder(uid) {
            var html = pictureTemplate.replace("{uid}", uid);
            html = html.replace("{uid}", uid);
            html = html.replace("{desc}", "Chưa có mô tả ảnh");
            $("#pictureListBox").prepend(html);
        }

        function updateImageHolder(pid, time, width, height) {
            var data = mapUploaded[pid];
            var box = $("#" + pid);
            $(box).find(".iloading").css("display", "none");
            $(box).find(".imgBox").css("background-image", "url('" + data + "')");
            $(box).attr("time", time);
            $(box).attr("tag-w", width);
            $(box).attr("tag-h", height);
            $(box).find(".ct-img-box").css("border", "1px solid red");
            newList.push(pid);
            KTMenu.createInstances();
            $(box).find(".menu-copy").remove();
            $(box).find(".menu-edit").click(function () {
                isLocal = true;
                var row = $($(this).parent()).parent();
                var id = $(row).attr("tag-id");
                cid = id;
                var findPic = $("#" + id);
                var desc = $(findPic).find(".box-title").text();
                if (desc == "Chưa có mô tả ảnh")
                    desc = "";

                var url = $(findPic).find(".proIMG").attr("src");
                $("#modalPic").attr("src", mapUploaded[cid]);

                $("#picDesc").val(desc);
                $("#editDescModal").modal('show');
                return false;
            });



            $(box).find(".menu-delete").click(function () {
                var row = $($(this).parent()).parent();
                var id = $(row).attr("tag-id");
                cid = id;
                var model = {};
                model.albumId = albumId;
                model.photoId = cid;
                var findPic = $("#" + model.photoId);
                $(findPic).remove();
                return false;
            });
        }

        function renderUIPhoto() {
            var listIMG = $(".proIMG");
            for (var i = 0; i < listIMG.length; i++) {
                $(listIMG[i]).one("load", function () {
                    var tagav = $(this).attr("tag-av");
                    var ipath = "/UData/" + oid + "/albums/thumnails/" + albumId + "/" + tagav + ".jpg";
                    $($(this).parent()).find(".iloading").css("display", "none");
                    $($(this).parent()).css("background-image", "url('" + ipath + "')");
                });

                $(listIMG[i]).one("error", function () {
                    $($(this).parent()).find(".iloading").css("display", "none");
                    $($(this).parent()).css("background-image", "url('/Images/no-img.png')");
                });

                var tagav = $(listIMG[i]).attr("tag-av");
                var ipath = "/UData/" + oid + "/albums/thumnails/" + albumId + "/" + tagav + ".jpg";
                $(listIMG[i]).attr("src", ipath);
            }
        }
    });





    function generateUUID() { // Public Domain/MIT
        var d = new Date().getTime();//Timestamp
        var d2 = ((typeof performance !== 'undefined') && performance.now && (performance.now() * 1000)) || 0;//Time in microseconds since page-load or 0 if unsupported
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16;//random number between 0 and 16
            if (d > 0) {//Use timestamp until depleted
                r = (d + r) % 16 | 0;
                d = Math.floor(d / 16);
            } else {//Use microseconds since page-load if supported
                r = (d2 + r) % 16 | 0;
                d2 = Math.floor(d2 / 16);
            }
            return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
    }

</script>

