﻿@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_OwnerBusinessLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="/Scripts/PNAjaxPaging.js"></script>

<style>
    .postBox {
        padding-bottom: 10px;
        border-bottom: 1px solid #addada;
        margin-top: 15px;
    }

    .post-sub-title {
        font-style: italic;
        margin-left: 5px;
    }

    .upost-photo {
        width: 160px;
        height: 90px;
        text-align: center;
        border: 1px solid #ccc;
    }

    .upost-body {
        margin-left: 170px;
        margin-top: -90px;
        height: 90px;
    }

    .postBox-last {
        border-bottom: none !important;
    }

    .upost-photo img {
        margin-top: 20px;
    }

    .postBox button {
        margin-right: 5px;
    }

    .postBox .btn-edit {
        margin-right: 5px;
    }

    .box-title {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
    .iloading{
        margin-top:50px;
    }
</style>

<h2>Quản lý thư viện ảnh <button data-bs-toggle="modal" data-bs-target="#addAlbumModal" class="btn btn-sm btn-info"><i class="las la-plus fs-2x"></i></button></h2>


<div class="row" id="albumPagingBox">


</div>

<div class="modal fade" tabindex="-1" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align:center;"><i class="las la-trash fs-3x"></i></h3>
                <h4 id="removeTitle" style="text-align:center; color:red !important;"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitDelete" type="button" class="btn btn-danger">
                    <span class="indicator-label">Xóa</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="addAlbumModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm Album ảnh</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
            </div>

            <div class="modal-body">
                <p style="color:blue; margin-bottom:0px;">Tên album ảnh <span style="color:red">(*)</span></p>
                <input class="form-control" id="albumName" />

                <p style="color:blue; margin-bottom:0px;">Từ khoá</p>
                <input class="form-control" id="keywords" />

                <p style="color:blue; margin-bottom:0px;">Mô tả tóm tắt</p>
                <textarea id="albumDesc" style="width:100%; height:80px;"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewAlbum" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editAlbumModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật album ảnh</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
            </div>

            <div class="modal-body">
                <p><span>Ngày tạo album: </span><span style="font-style:italic; color:blue;" id="dtTime">12/03/2022 12:09</span></p>
                <p><span>Người tạo: </span><span style="font-style:italic; color:blue;" id="dtUser"></span></p>
                <p style="color:blue; margin-bottom:0px;">Tên album ảnh <span style="color:red">(*)</span></p>
                <input class="form-control" id="albumNameEdit" />

                <p style="color:blue; margin-bottom:0px;">Từ khoá</p>
                <input class="form-control" id="keywordsEdit" />

                <p style="color:blue; margin-bottom:0px;">Mô tả tóm tắt</p>
                <textarea id="albumDescEdit" style="width:100%; height:80px;"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitAlbumEdit" type="button" class="btn btn-primary">
                    <span class="indicator-label">Cập nhật</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var menutemplate = '<div id="kt-menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-200px py-4" data-kt-menu="true">' +
                '<div class="menu-item px-3">' +
                '<a href="#" class="menu-link px-3">' +
                '<i class="bi bi-send-fill"></i> <span style="margin-left:10px;"> Vào album</span>' +
                '</a>' +
                '</div>' +
                '<div class="menu-item px-3">' +
                '<a href="#" class="menu-link px-3">' +
                '<i class="bi bi-info-circle-fill"></i> <span style="margin-left:10px;"> Thông tin</span>' +
                '</a>' +
                '</div>' +
                '<div class="menu-item px-3">' +
                '<a href="#" class="menu-link px-3">' +
                '<i class="bi bi-pencil"></i> <span style="margin-left:10px;"> Sửa</span>' +
                '</a>' +
                '</div>' +
                '<div class="menu-item px-3">' +
                '<a href="#" class="menu-link px-3">' +
                '<i class="bi bi-trash-fill"></i> <span style="margin-left:10px; color:red !important"> Xoá</span>' +
                '</a>' +
                '</div>' +
                '</div>';

    var albumTemplate = '<div id="{id}" style="padding:5px;" class="col-12 col-sm-6 col-md-3 col-lg-4">'+
                            '<div style="height: 250px; border: 1px solid #728af9; border-radius: 5px; box-sizing:content-box;">'+
                                '<div style="height:200px;">'+
                                    '<a href="/owner/cms/album-detail/{id}" style="width:100%; height:100%">'+
                                        '<div tag-av="{av}" style="width: 100%; height: 100%; background-size: cover; text-align:center; background-position: center; ">'+
                                            '<img class="iloading" src="/Images/img_loading.gif" />' +
                                            '<img tag-av="{av}" style="display:none;" class="proIMG" src="" />' +
                                        '</div>'+
                                    '</a>'+
                                '</div>'+
                                '<div style="height: 50px; padding: 5px; background-color: #ededed; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">'+
                                    '<div style="margin-right:30px; height:40px;">'+
                                        '<h4 style="margin-bottom:0px;" class="box-title">{name}</h4>'+
                                        '<p style="margin:0px; color:blue;"><i class="bi bi-image"></i> {pc} ảnh <span style="margin-left:30px;"><i class="bi bi-eye-fill"></i> <span>{vc}</span></span></p>'+
                                    '</div>'+
                                    '<div style="float:right; width:25px; height:40px;margin-top:-40px;">'+
                                        '<button style="width:20px;padding-left:5px;height:40px;" type="button" class="btn btn-sm btn-dark" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start">'+
                                            '<i class="bi bi-three-dots-vertical"></i>'+
        '</button>' +
        '<div tag-id="{id}" tag-name="{name}" tag-time="{time}" tag-key="{key}" tag-desc="{desc}" tag-u="{u}" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-200px py-4" data-kt-menu="true">' +
        '<div class="menu-item px-3">' +
        '<a href="/owner/cms/album-detail/{id}" class="menu-link px-3">' +
        '<i class="bi bi-send-fill"></i> <span style="margin-left:10px;"> Vào album</span>' +
        '</a>' +
        '</div>' +
        '<div class="menu-item px-3">' +
        '<a href="#" class="menu-link px-3 menu-info">' +
        '<i class="bi bi-info-circle-fill"></i> <span style="margin-left:10px;"> Thông tin</span>' +
        '</a>' +
        '</div>' +
        '<div class="menu-item px-3">' +
        '<a href="#" class="menu-link px-3 menu-delete">' +
        '<i class="bi bi-trash-fill"></i> <span style="margin-left:10px; color:red !important"> Xoá</span>' +
        '</a>' +
        '</div>' +
        '</div>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'+
                        '</div>';

    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

    function timeFormat(d) {
        var datestring = ("0" + d.getDate()).slice(-2) + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" +
            d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);
        return datestring;
    }

    var mapFolder;

    var oid = "@ViewBag.OwnerId";

    var productPaging;

    var cid;
    var cBoxAction;

    $(document).ready(function () {
        var pageConfig = {};
        pageConfig.baseURL = "/api/owner/cms/get-albums";
        pageConfig.boxId = "albumPagingBox";
        pageConfig.searchHolder = "Từ khoá album ảnh";
        pageConfig.renderUI = function (list) {
            var dataList = list;
            for (var i = 0; i < dataList.length; i++) {
                var html = albumTemplate.replace("{id}", dataList[i].AlbumId);
                html = html.replace("{id}", dataList[i].AlbumId);
                html = html.replace("{id}", dataList[i].AlbumId);
                html = html.replace("{id}", dataList[i].AlbumId);
                html = html.replace("{av}", dataList[i].AKey);
                html = html.replace("{av}", dataList[i].AKey);
                html = html.replace("{name}", dataList[i].Name);
                html = html.replace("{pc}", dataList[i].PicCount);
                html = html.replace("{vc}", dataList[i].ViewCount);
                html = html.replace("{name}", dataList[i].Name);
                html = html.replace("{key}", dataList[i].Keywords);
                html = html.replace("{time}", dataList[i].CreateDate);
                html = html.replace("{u}", dataList[i].CBY);
                html = html.replace("{desc}", dataList[i].SDesc);
                $("#" + pageConfig.boxId).append(html);
                
            }
            KTMenu.createInstances();
        }

        pageConfig.renderUICompleted = function () {
            renderUIAvatar();
            triggerUIEvent();
        }

        productPaging = new PNAjaxPaging(pageConfig);
        productPaging.init();

        $("#submitDelete").click(function () {
            $("#submitDelete").prop("disabled", true);
            $("#submitDelete").attr("data-kt-indicator", "on");
            isCalling = true;
            $(cbtn).prop("disabled", true);
            //PNPost("/api/owner/cms/delete-post", { id: cid }, function (data) {
            //    isCalling = false;
            //    $(cbtn).prop("disabled", false);
            //    $("#deleteModal").modal('hide');
            //    $("#submitDelete").prop("disabled", false);
            //    $("#submitDelete").attr("data-kt-indicator", "");
            //    if (data == "ok") {
            //        var removed = $("#" + cid);
            //        $(removed).remove();
            //    }
            //}, function () { isCalling = false; $(cbtn).prop("disabled", false); });
        });

        $("#submitNewAlbum").click(function () {
            var name = $("#albumName").val();
            if (!name) {
                alert("Bạn chưa nhập tên Album ảnh");
                return false;
            }
            var model = { name: name, keywords : $("#keywords").val() , desc : $("#albumDesc").val() };
            $("#submitNewAlbum").prop("disabled", true);
            $("#submitNewAlbum").attr("data-kt-indicator", "on");
            PNPost("/api/owner/cms/new-album", model, function (data) {             
                setTimeout(function () {
                    $("#submitNewAlbum").prop("disabled", false);
                    $("#submitNewAlbum").attr("data-kt-indicator", "");
                    var url = "/owner/cms/album-detail/" + data;
                    window.location.href = url;
                }, 1000);

                
            }, function () { });
        });

        $("#submitAlbumEdit").click(function () {
            var model = {};
            model.id = cid;
            model.name = $("#albumNameEdit").val();
            if (!model.name) {
                alert("Bạn chưa đặt tên album");
                return false;
            }
            model.keywords = $("#keywordsEdit").val();
            model.desc = $("#albumDescEdit").val();
            $("#submitAlbumEdit").prop("disabled", true);
            $("#submitAlbumEdit").attr("data-kt-indicator", "on");
            PNPost("/api/owner/cms/update-album", model, function (data) {
                if (data == "ok") {
                    $("#" + model.id).find(".box-title").text(model.name);
                    $(cBoxAction).attr("tag-key", model.keywords);
                    $(cBoxAction).attr("tag-name", model.name);
                    $(cBoxAction).attr("tag-desc", model.desc);

                }
                $("#submitAlbumEdit").prop("disabled", false);
                $("#submitAlbumEdit").attr("data-kt-indicator", "");
                $("#editAlbumModal").modal('hide');
            }, function () { });
        });

        $("#submitDelete").click(function () {
            var model = { id: cid };
            $("#submitDelete").prop("disabled", true);
            $("#submitDelete").attr("data-kt-indicator", "on");
            PNPost("/api/owner/cms/delete-album", model, function (data) {
                if (data == "ok") {
                    $("#" + model.id).remove();
                }
                $("#submitDelete").prop("disabled", false);
                $("#submitDelete").attr("data-kt-indicator", "");
                $("#deleteModal").modal('hide');
            }, function () { });
        });
    });

    function doAjaxCompleted() {
        //renderFolderName();
        //renderUIAvatar();
        //triggerUIEvent();
    }

    var isCalling = false;
    var cbtn;
    function triggerUIEvent() {

        $(".menu-info").click(function () {

            var box = $($(this).parent()).parent();
            cBoxAction = box;
            var id = $(box).attr("tag-id");
            cid = id;
            var name = $(box).attr("tag-name");
            var time = $(box).attr("tag-time");
            var date = parseJsonDate(time);
            var timeDisplay = timeFormat(date);
            var key = $(box).attr("tag-key");
            var desc = $(box).attr("tag-desc");
            var u = $(box).attr("tag-u");

            $("#dtTime").text(timeDisplay);
            $("#dtUser").text(u);
            $("#albumNameEdit").val(name);
            $("#keywordsEdit").val(key);
            $("#albumDescEdit").val(desc);
            $("#editAlbumModal").modal('show');

            return false;
        });

        $(".menu-delete").click(function () {

            var box = $($(this).parent()).parent();
            cBoxAction = box;
            var id = $(box).attr("tag-id");
            cid = id;
            var name = $(box).attr("tag-name");
            $("#removeTitle").text("Bạn muốn xoá album: " + name);
            $("#deleteModal").modal('show');
            return false;
        });

    }

    function renderUIAvatar() {
        var listIMG = $(".proIMG");
        for (var i = 0; i < listIMG.length; i++) {
            $(listIMG[i]).one("load", function () {
                var tagav = $(this).attr("tag-av");
                var ipath = "/UData/" + oid + "/albums/covers/" + tagav + ".jpg";
                $($(this).parent()).find(".iloading").css("display", "none");
                $($(this).parent()).css("background-image", "url('" + ipath + "')");
            });

            $(listIMG[i]).one("error", function () {
                $($(this).parent()).find(".iloading").css("display", "none");
                $($(this).parent()).css("background-image", "url('/Images/no-album-photo.jpg')");
            });

            var tagav = $(listIMG[i]).attr("tag-av");
            var ipath = "/UData/" + oid + "/albums/covers/" + tagav + ".jpg";
            $(listIMG[i]).attr("src", ipath);
        }
    }
</script>

