﻿
@{
    ViewBag.Title = "Banners";
    Layout = "~/Views/Shared/_OwnerBusinessLayout.cshtml";
}
<script src="/Scripts/upload-photo-ajax.js"></script>
<style>
    #bannerBox{
        padding-top:10px;
    }
    .banner-item{
        margin-bottom:20px;
    }
    .banner-item button{
        margin-right:5px;
    }
</style>
<h2>Banners</h2>

<button id="uploadPhoto" class="btn btn-info"><i class="las la-image fs-2x"></i>Chọn ảnh</button>
<div style="margin-top:10px; display:none;" id="pictureBox">
    <p>
        <img id="avatar" style="max-width:100%" height="200px" />
    </p>
    <p style="margin-bottom:0px; margin-top:10px;color:blue">Mô tả ảnh:</p>
    <input class="form-control" id="picDesc" style="border:1px solid #808080" />
    <p style="text-align:center; margin-top:10px;">
        <button id="btnNewBanner" class="btn btn-primary">
            <span class="indicator-label">Thêm Banner</span>
            <span class="indicator-progress">
                Đang xử lý...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </p>
</div>
<input style="visibility:hidden;" type="file" id="avatar_file" accept="image/x-png,image/gif,image/jpeg" />

<div id="pageLoading" style="text-align:center;">
    <img style="width:50px;" src="/Images/page-loading.gif" />
    <p style="margin-top:5px; color:dodgerblue; text-align:center;">Đang tải dữ liệu...</p>
</div>
<div id="imageUploading" style="text-align:center;display:none;">
    <img style="width:50px;" src="/Images/loading_gif.gif" />
    <p style="margin-top:5px; color:dodgerblue; text-align:center;">Đang upload ảnh...</p>
</div>
<div id="processLoading" style="text-align:center;display:none;">
    <img style="width:50px;" src="/Images/page-loading.gif" />
    <p style="margin-top:5px; color:dodgerblue; text-align:center;">Đang xử lý...</p>
</div>

<div id="bannerBox">

</div>

<div class="modal fade" tabindex="-1" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align:center;"><i class="las la-trash fs-3x"></i></h3>
                <h4 id="removeTitle" style="text-align:center; color:red !important;"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitDelete" type="button" class="btn btn-danger">
                    <span class="indicator-label">Xóa</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa mô tả</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Nội dung mô tả</p>
                <input style="border:1px solid #5d2323" class="form-control" id="editDesc" autocomplete="off" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitEditDesc" type="button" class="btn btn-primary">
                    <span class="indicator-label">Cập nhật</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var newAvatar = "";
    var postSimplePhotoURL = "/api/media/post-photo";

    var cid = "";

    function stopPageLoading() {
        $("#pageLoading").css("display", "none");
    }

    var pageData = new Array();
    function bindPageData() {

    }

    var bannerTemplate = '<div class="banner-item" id="{id}">'+
                            '<p>'+
                                '<img src="{photo}" style="height:200px;" />'+
                            '</p>'+
                            '<h4>{desc}</h4>'+
                            '<div>'+
                                '<button class="btn btn-sm btn-warning app-btn-edit"><i class="las la-pencil-alt fs-2x"></i></button>'+
                                '<button class="btn btn-sm btn-danger app-btn-delete"><i class="las la-trash fs-2x"></i></button>'+
                            '</div>'+
                            '<hr />'+
                        '</div>';

    function appendNewBanner(model) {
        var html = bannerTemplate.replace("{id}", model.BannerId);
        var html = html.replace("{photo}", model.PhotoURL);
        var html = html.replace("{desc}", model.Description);
        $("#bannerBox").append(html);
        $("#" + model.BannerId).find(".app-btn-delete").click(function () {
            var box = $($(this).parent()).parent();
            var name = $(box).find("h4").text();
            cid = $(box).attr("id");
            if (!name)
                name = "Banner được chọn";
            $("#removeTitle").text("Bạn muốn xóa: " + name);

            $("#submitDelete").prop("disabled", false);
            $("#submitDelete").attr("data-kt-indicator", "");

            $("#deleteModal").modal('show');
        });

        $("#" + model.BannerId).find(".app-btn-edit").click(function () {
            var box = $($(this).parent()).parent();
            var name = $(box).find("h4").text();
            cid = $(box).attr("id");
            $("#editDesc").val(name);
            $("#submitEditDesc").prop("disabled", false);
            $("#submitEditDesc").attr("data-kt-indicator", "");

            $("#editModal").modal('show');
        });
        
    }

    $(document).ready(function () {

        PNGet("/api/owner/get-all-banners", function (data) {
            stopPageLoading();
            var list = JSON.parse(data);
            for (var i = 0; i < list.length; i++) {
                appendNewBanner(list[i]);
            }
            
            bindPageData();
        }, function () { });

        $("#uploadPhoto").click(function () {
            $("#avatar_file").click();
        });

        $("#avatar_file").change(function () {
            $("#pictureBox").css("display", "none");
            $("#imageUploading").css("display", "block");
        });
        registerSimpleUpload("avatar_file", postSimplePhotoURL, function (path) {
            $("#imageUploading").css("display", "none");
            newAvatar = path;
            $("#avatar").attr("src", path);
            $("#pictureBox").css("display", "block");
        });

        $("#btnNewBanner").click(function () {
            var url = "/api/owner/cms/create-banner";
            var model = {};
            model.photo = newAvatar;
            model.desc = $("#picDesc").val();
            $("#btnNewBanner").prop("disabled", true);
            $("#btnNewBanner").attr("data-kt-indicator", "on");
            PNPost(url, model, function (data) {
                $("#picDesc").val("");
                $("#avatar").attr("src", "");
                $("#pictureBox").css("display", "none");
                $("#btnNewBanner").prop("disabled", false);
                $("#btnNewBanner").attr("data-kt-indicator", "");
                $("#processLoading").css("display", "block");
                setTimeout(function () {
                    var split = data.split('*');
                    var bm = {};
                    bm.BannerId = split[0];
                    bm.Description = model.desc;
                    bm.PhotoURL = split[1];
                    appendNewBanner(bm);
                    $("#processLoading").css("display", "none");
                }, 1500);
            }, function () { });
        });

        $("#submitDelete").click(function () {
            $("#submitDelete").prop("disabled", true);
            $("#submitDelete").attr("data-kt-indicator", "on");
            PNPost("/api/owner/cms/delete-banner", { id: cid }, function (data) {
                $("#deleteModal").modal('hide');
                $("#submitDelete").prop("disabled", false);
                $("#submitDelete").attr("data-kt-indicator", "");
                if (data == "ok") {
                    var removed = $("#" + cid);
                    $(removed).remove();
                }
            });
        });

        $("#submitEditDesc").click(function () {
            $("#submitEditDesc").prop("disabled", true);
            $("#submitEditDesc").attr("data-kt-indicator", "on");
            var model = {};
            model.id = cid;
            model.desc = $("#editDesc").val();
            PNPost("/api/owner/cms/update-banner",model, function (data) {
                $("#editModal").modal('hide');
                $("#submitEditDesc").prop("disabled", false);
                $("#submitEditDesc").attr("data-kt-indicator", "");
                if (data == "ok") {
                    $("#" + cid).find("h4").text(model.desc);
                }
            });
        })
    });
</script>