﻿
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_OwnerBusinessLayout.cshtml";
}
<style>
    .alert button{
        margin-right:5px !important;
    }
    .sub-item{
        margin-bottom:10px;
    }
    .main-name{
        color:dodgerblue !important;
    }
        .main-name i {
            color: dodgerblue !important;
            font-weight: bold !important;
            float: left !important;
        }
        .main-name p {
            margin-top: 3px !important;
            float:left !important;
        }
</style>
<h2>Quản lý menu</h2>
<p>
    <button data-bs-toggle="modal" data-bs-target="#addMenuModal" class="btn btn-sm btn-primary"><img src="/assets/media/icons/duotune/arrows/arr075.svg" /> Thêm Menu chính</button>
</p>

<div id="pageLoading" style="text-align:center;">
    <img style="width:50px;" src="/Images/page-loading.gif" />
    <p style="margin-top:5px; color:dodgerblue; text-align:center;">Đang tải dữ liệu</p>
</div>
<div id="menuBox">

</div>
@*<div class="alert alert-primary">
    <div class="d-flex flex-column">
        <h4 class="mb-1 text-dark"><img src="/assets/media/icons/duotune/general/gen056.svg" /> This is an alert</h4>
        <span>The alert component can be used to highlight certain parts of your page for higher content visibility.</span>
        <div style="margin-top:10px;">
            <button class="btn btn-sm btn-warning"><i class="las la-pencil-alt fs-2x"></i></button>
            <button class="btn btn-sm btn-danger"><i class="las la-trash fs-2x"></i></button>
            <button class="btn btn-sm btn-primary"><i class="las la-plus-circle fs-2x"></i> Thêm menu phụ</button>
        </div>
        <div class="sub-menu-box" style="padding-left:20px; margin-top:20px;">
            <div class="sub-item">
                <h4 class="mb-1 text-dark"><img src="/assets/media/icons/duotune/general/gen056.svg" /> This is an alert</h4>
                <span>The alert component can be used to highlight certain parts of your page for higher content visibility.</span>
                <div style="margin-top:10px;">
                    <button class="btn btn-sm btn-warning"><i class="las la-pencil-alt fs-2x"></i></button>
                    <button class="btn btn-sm btn-danger"><i class="las la-trash fs-2x"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="modal fade" tabindex="-1" id="addMenuModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm vào menu chính</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Tên menu</p>
                <input style="border:1px solid #5d2323" class="form-control" id="menuName" autocomplete="off" />

                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Link trực tiếp</p>
                <input style="border:1px solid #5d2323" class="form-control" id="menuLink" autocomplete="off" />

                <div style="margin-top:10px;" class="form-check form-check-custom form-check-solid form-check-lg">
                    <input class="form-check-input" name="menu-type" checked type="radio" value="" id="type-post" />
                    <label class="form-check-label" for="type-post">
                        Loại bài đăng
                    </label>
                </div>
                <div class="form-check form-check-custom form-check-solid form-check-lg" style="margin-top:10px;">
                    <input class="form-check-input" name="menu-type" type="radio" value="" id="type-pro" />
                    <label class="form-check-label" for="type-pro">
                        Loại sản phẩm
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewMenu" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editMenuModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa menu</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Tên menu</p>
                <input style="border:1px solid #5d2323" class="form-control" id="menuEditName" autocomplete="off" />

                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Link trực tiếp</p>
                <input style="border:1px solid #5d2323" class="form-control" id="menuEditLink" autocomplete="off" />

                <div style="margin-top:10px;" class="form-check form-check-custom form-check-solid form-check-lg">
                    <input class="form-check-input" name="menu-type-edit" checked type="radio" value="" id="type-post-edit" />
                    <label class="form-check-label" for="type-post-edit">
                        Loại bài đăng
                    </label>
                </div>
                <div class="form-check form-check-custom form-check-solid form-check-lg" style="margin-top:10px;">
                    <input class="form-check-input" name="menu-type-edit" type="radio" value="" id="type-pro-edit" />
                    <label class="form-check-label" for="type-pro-edit">
                        Loại sản phẩm
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitEditMenu" type="button" class="btn btn-primary">
                    <span class="indicator-label">Cập nhật</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editMenuSubModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa menu</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Tên menu</p>
                <input style="border:1px solid #5d2323" class="form-control" id="menuEditSubName" autocomplete="off" />

                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Link trực tiếp</p>
                <input style="border:1px solid #5d2323" class="form-control" id="menuEditSubLink" autocomplete="off" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitEditSubMenu" type="button" class="btn btn-primary">
                    <span class="indicator-label">Cập nhật</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="addSubMenuModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm menu phụ</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <h3><img src="/assets/media/icons/duotune/general/gen056.svg" /> <span id="mainName"></span></h3>
                <p style="margin-bottom:0px; color:blue;">Tên menu phụ</p>
                <input style="border:1px solid #5d2323" class="form-control" id="menuNameSub" autocomplete="off" />

                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Link trực tiếp</p>
                <input style="border:1px solid #5d2323" class="form-control" id="menuLinkSub" autocomplete="off" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewSubMenu" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align:center;"><i class="las la-trash fs-3x"></i></h3>
                <h4 id="removeTitle" style="text-align:center; color:red !important;"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitDelete" type="button" class="btn btn-danger">Thực hiện</button>
            </div>
        </div>
    </div>
</div>


<script>
    var cPanrentId;
    var cMenuId;
    var isSubDelete;
    function stopPageLoading() {
        $("#pageLoading").css("display", "none");
    }
    var pageData = new Array();

    var subMenuTemplate = '<div class="sub-item" id="{id}" tag-name="{name}">' +
                                '<h4 class="mb-1 text-dark"><img src="/assets/media/icons/duotune/abstract/abs050.svg" /><span class="sub-name"> {name}</span></h4>' +
                                '<span  class="menu-sub-url">{url}</span>' +
                                '<div style="margin-top:10px;">' +
                                    '<button class="btn btn-sm btn-warning app-btn-sub-edit"><i class="las la-pencil-alt fs-2x"></i></button>' +
                                    '<button class="btn btn-sm btn-danger app-btn-sub-delete"><i class="las la-trash fs-2x"></i></button>' +
                                '</div>' +
                            '</div>';

    var menuTemplate = '<div class="alert alert-{type}" id="{id}">'+
                            '<div class="d-flex flex-column">'+
                                '<h4 class="mb-1 text-dark main-name"><i class="las la-bookmark fs-2x"></i><p> {name}</p></h4>'+
                                '<span class="menu-url">{url}</span>'+
                                '<div class="main-action-box" style="margin-top:10px;" tag-name="{pname}" tag-id="{pid}">'+
                                    '<button class="btn btn-sm btn-warning app-btn-edit"><i class="las la-pencil-alt fs-2x"></i></button>'+
                                    '<button style="display:{show}" class="btn btn-sm btn-danger app-btn-delete"><i class="las la-trash fs-2x"></i></button>'+
                                    '<button {dis} class="btn btn-sm btn-primary app-btn-add" data-bs-toggle="modal" data-bs-target="#addSubMenuModal"><i class="las la-plus-circle fs-2x"></i> Thêm menu phụ</button>'+
                                '</div>'+
                                '<div class="sub-menu-box" style="padding-left:20px; margin-top:20px;">'+
                                '{childs}'+
                                '</div>'+
                            '</div>'+
                        '</div>';

    function bindOneMainMenu(model) {
        var html = menuTemplate.replace("{name}", model.Name);
        html = html.replace("{url}", model.DirectURL);
        html = html.replace("{pname}", model.Name);
        html = html.replace("{pid}", model.FolderId);
        html = html.replace("{id}", model.FolderId);
        if (model.DirectURL)
            html = html.replace("{dis}", "disabled");
        else
            html = html.replace("{dis}", "");
        if (model.IsProduct == true)
            html = html.replace("{type}", "info");
        else
            html = html.replace("{type}", "primary");

        var list = model.Childs;
        if (list.length > 0) {
            var childHTMLs = "";
            for (var i = 0; i < list.length; i++) {
                var ct = subMenuTemplate.replace("{name}", list[i].Name);
                ct = ct.replace("{name}", list[i].Name);
                ct = ct.replace("{url}", list[i].DirectURL);
                ct = ct.replace("{id}", list[i].FolderId);
                childHTMLs = childHTMLs + ct;
            }
            html = html.replace("{show}", "none");
            html = html.replace("{childs}", childHTMLs);
        }
        else {
            html = html.replace("{childs}", "");
            html = html.replace("{show}", "inline-block");
        }
        $("#menuBox").append(html);
        $("#" + model.FolderId).find(".app-btn-delete").click(function () {
            var box = $(this).parent();
            var name = $(box).attr("tag-name");
            cMenuId = $(box).attr("tag-id");
            $("#removeTitle").text("Bạn muốn xóa menu: " + name);
            $("#deleteModal").modal('show');
            isSubDelete = false;
        });
        $("#" + model.FolderId).find(".app-btn-sub-delete").click(function () {
            var box = $($(this).parent()).parent();
            var name = $(box).attr("tag-name");
            cMenuId = $(box).attr("id");
            $("#removeTitle").text("Bạn muốn xóa menu: " + name);
            $("#deleteModal").modal('show');
            isSubDelete = true;
        });
        $("#" + model.FolderId).find(".app-btn-add").click(function () {
            var box = $(this).parent();
            var name = $(box).attr("tag-name");
            cPanrentId = $(box).attr("tag-id");
            $("#mainName").text(name);
        });

        $("#" + model.FolderId).find(".app-btn-edit").click(function () {
            var box = $(this).parent();
            var topBox = $($(box).parent()).parent();
            var name = $(box).attr("tag-name");
            cMenuId = $(box).attr("tag-id");
            var url = $(topBox).find(".menu-url").text();

            $("#menuEditName").val(name);
            $("#menuEditLink").val(url);
            var type = $(topBox).attr("class");
            if (type.indexOf('info') > 0) {
                $("#type-pro-edit").prop("checked", true);
            }
            else
                $("#type-post-edit").prop("checked", true);

            $("#editMenuModal").modal('show');
        });

        $("#" + model.FolderId).find(".app-btn-sub-edit").click(function () {
            var box = $(this).parent();
            var topBox = $(box).parent();
            var name = $(topBox).attr("tag-name");
            cMenuId = $(topBox).attr("id");
            var url = $(topBox).find(".menu-sub-url").text();

            $("#menuEditSubName").val(name);
            $("#menuEditSubLink").val(url);

            $("#editMenuSubModal").modal('show');
        });
    }

    function bindOneSubMenu(parentId, model) {
        var box = $("#" + parentId);
        var ct = subMenuTemplate.replace("{name}", model.Name);
        ct = ct.replace("{name}", model.Name);
        ct = ct.replace("{url}", model.DirectURL);
        ct = ct.replace("{id}", model.FolderId);
        $(box).find(".sub-menu-box").append(ct);
        $(box).find(".app-btn-delete").css("display", "none");

        $("#" + model.FolderId).find(".app-btn-sub-delete").click(function () {
            var box = $("#" + model.FolderId);
            var name = $(box).attr("tag-name");
            cMenuId = $(box).attr("id");
            $("#removeTitle").text("Bạn muốn xóa menu: " + name);
            $("#deleteModal").modal('show');
            isSubDelete = true;
        });

        $("#" + model.FolderId).find(".app-btn-sub-edit").click(function () {
            var box = $(this).parent();
            var topBox = $(box).parent();
            var name = $(topBox).attr("tag-name");
            cMenuId = $(topBox).attr("id");
            var url = $(topBox).find(".menu-sub-url").text();

            $("#menuEditSubName").val(name);
            $("#menuEditSubLink").val(url);

            $("#editMenuSubModal").modal('show');
        });
    }

    function bindPageData() {
        for (var j = 0; j < pageData.length; j++) {
            bindOneMainMenu(pageData[j]);
        }
    }

    $(document).ready(function () {      

        PNGet("/api/owner/get-all-menu", function (data) {
            stopPageLoading();
            var list = JSON.parse(data);
            for (var i = 0; i < list.length; i++) {
                if (!list[i].ParentId) {
                    list[i].Childs = new Array();
                    pageData.push(list[i]);
                }
            }
            for (var i = 0; i < list.length; i++) {
                if (list[i].ParentId) {
                    var parent;
                    for (var j = 0; j < pageData.length; j++) {
                        if (pageData[j].FolderId == list[i].ParentId) {
                            parent = pageData[j];
                            break;
                        }
                    }
                    if (parent) {
                        parent.Childs.push(list[i]);
                    }
                }
            }
            bindPageData();
        }, function () { });

        $("#submitNewMenu").click(function () {
            var name = $("#menuName").val();
            var link = $("#menuLink").val();
            if (name == "")
                alert("Bạn chưa đặt tên cho menu");
            else {
                $("#submitNewMenu").prop("disabled", true);
                $("#submitNewMenu").attr("data-kt-indicator", "on");
                var model = {};
                model.name = name;
                model.url = link;
                var pro = $("#type-pro").prop("checked");
                model.pro = pro ? "true" : "false";
                model.root = "true";
                PNPost("/api/owner/cms/create-menu", model, function (data) {
                    $("#submitNewMenu").prop("disabled", false);
                    $("#submitNewMenu").attr("data-kt-indicator", "");
                    $("#addMenuModal").modal('hide');
                    $("#menuName").val("");
                    $("#menuLink").val("");
                    var menuModel = {};
                    menuModel.Name = model.name;
                    menuModel.DirectURL = model.url;
                    menuModel.Childs = new Array();
                    menuModel.FolderId = data;
                    menuModel.IsProduct = pro;
                    bindOneMainMenu(menuModel);                    
                }, function () { });
            }
        });

        $("#submitEditMenu").click(function () {
            var name = $("#menuEditName").val();
            var link = $("#menuEditLink").val();
            if (name == "")
                alert("Bạn chưa đặt tên cho menu");
            else {
                $("#submitEditMenu").prop("disabled", true);
                $("#submitEditMenu").attr("data-kt-indicator", "on");
                var model = {};
                model.name = name;
                model.url = link;
                var pro = $("#type-pro-edit").prop("checked");
                model.pro = pro ? "true" : "false";
                model.id = cMenuId;
                PNPost("/api/owner/cms/update-menu", model, function (data) {
                    $("#submitEditMenu").prop("disabled", false);
                    $("#submitEditMenu").attr("data-kt-indicator", "");
                    $("#editMenuModal").modal('hide');
                    $("#menuEditName").val("");
                    $("#menuEditLink").val("");
                    var target = $("#" + model.id);
                    $($(target).find(".main-name")[0]).find("p").text(model.name);
                    $(target).find(".menu-url").text(model.url);
                    var actionBox = $(target).find(".main-action-box");
                    $(actionBox).attr("tag-name", model.name);
                    if (pro)
                        $(target).attr("class", "alert alert-info");
                    else
                        $(target).attr("class", "alert alert-primary");
                    if (!model.url)
                        $(target).find(".app-btn-add").prop("disabled", false);
                    else
                        $(target).find(".app-btn-add").prop("disabled", true);
                }, function () { });
            }
        });

        $("#submitEditSubMenu").click(function () {
            var name = $("#menuEditSubName").val();
            var link = $("#menuEditSubLink").val();
            if (name == "")
                alert("Bạn chưa đặt tên cho menu");
            else {
                $("#submitEditMenu").prop("disabled", true);
                $("#submitEditMenu").attr("data-kt-indicator", "on");
                var model = {};
                model.name = name;
                model.url = link;
                model.id = cMenuId;
                PNPost("/api/owner/cms/update-sub-menu", model, function (data) {
                    $("#submitEditMenu").prop("disabled", false);
                    $("#submitEditMenu").attr("data-kt-indicator", "");
                    $("#editMenuSubModal").modal('hide');
                    $("#menuEditSubName").val("");
                    $("#menuEditSubLink").val("");
                    var target = $("#" + model.id);

                    $(target).find(".sub-name").text(model.name);
                    $(target).find(".menu-sub-url").text(model.url);
                    $(target).attr("tag-name", model.name);
                }, function () { });
            }
        });

        $("#submitNewSubMenu").click(function () {
            var name = $("#menuNameSub").val();
            var link = $("#menuLinkSub").val();
            if (name == "")
                alert("Bạn chưa đặt tên cho menu");
            else {
                $("#submitNewSubMenu").prop("disabled", true);
                $("#submitNewSubMenu").attr("data-kt-indicator", "on");                
                var model = {};
                model.name = name;
                model.url = link;
                model.parent = cPanrentId;
                PNPost("/api/owner/cms/create-sub-menu", model, function (data) {
                    $("#submitNewSubMenu").prop("disabled", false);
                    $("#submitNewSubMenu").attr("data-kt-indicator", "");
                    $("#addSubMenuModal").modal('hide');
                    $("#menuNameSub").val("");
                    $("#menuLinkSub").val("");
                    var menuModel = {};
                    menuModel.Name = model.name;
                    menuModel.DirectURL = model.url;
                    menuModel.FolderId = data;
                    bindOneSubMenu(model.parent, menuModel);
                }, function () { });
            }
        });

        $("#submitDelete").click(function () {
            var model = {};
            model.id = cMenuId;
            PNPost("/api/owner/cms/delete-menu", model, function (data) {
                $("#deleteModal").modal('hide');
                if (data == "ok") {
                    var removed = $("#" + cMenuId); 
                    if (isSubDelete) {
                        var box = $(removed).parent();
                        if ($(box).find(".sub-item").length == 1) {
                            var pbox = $(box).parent();
                            $(pbox).find(".app-btn-delete").css("display", "inline-block");
                        }
                    }
                    $(removed).remove();
                }                   
            }, function () { });
        });
    });
</script>