﻿
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_OwnerBusinessLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="/Scripts/PNAjaxPaging.js"></script>
<style>
    #bannerBox {
        padding-top: 10px;
    }

    .banner-item {
        margin-bottom: 20px;
    }

        .banner-item button {
            margin-right: 5px;
        }
</style>

<h2>Thư viện file download <button data-bs-toggle="modal" data-bs-target="#addLinkFileModal" class="btn btn-sm btn-info"><i class="bi bi-link fs-2"></i></button> <button id="btnUpload" class="btn btn-sm btn-primary">
    <span class="indicator-label"><i class="bi bi-cloud-upload-fill fs-2"></i> Tải lên</span>
    <span class="indicator-progress">
        Đang xử lý...
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
    </span>
</button></h2>


<div id="filePagingBox">

</div>


<div class="modal fade" tabindex="-1" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align:center;"><i class="las la-trash fs-3x"></i></h3>
                <h4 id="removeTitle" style="text-align:center; color:red !important;"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitDelete" type="button" class="btn btn-danger">
                    <span class="indicator-label">Xóa</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editFileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa tên mô tả file</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Tên mô tả file</p>
                <input style="border:1px solid #5d2323" class="form-control" id="editName" autocomplete="off" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitEditFile" type="button" class="btn btn-primary">
                    <span class="indicator-label">Cập nhật</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="addLinkFileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Thêm file bằng link</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body" style="padding:10px;">
                <p style="margin-bottom:0px; color:dodgerblue;">Đường dẫn file download</p>
                <input class="form-control video-link" style="margin-bottom:10px; border:1px solid #454545" id="fileURL" />
                <p style="margin-bottom:0px; color:dodgerblue;">Tên mô tả file</p>
                <input class="form-control use-max-length" style="margin-bottom:10px;  border:1px solid #454545" id="fileName" maxlength="150" />

                <div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
                    <select class="form-select" placeholder="Chọn loại file" data-dropdown-parent="#addLinkFileModal" id="selFileType">
                        <option value="-1" data-kt-select2-file="fdown.png">Chọn loại file</option>
                        <option value="0" data-kt-select2-file="pdf.png">PDF</option>
                        <option value="1" data-kt-select2-file="word.png">Word</option>
                        <option value="2" data-kt-select2-file="excel.png">Excel</option>
                        <option value="3" data-kt-select2-file="ppt.png">PPT</option>
                        <option value="4" data-kt-select2-file="rarzip.png">RAR/ZIP</option>
                        <option value="5" data-kt-select2-file="exe.png">Setup/Application (exe)</option>
                        <option value="6" data-kt-select2-file="html.png">HTML</option>
                        <option value="7" data-kt-select2-file="photo.png">File hình ảnh (jpg,png,bmp...)</option>
                        <option value="8" data-kt-select2-file="ofile.png">Loại khác</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewFile" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>


<input style="visibility:hidden;" type="file" id="fileInput" />

<script>

    var ftTemplate = '<span style="margin-left:30px;">Loại file: </span><span style="color:blue;">{type}</span>';

    var fileTemplate = '<div id="{id}" style="padding-bottom:10px; padding-top:15px; border-bottom:1px solid #808080">'+
                            '<h4><img src="/images/files/{icon}" style="height:20px;"><span class="file-name" style="margin-left:10px;">{title} </span><i class="bi {ti} fs-2"></i></h4>'+
                            '<p style="margin-bottom:5px;"><span>Download: </span> <span style="color:blue;">{dl}</span> {ft}</p>'+
                            '<p style="margin-bottom:0px;">'+
                                '<button class="btn btn-sm btn-warning btn-edit-file"><i class="bi bi-pencil fs-2"></i></button>'+
                                '<button style="margin-left:10px;" class="btn btn-sm btn-danger btn-remove-file"><i class="bi bi-trash-fill fs-2"></i></button>'+
                            '</p>'+
                        '</div>';

    var filePaging;
    var cid;
    var cbtn;
    $(document).ready(function () {

        $('.use-max-length').maxlength({
            warningClass: "badge badge-primary",
            limitReachedClass: "badge badge-success"
        });

        var pageConfig = {};
        pageConfig.baseURL = "/api/owner/cms/get-file";
        pageConfig.boxId = "filePagingBox";
        pageConfig.searchHolder = "Từ khoá file";
        pageConfig.renderUI = function (list) {
            var dataList = list;
            for (var i = 0; i < dataList.length; i++) {
                var html = fileTemplate.replace("{id}", dataList[i].FileId);
                html = html.replace("{title}", dataList[i].Name);

               

                html = html.replace("{dl}", dataList[i].GoCount);
                if (!dataList[i].IsUpload) {
                    html = html.replace("{ti}", "bi-link");
                    html = html.replace("{ft}", "");
                }
                else {
                    html = html.replace("{ti}", "bi-cloud-upload-fill");
                    html = html.replace("{ft}", ftTemplate);
                    html = html.replace("{type}", dataList[i].Extension);
                }
                html = html.replace("{icon}", getIconNameOfFileType(dataList[i].Type));

                $("#" + pageConfig.boxId).append(html);
            }
        }

        pageConfig.renderUICompleted = function () {
            $(".btn-remove-file").click(function () {
                cbtn = this;
                var box = $($(this).parent()).parent();
                var id = $(box).attr("id");
                cid = id;
                var name = $(box).find(".file-name").text();

                $("#removeTitle").text("Bạn muốn xoá file: " + name + "?");

                $("#deleteModal").modal('show');
            });

            $(".btn-edit-file").click(function () {
                //$(this).prop("disabled", true);
                //var box = $($(this).parent()).parent();
                //cid = $(box).attr("id");
                //var vid = $(box).attr("tag-id");
                //var url = "https://img.youtube.com/vi/" + vid + "/mqdefault.jpg";
                //$("#vimg").attr("src", url);
                //var name = $(box).attr("tag-name");
                //var desc = $(box).attr("tag-desc");
                //$("#videoTitleEdit").val(name);
                //$("#videoDescEdit").val(desc);

                var box = $($(this).parent()).parent();
                var id = $(box).attr("id");
                cid = id;
                var name = $(box).find(".file-name").text();
                $("#editName").val(name);
                $("#editFileModal").modal('show');

            });
        }

        filePaging = new PNAjaxPaging(pageConfig);
        filePaging.init();

        $("#submitNewFile").click(function () {
            var link = $("#fileURL").val();
            var title = $("#fileName").val();
            var addChecked = true;
            var opt = $('#selFileType').find(":selected").attr("data-kt-select2-file");
            var type = $('#selFileType').find(":selected").attr("value");
            if (!link) {
                Swal.fire({
                    text: "Link không hợp lệ",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, thử lại",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else if (!title) {
                Swal.fire({
                    text: "Bạn chưa đặt tên mô tả",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else {
                var url = "/api/owner/cms/new-file-by-directly";
                var model = {};
                model.url = link;
                model.name = title;
                model.type = $("#selFileType").val();

                $("#submitNewFile").prop("disabled", true);
                $("#submitNewFile").attr("data-kt-indicator", "on");
                PNPost(url, model, function (data) {
                    setTimeout(function () {
                        window.location.reload();
                    }, 500);
                    //$("#fileURL").val("");
                    //$("#fileName").val("");
                    //$("#submitNewFile").prop("disabled", false);
                    //$("#submitNewFile").attr("data-kt-indicator", "");
                    //$("#addFileModal").modal('hide');
                }, function () { });
            }
        });

        $("#btnUpload").click(function () {
            $("#fileInput").click();
        });

        $("#fileInput").change(function () {
            $("#btnUpload").prop("disabled", true);
            $("#btnUpload").attr("data-kt-indicator", "on");
            var data = new FormData();

            var files = $("#fileInput").get(0).files;

            if (files.length > 0) {
                data.append("UploadedFile", files[0]);
            }
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "/api/owner/cms/upload-file",
                contentType: false,
                processData: false,
                data: data
            });

            ajaxRequest.done(function (xhr, textStatus) {
                if (xhr == "fail") {
                    $("#btnUpload").prop("disabled", false);
                    $("#btnUpload").attr("data-kt-indicator", "");
                    alert("File tải lên chỉ tối đa 10MB");
                }
                else
                    setTimeout(function () { window.location.reload(); }, 500);
            });
        });

        $("#submitDelete").click(function () {
            $("#submitDelete").prop("disabled", true);
            $("#submitDelete").attr("data-kt-indicator", "on");

            $(cbtn).prop("disabled", true);
            PNPost("/api/owner/cms/delete-file", { id: cid }, function (data) {
                $("#deleteModal").modal('hide');
                $("#submitDelete").prop("disabled", false);
                $("#submitDelete").attr("data-kt-indicator", "");
                if (data == "ok") {
                    var removed = $("#" + cid);
                    $(removed).remove();
                }
            }, function () { $(cbtn).prop("disabled", false); });
        });

        $("#submitEditFile").click(function () {            
            var name = $("#editName").val();
            if (!name) {
                alert("Bạn chưa nhập tên mô tả file");
                return false;
            }

            $("#submitEditFile").prop("disabled", true);
            $("#submitEditFile").attr("data-kt-indicator", "on");
            $(cbtn).prop("disabled", true);
            PNPost("/api/owner/cms/update-file", { id: cid, name :  name }, function (data) {

                $("#submitEditFile").prop("disabled", false);
                $("#submitEditFile").attr("data-kt-indicator", "");
                $("#editFileModal").modal('hide');

                if (data == "ok") {
                    $("#" + cid).find(".file-name").text(name);
                }
            }, function () { $(cbtn).prop("disabled", false); });
        });

    });

    function getIconNameOfFileType(type) {
        switch (type) {
            case -1: {
                return "fdown.png";
                break;
            }
            case 0: {
                return "pdf.png";
                break;
            }
            case 1: {
                return "word.png";
                break;
            }
            case 2: {
                return "excel.png";
                break;
            }
            case 3: {
                return "ppt.png";
                break;
            }
            case 4: {
                return "rarzip.png";
                break;
            }
            case 5: {
                return "exe.png";
                break;
            }
            case 6: {
                return "html.png";
                break;
            }
            case 7: {
                return "photo.png";
                break;
            }
            case 8: {
                return "ofile.png";
                break;
            }
            default: {
                return "fdown.png";
                break;
            }
        }
    }

</script>