﻿
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_OwnerBusinessLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="/Scripts/PNAjaxPaging.js"></script>
<style>
    #bannerBox {
        padding-top: 10px;
    }

    .banner-item {
        margin-bottom: 20px;
    }

        .banner-item button {
            margin-right: 5px;
        }
</style>
<div>
    <h2 style="float:left; margin-right:20px;">Link liên kết</h2>
    <button style="margin-top:-5px;" type="button" class="btn btn-sm btn-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start">
        Thêm link <i class="bi bi-chevron-down"></i>
    </button>
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-200px py-4"
         data-kt-menu="true">
        <!--begin::Menu item-->
        <div class="menu-item px-3">
            <a href="#" class="menu-link px-3" id="textLink">
                <i class="bi bi-file-font-fill fs-2" style="margin-right:10px;"></i> Link chữ
            </a>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-3">
            <a href="#" class="menu-link px-3" id="picLink">
                <i class="bi bi-file-image fs-2" style="margin-right:10px;"></i> Link ảnh
            </a>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
    </div>
</div>




<div id="linkPagingBox">

</div>

<div class="modal fade" tabindex="-1" id="addLinkTextModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Thêm Link</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body" style="padding:10px;">
                <p style="margin-bottom:0px; color:dodgerblue;">Địa chỉ link</p>
                <input class="form-control video-link" style="margin-bottom:10px; border:1px solid #454545" id="linkURL" />

                <p style="margin-bottom:0px; color:dodgerblue;">Tên mô tả</p>
                <input class="form-control" style="margin-bottom:10px; border:1px solid #454545" id="linkName" />

                <div class="form-check form-check-custom form-check-solid" style="margin-top:10px;">
                    <input class="form-check-input" type="checkbox" value="" id="openNewTab" checked="checked" />
                    <label class="form-check-label" for="openNewTab">
                        Mở với tab mới
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewLink" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="addLinkIMGModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Thêm Link Ảnh</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body" style="padding:10px;">
                <img id="localIMG" style="height:100px;" />

                <p style="margin-bottom:0px; color:dodgerblue;">Địa chỉ link</p>
                <input class="form-control video-link" style="margin-bottom:10px; border:1px solid #454545" id="linkURLIMG" />

                <p style="margin-bottom:0px; color:dodgerblue;">Tên mô tả</p>
                <input class="form-control" style="margin-bottom:10px; border:1px solid #454545" id="linkNameIMG" />

                <div class="form-check form-check-custom form-check-solid" style="margin-top:10px;">
                    <input class="form-check-input" type="checkbox" value="" id="openNewTabIMG" checked="checked" />
                    <label class="form-check-label" for="openNewTab">
                        Mở với tab mới
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewLinkIMG" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align:center;"><i class="las la-trash fs-3x"></i></h3>
                <h4 id="removeTitle" style="text-align:center; color:red !important;"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitDelete" type="button" class="btn btn-danger">
                    <span class="indicator-label">Xóa</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editLinkModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Cập nhật link liên kết</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body" style="padding:10px;">
                <p style="margin-bottom:0px; color:dodgerblue;">Địa chỉ link</p>
                <input class="form-control video-link" style="margin-bottom:10px; border:1px solid #454545" id="linkURLEdit" />

                <p style="margin-bottom:0px; color:dodgerblue;">Tên mô tả</p>
                <input class="form-control" style="margin-bottom:10px; border:1px solid #454545" id="linkNameEdit" />

                <div class="form-check form-check-custom form-check-solid" style="margin-top:10px;">
                    <input class="form-check-input" type="checkbox" value="" id="openNewTabEdit" checked="checked" />
                    <label class="form-check-label" for="openNewTabEdit">
                        Mở với tab mới
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitEditLink" type="button" class="btn btn-primary">
                    <span class="indicator-label">Cập nhật</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<input style="visibility:hidden;" type="file" id="fileInput" accept="image/x-png,image/gif,image/jpeg" />


<script>
    var linkTemplate = '<div id="{id}" tag-blank="{b}" style="padding-bottom:10px; padding-top:15px; border-bottom:1px solid #808080">'+
                            '<h4><i class="bi {icon} fs-2"></i><span class="file-name" style="margin-left:10px;">{name}</span><i style="margin-left:10px;display:{blank}" title="Mở ra tab mới" class="bi bi-box-arrow-up-right fs-2"></i></h4>'+
                            '<p style="margin-bottom:5px;display:{display}"><img style="height:100px;" src="{src}" /></p>' +
                            '<p style="margin-bottom:5px;color:blue"><a class="link-url" href="{url}" target="_blank">{url}</a></p>' +
                            '<p style="margin-bottom:0px;"><button class="btn btn-sm btn-warning btn-edit"><i class="bi bi-pencil fs-2"></i></button><button style="margin-left:10px;" class="btn btn-sm btn-danger btn-remove"><i class="bi bi-trash-fill fs-2"></i></button></p>'+
                        '</div>';

    var oid = "@ViewBag.OwnerId";
    var textIcon = 'bi-file-font-fill';
    var imgIcon = 'bi-file-image';
    var finkPaging;
    var cid;
    var cbtn;
    var postIMGData;
    $(document).ready(function () {

        var pageConfig = {};
        pageConfig.baseURL = "/api/owner/cms/get-all-link";
        pageConfig.boxId = "linkPagingBox";
        pageConfig.searchHolder = "Từ khoá link";
        pageConfig.renderUI = function (list) {
            var dataList = list;
            for (var i = 0; i < dataList.length; i++) {
                var html = linkTemplate.replace("{id}", dataList[i].LinkId).replace("{name}", dataList[i].Text);
                html = html.replace("{url}", dataList[i].URL);
                html = html.replace("{url}", dataList[i].URL);
                if (dataList[i].IsPhoto) {
                    html = html.replace("{icon}", imgIcon);
                    html = html.replace("{display}", "block");
                    var photo = "/UData/" + oid + "/banners/" + dataList[i].LinkId + ".jpg";
                    html = html.replace("{src}", photo);
                }
                else {
                    html = html.replace("{icon}", textIcon);
                    html = html.replace("{display}", "none");
                }

                html = html.replace("{blank}", dataList[i].IsBlank ? "inline-block" : "none");
                html = html.replace("{b}", dataList[i].IsBlank ? "y" : "n");

                $("#" + pageConfig.boxId).append(html);
            }
        }

        pageConfig.renderUICompleted = function () {
            $(".btn-remove").click(function () {
                cbtn = this;
                var box = $($(this).parent()).parent();
                var id = $(box).attr("id");
                cid = id;
                var name = $(box).find(".file-name").text();

                $("#removeTitle").text("Bạn muốn xoá link: " + name + "?");

                $("#deleteModal").modal('show');
            });

            $(".btn-edit").click(function () {
                var box = $($(this).parent()).parent();
                var id = $(box).attr("id");
                cid = id;
                var name = $(box).find(".file-name").text();
                $("#linkNameEdit").val(name);
                var link = $(box).find(".link-url").text();
                $("#linkURLEdit").val(link);
                var blank = $(box).attr("tag-blank");
                if (blank == "y")
                    $("#openNewTabEdit").prop("checked", true);
                else
                    $("#openNewTabEdit").prop("checked", false);

                $("#editLinkModal").modal('show');

            });
        }

        finkPaging = new PNAjaxPaging(pageConfig);
        finkPaging.init();

        $("#textLink").click(function () {
            $("#addLinkTextModal").modal('show');
        });

        $("#submitNewLink").click(function () {
            var link = $("#linkURL").val();
            var title = $("#linkName").val();
            var blankChecked = $("#openNewTab").prop("checked");

            if (!link) {
                Swal.fire({
                    text: "Link không hợp lệ",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, thử lại",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else if (!title) {
                Swal.fire({
                    text: "Bạn chưa đặt tên mô tả",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else {
                var url = "/api/owner/cms/new-link";
                var model = {};
                model.url = link;
                model.text = title;
                model.blank = blankChecked ? "true" : "false";                
                $("#submitNewLink").prop("disabled", true);
                $("#submitNewLink").attr("data-kt-indicator", "on");
                PNPost(url, model, function (data) {
                    setTimeout(function () {
                        $("#linkURL").val("");
                        $("#linkName").val("");
                        $("#submitNewLink").prop("disabled", false);
                        $("#submitNewLink").attr("data-kt-indicator", "");
                        $("#addLinkTextModal").modal('hide');
                        window.location.reload();
                    }, 500);

                }, function () { });
            }
        });

        $("#picLink").click(function () {
            $("#fileInput").click();
        });

        $("#fileInput").change(function () {
            var files = $(this).get(0).files;
            var file = files[0];
            var img = document.createElement("img");
            var reader = new FileReader();
            img.onload = function () {
                var current = img;
                var canvas = document.createElement('canvas');

                var MAX_WIDTH = 600;
                var MAX_HEIGHT = 600;
                var width = current.width;
                var height = current.height;

                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                    }
                }
                canvas.width = width;
                canvas.height = height;
                var ctx = canvas.getContext("2d");
                ctx.drawImage(current, 0, 0, width, height);
                var dataurl = canvas.toDataURL('image/jpeg', 0.8);
                postIMGData = dataurl.substr(23, dataurl.length - 23);
                $("#localIMG").attr("src", dataurl);
                $("#addLinkIMGModal").modal('show');
            };
            reader.onload = function (e) {
                img.src = e.target.result;
            }
            reader.fileName = file.name;
            reader.readAsDataURL(file);
        });

        $("#submitNewLinkIMG").click(function () {
            var link = $("#linkURLIMG").val();
            var title = $("#linkNameIMG").val();
            var blankChecked = $("#openNewTabIMG").prop("checked");

            if (!link) {
                Swal.fire({
                    text: "Link không hợp lệ",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, thử lại",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else if (!title) {
                Swal.fire({
                    text: "Bạn chưa đặt tên mô tả",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else {
                var url = "/api/owner/cms/new-link";
                var model = {};
                model.url = link;
                model.text = title;
                model.blank = blankChecked ? "true" : "false";
                model.photo = postIMGData;

                $("#submitNewLinkIMG").prop("disabled", true);
                $("#submitNewLinkIMG").attr("data-kt-indicator", "on");
                PNPost(url, model, function (data) {
                    setTimeout(function () {
                        $("#linkURLIMG").val("");
                        $("#linkNameIMG").val("");
                        $("#submitNewLinkIMG").prop("disabled", false);
                        $("#submitNewLinkIMG").attr("data-kt-indicator", "");
                        $("#addLinkIMGModal").modal('hide');
                        window.location.reload();
                    }, 500);

                }, function () { });
            }
        });
       

        $("#submitDelete").click(function () {
            $("#submitDelete").prop("disabled", true);
            $("#submitDelete").attr("data-kt-indicator", "on");

            $(cbtn).prop("disabled", true);
            PNPost("/api/owner/cms/delete-link", { id: cid }, function (data) {
                $("#deleteModal").modal('hide');
                $("#submitDelete").prop("disabled", false);
                $("#submitDelete").attr("data-kt-indicator", "");
                if (data == "ok") {
                    var removed = $("#" + cid);
                    $(removed).remove();
                }
            }, function () { $(cbtn).prop("disabled", false); });
        });

        $("#submitEditLink").click(function () {
            var link = $("#linkURLEdit").val();
            var title = $("#linkNameEdit").val();
            var blankChecked = $("#openNewTabEdit").prop("checked");

            if (!link) {
                Swal.fire({
                    text: "Link không hợp lệ",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, thử lại",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else if (!title) {
                Swal.fire({
                    text: "Bạn chưa đặt tên mô tả",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else {
                var url = "/api/owner/cms/update-link";
                var model = {};
                model.id = cid;
                model.url = link;
                model.text = title;
                model.blank = blankChecked ? "true" : "false";
                $("#submitEditLink").prop("disabled", true);
                $("#submitEditLink").attr("data-kt-indicator", "on");
                PNPost(url, model, function (data) {
                    setTimeout(function () {
                        $("#linkURLEdit").val("");
                        $("#linkNameEdit").val("");

                        $("#submitEditLink").prop("disabled", false);
                        $("#submitEditLink").attr("data-kt-indicator", "");
                        $("#editLinkModal").modal('hide');

                        if (data == "ok") {
                            $("#" + cid).find(".file-name").text(title);
                            $("#" + cid).find(".link-url").text(link);
                            $("#" + cid).attr("tag-blank", blankChecked ? "y" : "n");
                            if (blankChecked)
                                $("#" + cid).find(".bi-box-arrow-up-right").css("display", "inline-block");
                            else
                                $("#" + cid).find(".bi-box-arrow-up-right").css("display", "none");
                        }
                    }, 500);

                }, function () { });
            }
        });

    });

</script>