﻿@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_OwnerBusinessLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="/Scripts/PNAjaxPaging.js"></script>

<style>
    .postBox{
        padding-bottom:10px;
        border-bottom:1px solid #addada;
        margin-top:15px;
    }
    .post-sub-title {
        font-style: italic;
        margin-left:5px;
    }
    .upost-photo{
        width:160px; height:90px;
        text-align:center;
        border:1px solid #ccc;
    }
    .upost-body{
        margin-left:170px; margin-top:-90px; height:90px;
    }
    .postBox-last{
        border-bottom:none !important;
    }
    .upost-photo img{
        margin-top:20px;
    }
    .postBox button{
        margin-right:5px;
    }
    .postBox .btn-edit {
        margin-right: 5px;
    }
</style>

<h2>Quản lý sản phẩm <a href="/owner/cms/add-product" class="btn btn-sm btn-info"><i class="las la-plus fs-2x"></i></a></h2>

<div id="productPagingBox">
    
</div>

<div class="modal fade" tabindex="-1" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align:center;"><i class="las la-trash fs-3x"></i></h3>
                <h4 id="removeTitle" style="text-align:center; color:red !important;"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitDelete" type="button" class="btn btn-danger">
                    <span class="indicator-label">Xóa</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var postTemplate = '<div id="{id}" class="postBox">'+
                            '<p style="margin-bottom:0px;"><i class="bi bi-award-fill fs-2x"></i><span class="my-post-title" style="margin-left:10px; font-size:17px; color:dodgerblue">{title}</span></p>'+
                            '<p style="margin-top:0px; padding-left:10px;margin-bottom:0px;"><i class="bi bi-person-fill"></i> <span class="post-sub-title">{user}</span><i class="bi bi-clock-fill" style="margin-left:20px;" title="Cập nhật lần cuối"></i><span class="post-sub-title" title="Cập nhật lần cuối">{time}</span></p>'+
                            '<p class="folder-ui" tag-id="{folder}" style="padding-left:10px; color:darkred; margin-top:0px;"><i style="color:darkred !important;font-weight:bold;" class="las la-bookmark fs-1x"></i><span></span></p>'+
                            '<div>'+
                                '<div tag-av="{av}" class="upost-photo" style="background-size: cover; background-position:center; ">'+
                                    '<img class="iloading" src="/Images/img_loading.gif" />'+
                                    '<img tag-av="{av}" style="display:none;" class="proIMG" src="" />'+
                                '</div>'+
                                '<div class="upost-body" tag-id="{id}">'+
                                    '<p>'+
                                        '<a href="/owner/cms/edit-product/{id}" title="Chỉnh sửa mẫu tin" class="btn btn-success btn-sm btn-edit"><i class="bi bi-pencil"></i></a>'+
                                        '<button title="Xoá mẫu tin" class="btn btn-sm btn-danger btn-delete"><i class="bi bi-trash-fill"></i></button>' +
                                        '<button tag-show="{show}" title="{show-text}" class="btn btn-sm {show-class} btn-visible"><i class="bi {show-icon}"></i></button>'+
                                    '</p>'+
                                    '<p>'+
                                        '<button tag-type="1" title="Lên trên 1 mẫu tin" class="btn btn-info btn-sm btn-xoder"><i class="bi bi-chevron-compact-up"></i></button>'+
                                        '<button tag-type="2" title="Lên đầu trang" class="btn btn-info btn-sm btn-xoder"><i class="bi bi-chevron-bar-up"></i></button>'+
                                        '<button tag-type="3" title="Xuống dưới 1 mẫu tin" class="btn btn-info btn-sm btn-xoder"><i class="bi bi-chevron-compact-down"></i></button>'+
                                        '<button tag-type="4" title="Xuống dưới cùng" class="btn btn-info btn-sm btn-xoder"><i class="bi bi-chevron-bar-down"></i></button>'+
                                    '</p>'+
                                '</div>'+
                            '</div>'+
                        '</div>';

    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

    function timeFormat(d) {
        var datestring = ("0" + d.getDate()).slice(-2) + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" +
            d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);
        return datestring;
    }

    var mapFolder;

    var oid = "@ViewBag.OwnerId";

    var productPaging;

    var cid;

    $(document).ready(function () {
        var pageConfig = {};
        pageConfig.baseURL = "/api/owner/cms/get-products";
        pageConfig.boxId = "productPagingBox";
        pageConfig.searchHolder = "Từ khoá sản phẩm";
        pageConfig.renderUI = function (list) {
            var dataList = list;
            for (var i = 0; i < dataList.length; i++) {
                var html = postTemplate.replace("{title}", dataList[i].Title);
                html = html.replace("{user}", dataList[i].CreateBy);
                var date = parseJsonDate(dataList[i].LastUpdate);
                html = html.replace("{time}", timeFormat(date));
                html = html.replace("{folder}", dataList[i].FolderId);
                html = html.replace("{av}", dataList[i].Avatar);
                html = html.replace("{av}", dataList[i].Avatar);
                html = html.replace("{id}", dataList[i].OPostID);
                html = html.replace("{id}", dataList[i].OPostID);
                html = html.replace("{id}", dataList[i].OPostID);
                if (dataList[i].Disabled) {
                    html = html.replace("{show}", "n");
                    html = html.replace("{show-text}", "Hiển thị tin");
                    html = html.replace("{show-class}", "btn-secondary");
                    html = html.replace("{show-icon}", "bi-eye-fill");
                }
                else {
                    html = html.replace("{show}", "y");
                    html = html.replace("{show-text}", "Ẩn tin");
                    html = html.replace("{show-class}", "btn-dark");
                    html = html.replace("{show-icon}", "bi-eye-slash-fill");
                }

                $("#" + pageConfig.boxId).append(html);
            }
        }

        pageConfig.renderUICompleted = function () {

            if (!mapFolder) {
                mapFolder = {};
                PNGet("/api/owner/get-all-menu", function (data) {
                    var list = JSON.parse(data);
                    for (var i = 0; i < list.length; i++) {
                        mapFolder[list[i].FolderId] = list[i].Name;
                    }
                    doAjaxCompleted();
                }, function () { });
            }
            else {
                doAjaxCompleted();
            }
        }

        productPaging = new PNAjaxPaging(pageConfig);
        productPaging.init();

        $("#submitDelete").click(function () {
            $("#submitDelete").prop("disabled", true);
            $("#submitDelete").attr("data-kt-indicator", "on");
            isCalling = true;
            $(cbtn).prop("disabled", true);
            PNPost("/api/owner/cms/delete-post", { id: cid }, function (data) {
                isCalling = false;
                $(cbtn).prop("disabled", false);
                $("#deleteModal").modal('hide');
                $("#submitDelete").prop("disabled", false);
                $("#submitDelete").attr("data-kt-indicator", "");
                if (data == "ok") {
                    var removed = $("#" + cid);
                    $(removed).remove();
                }
            }, function () { isCalling = false; $(cbtn).prop("disabled", false); });
        });
    });

    function doAjaxCompleted() {
        renderFolderName();
        renderUIAvatar();
        triggerUIEvent();
    }

    var isCalling = false;
    var cbtn;
    function triggerUIEvent() {
        $(".btn-xoder").click(function () {
            if (isCalling) {
                return false;
            }
            var type = $(this).attr("tag-type");
            var box = $($(this).parent()).parent();
            var id = $(box).attr("tag-id");
            var folderName = $($($(this).parent()).parent()).attr("folder-name");
            var model = { type: type, id: id };
            isCalling = true;
            cbtn = this;
            $(cbtn).prop("disabled", true);
            PNPost("/api/owner/cms/do-xoder", model, function (data) {
                isCalling = false;
                $(cbtn).prop("disabled", false);
                if (data == "-1") {
                    Swal.fire({
                        text: "Không tìm thấy đối tượng, có thể mẫu tin đã bị xoá.",
                        icon: "error",
                        buttonsStyling: false,
                        confirmButtonText: "Đã hiểu",
                        customClass: {
                            confirmButton: "btn btn-danger"
                        }
                    });
                }
                else {
                    if (type == "1") {
                        if (data == "-2") {
                            Swal.fire({
                                text: "Tin này đã nằm trên cùng của: " + folderName,
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "Đã hiểu",
                                customClass: {
                                    confirmButton: "btn btn-danger"
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                text: "Đã chèn lên trước tin: " + data,
                                icon: "success",
                                buttonsStyling: false,
                                confirmButtonText: "OK",
                                customClass: {
                                    confirmButton: "btn btn-success"
                                }
                            });
                            productPaging.reload();
                        }
                    }
                    else if (type == "2") {
                        if (data == "-2") {
                            Swal.fire({
                                text: "Tin này đã nằm trên cùng của: " + folderName,
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "Đã hiểu",
                                customClass: {
                                    confirmButton: "btn btn-danger"
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                text: "Đã chèn lên trên cùng trong: " + folderName,
                                icon: "success",
                                buttonsStyling: false,
                                confirmButtonText: "OK",
                                customClass: {
                                    confirmButton: "btn btn-success"
                                }
                            });
                            productPaging.reload();
                        }
                    }
                    else if (type == "3") {
                        if (data == "-2") {
                            Swal.fire({
                                text: "Tin này đã nằm sau cùng của: " + folderName,
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "Đã hiểu",
                                customClass: {
                                    confirmButton: "btn btn-danger"
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                text: "Đã chèn phía sau tin: " + data,
                                icon: "success",
                                buttonsStyling: false,
                                confirmButtonText: "OK",
                                customClass: {
                                    confirmButton: "btn btn-success"
                                }
                            });
                            productPaging.reload();
                        }
                    }
                    else if (type == "4") {
                        if (data == "-2") {
                            Swal.fire({
                                text: "Tin này đã nằm sau cùng của: " + folderName,
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "Đã hiểu",
                                customClass: {
                                    confirmButton: "btn btn-danger"
                                }
                            });
                        }
                        else {
                            Swal.fire({
                                text: "Đã chèn sau cùng cùng trong: " + folderName,
                                icon: "success",
                                buttonsStyling: false,
                                confirmButtonText: "OK",
                                customClass: {
                                    confirmButton: "btn btn-success"
                                }
                            });
                            productPaging.reload();
                        }
                    }
                }
            }, function () { isCalling = false; $(cbtn).prop("disabled", false); });
        });

        $(".btn-delete").click(function () {

            var box = $($(this).parent()).parent();
            var id = $(box).attr("tag-id");
            cid = id;
            if (isCalling) {
                return false;
            }

            var name = $("#" + id).find(".my-post-title").text();

            $("#removeTitle").text("Bạn muốn xóa: " + name);

            $("#submitDelete").prop("disabled", false);
            $("#submitDelete").attr("data-kt-indicator", "");

            $("#deleteModal").modal('show');
            cbtn = this;

        });

        $(".btn-visible").click(function () {
            if (isCalling) {
                return false;
            }

            var box = $($(this).parent()).parent();
            var id = $(box).attr("tag-id");
            var show = $(this).attr("tag-show");
            var model = { id: id, value: show };
            isCalling = true;
            cbtn = this;
            $(cbtn).prop("disabled", true);
            PNPost("/api/owner/cms/set-visible", model, function (data) {
                isCalling = false;
                $(cbtn).prop("disabled", false);
                if (data == "ok") {
                    if (show == "y") {
                        $(cbtn).attr("tag-show", "n");
                        $(cbtn).attr("title", "Hiển thị mẫu tin");
                        $(cbtn).removeClass("btn-dark");
                        $(cbtn).addClass("btn-secondary");

                        $(cbtn).find("i").removeClass("bi-eye-slash-fill");
                        $(cbtn).find("i").addClass("bi-eye-fill");
                    }
                    else {
                        $(cbtn).attr("tag-show", "y");
                        $(cbtn).attr("title", "Ẩn mẫu tin");
                        $(cbtn).removeClass("btn-secondary");
                        $(cbtn).addClass("btn-dark");

                        $(cbtn).find("i").removeClass("bi-eye-fill");
                        $(cbtn).find("i").addClass("bi-eye-slash-fill");
                    }
                }
            }, function () { isCalling = false; $(cbtn).prop("disabled", false); });
        });

    }

    function renderUIAvatar() {
        var listIMG = $(".proIMG");
        for (var i = 0; i < listIMG.length; i++) {
            $(listIMG[i]).one("load", function () {
                var tagav = $(this).attr("tag-av");
                var ipath = "/UData/" + oid + "/images/" + tagav;
                $($(this).parent()).find(".iloading").css("display", "none");
                $($(this).parent()).css("background-image", "url('" + ipath + "')");
            });

            $(listIMG[i]).one("error", function () {
                $($(this).parent()).find(".iloading").css("display", "none");
                $($(this).parent()).css("background-image", "url('/Images/no-img.png')");
            });

            var tagav = $(listIMG[i]).attr("tag-av");
            var ipath = "/UData/" + oid + "/images/" + tagav;
            $(listIMG[i]).attr("src", ipath);
        }
    }

    function renderFolderName() {
        var list = $(".folder-ui");
        for (var i = 0; i < list.length; i++) {
            var id = $(list[i]).attr("tag-id");
            $(list[i]).find("span").text(mapFolder[id]);
            $($(list[i]).parent()).find(".upost-body").attr("folder-name", mapFolder[id]);
        }        
    }
</script>

