﻿
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_OwnerBusinessLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="/Scripts/PNAjaxPaging.js"></script>
<style>
    #bannerBox {
        padding-top: 10px;
    }

    .banner-item {
        margin-bottom: 20px;
    }

        .banner-item button {
            margin-right: 5px;
        }
</style>
<div>
    <h2 style="float:left; margin-right:20px;">Quản lý nhãn</h2>
    <button data-bs-toggle="modal" data-bs-target="#addTagsModal" style="margin-top:-5px;" type="button" class="btn btn-sm btn-primary"><i class="las la-plus fs-2"></i> Thêm nhãn mới</button>
</div>




<div id="tagPagingBox">

</div>

<div class="modal fade" tabindex="-1" id="addTagsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm nhãn mới</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <input class="form-control new-tag" style="margin-bottom:10px; border:1px solid #454545" placeholder="Nhãn 1" />
                <input class="form-control new-tag" style="margin-bottom:10px;border:1px solid #454545" placeholder="Nhãn 2" />
                <input class="form-control new-tag" style="margin-bottom:10px;border:1px solid #454545" placeholder="Nhãn 3" />
                <input class="form-control new-tag" style="margin-bottom:10px;border:1px solid #454545" placeholder="Nhãn 4" />
                <input class="form-control new-tag" style="margin-bottom:10px;border:1px solid #454545" placeholder="Nhãn 5" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewTags" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align:center;"><i class="las la-trash fs-3x"></i></h3>
                <h4 id="removeTitle" style="text-align:center; color:red !important;"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitDelete" type="button" class="btn btn-danger">
                    <span class="indicator-label">Xóa</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    function removeVietnameseTones(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, "");
        str = str.replace(/\u02C6|\u0306|\u031B/g, "");
        str = str.replace(/ + /g, " ");
        str = str.trim();
        str = str.replace(/!|@@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, " ");
        str = str.toLowerCase();
        return str;
    }

    var tagTemplate = '<div id="{id}" style="padding-bottom:10px; padding-top:15px; border-bottom:1px solid #808080">'+
                            '<h4><i class="bi bi-tag-fill fs-2"></i><span class="file-name" style="margin-left:10px;">{name}</span></h4>'+
                            '<p style="margin-bottom:0px;"><button style="margin-left:10px;" class="btn btn-sm btn-danger btn-remove"><i class="bi bi-trash-fill fs-2"></i></button></p>'+
                        '</div>';

    var oid = "@ViewBag.OwnerId";

    var tagPaging;
    var cid;

    var mapTagCode = {};
    var mapTagValue = {};

    $(document).ready(function () {

        var pageConfig = {};
        pageConfig.baseURL = "/api/owner/cms/get-tags";
        pageConfig.boxId = "tagPagingBox";
        pageConfig.searchHolder = "Từ khoá nhãn";
        pageConfig.renderUI = function (list) {
            var dataList = list;
            for (var i = 0; i < dataList.length; i++) {
                var html = tagTemplate.replace("{id}", dataList[i].TagId).replace("{name}", dataList[i].Value);
                

                $("#" + pageConfig.boxId).append(html);
            }
        }

        pageConfig.renderUICompleted = function () {
            $(".btn-remove").click(function () {
                cbtn = this;
                var box = $($(this).parent()).parent();
                var id = $(box).attr("id");
                cid = id;
                var name = $(box).find(".file-name").text();

                $("#removeTitle").text("Bạn muốn xoá tag: " + name + "?");

                $("#deleteModal").modal('show');
            });
        }

        tagPaging = new PNAjaxPaging(pageConfig);
        tagPaging.init();        
       

        $("#submitDelete").click(function () {
            $("#submitDelete").prop("disabled", true);
            $("#submitDelete").attr("data-kt-indicator", "on");

            $(cbtn).prop("disabled", true);
            PNPost("/api/owner/cms/delete-tag", { id: cid }, function (data) {
                $("#deleteModal").modal('hide');
                $("#submitDelete").prop("disabled", false);
                $("#submitDelete").attr("data-kt-indicator", "");
                if (data == "ok") {
                    var removed = $("#" + cid);
                    $(removed).remove();
                }
            }, function () { $(cbtn).prop("disabled", false); });
        });

        $("#submitNewTags").click(function () {
            var list = $(".new-tag");
            var data = "";
            for (var i = 0; i < list.length; i++) {
                var text = $(list[i]).val();
                text = text.toLowerCase();
                if (text) {
                    var utext = removeVietnameseTones(text);
                    if (!mapTagCode[utext]) {
                        data = data + "*" + text;
                        mapTagCode[utext] = text;
                    }
                }
            }
            $("#submitNewTags").prop("disabled", true);
            $("#submitNewTags").attr("data-kt-indicator", "on");
            PNPost("/api/owner/cms/new-tags", { tags: data }, function (data) {
                if (data == "ok")
                    setTimeout(function () {
                        window.location.reload();
                    }, 500);
            }, function () { });

        });

    });

</script>