﻿
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_OwnerBusinessLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="/Scripts/PNAjaxPaging.js"></script>
<style>
    #bannerBox {
        padding-top: 10px;
    }

    .banner-item {
        margin-bottom: 20px;
    }

        .banner-item button {
            margin-right: 5px;
        }
</style>

<h2>Thư viện video <button data-bs-toggle="modal" data-bs-target="#addVideoModal" class="btn btn-sm btn-info"><i class="las la-plus fs-2x"></i></button></h2>


<div id="videoPagingBox">

</div>

<div class="modal fade" tabindex="-1" id="deleteModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="text-align:center;"><i class="las la-trash fs-3x"></i></h3>
                <h4 id="removeTitle" style="text-align:center; color:red !important;"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitDelete" type="button" class="btn btn-danger">
                    <span class="indicator-label">Xóa</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chỉnh sửa mô tả</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Nội dung mô tả</p>
                <input style="border:1px solid #5d2323" class="form-control" id="editDesc" autocomplete="off" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitEditDesc" type="button" class="btn btn-primary">
                    <span class="indicator-label">Cập nhật</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="addVideoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Thêm video</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body" style="padding:10px;">
                <p style="margin-bottom:0px; color:dodgerblue;">Link video của youtube</p>
                <input class="form-control video-link" style="margin-bottom:10px; border:1px solid #454545" id="videoLink" />
                <p style="margin-bottom:0px; color:dodgerblue;">Tên video</p>
                <input class="form-control" style="margin-bottom:10px; border:1px solid #454545" id="videoTitle" />
                <p style="margin-bottom:0px; color:dodgerblue;">Mô tả</p>
                <textarea style="width: 100%; height: 100px; border: 1px solid #454545" id="videoDesc"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitNewVideo" type="button" class="btn btn-primary">
                    <span class="indicator-label">Thêm</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editVideoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px;">
                <h5 class="modal-title">Cập nhật video</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x"></span>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body" style="padding:10px;">
                <img id="vimg" style="height:100px;" />
                <p style="margin-bottom:0px; color:dodgerblue;">Tên video</p>
                <input class="form-control" style="margin-bottom:10px; border:1px solid #454545" id="videoTitleEdit" />
                <p style="margin-bottom:0px; color:dodgerblue;">Mô tả</p>
                <textarea style="width: 100%; height: 100px; border: 1px solid #454545" id="videoDescEdit"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button id="submitUpdateVideo" type="button" class="btn btn-primary">
                    <span class="indicator-label">Cập nhật</span>
                    <span class="indicator-progress">
                        Đang xử lý...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    var videoSearchTemplate = '<div class="video-tem-bs" >' +
        '<div style="height:50px; overflow:hidden;">' +
        '<div style="width:30px;float:left; padding-top:5px;">' +
        '<div class="form-check form-check-custom form-check-solid" style="margin-top:10px;">' +
        '<input tag-id="{id}" tag-name="{name}" class="form-check-input video-checking" type="checkbox" style="background-color:burlywood !important;" />' +
        '</div>' +
        '</div>' +
        '<div style="float:left;">' +
        '<img style="height:50px;" src="https://img.youtube.com/vi/{id}/mqdefault.jpg" />' +
        '</div>' +
        '</div>' +
        '<p style="color:blue;">{name}</p>' +
        '</div>';
    var videoTemplate = '<div id="{id}" tag-id="{yid}" class="video-item" tag-desc="{desc}" tag-name="{title}" style="border-bottom:1px solid #787878; margin-bottom:5px; margin-top:15px;">' +
        '<p style="margin-bottom:0px;">' +
        '<img style="max-width:100%; height:100px;" src="https://img.youtube.com/vi/{yid}/mqdefault.jpg" />' +
        '</p>' +
        '<h4 class="vname" style="margin-top:5px; margin-bottom:0px;">{title}</h4>' +
        '<p class="vdesc" style="margin-bottom:0px; font-style:italic;">{desc}</p>' +
        '<p style="margin-top:5px;">' +
        '<button class="btn btn-danger btn-remove-video">Xoá</button>' +
        ' <button class="btn btn-warning btn-edit-video">Sửa</button>' +
        '</p>' +
        '</div>';

    var videoPaging;
    var cid;

    $(document).ready(function () {
        var pageConfig = {};
        pageConfig.baseURL = "/api/owner/cms/get-video";
        pageConfig.boxId = "videoPagingBox";
        pageConfig.searchHolder = "Từ khoá video";
        pageConfig.renderUI = function (list) {
            var dataList = list;
            for (var i = 0; i < dataList.length; i++) {
                var html = videoTemplate.replace("{id}", dataList[i].VideoId).replace("{yid}", dataList[i].YoutubeId).replace("{yid}", dataList[i].YoutubeId);
                html = html.replace("{title}", dataList[i].Title).replace("{title}", dataList[i].Title);
                html = html.replace("{desc}", dataList[i].VDesc);
                html = html.replace("{desc}", dataList[i].VDesc);
                $("#" + pageConfig.boxId).append(html);
            }
        }

        pageConfig.renderUICompleted = function () {
            $(".btn-remove-video").click(function () {
                $(this).prop("disabled", true);
                var box = $($(this).parent()).parent();
                var id = $(box).attr("id");
                var model = { id: id };
                PNPost("/api/owner/cms/delete-video", model, function (data) {
                    if (data == "ok") {
                        $("#" + model.id).remove();
                    }
                }, function () { });
            });

            $(".btn-edit-video").click(function () {
                $(this).prop("disabled", true);
                var box = $($(this).parent()).parent();
                cid = $(box).attr("id");
                var vid = $(box).attr("tag-id");
                var url = "https://img.youtube.com/vi/" + vid + "/mqdefault.jpg";
                $("#vimg").attr("src", url);
                var name = $(box).attr("tag-name");
                var desc = $(box).attr("tag-desc");
                $("#videoTitleEdit").val(name);
                $("#videoDescEdit").val(desc);
                $("#editVideoModal").modal('show');

            });
        }

        videoPaging = new PNAjaxPaging(pageConfig);
        videoPaging.init();

        $("#submitNewVideo").click(function () {
            var link = $("#videoLink").val();
            var title = $("#videoTitle").val();
            var desc = $("#videoDesc").val();
            var youtubeId = parseYoutubeId(link);
            if (!youtubeId) {
                Swal.fire({
                    text: "Link youtube không hợp lệ",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok, thử lại",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else if (!title) {
                Swal.fire({
                    text: "Bạn chưa đặt tên video",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else {
                var url = "/api/owner/cms/new-video";
                var model = {};
                model.yid = youtubeId;
                model.title = title;
                model.desc = desc;
                $("#submitNewVideo").prop("disabled", true);
                $("#submitNewVideo").attr("data-kt-indicator", "on");
                PNPost(url, model, function (data) {
                    if (data) {
                        setTimeout(function () {
                            $("#videoLink").val("");
                            $("#videoTitle").val("");
                            $("#videoDesc").val("");
                            $("#submitNewVideo").prop("disabled", false);
                            $("#submitNewVideo").attr("data-kt-indicator", "");
                            $("#addVideoModal").modal('hide');
                            window.location.reload();
                        }, 1000);
                    }
                }, function () { });
            }
        });

        $("#submitUpdateVideo").click(function () {
            var title = $("#videoTitleEdit").val();
            var desc = $("#videoDescEdit").val();
            if (!title) {
                Swal.fire({
                    text: "Bạn chưa đặt tên video",
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn btn-danger"
                    }
                });
            }
            else {
                var url = "/api/owner/cms/update-video";
                var model = {};
                model.id = cid;
                model.title = title;
                model.desc = desc;
                $("#submitUpdateVideo").prop("disabled", true);
                $("#submitUpdateVideo").attr("data-kt-indicator", "on");
                PNPost(url, model, function (data) {
                    if (data) {
                        setTimeout(function () {
                            $("#videoTitleEdit").val("");
                            $("#videoDescEdit").val("");
                            $("#submitUpdateVideo").prop("disabled", false);
                            $("#submitUpdateVideo").attr("data-kt-indicator", "");
                            $("#editVideoModal").modal('hide');
                            var vbox = $("#" + model.id);
                            $(vbox).find(".vname").text(model.title);
                            $(vbox).find(".vdesc").text(model.desc);

                        }, 200);
                    }
                }, function () { });
            }
        });


    });

    function parseYoutubeId(url) {
        var id = "";
        url = url.trim();
        if (url.length >= 15) {
            var index = url.indexOf('watch?v=');
            var index = url.indexOf('watch?v=');
            if (index > -1) {
                try {
                    text = url.substr(index + 8, 11);
                    id = text;
                }
                catch { }
            }
            else {
                var index2 = url.indexOf('youtu.be');
                if (index2 > -1) {
                    try {
                        text = url.substr(index2 + 9, 11);
                        id = text;
                    }
                    catch { }
                }
            }
        }
        return id;
    }
</script>