﻿
@{
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    if (clientModel.QUser.Role == "C_ADM")
    {
        Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
    }
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align: center; margin-bottom:0px;">
            <img id="avatar" src="/Images/avatar.png" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
        </p>
        <p style="text-align:center;margin-top:0px;"><span id="gcName" style="font-size:16px; font-weight:bold;"></span></p>
            <center>
                <div style="max-width:300px; width:auto;">
                    <form id="changePassForm" action="/hr-cloud/account/change-password" method="post">
                        <p style="margin-bottom:0px;">Mật khẩu hiện tại</p>
                        <input class="form-control" type="password" id="cpass" name="oldPass" autocomplete="off" />
                        <p style="margin-bottom:0px;">Mật khẩu mới</p>
                        <input class="form-control" type="password" id="newpass" name="newPass" autocomplete="off" />
                        <p style="margin-bottom:0px;">Nhập lại mật khẩu</p>
                        <input class="form-control" type="password" id="repass" autocomplete="off" />
                        <p style="margin-top:10px;"><button type="button" id="changeBTN" class="btn btn-primary">Đổi mật khẩu</button></p>
                    </form>
                    

                    <form action="/hr-cloud/logout" method="post">
                        <button type="submit" class="btn btn-danger" style="margin-bottom:20px; width:100%">Đăng xuất</button>
                    </form>
                </div>
            </center>
    </div>
</div>
<input type="hidden" id="pmess" value="@ViewBag.Message" />
<script src="/Scripts/loading-user-list.js"></script>
<script>
    $(document).ready(function () {
        var message = $("#pmess").val();
        if (message != "")
            alert(message);

        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var me = "@clientModel.QUser.QUserId";
        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            for (var i = 0; i < list.length; i++) {
                if (me == list[i].Username) {
                    if (list[i].Avatar) {
                        $("#avatar").attr("src", host + list[i].Avatar);
                        $("#gcName").text(list[i].FirstName + " " + list[i].LastName)
                    }
                }
            }
        }, function () { showRetry(); });

        $("#changeBTN").click(function () {
            var cpass = $("#cpass").val();
            var newpass = $("#newpass").val();
            var repass = $("#repass").val();
            if (newpass != repass)
                alert("2 mật khẩu mới không khớp nhau.");
            else if (newpass.length < 6)
                alert("Mật khẩu không được ít hơn 6 ký tự");
            else if (cpass.length < 6)
                alert("Mất khẩu cũ không hợp lệ");
            else
                doChange();
        });

        function doChange() {
            $("#changePassForm").submit();
        }
    });
</script>
