﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    if (clientModel.QUser.Role == "C_ADM")
    {
        Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
    }
}

@{ Html.RenderPartial("CommonFunction"); }
@{ Html.RenderPartial("RemoveConfirm"); }

<style>
    .time-action {
        padding-left: 14px;
    }

    .time-val {
        font-weight: bold;
        color: blue;
    }

    .time-delta {
        font-weight: bold;
        color: red;
    }

    .time-rate-desc {
        color: #6e1a92;
        font-style: italic;
    }

    .working-time {
        height: 45px;
        padding-top: 5px;
    }

        .working-time .col-left {
            width: 120px;
        }

        .working-time .col-right {
            margin-top: -35px;
            padding-left: 100px;
        }

            .working-time .col-right p {
                margin: 0px;
            }
</style>

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div style="min-height:30px;">
            <div>
                <select id="selArea" style="padding:5px; float:right;">
                </select>
                <button id="reviewBTN" style="float:right; margin-right:5px;" class="btn btn-sm btn-warning"><i class="icon-1x flaticon2-checkmark"></i></button>
            </div>
            <div>
                <div style="width:150px; float:left;">
                    <div class="input-group date">
                        <input type="text" class="form-control" readonly="" value="01/01/1970" id="selDate">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="employeeBox" style="margin-top:20px;">

        </div>

    </div>
</div>

<div class="modal fade" id="off-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="offModalTitle">Báo cáo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p><span style="font-weight:bold;">Ngày: </span><span id="day-off" style="color:blue;"></span></p>
                <p><span style="font-weight:bold;">Ca: </span><span id="day-off-shiftname" style="color:red;"></span></p>
                <div class="radio-inline">
                    <label class="radio">
                        <input type="radio" name="accept" value="1">
                        <span></span>
                        Có phép
                    </label>
                    <label class="radio">
                        <input type="radio" name="accept" value="0" checked>
                        <span></span>
                        Không phép
                    </label>
                </div>
                <p style="margin-bottom:0px; margin-top:10px;">Lý do:</p>
                <textarea id="off-reason" style="width:100%; height:100px; border:1px solid #454545;"></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="submitOffRemove" type="submit" class="btn btn-danger font-weight-bold">Xóa báo cáo</button>
                <button id="submitOff" type="submit" class="btn btn-warning font-weight-bold">Báo cáo</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="work-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="work-modal-title">Cập nhật ca làm việc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p><span style="font-weight:bold;">Nhân viên: </span><span id="employee-work" style="color:blue;"></span></p>
                <p><span style="font-weight:bold;">Ngày: </span><span id="day-work" style="color:blue;"></span></p>
                <p><span style="font-weight:bold;">Ca: </span><span id="day-work-shiftname" style="color:red;"></span></p>
                <p style="margin-bottom:0px; margin-top:10px;">Ghi chú:</p>
                <textarea id="work-comment" style="width:100%; height:100px; border:1px solid #454545;"></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="submitDeleteWork" type="submit" class="btn btn-danger font-weight-bold">Xóa ca</button>
                <button id="submitWorkEdit" type="submit" class="btn btn-primary font-weight-bold">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bytime-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bytimeModalTitle">Báo cáo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="color:blue; margin:0px; text-align:center;">Vào làm lúc:</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="input-group date">
                            <input type="text" class="form-control" readonly="" value="" id="beginDate">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <input class="form-control" id="beginTime" readonly placeholder="Đặt giờ" type="text" />
                    </div>
                </div>
                <p style="color:blue; margin:0px; margin-top:10px; text-align:center;">Kết thúc lúc:</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="input-group date">
                            <input type="text" class="form-control" readonly="" value="" id="endDate">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <input class="form-control" id="endTime" readonly placeholder="Đặt giờ" type="text" />
                    </div>
                </div>
                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Nhân theo tỷ lệ:</p>
                <select id="wrate" style="padding:5px;">
                    <option value="0">Bình thường - Không nhân</option>
                </select>

                <p style="margin-bottom:0px; margin-top:10px;">Ghi chú thêm:</p>
                <textarea id="time-note" style="width:100%; height:100px; border:1px solid #454545;"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="submitBytime" type="submit" class="btn btn-primary font-weight-bold">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bytime-modal-edit" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bytimeModalTitleEdit">Báo cáo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="color:blue; margin:0px; text-align:center;">Vào làm lúc:</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="input-group date">
                            <input type="text" class="form-control" readonly="" value="" id="beginDateEdit">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <input class="form-control" id="beginTimeEdit" readonly placeholder="Đặt giờ" type="text" />
                    </div>
                </div>
                <p style="color:blue; margin:0px; margin-top:10px; text-align:center;">Kết thúc lúc:</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="input-group date">
                            <input type="text" class="form-control" readonly="" value="" id="endDateEdit">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <input class="form-control" id="endTimeEdit" readonly placeholder="Đặt giờ" type="text" />
                    </div>
                </div>
                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Nhân theo tỷ lệ:</p>
                <select id="wrateEdit" style="padding:5px;">
                    <option value="0">Bình thường - Không nhân</option>
                </select>

                <p style="margin-bottom:0px; margin-top:10px;">Ghi chú thêm:</p>
                <textarea id="time-note-edit" style="width:100%; height:100px; border:1px solid #454545;"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="submitBytimeEdit" type="submit" class="btn btn-primary font-weight-bold">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="comfirmTimeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content" style="border:1px solid red;">
            <div class="modal-body">
                <p style="font-weight:bold;">Bạn muốn báo cáo thời gian làm việc?</p>
                <p id="confirmTimeText" style="font-weight:bold; color:red; font-style:italic;">24 tiếng 25 phút</p>
                <p id="confirmTimeRate" style="color:blue; font-style:italic;">Tăng ca nhân 2.0</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Hủy</button>
                <button id="postWTimeBTN" type="button" class="btn btn-warning font-weight-bold">Báo cáo</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reviewModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="review-modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="reviewBody">
               

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/loading-shifts.js"></script>
<script src="/Scripts/datepicker.js"></script>

<script>

    var emTemplate = '<div id="{uid}" style="position:relative;padding:15px; border-radius:5px; border:2px solid #0e4a9b; margin-bottom:10px;">' +
        '<div style="height:100px; overflow:hidden;">' +
        '<a href="/hr-cloud/admin/payment-user/{uid}"><img class="apic" style="height:100px; width:100px; border-radius:5px; border:1px solid #ff6a00;" src="{photo}" /></a>' +
        '<div style="margin-left:110px; top:-100px; position:relative;">' +
        '<p class="aname" style="font-size:14px; font-weight:bold; margin-bottom:5px;">{name}</p>' +
        '<p style="margin-bottom:5px;"><button position-id="{pid}" tag="info" class="position btn btn-pill btn-secondary"><i class="icon-1x flaticon2-layers" style="color:white; margin-right:5px;"></i> <span class="lname">Chưa có vai trò</span></button></p>' +
        '<p style="font-size:16px;"><span style="padding-left:2px;padding-right:2px;" class="label label-primary label-inline font-weight-bolder mr-2">{w} (h)</span><span style="padding-left:2px;padding-right:2px; margin-left:5px;" class="label label-danger label-inline font-weight-bold mr-2">{s} (ca)</span></p>' +
        '</div>' +
        '</div>' +
        '<div uid="{uid}" class="shiftBox" style="width:100%; min-height:10px; margin-top:10px;">' +


        '</div>' +
        '<div class="workingBox"></div>' +
        '<div style="position:absolute; width:30px; height:30px; background-color:red; top:-2px;left:-2px;"><p style="font-weight:bold; color:white; margin:4px;font-size:15px;text-align:center">{index}</p></div>'+
        '</div>';

    var shiftTemplate = '<div type="none" class="btn-group shift-item" style="margin:5px;">' +
                            '<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{name}</button>'+
                            '<div id="{id}" uid="{uid}" class="dropdown-menu {id}" aria-labelledby="dropdownMenuButton">'+
                                '<input type="hidden" class="wnote" value="" />' +
                                '<a class="dropdown-item worked work-action" href="#!" style="color:blue;"><i class="icon-1x flaticon2-check-mark" style="color:blue; margin-right:5px; margin-top:-2px;"></i> Làm việc </a>'+
                                '<a class="dropdown-item work-note work-action" href="#!" style="color:blue;"><i class="icon-1x flaticon2-pie-chart-2" style="color:blue; margin-right:5px;"></i> Làm việc & Ghi chú </a>'+
                                '<a class="dropdown-item notwork work-action" href="#!" style="color:red;"><i class="icon-1x flaticon2-cancel" style="color:red; margin-right:5px; margin-top:-1px"></i> Nghỉ</a>'+
                                '<a class="dropdown-item edit work-edit" href="#!" style="color:darkblue;display:none"><i class="icon-1x flaticon2-reload" style="color:darkblue; margin-right:5px; margin-top:-1px"></i> Thay đổi</a>' +
                            '</div>'+
                        '</div>';

    var workingTimeTemplate = '<div class="working-time {wid}" id="{wid}"  jdata="{data}">'+
                                '<div class="col-left">'+
                                    '<button class="wt-time-edit btn btn-sm btn-warning font-weight-bold btn-pill time-action"><i class="icon-1x flaticon2-edit"></i></button>'+
                                    ' <button class="wt-time-remove btn btn-sm btn-danger font-weight-bold btn-pill time-action"><i class="icon-1x flaticon2-rubbish-bin"></i></button>'+
                                '</div>'+
                                '<div class="col-right">'+
                                    '<p>'+
                                        '<span class="time-val time-val-begin">{begin}</span>'+
                                        '<span>-</span>'+
                                        '<span class="time-val time-val-end">{end}</span>'+
                                        '<span class="time-delta"> ({duration})</span>'+
                                    '</p>'+
                                    '<p><span rate="{rate}" class="time-rate-desc">{desc}</span></p>'+
                                '</div>'+
                            '</div>';

    function findElementById(list, id) {
        for (var i = 0; i < list.length; i++) {
            if (list[i].Id == id) {
                return list[i];
            }
        }
        return null;
    }

    function findWorkingByUserAndShift(list, uid, sid) {
        for (var i = 0; i < list.length; i++) {
            if (list[i].Username == uid && list[i].ShiftId == sid && list[i].Status == 0) {
                return list[i];
            }
        }
        return null;
    }

    $(document).ready(function () {
        var isNew = true;
        var isCreateOff = true;
        var isCreateWorking = true;
        var ewid = "";
        var wrateLoaded = false;
        var areaId = "";
        var shiftAreas = new Array();
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var me = "@clientModel.Username";
        var domain = "@clientModel.Domain";

        var dataSources = new Array();
        var timeDataSource = new Array();
        var viewType = "t";
        var areaList = new Array();

        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        var todayTimeText = dd + "/" + mm + "/" + yyyy;
        $("#selDate").val(todayTimeText);
        makeDatepicker("selDate", function () {
            renderUserList($("#selArea").val(), getDaySelected());
        });

        $("#beginDate").val(todayTimeText);
        makeDatepicker("beginDate", function () {});
        $('#beginTime').timepicker({
            minuteStep: 5,
            showSeconds: false,
            showMeridian: false,
            snapToStep: true
        });

        $("#endDate").val(todayTimeText);
        makeDatepicker("endDate", function () {});
        $('#endTime').timepicker({
            minuteStep: 5,
            showSeconds: false,
            showMeridian: false,
            snapToStep: true
        });


        registerUserListLoadCompleted(function (ulist) {
            dataSources = ulist;            
            registerProfileLoadCompleted(function (profile) {
                if (profile.AreaM) {
                    loadAreas(host, access_token, latestChanges.AreaChanged, function (areas) {
                        areaList = areas;
                        var split = profile.AreaM.split('*');
                        for (var i = 0; i < split.length; i++) {
                            if (split[i] != "") {
                                var findArea = findElementById(areas, split[i].toLowerCase());
                                if (findArea != null) {
                                    var html = '<option value="' + findArea.Id + '">' + findArea.Name + '</option>'
                                    $("#selArea").append(html);
                                }
                            }
                        }
                        var area = split[0].toLowerCase();
                        $("#selArea").val(area);
                        areaId = area;
                        loadShifts(function (alist) {
                            shiftAreas = alist;
                            renderUserList(area, getDaySelected());
                            $("#selArea").change(function () {
                                areaId = $("#selArea").val();
                                renderUserList($("#selArea").val(), getDaySelected());
                            });
                        });
                    });
                }
            });
        });

        function getDaySelected() {
            var day = $("#selDate").val();
            return day.replace("/", "-").replace("/", "-");
        }

        function renderUserList(area, day) {
            $("#employeeBox").empty();
            var list = dataSources;
            var ti = 0;
            var li = 0;
            if (viewType == "t") {
                for (var i = 0; i < list.length - 1; i++) {
                    for (var j = i + 1; j < list.length; j++) {
                        if (list[i].HW < list[j].HW) {
                            var temp = list[i];
                            list[i] = list[j];
                            list[j] = temp;
                        }
                    }
                }
                for (var i = 0; i < list.length - 1; i++) {
                    if (list[i].AreaId.toLowerCase() == area) {
                        if (ti == 0) {
                            list[i].Index = 1;
                            ti = 1;
                            li = i;
                        }
                        else {
                            if (list[i].HW != list[li].HW) {
                                ti++;
                            }
                            list[i].Index = ti;
                            li = i;
                        }
                    }
                }
            }

            for (var i = 0; i < list.length; i++) {
                if (list[i].AreaId.toLowerCase() == area) {
                    var avatar = list[i].Avatar ? host + list[i].Avatar : "/Images/avatar.png";
                    var html = emTemplate.replace("{photo}", avatar).replace("{us}", list[i].Username).replace("{name}", list[i].FirstName + " " + list[i].LastName);
                    html = html.replace("{w}", parseFloat(list[i].HW / 60).toFixed(1)).replace("{s}", list[i].SO).replace("{pid}", list[i].Position);
                    html = html.replace("{uid}", list[i].Username).replace("{uid}", list[i].Username).replace("{uid}", list[i].Username);
                    html = html.replace("{index}", list[i].Index);
                    $("#employeeBox").append(html);
                }
            }

            loadPositions(host, access_token, latestChanges.PositionChanged, function (posList) {
                var positions = $(".position");
                var cachePost = {};
                for (var i = 0; i < positions.length; i++) {
                    var pid = $(positions[i]).attr("position-id");
                    if (!cachePost[pid]) {
                        //alert(pid);
                        for (var p = 0; p < posList.length; p++) {
                            if (pid == posList[p].Id) {
                                cachePost[pid] = posList[p];
                                setPositionUI(positions[i], posList[p]);
                                break;
                            }
                        }
                    }
                    else {
                        setPositionUI(positions[i], cachePost[pid]);
                    }
                }
            });

            for (var i = 0; i < shiftAreas.length; i++) {
                if (shiftAreas[i].Id == areaId) {
                    appendShifts(shiftAreas[i]);
                    break;
                }
            }
        }

        $("#submitOff").click(function () {
            $("#off-modal").modal('hide');
            var post = selObj;
            post.aid = areaId;
            post.day = getDaySelected();
            post.admin = me;
            post.domain = domain;
            post.note = $("#off-reason").val();
            post.accept = $("input[name=accept][value=1]").prop("checked") ? "y" : "n";
            if (isCreateOff) {
                PNCustomPost(host + "/api/main/working/off-working-by-shift", access_token, post, function (result) {
                    if (result != "")
                        changeUIButton(selShiftBTN, "off", result, post.note, post.accept == "y");
                }, function () { });
            }
            else {
                var id = $(selShiftBTN).attr("wid");
                post.id = id;
                PNCustomPost(host + "/api/main/working/update-off-working-by-shift", access_token, post, function (result) {
                    if (result != "")
                        changeUIButton(selShiftBTN, "off", result, post.note, post.accept == "y");
                }, function () { });
            }
        });

        var selObj = {};
        var selShiftBTN;
        var employeeRow;
        var selBegin;
        var selEnd;
        var currentAreaData;
        function appendShifts(shiftArea) {
            currentAreaData = shiftArea;
            var shiftBoxes = $(".shiftBox");
            for (var i = 0; i < shiftBoxes.length; i++) {
                for (var s = 0; s < shiftArea.Shifts.length; s++) {
                    var html = shiftTemplate.replace("{name}", shiftArea.Shifts[s].Name);
                    html = html.replace("{id}", shiftArea.Shifts[s].Id).replace("{id}", shiftArea.Shifts[s].Id);
                    html = html.replace("{uid}", $(shiftBoxes[i]).attr("uid"));
                    $(shiftBoxes[i]).append(html);
                }
                $(shiftBoxes[i]).append('<button class="btn btn-primary addTimeBTN" style="margin:5px;"><i class="icon-1x flaticon2-plus" style="margin-left:3px;"></i></button>');

            }

            var readShiftURL = host + "/api/main/working/get-working-by-day/" + areaId + "/" + getDaySelected();

            PNCustomGet(readShiftURL, access_token, function (sdata) {
                var workings = JSON.parse(sdata);
                var shiftBoxes = $(".shiftBox");
                for (var i = 0; i < shiftBoxes.length; i++) {
                    var sitems = $(shiftBoxes[i]).find(".shift-item");
                    for (var s = 0; s < sitems.length; s++) {
                        var div = $(sitems[s]).find(".dropdown-menu");
                        var uid = $(div).attr("uid");
                        var sid = $(div).attr("id");
                        var findWorking = findWorkingByUserAndShift(workings, uid, sid);
                        if (findWorking != null && findWorking.Status == 0) {
                            changeUIButton(sitems[s], findWorking.IsOff ? "off" : "ok", findWorking.Id, findWorking.IsOff ? findWorking.Reason : findWorking.Note, findWorking.Accept);
                        }
                    }
                }

                workingArray = new Array();

                for (var w = 0; w < workings.length; w++) {
                    if (workings[w].ShiftId == "") {
                        var uid = workings[w].Username;
                        addWTimeItem(uid, workings[w]);
                    }
                }

            });

            $(".worked").click(function () {
                var parent = $(this).parent();
                var shiftUI = $(parent).parent();
                var id = $(parent).attr("id");
                var uid = $(parent).attr("uid");
                var post = {};
                post.username = uid;
                post.sid = id;
                post.aid = areaId;
                post.day = getDaySelected();
                post.admin = me;
                post.domain = domain;
                post.note = "";
                PNCustomPost(host + "/api/main/working/set-working-by-shift", access_token, post, function (result) {
                    if (result != "")
                        changeUIButton(shiftUI, "ok", result, "", false);
                }, function () { });
            });

            $(".work-note").click(function () {
                var p1 = $(this).parent();
                var p2 = $(p1).parent();
                selShiftBTN = p2;
                var p3 = $(p2).parent();
                var userBox = $(p3).parent();
                var name = $(userBox).find(".aname").text();
                var type = $(p2).attr("type");
                $("#employee-work").text(name);
                $("#day-work").text(getDaySelected());
                var shiftName = $(p2).find("button").text();
                $("#day-work-shiftname").text(shiftName);
                var note = $($(selShiftBTN).find(".wnote")).val();
                $("#work-comment").val("");
                displayModalByContext(true);
                $("#work-modal-title").text("Báo cáo ca làm việc");
                isCreateWorking = true;
                $("#work-modal").modal('show');
            });

            $(".notwork").click(function () {
                var p1 = $(this).parent();
                var p2 = $(p1).parent();
                selShiftBTN = p2;
                var p3 = $(p2).parent();
                var userBox = $(p3).parent();
                var name = $(userBox).find(".aname").text();
                $("#offModalTitle").text("Báo cáo nghỉ: " + name);
                $("#day-off").text(getDaySelected());
                var shiftName = $(p2).find("button").text();
                $("#day-off-shiftname").text(shiftName);
                var id = $(p1).attr("id");
                var uid = $(p1).attr("uid");
                selObj.username = uid;
                selObj.sid = id;
                isCreateOff = true;
                $("#submitOffRemove").css("display", "none");
                $("#off-modal").modal('show');
            });

            $(".addTimeBTN").click(function () {
                var p1 = $(this).parent();
                var p2 = $(p1).parent();
                employeeRow = p2;
                var name = $(employeeRow).find(".aname").text();
                $("#bytimeModalTitle").text("Thêm thời gian làm việc cho: " + name);
                $("#bytime-modal").modal('show');
            });

            $(".work-edit").click(function () {
                var p1 = $(this).parent();
                var p2 = $(p1).parent();
                selShiftBTN = p2;
                var p3 = $(p2).parent();
                var userBox = $(p3).parent();
                var name = $(userBox).find(".aname").text();
                var type = $(p2).attr("type");
                if (type == "ok") {
                    $("#employee-work").text(name);
                    $("#day-work").text(getDaySelected());
                    var shiftName = $(p2).find("button").text();
                    $("#day-work-shiftname").text(shiftName);
                    var note = $($(selShiftBTN).find(".wnote")).val();
                    $("#work-comment").val(note);
                    $("#work-modal-title").text("Cập nhật ca làm việc");
                    displayModalByContext(false);
                    isCreateWorking = false;
                    $("#work-modal").modal('show');
                }
                else {
                    $("#offModalTitle").text("Báo cáo nghỉ: " + name);
                    $("#day-off").text(getDaySelected());
                    var shiftName = $(p2).find("button").text();
                    $("#day-off-shiftname").text(shiftName);
                    var id = $(p1).attr("id");
                    var uid = $(p1).attr("uid");
                    selObj.username = uid;
                    selObj.sid = id;
                    var note = $($(selShiftBTN).find(".wnote")).val();
                    $("#off-reason").val(note);
                    var appr = $(selShiftBTN).attr("appr");
                    if (appr == "y")
                        $("input[name=accept][value=1]").prop("checked", true);
                    else
                        $("input[name=accept][value=0]").prop("checked", true);

                    isCreateOff = false;
                    $("#submitOffRemove").css("display", "block");
                    $("#off-modal").modal('show');
                }
            });

            registerOwnerInfoLoadCompleted(function (owner) {
                if (!wrateLoaded) {
                    var l = owner.Rates.length;
                    var rates = owner.Rates;
                    for (var i = 0; i < l; i++) {
                        var html = '<option value="' + rates[i].Id + '">' + rates[i].Name + '</option>';
                        $("#wrate").append(html);
                        $("#wrateEdit").append(html);
                    }
                    wrateLoaded = true;
                }
            });
        }

        $("#submitOffRemove").click(function () {
            $("#off-modal").modal('hide');
            showRemoveConfirmation("Bạn muốn xoá báo cáo nghỉ này?", function () {
                var deleteURL = host + "/api/main/working/delete-working-by-shift";
                var wid = $(selShiftBTN).attr("wid");
                PNCustomPost(deleteURL, access_token, { id: wid }, function (result) {
                    if (result == "ok") {
                        changeUIButton(selShiftBTN, "ok", "", "", false);
                    }
                }, function () { });
            });
        });

        $("#submitDeleteWork").click(function () {
            $("#work-modal").modal('hide');
            showRemoveConfirmation("Bạn muốn xoá ca làm việc này?", function () {
                var deleteURL = host + "/api/main/working/delete-working";
                var wid = $(selShiftBTN).attr("wid");
                PNCustomPost(deleteURL, access_token, { id: wid }, function (result) {
                    if (result == "ok") {
                        changeUIButton(selShiftBTN, "ok", "", "", false);
                    }
                }, function () { });
            });
        });

        $("#submitWorkEdit").click(function () {
            var wid = $(selShiftBTN).attr("wid");
            var comment = $("#work-comment").val();
            $("#work-modal").modal('hide');
            if (isCreateWorking) {
                var shiftUI = selShiftBTN;
                var parent = $(shiftUI).find(".dropdown-menu");
                var id = $(parent).attr("id");
                var uid = $(parent).attr("uid");
                var post = {};
                post.username = uid;
                post.sid = id;
                post.aid = areaId;
                post.day = getDaySelected();
                post.admin = me;
                post.domain = domain;
                post.note = comment;

                PNCustomPost(host + "/api/main/working/set-working-by-shift", access_token, post, function (result) {
                    if (result != "")
                        changeUIButton(shiftUI, "ok", result, comment, false);
                }, function () { });
            }
            else {
                PNCustomPost(host + "/api/main/working/update-working-by-shift", access_token, { id: wid, note: comment }, function (result) {
                    if (result != "") {
                        $($(selShiftBTN).find(".wnote")).val(comment);
                    }

                }, function () { });
            }
        });



        $("#submitBytime").click(function () {
            var beginDate = $("#beginDate").val();
            var beginTime = $("#beginTime").val();
            var inVal = parseDatetime(beginDate, beginTime, '/').getTime() / 1000;
            selBegin = inVal;

            var endDate = $("#endDate").val();
            var endTime = $("#endTime").val();
            var outVal = parseDatetime(endDate, endTime, '/').getTime() / 1000;
            selEnd = outVal;

            var deltal = outVal - inVal;
            if (deltal <= 0) {
                alert("Thời gian kết thúc phải sau thời gian bắt đầu");
            }
            else {
                isNew = true;
                $("#confirmTimeText").text(getTimeDistance(deltal));
                var rate = $("#wrate option:selected").text();
                $("#confirmTimeRate").text(rate);
                $("#comfirmTimeModal").modal('show');
            }
        });

        $("#submitBytimeEdit").click(function () {
            var beginDate = $("#beginDateEdit").val();
            var beginTime = $("#beginTimeEdit").val();
            var inVal = parseDatetime(beginDate, beginTime, '/').getTime() / 1000;
            selBegin = inVal;

            var endDate = $("#endDateEdit").val();
            var endTime = $("#endTimeEdit").val();
            var outVal = parseDatetime(endDate, endTime, '/').getTime() / 1000;
            selEnd = outVal;

            var deltal = outVal - inVal;
            if (deltal <= 0) {
                alert("Thời gian kết thúc phải sau thời gian bắt đầu");
            }
            else {
                isNew = false;
                $("#confirmTimeText").text(getTimeDistance(deltal));
                var rate = $("#wrateEdit option:selected").text();
                $("#confirmTimeRate").text(rate);
                $("#comfirmTimeModal").modal('show');
            }
        });



        $("#postWTimeBTN").click(function () {
            if (isNew) {
                var uid = $(employeeRow).find(".shiftBox").attr("uid");
                var post = {};
                var day = $("#beginDate").val();
                day = day.replace("/", "-").replace("/", "-");
                post.day = day;
                post.username = uid;
                post.aid = areaId;
                post.begin = selBegin;
                post.end = selEnd;
                post.admin = me;
                post.domain = domain;
                post.note = $("#time-note").val();
                post.rate = $("#wrate").val();
                $("#comfirmTimeModal").modal('hide');
                $("#bytime-modal").modal('hide');

                PNCustomPost(host + "/api/main/working/set-working-by-time", access_token, post, function (result) {
                    if (result != "") {
                        var wk = { Id: result, Begin: selBegin, End: selEnd, Rate: post.rate, Note: post.note };
                        addWTimeItem(uid, wk);
                    }

                }, function () { });
            }
            else {
                var uid = $(employeeRow).find(".shiftBox").attr("uid");
                var post = {};
                post.username = uid;
                post.aid = areaId;
                post.begin = selBegin;
                post.end = selEnd;
                post.admin = me;
                post.domain = domain;
                post.note = $("#time-note-edit").val();
                post.rate = $("#wrateEdit").val();
                post.id = ewid;
                $("#comfirmTimeModal").modal('hide');
                $("#bytime-modal-edit").modal('hide');

                PNCustomPost(host + "/api/main/working/update-working-by-time", access_token, post, function (result) {
                    if (result != "") {
                        var wk = { Id: ewid, Begin: selBegin, End: selEnd, Rate: post.rate, Note: post.note };
                        editWTimeItem(wk);
                    }

                }, function () { });
            }
        });

        function displayModalByContext(isCreate) {
            if (isCreate) {
                $("#submitWorkEdit").text("Báo cáo");
                $("#submitDeleteWork").css("display", "none");
            }
            else {
                $("#submitWorkEdit").text("Cập nhật");
                $("#submitDeleteWork").css("display", "block");
            }
        }

        function addWTimeItem(uid, working) {
            var embox = $("#" + uid);
            var workingBox = $(embox).find(".workingBox");
            var begin = new Date(working.Begin * 1000);
            var end = new Date(working.End * 1000);
            var duration = getTimeDistance(working.End - working.Begin);
            var html = workingTimeTemplate.replace("{duration}", duration);
            var vbegin = getShortTime(begin);
            html = html.replace("{begin}", vbegin);
            var vend = getShortTime(end);
            html = html.replace("{end}", vend);
            html = html.replace("{rate}", working.Rate);
            html = html.replace("{wid}", working.Id);
            html = html.replace("{wid}", working.Id);
            html = html.replace("{data}", buildAttributeText(JSON.stringify(working)));
            $(workingBox).append(html);

            var cworking = $(embox).find("." + working.Id);
            var descDOM = $(cworking).find(".time-rate-desc");

            $(cworking).find(".wt-time-remove").click(function () {
                var box = $($(this).parent()).parent();
                var wid = $(box).attr("id");
                showRemoveConfirmation("Bạn muốn xoá giờ làm việc này?", function () {
                    var deleteURL = host + "/api/main/working/delete-working";
                    PNCustomPost(deleteURL, access_token, { id: wid }, function (result) {
                        if (result == "ok") {
                            $(box).remove();
                        }
                    }, function () { });
                });
            });

            $(cworking).find(".wt-time-edit").click(function () {
                var box = $($(this).parent()).parent();
                var wid = $(box).attr("id");
                ewid = wid;
                var text = $(box).attr("jdata");
                var selModel = JSON.parse(getTextFormAttribute(text));
                $("#time-note-edit").val(selModel.Note);
                employeeRow = $($(box).parent()).parent();
                var name = $(employeeRow).find(".aname").text();
                $("#bytimeModalTitleEdit").text("Sửa thời gian làm việc: " + name);
                var uiBegin = convertUIDateTime(selModel.Begin, "/");
                $("#beginDateEdit").val(uiBegin.uiDate);
                makeDatepicker("beginDateEdit", function () { });
                $("#beginTimeEdit").val(uiBegin.uiTime);
                $('#beginTimeEdit').timepicker({
                    minuteStep: 5,
                    showSeconds: false,
                    showMeridian: false,
                    snapToStep: true
                });

                var uiEnd = convertUIDateTime(selModel.End, "/");
                $("#endDateEdit").val(uiEnd.uiDate);
                makeDatepicker("endDateEdit", function () { });
                $("#endTimeEdit").val(uiEnd.uiTime);
                $('#endTimeEdit').timepicker({
                    minuteStep: 5,
                    showSeconds: false,
                    showMeridian: false,
                    snapToStep: true
                });

                $("#wrateEdit").val(selModel.Rate);
                $("#bytime-modal-edit").modal('show');
            });

            registerOwnerInfoLoadCompleted(function (owner) {
                var rate = $(descDOM).attr("rate");
                if (rate == "0") {
                    $(descDOM).text("Bình thường - không nhân");
                }
                else {
                    var l = owner.Rates.length;
                    var rates = owner.Rates;
                    for (var i = 0; i < l; i++) {
                        if (rates[i].Id == rate) {
                            $(descDOM).text(rates[i].Name);
                            break;
                        }
                    }
                }
            });
        }

        function editWTimeItem(working) {
            var workingBox = $("#" + working.Id);
            var begin = new Date(working.Begin * 1000);
            var end = new Date(working.End * 1000);
            var duration = getTimeDistance(working.End - working.Begin);
            $(workingBox).find(".time-delta").text(" (" + duration + ")");
            var vbegin = getShortTime(begin);
            $(workingBox).find(".time-val-begin").text(vbegin);
            var vend = getShortTime(end);
            $(workingBox).find(".time-val-end").text(vend);
            $(workingBox).attr("jdata", buildAttributeText(JSON.stringify(working)));
            var descDOM = $(workingBox).find(".time-rate-desc");
            registerOwnerInfoLoadCompleted(function (owner) {
                var rate = working.Rate;
                $(descDOM).attr("rate", rate);
                if (rate == "0") {
                    $(descDOM).text("Bình thường - không nhân");
                }
                else {
                    var l = owner.Rates.length;
                    var rates = owner.Rates;
                    for (var i = 0; i < l; i++) {
                        if (rates[i].Id == rate) {
                            $(descDOM).text(rates[i].Name);
                            break;
                        }
                    }
                }
            });
        }

        function getTimeDistance(span) {
            span = span / 60;
            var hour = Math.floor(span / 60);
            var minute = span % 60;
            if (minute > 0)
                return hour + " tiếng " + minute + " phút";
            else
                return hour + " tiếng";
        }

        function getShortTime(time) {
            var t = time;
            var hour = t.getHours();
            var min = t.getMinutes();
            return (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());
        }

        function parseDatetime(date, time, c) {
            var split = date.split(c);
            var day = split[0];
            var month = split[1];
            var year = split[2];

            var timeSplit = time.split(':');
            var hour = timeSplit[0];
            var minute = timeSplit[1];
            return new Date(year, month - 1, day, hour, minute, 0, 0);
        }

        function convertUIDateTime(timestapm, c) {
            var date = new Date(timestapm * 1000);
            var day = date.getDate();
            var month = date.getMonth();
            var year = date.getFullYear();
            var result = {};
            result.uiDate = (day < 10 ? "0" + day.toString() : day.toString()) + c + (month < 9 ? "0" + (month + 1).toString() : (month + 1).toString()) + c + year;

            var hour = date.getHours();
            var min = date.getMinutes();
            result.uiTime = (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());

            return result;
        }

        function changeUIButton(e, type, wid, note, approve) {
            if (wid == "") {
                var btn = $(e).find("button");
                $(e).find(".work-action").css("display", "block");
                $(e).find(".work-edit").css("display", "none");
                $(btn).attr("class", "btn btn-secondary dropdown-toggle");
                $(e).attr("type", "none");
                $(e).attr("wid", "");
                var hn = $(e).find(".wnote");
                $(hn).val("");
                $(e).attr("appr", "");
            }
            else if (type == "ok") {
                $(e).attr("wid", wid);
                var btn = $(e).find("button");
                $(e).find(".work-action").css("display", "none");
                $(e).find(".work-edit").css("display", "block");
                $(btn).attr("class", "btn btn-success dropdown-toggle");
                $(e).attr("type", "ok");
                var hn = $(e).find(".wnote");
                $(hn).val(note);
            }
            else {
                $(e).attr("appr", approve ? "y" : "n");
                $(e).attr("wid", wid);
                var btn = $(e).find("button");
                $(e).find(".work-action").css("display", "none");
                $(e).find(".work-edit").css("display", "block");
                if (approve) {
                    $(btn).attr("class", "btn btn-info dropdown-toggle");
                }
                else {
                    $(btn).attr("class", "btn btn-danger dropdown-toggle");
                }
                
                $(e).attr("type", "off");
                var hn = $(e).find(".wnote");
                $(hn).val(note);
            }
        }


        function showNotPermission() {
            alert("Không hợp lệ");
        }

        function setPositionUI(e, p) {
            $($(e).find(".lname")).text(p.Name);
            $(e).attr("class", "position btn btn-pill btn-" + p.Color);
        }

        $("#reviewBTN").click(function () {
            var area = $("#selArea option:selected").text();
            var date = $("#selDate").val();
            var title = "Chấm Công - " + area + " - " + date;
            $("#review-modal-title").text(title);
            $("#reviewBody").empty();
            var count = "<h3 style=\"color:darkgreen; text-align:center\">" + $(".aname").length + " nhân viên</h3>";
            $("#reviewBody").append(count);
            var shiftArea = currentAreaData;
            for (var s = 0; s < shiftArea.Shifts.length; s++) {
                var id = shiftArea.Shifts[s].Id;
                var name = shiftArea.Shifts[s].Name;
                var html = buildShiftReview(id, name);
                $("#reviewBody").append(html);
            }
            $("#reviewModal").modal('show');
        });

        function buildShiftReview(id, name) {
            var shifName = "<h3 style=\"color:blue; margin-top:10px;\">" + name + "</h3>";
            var list = $("." + id);
            var w = 0;
            var o = 0;
            var offHTL = "";
            for (var i = 0; i < list.length; i++) {
                var pa = $(list[i]).parent();
                var val = $(pa).attr("type");
                if (val == "ok")
                    w++;
                else if (val == "off") {
                    o++;
                    var box = $($(pa).parent()).parent();
                    var uname = $(box).find(".aname").text();
                    var oh = "<p style=\"color:red;margin:0px;margin-left:10px;\"><i style=\"color:red\" class=\"icon-1x flaticon2-exclamation\"></i> " + uname + "</p>";
                    offHTL = offHTL + oh;
                }
                    
            }
            var work = "<p>Làm việc: <span style=\"color:blue;font-weight:bold;\">" + w + "</span></p>";
            var off = "<p style=\"margin-bottom:0px;\">Nghỉ: <span style=\"color:red;font-weight:bold;\">" + o + "</span></p>";

            return shifName + work + off + offHTL;
        }
    });
</script>
