﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    if (clientModel.QUser.Role == "C_ADM")
    {
        Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
    }
}

<script>    
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }

</script>

<script src="/Scripts/common-func.js"></script>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="pn-loading" id="summaryLoading">

                </div>

                <div>
                    <center>
                        <div id="avatar" style="height: 100px; width: 100px; border-radius: 50px; border: 1px solid #aaa; background-size: cover; background-position: center; background-image: url('/Images/avatar.png')">
                        </div>
                    </center>
                    <p style="text-align:center; font-size:15px; font-weight:bold; padding-top:5px; color:darkgreen;"><span id="profileName"></span></p>
                </div>
                <div id="summaryBox">

                </div>
                <hr />
                <p style="color:red;"><span>Nghỉ: </span><span id="workOff"></span></p>
                <hr />
                <div style="font-weight:bold;">
                    <span style="color:blue;">Tạm ứng: </span>
                    <span id="userAdvance" style="color:red;"></span>
                    <a href="#" class="btn btn-sm btn-pill btn-info">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>
    <style>
        .timeline-box {
            background-color: white;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 15px;
        }

        .timeline-body {
            padding: 10px;
        }

        .timeline-header {
            height: 55px;
            padding: 10px;
            color: white !important;
        }

            .timeline-header i {
                color: white !important;
                float: left;
            }

        .timeline-bottom {
            margin-bottom: 10px;
            height: 33px;
        }
    </style>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="feedBoxes">

    </div>
</div>

<div class="modal fade" id="postDetail1Modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postDetail1Title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="postDetail1Body">
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/loading-shifts.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/number-format.js"></script>

<script>
    ////Summary
    var shiftAreas = new Array();
    var myWorkings = new Array();
    //showLoading("summaryLoading");
    var mappingUserData = {};
    var mapShift = {};
    $(document).ready(function () {
        registerProfileLoadCompleted(function (profile) {
            if (profile.Avatar)
                $("#avatar").css("background-image", "url('" + host + profile.Avatar + "')");

            $("#profileName").text(profile.FirstName + " " + profile.LastName);
            $("#userAdvance").text(numberWithCommas(profile.Advance) + "đ");
            var today = new Date();
            var url = host + "/api/main/working/get-working-by-user/" + today.getFullYear().toString() + "/" + (today.getMonth() + 1).toString();
            PNCustomGet(url, access_token, function (data) {
                myWorkings = JSON.parse(data);
                loadShifts(function (alist) {
                    shiftAreas = alist;
                    var area = findElementByProperty(shiftAreas, "Id", profile.AreaId);
                    if (area != null) {
                        
                        mapShift = toMapObject(area.Shifts, "Id");
                    }
                    registerOwnerInfoLoadCompleted(function (owner) {
                        var rates = owner.Rates;
                        var mapRate = toMapObject(rates, "Id");
                        var offCount = 0;
                        var sum = {};//id, ten, min, dvt, money
                        for (var i = 0; i < myWorkings.length; i++) {
                            var e = myWorkings[i];
                            if (e.Status == 0) {
                                if (!e.IsOff) {
                                    if (e.ShiftId == "") {
                                        var rate = mapRate[e.Rate];
                                        if (rate) {
                                            if (sum[rate.Id]) {
                                                var min = (e.End - e.Begin) / 60;
                                                sum[rate.Id].min += min;
                                            }
                                            else {
                                                var min = (e.End - e.Begin) / 60;
                                                var si = { id: rate.Id, name: rate.Name, min: min, dvt: "tiếng", rate: rate.RateVal };
                                                sum[rate.Id] = si;
                                            }
                                        }
                                        else {
                                            if (e.Rate == 0) {
                                                if (sum[e.Rate]) {
                                                    var min = (e.End - e.Begin) / 60;
                                                    sum[e.Rate].min += min;
                                                }
                                                else {
                                                    var min = (e.End - e.Begin) / 60;
                                                    var si = { id: e.Rate, name: "Giờ thường", min: min, dvt: "tiếng", rate: 1 };
                                                    sum[e.Rate] = si;
                                                }
                                            }
                                        }
                                    }
                                    else {
                                        //Ca có rate
                                        var shift = mapShift[e.ShiftId];
                                        if (shift) {
                                            if (sum[shift.Id]) {
                                                var min = (e.End - e.Begin) / 60;
                                                sum[shift.Id].min += min;
                                                sum[shift.Id].sc++;
                                            }
                                            else {
                                                var min = (e.End - e.Begin) / 60;
                                                var rate = 1;
                                                if (shift.Rate > 0) {
                                                    rate = mapRate[shift.Rate].RateVal;
                                                }
                                                var si = { id: e.Id, sc: 1, name: shift.Name, min: min, dvt: "ca", rate: rate };
                                                sum[shift.Id] = si;
                                            }
                                        }
                                    }
                                }
                                else {
                                    offCount++;
                                }
                            }
                        }
                        var total = 0;
                        for (var i = 0; i < area.Shifts.length; i++) {
                            var e = area.Shifts[i];
                            if (sum[e.Id]) {
                                var val = sum[e.Id].rate * profile.HValue * sum[e.Id].min / 60;
                                val = Math.round(val);
                                total = total + val;
                                var html = '<p><span style="color:blue;">' + sum[e.Id].name + ': </span><span style="color:red;">' + sum[e.Id].sc + ' ca</span> - <span style="font-weight:bold;">' + numberWithCommas(val) + '</span></p>';
                                $("#summaryBox").append(html);
                            }
                        }

                        for (var i = 0; i < rates.length; i++) {
                            var e = rates[i];
                            if (sum[e.Id]) {
                                var val = e.RateVal * profile.HValue * sum[e.Id].min / 60;
                                val = Math.round(val);
                                total = total + val;
                                var html = '<p><span style="color:blue;">' + sum[e.Id].name + ': </span><span style="color:red;">' + (sum[e.Id].min / 60).toFixed(2) + ' tiếng</span> - <span style="font-weight:bold;">' + numberWithCommas(val) + '</span></p>';
                                $("#summaryBox").append(html);
                            }
                        }
                        if (sum[0]) {
                            var val = profile.HValue * sum[0].min / 60;
                            val = Math.round(val);
                            total = total + val;
                            var html = '<p><span style="color:blue;">' + sum[0].name + ': </span><span style="color:red;">' + (sum[0].min / 60).toFixed(2) + ' tiếng</span> - <span style="font-weight:bold;">' + numberWithCommas(val) + '</span></p>';
                            $("#summaryBox").append(html);
                        }
                        var html = '<p style="font-size:15px; font-weight: bold;"><span style="color:blue;">Tổng: </span><span style="color:darkgreen;">' + numberWithCommas(total) + 'đ</span></p>';
                        $("#summaryBox").append(html);
                        $("#workOff").text(offCount);
                        stopLoading("summaryLoading");

                        registerUserListLoadCompleted(function (ulist) {
                            mappingUserData = toMapObject(ulist, "Username");
                            loadTimeline();
                        });
                    });
                });
            }, function () { });
        });
    });

</script>

<script>
    var absentMoreTemplate = '<div class="symbol symbol-circle symbol-light-danger">'
    '<span class="symbol-label font-weight-bold">{more}+</span>'
    '</div>';

    var absentItemTemplate = '<div class="symbol symbol-circle">' +
        '<img style="width:50px;object-fit: cover;object-position: center;" alt="Pic" src="{src}" />' +
        '</div>';

    var absentTemplate = '<div class="timeline-box" id="{id}" jdata="{jdata}">' +
        '<div class="timeline-header bg-danger">' +
        '<i class="icon-2x flaticon-logout"></i>' +
        '<div style="float:left; margin-left:10px;">' +
        '<h4 style="margin:0px;font-weight:bold; font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif">Vắng mặt</h4>' +
        '<p style="font-style:italic;">{time}</p>' +
        '</div>' +
        '</div>' +
        '<div class="timeline-body">' +
        '<div class="symbol-group symbol-hover absent-items">' +

        '</div>' +
        '<p class="absent-date" style="text-align:center; margin:0px; padding:0px; text-align:center; color:blue;">22/11/2020</p>' +
        '<h4 class="absent-count" style="text-align:center; margin:0px; padding:0px; text-align:center; color:red;"></h4>' +
        '</div>' +
        '<div class="timeline-bottom" style="padding-right:10px;">' +
        '<button style="float:right;" class="btn btn-pill btn-info btn-detail">Chi tiết <i style="margin-top:-2px;" class="icon-1x flaticon2-right-arrow"></i></button>' +
        '</div>' +
        '</div>';

    var cpage = 1;
    var defaultAvatar = '/Images/avatar.png';

    function convertUIDateTime(timestapm, c) {
        var date = new Date(timestapm * 1000);
        var day = date.getDate();
        var month = date.getMonth();
        var year = date.getFullYear();
        var result = {};
        result.uiDate = (day < 10 ? "0" + day.toString() : day.toString()) + c + (month < 9 ? "0" + (month + 1).toString() : (month + 1).toString()) + c + year;

        var hour = date.getHours();
        var min = date.getMinutes();
        result.uiTime = (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());

        return result;
    }

    function loadTimeline() {
        var timelineURL = host + "/api/main/feed/get-feed/" + cpage;
        PNCustomGet(timelineURL, access_token, function (data) {
            var listFeeds = JSON.parse(data);
            for (var i = 0; i < listFeeds.length; i++) {
                var f = listFeeds[i];
                if (f.Type == 0) {
                    appendAbsent(f);
                }
            }
        }, function () { })
    }

    function appendAbsent(feed) {
        var time = getTimeDistance(feed.Time);
        var html = absentTemplate.replace("{time}", time);
        html = html.replace("{id}", feed.Id);
        var jdata = buildAttributeText(JSON.stringify(feed));
        html = html.replace("{jdata}", jdata);
        $("#feedBoxes").append(html);
        var users = JSON.parse(feed.JData);
        var count = 0;
        var mapu = {};
        var box = $("#" + feed.Id + " .absent-items");
        var countText = $("#" + feed.Id + " .absent-count");
        var dateText = $("#" + feed.Id + " .absent-date");
        for (var i = 0; i < users.length; i++) {
            var findUser = mappingUserData[users[i].Username];
            if (findUser) {
                if (!mapu[findUser.Username]) {
                    mapu[findUser.Username] = "1";
                    count++;
                    var avatar = findUser.Avatar ? host + findUser.Avatar : defaultAvatar;
                    var uhtml = absentItemTemplate.replace("{src}", avatar);

                    $(box).append(uhtml);
                }
            }
        }
        $(countText).text(count + " vắng mặt");
        var uiTime = convertUIDateTime(feed.Date, "/");
        $(dateText).text(uiTime.uiDate);
        $("#" + feed.Id + " .btn-detail").click(function () {
            var box = $($(this).parent()).parent();
            var jdata = $(box).attr("jdata");
            var feed = JSON.parse(jdata);
            $("#postDetail1Title").text("Danh sách nhân viên vắng mặt");

            $("#postDetail1Modal").modal('show');
        });
    }

    function getTimeDistance(time) {
        var now = new Date();
        var tick = Math.floor(now.getTime() / 1000) - time;
        if (tick < 120)
            return "Vừa xong";
        else if (tick < 3600) {
            var min = Math.floor(tick / 60);
            return min.toString() + " phút trước";
        }
        else if (tick < 86400) {
            var hour = Math.floor(tick / 3600);
            return hour.toString() + " giờ trước";
        }
        else {
            var day = Math.floor(tick / 86400);
            return day.toString() + " ngày trước";
        }
    }

</script>