﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        @*<div class="adv-item">
            <p style="font-weight:bold; font-size:14px;margin-bottom:0px;"><i class="icon-1x flaticon-add-label-button"></i> <span>21/12/2020 23:34</span> - <span style="color:red;">1.000.000đ</span></p>
            <p style="margin:0px; margin-left: 20px; color:blue;">- Ứng lương tuần ngày 22 tháng 11</p>
            <p style="margin-left:20px;margin-top:0px;">- Đóng tiền nhà trọ</p>
        </div>
        <div class="adv-item">
            <p style="font-weight:bold; font-size:14px;margin-bottom:0px;"><i class="icon-1x flaticon-add-label-button"></i> <span>21/12/2020 23:34</span> - <span style="color:red;">1.000.000đ</span></p>
            <p style="margin:0px; margin-left: 20px; color:blue;">- Ứng lương tuần ngày 22 tháng 11</p>
            <p style="margin-left:20px;margin-top:0px;">- Đóng tiền nhà trọ</p>
        </div>*@
        
        <p style="text-align:center; height:70px; margin-top:0px;">
            <button id="addPlanBTN" class="btn btn-info">Thêm kế hoạch tạm ứng</button>
        </p>
        <div style="margin-bottom:10px;">
            <div style="margin-top:-40px;">
                <div style="margin-right:55px; height:40px;">
                    <input id="stextbox" class="form-control" style="font-style:italic" placeholder="tìm tên nhân viên" />
                </div>
                <button id="searchBTN" class="btn btn-primary" style="float:right; margin-top:-40px;"><i class="icon-1x flaticon-search"></i></button>
            </div>
        </div>
        <div id="employeeBox">

        </div>
        @{ Html.RenderPartial("LoadingBox"); }
    </div>
</div>

<div class="modal fade" id="plan-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm kế hoạch tạm ứng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="planBox">
                </div>
                <div>
                    <p style="margin:0px;">Tên kế hoạch mới</p>
                    <input class="form-control" id="planName" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="submitCreatePlan" type="submit" class="btn btn-primary font-weight-bold">Tạo mới</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="advance-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Báo cáo tạm ứng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin:0px; margin-bottom:10px;"><span>Nhân viên: </span><span id="activeName" style="font-weight:bold; color:darkgreen"></span></p>
                <p style="margin:0px; text-align:center; color:blue; font-weight:bold; font-size:18px;">Giá trị ứng</p>
                <p style="text-align:center"><input id="advValue" style="font-size:18px; color:red; font-weight:bold; text-align:center" class="form-control pn-number" onkeyup="digitsOnly(this)" /></p>
                <select style="width:100%; padding:6px;" id="selPlan">
                </select>
                <p style="margin:0px; margin-top:10px;">Ghi chú:</p>
                <textarea id="note" style="width:100%; height:100px; border:1px solid #454545;"></textarea>
                <label class="checkbox">
                    <input id="postFeed" type="checkbox" />
                    <span style="margin-right:10px;"></span>
                     Ghi lên dòng thời gian
                </label>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="submitCreateAdvance" type="submit" class="btn btn-primary font-weight-bold">Tạm ứng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="advance-modal-rev" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hoàn tiền tạm ứng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin:0px; margin-bottom:10px;"><span>Nhân viên: </span><span id="activeNameRev" style="font-weight:bold; color:darkgreen"></span></p>
                <p style="margin:0px; text-align:center; color:blue; font-weight:bold; font-size:18px;">Giá trị hoàn lại</p>
                <p style="text-align:center"><input id="advValueRev" style="font-size:18px; color:red; font-weight:bold; text-align:center" class="form-control pn-number" onkeyup="digitsOnly(this)" /></p>
                <select style="width:100%; padding:6px;" id="selPlanRev">
                </select>
                <select style="width:100%; padding:6px; margin-top:10px; margin-bottom:10px;" id="selReasonRev">
                    <option value="-1" selected>-Chọn lý do hoàn tiền-</option>
                    <option value="1">Nhập sai</option>
                    <option value="2">Ứng dư trả lại</option>
                    <option value="3">Lý do khác</option>
                </select>
                <label class="checkbox">
                    <input id="postFeedRev" type="checkbox" />
                    <span style="margin-right:10px;"></span>
                    Ghi lên dòng thời gian
                </label>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="submitCreateAdvanceRev" type="submit" class="btn btn-primary font-weight-bold">Hoàn tiền</button>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script>
     var access_token = "@clientModel.Token";
    var host = "@clientModel.HostURL";
    var activedRow;
</script>
<script>
    ////Plans managers
    var isPlanLoaded = false;
    var planList = new Array();
    var planTemplate = '<div class="plan-item">' +
        '<h4 style="font-weight:bold; color:darkgreen">{name}</h4>' +
        '<p style="font-style:italic;"><span>{time}</span> - <span style="font-weight:bold; color:red">{total}</span></p>' +
        '</div>';

    $(document).ready(function () {

        $("#addPlanBTN").click(function () {
            if (!isPlanLoaded) {
                loadPlansInCurrentMonth();
            }
            $("#plan-modal").modal('show');
        });

        $("#submitCreatePlan").click(function () {
            var name = $("#planName").val();
            if (name == "") {
                alert("Bạn chưa đặt tên kế hoạch");
            }
            else {
                var url = host + "/api/main/advance/create-plan";
                PNCustomPost(url, access_token, { name: name }, function (data) {
                    $("#plan-modal").modal('hide');
                    isPlanLoaded = false;
                }, function () { });
            }
        });
    });

    function loadPlansInCurrentMonth() {
        var date = new Date();
        var m = date.getMonth();
        var vmonth = date.getFullYear().toString() + (m < 9 ? "0" + (m + 1).toString() : (m + 1).toString());
        var url = host + "/api/main/advance/get-plan-by-month/" + vmonth;
        PNCustomGet(url, access_token, function (data) {
            var list = JSON.parse(data);
            planList = list;
            $("#planBox").empty();
            $("#selPlan").empty();
            $("#selPlanRev").empty();
            $("#selPlan").append('<option value="-1" selected>-Chọn kế hoạch-</option>');
            $("#selPlanRev").append('<option value="-1" selected>-Chọn kế hoạch-</option>');
            for (var i = 0; i < list.length; i++) {
                var html = planTemplate.replace("{name}", list[i].Name);
                html = html.replace("{time}", list[i].CreateDate);
                html = html.replace("{total}", numberWithCommas(list[i].Total));
                $("#planBox").append(html);
                var option = '<option value="' + list[i].Id + '">' + list[i].Name + '</option>';
                $("#selPlan").append(option);
                $("#selPlanRev").append(option);
            }

            isPlanLoaded = true;
        }, function () { alert("Có lỗi xảy ra"); });
    }
</script>

<script>

    var emTemplate = '<div class="user-item" id="{us}" style="padding:15px; border-radius:5px; border:2px solid #0e4a9b; margin-bottom:10px;">'+
                        '<div style="height:100px; overflow:hidden;">'+
                            '<img class="apic" style="height:100px; width:100px; border-radius:5px; border:1px solid #ff6a00;" src="{photo}">'+
                            '<div style="margin-left:110px; top:-100px; position:relative;">'+
                                '<p class="aname" style="font-size:18px; font-weight:bold; margin-bottom:5px;">{name}</p>'+
                                '<p style="margin-bottom:5px;"><button position-id="{pid}" tag="info" class="position btn btn-pill btn-secondary"><i class="icon-1x flaticon2-layers" style="color:white; margin-right:5px;"></i> <span class="lname">Chưa có vai trò</span></button></p>'+
                                '<p style="font-size:16px;"><span>Làm việc: </span><span class="label label-primary label-inline font-weight-bolder mr-2">{w} (tiếng)</span><span>Nghỉ: </span><span class="label label-danger label-inline font-weight-bold mr-2">{s} (ca)</span></p>'+
                            '</div>'+
                        '</div>'+
                        '<div class="adv-boxx" style="margin-top:10px;"></div>'+
                        '<div style="width:100%; min-height:10px; margin-top:10px; overflow:hidden;">'+
                            '<p class="user-money" style="font-weight:bold;color:red; margin-top:10px;margin-bottom:0px; float:left; font-size:16px;">{money}</p>'+
                            '<button style="float:right; padding-left:15px;" class="btn btn-warning btnMake"><i class="icon-1x flaticon2-plus"></i></button>'+
                            '<button style="float:right; margin-right:10px;" class="btn btn-danger btnUndo"><i class="icon-1x flaticon2-reply"></i></button>'+
                        '</div>'+
        '</div>';
    var advTemplate = '<div class="adv-item">'+
                            '<p style="font-weight:bold; font-size:14px;margin-bottom:0px;"><i class="icon-1x flaticon-add-label-button"></i> <span>{time}</span> - <span style="color:red;">{money}</span></p>'+
                            '<p class="adv-plan" style="margin:0px; margin-left: 20px; color:blue; display:{plan-dis};">- {plan}</p>'+
                            '<p class="adv-note" style="margin-left:20px;margin-top:0px;display:{note-dis};">- {note}</p>'+
                        '</div>';

    $(document).ready(function () {
       
        var dataSource = new Array();
        var today = new Date();
        var store = {};

        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            dataSource = list;
            renderAdvance(today.getFullYear(), today.getMonth() + 1, "");
            
        }, function () { showRetry(); });

        function renderAdvance(year, month, search) {
            $("#employeeBox").empty();
            var list = dataSource;
            for (var i = 0; i < list.length; i++) {
                var render = false;
                if (search != "") {
                    if (list[i].UName && list[i].UName.indexOf(search.toLowerCase()) >= 0) {
                        render = true;
                    }
                }
                else
                    render = true;

                if (render) {
                    var avatar = list[i].Avatar ? host + list[i].Avatar : "/Images/avatar.png";
                    var html = emTemplate.replace("{photo}", avatar).replace("{us}", list[i].Username).replace("{name}", list[i].FirstName + " " + list[i].LastName);
                    html = html.replace("{w}", parseFloat(list[i].HW / 60).toFixed(1)).replace("{s}", list[i].SO).replace("{pid}", list[i].Position);
                    if (list[i].Advance) {
                        var money = numberWithCommas(list[i].Advance);
                        html = html.replace("{money}", money + "đ");
                    }
                    else
                        html = html.replace("{money}", "0đ");

                    $("#employeeBox").append(html);
                }
            }
            hideLoadingBox();
            loadPositions(host, access_token, latestChanges.PositionChanged, function (posList) {
                var positions = $(".position");
                var cachePost = {};
                for (var i = 0; i < positions.length; i++) {
                    var pid = $(positions[i]).attr("position-id");
                    if (!cachePost[pid]) {
                        for (var p = 0; p < posList.length; p++) {
                            if (pid == posList[p].Id) {
                                cachePost[pid] = posList[p];
                                setPositionUI(positions[i], posList[p]);
                                break;
                            }
                        }
                    }
                    else {
                        setPositionUI(positions[i], cachePost[pid]);
                    }
                }
            });

            loadAdvances(year, month);

            $(".btnMake").click(function () {
                activedRow = $($(this).parent()).parent();
                if (!isPlanLoaded) {
                    loadPlansInCurrentMonth();
                }

                var name = $(activedRow).find(".aname").text();
                $("#activeName").text(name);
                $("#advance-modal").modal('show');
                setTimeout(function () { $("#advValue").focus(); }, 500);
                
            });

            $(".btnUndo").click(function () {
                activedRow = $($(this).parent()).parent();
                if (!isPlanLoaded) {
                    loadPlansInCurrentMonth();
                }

                var name = $(activedRow).find(".aname").text();
                $("#activeNameRev").text(name);
                $("#advance-modal-rev").modal('show');
                setTimeout(function () { $("#advValueRev").focus(); }, 500);
            });

        }

        function loadAdvances(year, month) {
            var vmonth = year.toString() + (month > 9 ? month.toString() : "0" + month.toString());
            var url = host + "/api/main/advance/get-advance-by-month/" + vmonth;
            PNCustomGet(url, access_token, function (data) {
                var list = JSON.parse(data);
                for (var i = 0; i < list.length; i++) {
                    var e = list[i];
                    appendAdvanItem(e.Username, e, !e.IsActive);                   
                    
                }
            }, function () { });
        }

        function appendAdvanItem(username, adv, isRev) {
            e = adv;
            var html = advTemplate.replace("{time}", e.CreateDate);
            var money = numberWithCommas(e.Money);
            if (!isRev)
                html = html.replace("{money}", money + "đ");
            else
                html = html.replace("{money}", "[-" + money + "đ]");

            if (e.PlanName != "") {
                html = html.replace("{plan}", e.PlanName);
                html = html.replace("{plan-dis}", "block");
            }
            else {
                html = html.replace("{plan-dis}", "none");
            }

            if (e.Note != "") {
                html = html.replace("{note}", e.Note);
                html = html.replace("{note-dis}", "block");
            }
            else {
                html = html.replace("{note-dis}", "none");
            }

            var employeeBox = $("#" + username);
            if (employeeBox) {
                var advBox = $(employeeBox).find(".adv-boxx");
                $(advBox).append(html);
            }
        }

        function filterByQuery(query) {
            $(".user-item").css("display", "none");
            var list = dataSource;
            for (var i = 0; i < list.length; i++) {
                var render = false;
                if (query != "") {
                    if (list[i].UName && list[i].UName.indexOf(query.toLowerCase()) >= 0) {
                        render = true;
                    }
                }
                else
                    render = true;

                if (render) {
                    $("#" + list[i].Username).css("display", "block");
                }
            }
        }

        $("#searchBTN").click(function () {
            var query = $("#stextbox").val();
            filterByQuery(query);
        });

        $('#stextbox').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                var query = $("#stextbox").val();
                filterByQuery(query);
            }
        });

        $("#submitCreateAdvance").click(function () {
            var value = $("#advValue").val();
            var text = value.split(".").join("");           
            var money = parseInt(text);
            if (money <= 0 || text == "") {
                alert("Giá trị nhập không hợp lệ!")
            }
            else {
                var post = {};
                post.money = money;
                post.plan = $("#selPlan").val();
                post.note = $("#note").val();
                post.feed = $("#postFeed").prop("checked");
                post.username = $(activedRow).attr("id");
                var url = host + "/api/main/advance/post-new-advance";
                PNCustomPost(url, access_token, post, function (data) {
                    if (data != "") {
                        var split = data.split('*');
                        var text = $($(activedRow).find(".user-money")).text();
                        var number = text.substr(0, text.length - 1);
                        var v = number.split(".").join("");
                        var ammount = parseInt(v);
                        var icr = parseInt(post.money);
                        var total = ammount + icr;
                        var mt = numberWithCommas(total.toString());
                        $($(activedRow).find(".user-money")).text(mt + "đ");

                        var obj = {};
                        obj.Money = icr;
                        obj.Note = post.note;
                        obj.CreateDate = split[1];
                        var plan = $("#selPlan").val();
                        if (plan == "-1")
                            obj.PlanName = "";
                        else
                            obj.PlanName = $("#selPlan option:selected").text();

                        appendAdvanItem(post.username, obj, false);
                    }
                }, function () { });
                $("#advance-modal").modal('hide');
            }
        });

        $("#submitCreateAdvanceRev").click(function () {
            var value = $("#advValueRev").val();
            var text = value.split(".").join("");
            var money = parseInt(text);
            var reason = $("#selReasonRev").val();
            if (money <= 0 || text == "") {
                alert("Giá trị nhập không hợp lệ!");
            }
            else if (reason == "-1") {
                alert("Bạn chưa chọn lý do");
            }
            else {
                var post = {};
                post.money = money;
                post.plan = $("#selPlanRev").val();
                post.note = $("#selReasonRev option:selected").text();
                post.feed = $("#postFeed").prop("checked");
                post.username = $(activedRow).attr("id");
                var url = host + "/api/main/advance/post-new-advance-rev";
                PNCustomPost(url, access_token, post, function (data) {
                    if (data != "") {
                        var split = data.split('*');
                        var text = $($(activedRow).find(".user-money")).text();
                        var number = text.substr(0, text.length - 1);
                        var v = number.split(".").join("");
                        var ammount = parseInt(v);
                        var icr = parseInt(post.money);
                        var total = ammount - icr;
                        var mt = numberWithCommas(total.toString());
                        $($(activedRow).find(".user-money")).text(mt + "đ");

                        var obj = {};
                        obj.Money = icr;
                        obj.Note = $("#selReasonRev option:selected").text();
                        obj.CreateDate = split[1];
                        var plan = $("#selPlanRev").val();
                        if (plan == "-1")
                            obj.PlanName = "";
                        else
                            obj.PlanName = $("#selPlanRev option:selected").text();

                        appendAdvanItem(post.username, obj, true);
                    }
                }, function () { });
                $("#advance-modal-rev").modal('hide');
            }
        });


        function setPositionUI(e, p) {
            $($(e).find(".lname")).text(p.Name);
            $(e).attr("class", "position btn btn-pill btn-" + p.Color);
        }
    });
</script>