﻿@model hrcloud.EFWIDGET.NTCustomer
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    string avatar = string.IsNullOrEmpty(Model.Logo) ? "/Images/avatar.png" : Model.Logo;


    int page = (int)ViewBag.Page;
    int middlePage = page < 4 ? 3 : page;
    string url = Request.Url.PathAndQuery;
    int j = 1;

    var listPayments = (List<hrcloud.EFWIDGET.NTPayment>)ViewBag.Pays;

}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>


<link href="/Content/swipe/photoswipe.css" rel="stylesheet" />
<link href="/Content/swipe/default-skin.css" rel="stylesheet" />

<script src="/Scripts/swipe/photoswipe-min.js"></script>
<script src="/Scripts/swipe/photoswipe-ui-default-min.js"></script>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>

    function getPhotoData(element) {
        var list = new Array();
        var text = $(element).attr("photo-data");
        var arr = JSON.parse(text);
        for (var i = 0; i < arr.length; i++) {
            var m = {
                src: arr[i].URL,
                w: 0,
                h: 0,
                title: arr[i].Desc
            };
            list.push(m);
        }
        return list;
    }

    var pswpElement;

    $(document).ready(function () {
        pswpElement = document.querySelectorAll('.pswp')[0];
        $(".view-photo").click(function () {
            var mapLoaded = {};

            var photoList = getPhotoData(this);

            var options = {
                index: 0
            };
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, photoList, options);
            gallery.listen('gettingData', function (index, item) {
                if (item.w < 1 || item.h < 1) { // unknown size
                    if (!mapLoaded[item.src]) {
                        mapLoaded[item.src] = "load";
                        var img = new Image();
                        img.onload = function () { // will get size after load
                            item.w = this.width; // set image width
                            item.h = this.height; // set image height
                            gallery.invalidateCurrItems(); // reinit Items
                            gallery.updateSize(true); // reinit Items
                        }
                        img.src = item.src; // let's download image
                    }
                }
            });

            gallery.init();
            return false;
        });
    });
</script>

<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align: center; margin-bottom:0px;">
            <img id="avatar" src="@avatar" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
        </p>
        <h3 style="text-align:center; color:blue;">@Model.Name</h3>

        <div>
            @foreach (var p in listPayments)
            {
                <div class="alert alert-dark">
                    <h3><span>@p.CreateDate.ToString("dd/MM/yyyy")</span><button photo-data="@p.Photo" style="float:right" class="btn btn-warning view-photo"><i class="flaticon2-photograph"></i> Ảnh</button></h3>
                    <h3>
                        <span>- </span><span class="number-format" tag="@p.Val"></span>
                    </h3>
                    <p style="font-style:italic">@p.Note
                    </p>
                </div>
            }
        </div>

        <div style="margin-top: 30px; margin-bottom: 20px;">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a id="fpage" class="page-link" href="#">Trang đầu</a>
                </li>
                @for (int i = middlePage - 2; i <= middlePage + 2; i++)
                {
                    if (i == page)
                    {
                        <li class="page-item active">
                            <a id="@{@j}page" class="page-link" href="#">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a id="@{@j}page" class="page-link" href="#">@i</a>
                        </li>
                    }
                    j++;
                }

                <li class="page-item">
                    <a id="next-page" class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@{ Html.RenderPartial("LoadingIndicator"); }

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>

<script>

    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });
    }

    var postMultiPhotoURL = "/api/main/post-multi-photo";
    var photoBox;

    var pmURL = "/api/widget/nguyen-trang/post-do-payment";

    $(document).ready(function () {

        displayPrices();

        photoBox = new MultiPhotoBox("workingPhoto", "", new Array(), postMultiPhotoURL);
        photoBox.renderUI();

        $("#btnSubmit").click(function () {
            var model = {};
            model.date = $("#selDate").val();
            model.cid = "@Model.CustomerId";
            model.value = $("#value").val();
            if (!model.value) {
                alert("Bạn chưa nhập giá trị cần thanh toán");
                return false;
            }
            model.note = $("#note").val();
            model.photo = photoBox.getMultiPostData();;
            $("#btnSubmit").prop("disabled", true);
            showLoadingIndicator("Đang thực hiện");
            PNPost(pmURL, model, function (data) {
                if (data == "ok") {
                    setTimeout(function () {
                        hideLoadingIndicator();
                        window.location.href = "/hr-cloud/widget/nt/customer-detail/" + model.cid;
                    }, 1000);
                }

            }, function () { alert("Có lỗi xảy ra") });
        });

        paging();
    });

    function paging() {
                var fullURL = "";
                var currentPage = parseInt("@ViewBag.Page");
                var mpage = parseInt("@middlePage");
                fullURL = window.location.toString().toLowerCase();
                var index = fullURL.indexOf("page=");
                if (index < 0) {
                    var findand = fullURL.indexOf("?");
                    var c = findand < 0 ? "?" : "&";
                    $("#fpage").attr("href", fullURL + c + "page=1");
                    $("#1page").attr("href", fullURL + c + "page=1");
                    $("#2page").attr("href", fullURL + c + "page=2");
                    $("#3page").attr("href", fullURL + c + "page=3");
                    $("#4page").attr("href", fullURL + c + "page=4");
                    $("#5page").attr("href", fullURL + c + "page=5");
                    $("#next-page").attr("href", fullURL + "page=2");
                }
                else {
                    var findand = fullURL.indexOf("&", index);
                    if (findand < 0) {
                        var begin = fullURL.substr(0, index);
                        $("#fpage").attr("href", begin + "page=1");
                        $("#1page").attr("href", begin + "page=" + (mpage - 2));
                        $("#2page").attr("href", begin + "page=" + (mpage - 1));
                        $("#3page").attr("href", begin + "page=" + mpage);
                        $("#4page").attr("href", begin + "page=" + (mpage + 1));
                        $("#5page").attr("href", begin + "page=" + (mpage + 2));
                        $("#next-page").attr("href", begin + "page=" + (currentPage + 1));
                    }
                    else {
                        var begin = fullURL.substr(0, index);
                        var end = fullURL.substr(findand, fullURL.length - findand);
                        $("#fpage").attr("href", begin + "page=1" + end);
                        $("#1page").attr("href", begin + "page=" + (mpage - 2) + end);
                        $("#2page").attr("href", begin + "page=" + (mpage - 1) + end);
                        $("#3page").attr("href", begin + "page=" + mpage + end);
                        $("#4page").attr("href", begin + "page=" + (mpage + 1) + end);
                        $("#5page").attr("href", begin + "page=" + (mpage + 2) + end);
                        $("#next-page").attr("href", begin + "page=" + (currentPage + 1) + end);
                    }
                }
            }

    function displayPrices() {
        var list = $(".number-format");
        for (var i = 0; i < list.length; i++) {
            var val = $(list[i]).attr("tag");
            var num = parseInt(val);
            $(list[i]).text(numberWithCommas(num));
        }
    }
</script>
