﻿@model IEnumerable<hrcloud.EFWIDGET.NTCustomer>
@{
    ViewBag.Title = "UserSummary";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    decimal totalMoney = 0;
    decimal totalCurrentMoney = 0;
    int totalWeight = 0;
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>


<style>
    .imgBox {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 2px solid #aaa;
        background-size: cover;
        background-position: center
    }

</style>

<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align:center; margin-bottom:20px;"><a class="btn btn-primary" href="/hr-cloud/widget/nt/add-customer"><i class="flaticon2-add-1"></i> Thêm khách hàng</a></p>

        <h4><span>Tổng công nợ: </span><span id="totalC" class="badge badge-inline badge-danger number-format"></span></h4>
        <h4><span>Tổng doanh số: </span><span id="totalM" class="badge badge-inline badge-info number-format"></span></h4>
        <h4><span>Tổng khối lượng: </span><span id="totalW" class="number-format"></span><span> (kg)</span></h4>
        <div id="">
            @foreach (var item in Model)
            {
                totalWeight = totalWeight + item.WCount;
                totalCurrentMoney = totalCurrentMoney + item.CMoney;
                totalMoney = totalMoney + item.Money;

            <div id="" class="proItem" style="min-height:100px; width:100%; border:1px solid blue; border-radius:10px;padding:10px; padding-bottom:10px; margin-top:10px; ">
                <div class="imgBox" style="background-image: url('@item.Logo');">
                </div>


                <div style="margin-left:110px; margin-top:-100px; height:100px; position:relative;">
                    <p style="margin:0px; height:20px;">
                        <span class="badge badge-inline badge-danger number-format" tag="@item.CMoney" style="float:left;"></span>
                        <a style="float:right;" href="/hr-cloud/widget/nt/customer-detail/@item.CustomerId" class="btn btn-sm btn-warning">Chi tiết</a>

                    </p>
                    <div style="height:57px; padding-top:10px;">
                        <h5 class="res-detail" style="color:blue;">@item.Name</h5>
                        <p style="font-style:italic">@item.Address</p>
                    </div>
                    <p><span style="font-style:italic; color:black"><span class="number-format" tag="@item.WCount"></span> (kg)</span><span style="float:right;" class="badge badge-info number-format" tag="@item.Money"></span></p>


                </div>
                <p style="margin-bottom:0px; margin-top:10px;">
                    <a style="margin-right:5px;" href="/hr-cloud/widget/nt/customer-histories/@item.CustomerId" class="btn btn-sm btn-dark"><i class="flaticon2-zig-zag-line-sign"></i> Thanh toán</a>
                    <a style="margin-right:5px;" href="/hr-cloud/widget/nt/customer-account-changes/@item.CustomerId" class="btn btn-sm btn-success"><i class="flaticon2-zig-zag-line-sign"></i> Công nợ</a>
                </p>
                
            </div>
            }
        </div>
    </div>
</div>


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script>
    function toMapObject(array, name) {
        var res = {};
        for (var i = 0; i < array.length; i++) {
            var val = array[i][name];
            res[val] = array[i];
        }
        return res;
    }

    var map = {};
    var crow;
    var cid;
    $(document).ready(function () {
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";

        $("#totalW").attr("tag", "@totalWeight");
        $("#totalC").attr("tag", "@totalCurrentMoney");
        $("#totalM").attr("tag", "@totalMoney");

        displayPrices();
    });

    function displayPrices() {
        var list = $(".number-format");
        for (var i = 0; i < list.length; i++) {
            var val = $(list[i]).attr("tag");
            var num = parseInt(val);
            $(list[i]).text(numberWithCommas(num));
        }
    }
</script>

