﻿@model hrcloud.EFWIDGET.NTCustomer
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    string avatar = string.IsNullOrEmpty(Model.Logo) ? "/Images/avatar.png" : Model.Logo;
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>
<style>
    .alert {
        padding: 5px !important;
    }
</style>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align: center; margin-bottom:0px;">
            <img id="avatar" src="@avatar" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
        </p>
        <h3 style="text-align:center; color:blue;">@Model.Name</h3>


        <div class="row">
            <div class="col-12">
                <div class=" alert alert-danger">
                    <h3 style="text-align:center;">Công nợ</h3>
                    <h3 class="number-format" tag="@Model.CMoney" style="text-align:center;"></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Chọn ngày</p>
                <div class="input-group date">
                    <input style="cursor:pointer;" type="text" class="form-control" readonly="" value="@DateTime.Now.ToString("dd/MM/yyyy")" id="selDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Số tiền</p>
                <input class="form-control pn-number" id="value"/>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Nội dung / Ghi chú</p>
                <input class="form-control" id="note"/>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Hình ảnh liên quan</p>
                <div id="workingPhoto">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12" style="text-align:center;">
                <button class="btn btn-primary" id="btnSubmit">Thực hiện thanh toán</button>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-12">
                <a style="width:100%" class="btn btn-dark" href="/hr-cloud/widget/nt/customer-histories/@Model.CustomerId">Xem lịch sử thanh toán</a>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("LoadingIndicator"); }

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>

<script>

    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });
    }

    var postMultiPhotoURL = "/api/main/post-multi-photo";
    var photoBox;

    var pmURL = "/api/widget/nguyen-trang/post-do-payment";

    $(document).ready(function () {
        makeDatepicker("selDate");
        displayPrices();

        photoBox = new MultiPhotoBox("workingPhoto", "", new Array(), postMultiPhotoURL);
        photoBox.renderUI();

        $("#btnSubmit").click(function () {
            var model = {};
            model.date = $("#selDate").val();
            model.cid = "@Model.CustomerId";
            model.value = $("#value").val();
            if (!model.value) {
                alert("Bạn chưa nhập giá trị cần thanh toán");
                return false;
            }
            model.note = $("#note").val();
            model.photo = photoBox.getMultiPostData();;
            $("#btnSubmit").prop("disabled", true);
            showLoadingIndicator("Đang thực hiện");
            PNPost(pmURL, model, function (data) {
                if (data == "ok") {
                    setTimeout(function () {
                        hideLoadingIndicator();
                        window.location.href = "/hr-cloud/widget/nt/customer-detail/" + model.cid;
                    }, 1000);
                }

            }, function () { alert("Có lỗi xảy ra") });
        });
    });

    function displayPrices() {
        var list = $(".number-format");
        for (var i = 0; i < list.length; i++) {
            var val = $(list[i]).attr("tag");
            var num = parseInt(val);
            $(list[i]).text(numberWithCommas(num));
        }
    }
</script>
