﻿@model hrcloud.EFWIDGET.NTCustomer
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    string avatar = string.IsNullOrEmpty(Model.Logo) ? "/Images/avatar.png" : Model.Logo;
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>
<style>
    .alert{
        padding:5px !important;
    }
</style>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="height:40px;">
            <a style="float:left" href="/hr-cloud/widget/nt/edit-customer/@Model.CustomerId" class="btn btn-primary"><i class="flaticon2-pen"></i> Sửa</a>
            <a style="float:right" href="/hr-cloud/widget/nt/make-payment/@Model.CustomerId" class="btn btn-dark"><i class="flaticon-price-tag"></i> Thanh toán</a>
        </p>
        <p style="text-align: center; margin-bottom:0px;">
            <img id="avatar" src="@avatar" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
        </p>
        <h3 style="text-align:center; color:blue;">@Model.Name</h3>

        <div class="row">
            <div class="col-xs-12 col-sm-12, col-md-12 col-lg-4">
                <div class=" alert alert-danger">
                    <h3 style="text-align:center;">Công nợ</h3>
                    <h3 class="number-format" tag="@Model.CMoney" style="text-align:center;"></h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12, col-md-12 col-lg-4">
                <div class="alert alert-info">
                    <h3 style="text-align:center;">Tổng doanh số</h3>
                    <h3 class="number-format" tag="@Model.Money" style="text-align:center;"></h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12, col-md-12 col-lg-4">
                <div class=" alert alert-warning">
                    <h3 style="text-align:center;">Tổng khối lượng</h3>
                    <h3 class="number-format" tag="@Model.WCount" style="text-align:center;"></h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-12">
                <p style="color:blue; margin:0px;">Link khách hàng</p>
                <input class="form-control" value="http://hrcenter.vn/hr-cloud/widget/nt/customer/@Model.CustomerId" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-12">
                <a style="width:100%" class="btn btn-dark" href="/hr-cloud/widget/nt/customer-histories/@Model.CustomerId">Xem lịch sử thanh toán</a>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-12">
                <a style="width:100%" class="btn btn-success" href="/hr-cloud/widget/nt/customer-account-changes/@Model.CustomerId">Xem lịch thay đổi công nợ</a>
            </div>
        </div>
    </div>
</div>
<input style="visibility:hidden;" type="file" id="avatar_file" accept="image/x-png,image/gif,image/jpeg" />


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>

<script>


    

    $(document).ready(function () {
        displayPrices();
    });

    function displayPrices() {
        var list = $(".number-format");
        for (var i = 0; i < list.length; i++) {
            var val = $(list[i]).attr("tag");
            var num = parseInt(val);
            $(list[i]).text(numberWithCommas(num));
        }
    }
</script>
