﻿@{
    ViewBag.Title = "UserSummary";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<script src="/Scripts/number-format.js"></script>
<script src="/Scripts/datepicker.js"></script>

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Chọn ngày</p>
                <div class="input-group date">
                    <input style="cursor:pointer;" type="text" class="form-control" readonly="" value="@DateTime.Now.ToString("dd/MM/yyyy")" id="selDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="margin-top:10px;">
                <button id="selCus" style="width: 100%; margin-top: 10px;" class="btn btn-secondary">Chọn khách hàng</button>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-6" style="text-align:center;">
                <button id="typeAdd" class="btn btn-secondary">Cộng thêm</button>
            </div>
            <div class="col-6" style="text-align:center;">
                <button id="typeSub" class="btn btn-secondary">Trừ lại</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12" style="margin-top:10px; text-align:center;">
                <center>
                    <input class="form-control  pn-number" id="dval" placeholder="Số tiền" style="text-align:center; border:1px solid #ff6a00; font-size:17px; width:200px; color:red" />
                </center>
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-12">
                <textarea id="note" style="width:100%; height:100px;" placeholder="Ghi chú"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Hình ảnh liên quan</p>
                <div id="workingPhoto">

                </div>
            </div>
        </div>

        <p style="text-align:center; margin-top:10px;"><button id="btnSubmit" class="btn btn-danger">Hoàn thành</button></p>
    </div>
</div>

<div class="modal fade" id="customerModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CHỌN KHÁCH HÀNG</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="cusSelBox" class="list-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="plasticModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CHỌN LOẠI NHỰA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="plasSelBox" class="list-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="orderModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CHỌN ĐƠN HÀNG</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="orderSelBox" class="list-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>


@{ Html.RenderPartial("LoadingIndicator"); }

<script>
    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });
    }
    var wdata;

    var isBindCus = false;
    var isBindPlas = false;
    var isBindOrder = false;

    var customerIdSelected;
    var plasticIdSelected;

    var postMultiPhotoURL = "/api/main/post-multi-photo";

    var oid;

    function getCustomer(cid) {
        if (wdata) {
            for (var i = 0; i < wdata.customers.length; i++) {
                if (cid == wdata.customers[i].CustomerId)
                    return wdata.customers[i];
            }
            return "";
        }
        else
            return "";
    }

    function getPlastic(pid) {
        if (wdata) {
            for (var i = 0; i < wdata.plastics.length; i++) {
                if (pid == wdata.plastics[i].PlasticId)
                    return wdata.plastics[i];
            }
            return null;
        }
        else
            return null;
    }

    var type = 0;

    $(document).ready(function () {

        makeDatepicker("selDate");

        $("#typeAdd").click(function () {
            type = 1;
            
            $("#typeAdd").removeClass("btn-secondary");
            $("#typeAdd").removeClass("btn-primary");
            $("#typeAdd").addClass("btn-primary");

            $("#typeSub").removeClass("btn-primary");
            $("#typeSub").removeClass("btn-secondary");
            $("#typeSub").addClass("btn-secondary");
        });

        $("#typeSub").click(function () {
            type = 2;

            $("#typeSub").removeClass("btn-secondary");
            $("#typeSub").removeClass("btn-primary");
            $("#typeSub").addClass("btn-primary");

            $("#typeAdd").removeClass("btn-primary");
            $("#typeAdd").removeClass("btn-secondary");
            $("#typeAdd").addClass("btn-secondary");
        });
        //

        $("#selCus").click(function () {
            if (!wdata) {
                loadWData(displayCusItems);
            }
            else {
                displayCusItems();
            }
            $("#customerModal").modal('show');
        });

        function displayCusItems() {
            if (!isBindCus) {
                for (var i = 0; i < wdata.customers.length; i++) {
                    var html = '<a style="cursor:pointer;" tag="' + wdata.customers[i].CustomerId + '" class="list-group-item cus-item" tag-name="' + wdata.customers[i].Name + '"> ' + wdata.customers[i].Name + ' </a>'
                    $("#cusSelBox").append(html);
                }

                isBindCus = true;

                $(".cus-item").click(function () {
                    $("#customerModal").modal('hide');
                    var id = $(this).attr("tag");
                    customerIdSelected = id;
                    var name = $(this).attr("tag-name");
                    $("#selCus").text(name);
                    $("#selCus").removeClass("btn-secondary");
                    $("#selCus").addClass("btn-primary");
                });
            }
        }

        function loadWData(callback) {
            PNGet("/api/widget/nguyen-trang/get-cp-data", function (data) {
                wdata = JSON.parse(data);
                callback();
            }, function () { alert("Có lỗi xảy ra") });
        }

        photoBox = new MultiPhotoBox("workingPhoto", "", new Array(), postMultiPhotoURL);
        photoBox.renderUI();
        $("#btnSubmit").prop("disabled", false);
        $("#btnSubmit").click(function () {
            var model = {};
            model.date = $("#selDate").val();
            model.customer = customerIdSelected;
            model.type = type;
            model.photo = photoBox.getMultiPostData();
            model.note = $("#note").val();
            model.value = $("#dval").val();
            if (!customerIdSelected) {
                alert("Bạn chưa chọn khách hàng");
                return false;
            }
            if (model.type == 0) {
                alert("Bạn chưa chọn loại tăng / giảm");
                return false;
            }
            if (!model.note) {
                alert("Bạn chưa nhập lý do");
                return false;
            }
            if (!model.value) {
                alert("Bạn chưa nhập gái trị tiền");
                return false;
            }
            
            var url = "/api/widget/nguyen-trang/post-directly-account";
            $("#btnSubmit").prop("disabled", true);
            showLoadingIndicator("Đang thực hiện");
            PNPost(url, model, function (data) {
                if (data == "ok") {
                    setTimeout(function () {
                        hideLoadingIndicator();
                        window.location.href = "/hr-cloud/widget/nt/customers";
                    }, 1000);
                }
            }, function () { alert("Có lỗi xảy ra") });
        });
    });

    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

    function convertUIDateTime(timestapm, c) {
        var date = new Date(timestapm * 1000);
        var day = date.getDate();
        var month = date.getMonth();
        var year = date.getFullYear();
        var result = {};
        result.uiDate = (day < 10 ? "0" + day.toString() : day.toString()) + c + (month < 9 ? "0" + (month + 1).toString() : (month + 1).toString()) + c + year;

        var hour = date.getHours();
        var min = date.getMinutes();
        result.uiTime = (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());

        return result;

    }

</script>

