﻿@model hrcloud.EFWIDGET.NTCustomer
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    string avatar = string.IsNullOrEmpty(Model.Logo) ? "/Images/avatar.png" : Model.Logo;
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align: center; margin-bottom:0px;">
            <img id="avatar" src="@avatar" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
        </p>
        <p style="margin-top:2px; text-align:center;"><button id="uploadPhotoAvatar" class="btn btn-sm btn-warning" style="padding-left:13px;"> <i class="icon-1x flaticon-photo-camera"></i></button></p>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Tên khách hàng</p>
                <input id="name" type="text" class="form-control" autocomplete="off" value="@Model.Name" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px;  margin-top:10px;">Địa chỉ</p>
                <input id="addr" type="text" class="form-control" autocomplete="off" value="@Model.Address" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Số điện thoại liên lạc</p>
                <input id="phone" type="text" class="form-control" autocomplete="off" value="@Model.Phone" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px;  margin-top:10px;">Email</p>
                <input id="email" type="text" class="form-control" autocomplete="off" value="@Model.Email" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Người liên hệ</p>
                <input id="contact" type="text" class="form-control" autocomplete="off" value="@Model.ContactName" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px;  margin-top:10px;">Mật khẩu xem link</p>
                <input id="note" type="text" class="form-control" autocomplete="off" value="@Model.Note" />
            </div>
        </div>

        <p style="text-align:center; margin-top:10px;"><button id="btnSubmit" class="btn btn-primary">Cập nhật</button></p>
    </div>
</div>
<input style="visibility:hidden;" type="file" id="avatar_file" accept="image/x-png,image/gif,image/jpeg" />

@{ Html.RenderPartial("LoadingIndicator"); }

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>

<script>


    var photoUploadURL_Result;
    var newAvatar = "";

    function findElementById(list, id) {
        for (var i = 0; i < list.length; i++) {
            if (list[i].Id == id) {
                return list[i];
            }
        }
        return null;
    }

    $(document).ready(function () {
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var postSimplePhotoURL = "/api/main/post-photo";
        var photoBox;


        $("#uploadPhotoAvatar").click(function () {
            $("#avatar_file").click();
        });

        registerSimpleUpload("avatar_file", postSimplePhotoURL, function (path) {
            newAvatar = path;
            $("#avatar").attr("src", path);
        });

        $("#btnSubmit").prop("disabled", false);
        $("#btnSubmit").click(function () {
            var postModel = {};
            postModel.id = "@Model.CustomerId";
            postModel.avatar = newAvatar;
            postModel.name = $("#name").val();
            postModel.addr = $("#addr").val();
            postModel.email = $("#email").val();
            postModel.contact = $("#contact").val();
            postModel.note = $("#note").val();
            postModel.phone = $("#phone").val();

            var newURL = "/api/widget/nguyen-trang/update-customer";

            $("#btnSubmit").prop("disabled", true);
            showLoadingIndicator("Đang thực hiện");
            PNPost(newURL, postModel, function (data) {
                if (data == "ok") {
                    setTimeout(function () {
                        hideLoadingIndicator();
                        window.location.href = "/hr-cloud/widget/nt/customers";
                    }, 1000);
                }
            }, function () { alert("Có lỗi xảy ra"); });
        });
    });
</script>
