﻿@model IEnumerable<hrcloud.EFWIDGET.NTTransport>
@{
    ViewBag.Title = "UserSummary";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    var totalWeight = 0;
    decimal totalMoney = 0;

    int page = (int)ViewBag.Page;
    int middlePage = page < 4 ? 3 : page;
    string url = Request.Url.PathAndQuery;
    int j = 1;
}

<input type="hidden" id="actionUser" value="@clientModel.Username" />
<script>
    function verifyAccBox() {
        var user = $("#actionUser").val();
        if (user == "nt_ketoan01")
            $(".accBox").css("display", "");
        else
            $(".accBox").css("display", "none");
    }
</script>


@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<style>
    .imgBox {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 2px solid #aaa;
        background-size: cover;
        background-position: center
    }


    .oname {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .orderName {
        font-weight: bold;
    }
</style>


<link href="/Content/swipe/photoswipe.css" rel="stylesheet" />
<link href="/Content/swipe/default-skin.css" rel="stylesheet" />

<script src="/Scripts/swipe/photoswipe-min.js"></script>
<script src="/Scripts/swipe/photoswipe-ui-default-min.js"></script>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>

    function getPhotoData(element) {
        var list = new Array();
        var text = $(element).attr("photo-data");
        var arr = JSON.parse(text);
        for (var i = 0; i < arr.length; i++) {
            var m = {
                src: arr[i].URL,
                w: 0,
                h: 0,
                title: arr[i].Desc
            };
            list.push(m);
        }
        return list;
    }

    var pswpElement;

    $(document).ready(function () {
        pswpElement = document.querySelectorAll('.pswp')[0];
        $(".view-photo").click(function () {
            var mapLoaded = {};

            var photoList = getPhotoData(this);

            var options = {
                index: 0
            };
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, photoList, options);
            gallery.listen('gettingData', function (index, item) {
                if (item.w < 1 || item.h < 1) { // unknown size
                    if (!mapLoaded[item.src]) {
                        mapLoaded[item.src] = "load";
                        var img = new Image();
                        img.onload = function () { // will get size after load
                            item.w = this.width; // set image width
                            item.h = this.height; // set image height
                            gallery.invalidateCurrItems(); // reinit Items
                            gallery.updateSize(true); // reinit Items
                        }
                        img.src = item.src; // let's download image
                    }
                }
            });

            gallery.init();
            return false;
        });
    });
</script>

<script src="/Scripts/number-format.js"></script>
<script src="/Scripts/datepicker.js"></script>

<div class="card card-custom gutter-b">
    <div class="card-body" style="padding-top:15px;">
        <div class="row filter-box">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Từ ngày</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="@ViewBag.FromDate" id="fromDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Đến ngày</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="@ViewBag.ToDate" id="toDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Đơn hàng</p>
                <select id="selOrder" style="padding:6px; width:100%">
                    <option value="">[Tất cả]</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Từ khoá</p>
                <input class="form-control" id="keyword" autocomplete="off" value="@ViewBag.Query" />
            </div>
        </div>

        <div class="row filter-box" style="margin-top:10px;">
            <div class="col-12">
                <p style="text-align:center;"><button class="btn btn-danger" id="btnSubmit">Tìm kiếm</button></p>
            </div>
        </div>
        <h4>Tổng khối lượng: <span style="font-weight:bold;" id="totalWeight"></span> (kg)</h4>
        <h4>Tổng doanh số: <span style="font-weight:bold;color:red" id="totalMoney"></span> (đ)</h4>
        <div id="res" style="margin-top:10px;">
            @foreach (var item in Model)
            {
                var tt = item.SW * item.Price;
                <div class="alert alert-danger">
                    <h5>
                        <span class="orderName" tag="@item.NTOrderId"></span>
                        @if (!string.IsNullOrEmpty(item.Photo) && item.Photo.Length > 3)
                        {
                            <button photo-data="@item.Photo" style="float:right;" class="btn btn-warning view-photo"><i class="flaticon2-photograph"></i> Ảnh</button>
                        }
                    </h5>
                    <p style="margin-bottom:0px;"><span>@item.STime.ToString("dd/MM/yyyy")</span> - <span style="color:black;">(@item.DateIn.ToString("dd/MM/yy HH:mm"))</span> </p>
                    <p style="color:yellow; margin:0px;"><span>Số phiếu: </span><span style="font-weight:bold">@item.NoId</span><span> - Số xe: </span><span style="font-weight:bold">@item.CarId</span></p>
                    <p style="color:yellow; margin:0px; font-style:italic; color:black">@item.Note</p>
                    @if (item.IUC)
                    {
                        <h5 style="margin: 0px; color: darkblue"><span class="number-format" tag="@item.SW"></span> (kg) x <span class="number-format" tag="@item.Price"></span> = <span class="number-format" tag="@tt"></span> (đ)</h5>
                    }
                    else
                    {
                        <h4 style="margin: 0px; color: darkblue"><span class="number-format" tag="@item.SW"></span> (kg)</h4>
                    }
                    <p class="accBox" style="margin-top:10px; display:none; margin-bottom:0px; text-align:right;"><button tag="@item.TransportId" class="btn btn-warning btnDelete">Xoá</button></p>
                </div>
                totalWeight = totalWeight + item.SW;
                totalMoney = totalMoney + tt;
            }
        </div>
        <div style="margin-top: 30px; margin-bottom: 20px;">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a id="fpage" class="page-link" href="#">Trang đầu</a>
                </li>
                @for (int i = middlePage - 2; i <= middlePage + 2; i++)
                {
                    if (i == page)
                    {
                        <li class="page-item active">
                            <a id="@{@j}page" class="page-link" href="#">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a id="@{@j}page" class="page-link" href="#">@i</a>
                        </li>
                    }
                    j++;
                }

                <li class="page-item">
                    <a id="next-page" class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@{ Html.RenderPartial("LoadingIndicator"); }



<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script>
    var template = '<div id="" class="proItem" style="min-height:100px; width:100%; border:1px solid blue; border-radius:10px;padding:10px; padding-bottom:5px; margin-top:10px; ">'+
                        '<div class="imgBox" style="background-image: url(\'{imgBack}\');">'+
                            '<img style="height:50px; width:50px; top:10px; left:10px; border-radius:30px; border:1px solid red" src="{imgFront}" />'+
                        '</div>'+
                        '<div style="margin-left:110px; margin-top:-100px; height:100px; position:relative;">'+
                            '<h4 class="oname" style="text-align:center;">{name}</h4>'+
                            '<div class="row">'+
                                '<div class="col-6" style="text-align:center; border-right:2px solid #454545;">'+
                                    '<p style="margin:0px;"><span style="font-size:20px; color:blue;">{input}</span></p>'+
                                    '<p style="margin:0px;"><button class="btn btn-sm btn-info"><i class="flaticon-download-1"></i> <span style="font-size:16px;">{countIN}</span></button></p>'+
                                '</div>'+
                                '<div class="col-6" style="text-align:center;">'+
                                    '<p style="margin:0px;"><span style="font-size:20px;color:orangered">{output}</span></p>'+
                                    '<p style="margin:0px;"><button class="btn btn-sm btn-info"><i class="flaticon2-paper-plane"></i> <span style="font-size:16px;">{countOUT}</span></button></p>'+
                                '</div>'+
                            '</div>'+
                        '</div>'+
                        '<div class="progress" style="margin-top:10px;">'+
                            '<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {percent}%" aria-valuenow="{percent}" aria-valuemin="0" aria-valuemax="100"></div>'+
                        '</div>'+
                        '<p style="text-align:center; font-size:16px; color:red;margin-bottom:0px;">{percent}%</p>'+
                    '</div>';

    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });
    }

    var wdata;

    function getCustomer(cid) {
        if (wdata) {
            for (var i = 0; i < wdata.customers.length; i++) {
                if (cid == wdata.customers[i].CustomerId)
                    return wdata.customers[i];
            }
            return "";
        }
        else
            return "";
    }

    function getPlastic(pid) {
        if (wdata) {
            for (var i = 0; i < wdata.plastics.length; i++) {
                if (pid == wdata.plastics[i].PlasticId)
                    return wdata.plastics[i];
            }
            return null;
        }
        else
            return null;
    }
    function displayPrices() {
        var list = $(".number-format");
        for (var i = 0; i < list.length; i++) {
            var val = $(list[i]).attr("tag");
            var num = parseInt(val);
            $(list[i]).text(numberWithCommas(num));
        }
    }


    var mapOrder = {};

    var selectOID = "@ViewBag.OID";

    $(document).ready(function () {

        verifyAccBox();


        $("#totalWeight").text(numberWithCommas(parseInt("@totalWeight")));
        $("#totalMoney").text(numberWithCommas(parseInt("@totalMoney")));

        displayPrices();

        loadWData(function () {
            for (var j = 0; j < wdata.orders.length; j++) {
                var order = wdata.orders[j];
                var cus = getCustomer(order.CustomerId);
                var pls = getPlastic(order.Plastic);
                var name = cus.Name + " - " + pls.Name + " - " + convertUIDateTime(parseJsonDate(order.CreateDate).getTime() / 1000, "/").uiDate + " - " + numberWithCommas(order.Price);
                mapOrder[wdata.orders[j].NTOrderID] = { order: wdata.orders[j], name: name };
                $("#selOrder").append('<option value="' + wdata.orders[j].NTOrderID + '">' + name + '</option>');
            }

            if (selectOID)
                $("#selOrder").val(selectOID);

            var listOrders = $(".orderName");
            for (var i = 0; i < listOrders.length; i++) {
                var id = $(listOrders[i]).attr("tag");
                var model = mapOrder[id];
                $(listOrders[i]).text(model.name);
            }
        });

        makeDatepicker("fromDate");
        makeDatepicker("toDate");

        $("#btnSubmit").click(function () {
            var fromday = $("#fromDate").val();
            fromday = replaceAll(fromday, "/", "-");
            var today = $("#toDate").val();
            today = replaceAll(today, "/", "-");

            var url = "/hr-cloud/widget/nt/export-histories?oid=" + $("#selOrder").val() + "&fromday=" + fromday + "&today=" + today + "&keyword=" + $("#keyword").val();
            window.location.href = url;

        });

        paging();

        $(".btnDelete").click(function () {
            var id = $(this).attr("tag");
            if (confirm("Bạn muốn xoá lần xuất hàng này?")) {
                var model = { id: id };
                var url = "/api/widget/nguyen-trang/cancel-export";
                $(this).prop("disabled", true);
                showLoadingIndicator("Đang thực hiện");
                PNPost(url, model, function (data) {
                    if (data == "ok") {
                        setTimeout(function () {
                            hideLoadingIndicator();
                            window.location.reload();
                        }, 1000);
                    }

                }, function () { alert("Có lỗi xảy ra") });
            }
        });
    });

    function loadWData(callback) {
        PNGet("/api/widget/nguyen-trang/get-cp-data", function (data) {
            wdata = JSON.parse(data);
            callback();
        }, function () { alert("Có lỗi xảy ra") });
    }

    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

    function convertUIDateTime(timestapm, c) {
        var date = new Date(timestapm * 1000);
        var day = date.getDate();
        var month = date.getMonth();
        var year = date.getFullYear();
        var result = {};
        result.uiDate = (day < 10 ? "0" + day.toString() : day.toString()) + c + (month < 9 ? "0" + (month + 1).toString() : (month + 1).toString()) + c + year;

        var hour = date.getHours();
        var min = date.getMinutes();
        result.uiTime = (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());

        return result;

    }

    function paging() {
                var fullURL = "";
                var currentPage = parseInt("@ViewBag.Page");
                var mpage = parseInt("@middlePage");
                fullURL = window.location.toString().toLowerCase();
                var index = fullURL.indexOf("page=");
                if (index < 0) {
                    var findand = fullURL.indexOf("?");
                    var c = findand < 0 ? "?" : "&";
                    $("#fpage").attr("href", fullURL + c + "page=1");
                    $("#1page").attr("href", fullURL + c + "page=1");
                    $("#2page").attr("href", fullURL + c + "page=2");
                    $("#3page").attr("href", fullURL + c + "page=3");
                    $("#4page").attr("href", fullURL + c + "page=4");
                    $("#5page").attr("href", fullURL + c + "page=5");
                    $("#next-page").attr("href", fullURL + "page=2");
                }
                else {
                    var findand = fullURL.indexOf("&", index);
                    if (findand < 0) {
                        var begin = fullURL.substr(0, index);
                        $("#fpage").attr("href", begin + "page=1");
                        $("#1page").attr("href", begin + "page=" + (mpage - 2));
                        $("#2page").attr("href", begin + "page=" + (mpage - 1));
                        $("#3page").attr("href", begin + "page=" + mpage);
                        $("#4page").attr("href", begin + "page=" + (mpage + 1));
                        $("#5page").attr("href", begin + "page=" + (mpage + 2));
                        $("#next-page").attr("href", begin + "page=" + (currentPage + 1));
                    }
                    else {
                        var begin = fullURL.substr(0, index);
                        var end = fullURL.substr(findand, fullURL.length - findand);
                        $("#fpage").attr("href", begin + "page=1" + end);
                        $("#1page").attr("href", begin + "page=" + (mpage - 2) + end);
                        $("#2page").attr("href", begin + "page=" + (mpage - 1) + end);
                        $("#3page").attr("href", begin + "page=" + mpage + end);
                        $("#4page").attr("href", begin + "page=" + (mpage + 1) + end);
                        $("#5page").attr("href", begin + "page=" + (mpage + 2) + end);
                        $("#next-page").attr("href", begin + "page=" + (currentPage + 1) + end);
                    }
                }
            }
</script>

