﻿@{
    ViewBag.Title = "UserSummary";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<script src="/Scripts/number-format.js"></script>
<script src="/Scripts/datepicker.js"></script>

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Chọn ngày</p>
                <div class="input-group date">
                    <input style="cursor:pointer;" type="text" class="form-control" readonly="" value="@DateTime.Now.ToString("dd/MM/yyyy")" id="selDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="margin-top:10px;">
                <button style="width:100%" id="selOrder" class="btn btn-secondary">Thêm vào đơn hàng có sẵn</button>
            </div>
        </div>
        <div class="row" id="noneBox">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <button id="selCus" style="width: 100%; margin-top: 10px;" class="btn btn-secondary">Chọn khách hàng</button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <button id="selPlas" style="width: 100%; margin-top: 10px;" class="btn btn-secondary">Chọn loại nhựa</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <input style="margin-top:10px;" class="form-control pn-number" id="weight" placeholder="Khối lượng (kg)" autocomplete="off" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <input style="margin-top:10px;" class="form-control  pn-number" id="price" placeholder="Giá tạm tính" autocomplete="off" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <input style="margin-top:10px;" class="form-control" id="bill" placeholder="Số phiếu cân" autocomplete="off" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <input style="margin-top:10px;" class="form-control" id="car" placeholder="Biển số xe" autocomplete="off" />
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-12">
                <textarea id="note" style="width:100%; height:100px;" placeholder="Ghi chú"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Hình ảnh liên quan</p>
                <div id="workingPhoto">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <select id="selCalType" style="padding:6px; border:1px solid red">
                    <option value="0">-- Chọn phương thức tính tiền --</option>
                    <option value="1">Tăng công nợ khách hàng</option>
                    <option value="2">Công nợ để sau</option>
                </select>
            </div>
        </div>

        <p style="text-align:center; margin-top:10px;"><button id="btnSubmit" class="btn btn-success">Hoàn thành</button></p>
    </div>
</div>

<div class="modal fade" id="customerModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CHỌN KHÁCH HÀNG</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="cusSelBox" class="list-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="plasticModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CHỌN LOẠI NHỰA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="plasSelBox" class="list-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="orderModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CHỌN ĐƠN HÀNG</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="orderSelBox" class="list-group">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>


@{ Html.RenderPartial("LoadingIndicator"); }

<script>
    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });
    }
    var wdata;

    var isBindCus = false;
    var isBindPlas = false;
    var isBindOrder = false;

    var customerIdSelected;
    var plasticIdSelected;

    var postMultiPhotoURL = "/api/main/post-multi-photo";

    var oid;

    function getCustomer(cid) {
        if (wdata) {
            for (var i = 0; i < wdata.customers.length; i++) {
                if (cid == wdata.customers[i].CustomerId)
                    return wdata.customers[i];
            }
            return "";
        }
        else
            return "";
    }

    function getPlastic(pid) {
        if (wdata) {
            for (var i = 0; i < wdata.plastics.length; i++) {
                if (pid == wdata.plastics[i].PlasticId)
                    return wdata.plastics[i];
            }
            return null;
        }
        else
            return null;
    }

    $(document).ready(function () {

        makeDatepicker("selDate");
        //

        $("#selOrder").click(function () {
            if (!wdata) {
                loadWData(displayOrderItems);
            }
            else {
                displayOrderItems()
            }
            $("#orderModal").modal('show');
        });

        $("#selCus").click(function () {
            if (!wdata) {
                loadWData(displayCusItems);
            }
            else {
                displayCusItems();
            }
            $("#customerModal").modal('show');
        });

        $("#selPlas").click(function () {
            if (!wdata) {
                loadWData(displayPlasItems);
            }
            else {
                displayPlasItems();
            }
            $("#plasticModal").modal('show');
        });

        function displayCusItems() {
            if (!isBindCus) {
                for (var i = 0; i < wdata.customers.length; i++) {
                    var html = '<a style="cursor:pointer;" tag="' + wdata.customers[i].CustomerId + '" class="list-group-item cus-item" tag-name="' + wdata.customers[i].Name + '"> ' + wdata.customers[i].Name + ' </a>'
                    $("#cusSelBox").append(html);
                }

                isBindCus = true;

                $(".cus-item").click(function () {
                    $("#customerModal").modal('hide');
                    var id = $(this).attr("tag");
                    customerIdSelected = id;
                    var name = $(this).attr("tag-name");
                    $("#selCus").text(name);
                    $("#selCus").removeClass("btn-secondary");
                    $("#selCus").addClass("btn-primary");
                });
            }
        }

        function displayPlasItems() {
            if (!isBindPlas) {
                for (var i = 0; i < wdata.plastics.length; i++) {
                    var html = '<a style="cursor:pointer;" tag="' + wdata.plastics[i].PlasticId + '" class="list-group-item plas-item" tag-name="' + wdata.plastics[i].Name + '"> ' + wdata.plastics[i].Name + ' </a>';
                    $("#plasSelBox").append(html);
                }

                isBindPlas = true;

                $(".plas-item").click(function () {
                    $("#plasticModal").modal('hide');
                    var id = $(this).attr("tag");
                    plasticIdSelected = id;
                    var name = $(this).attr("tag-name");
                    $("#selPlas").text(name);
                    $("#selPlas").removeClass("btn-secondary");
                    $("#selPlas").addClass("btn-primary");
                });
            }
        }

        function displayOrderItems() {
            if (!isBindOrder) {
                for (var i = 0; i < wdata.orders.length; i++) {
                    if (wdata.orders[i].Status == 0) {
                        var cus = getCustomer(wdata.orders[i].CustomerId);
                        var cname = cus.Name;
                        var plastic = getPlastic(wdata.orders[i].Plastic);
                        var datetime = parseJsonDate(wdata.orders[i].CreateDate);
                        var uitime = convertUIDateTime(datetime.getTime() / 1000, '/');
                        var dname = cname + " - " + plastic.Name + " - " + uitime.uiDate + " - " + wdata.orders[i].Price;
                        var html = '<a style="cursor:pointer;" tag-p="' + wdata.orders[i].Price + '" tag="' + wdata.orders[i].NTOrderID + '" class="list-group-item order-item" tag-name="' + dname + '"> ' + dname + ' </a>'
                        $("#orderSelBox").append(html);
                    }
                }

                var nonehtml = '<a style="cursor:pointer; color:red;" tag="-1" class="list-group-item order-item" tag-name="Thêm vào đơn hàng có sẵn"> Không chọn đơn hàng </a>';
                $("#orderSelBox").append(nonehtml);

                isBindOrder = true;

                $(".order-item").click(function () {
                    $("#orderModal").modal('hide');
                    var id = $(this).attr("tag");
                    if (id != "-1") {
                        oid = id;
                        var name = $(this).attr("tag-name");
                        $("#selOrder").text(name);
                        $("#selOrder").removeClass("btn-secondary");
                        $("#selOrder").addClass("btn-primary");
                        $("#noneBox").css("display", "none");
                        var price = $(this).attr("tag-p");
                        $("#price").val(numberWithCommas(parseInt(price)));
                        $("#price").prop("disabled", true);
                    }
                    else {
                        oid = "";
                        var name = $(this).attr("tag-name");
                        $("#selOrder").text(name);
                        $("#selOrder").addClass("btn-secondary");
                        $("#selOrder").removeClass("btn-primary");
                        $("#noneBox").css("display", "");
                        $("#price").prop("disabled", false);
                    }
                });
            }
        }

        function loadWData(callback) {
            PNGet("/api/widget/nguyen-trang/get-cp-data", function (data) {
                wdata = JSON.parse(data);
                callback();
            }, function () { alert("Có lỗi xảy ra") });
        }

        photoBox = new MultiPhotoBox("workingPhoto", "", new Array(), postMultiPhotoURL);
        photoBox.renderUI();
        $("#btnSubmit").prop("disabled", false);
        $("#btnSubmit").click(function () {
            var model = {};
            model.date = $("#selDate").val();
            model.oid = oid;
            model.customer = customerIdSelected;
            model.plastic = plasticIdSelected;
            model.weight = $("#weight").val();
            model.price = $("#price").val();
            model.photo = photoBox.getMultiPostData();
            model.note = $("#note").val();
            model.bill = $("#bill").val();
            model.car = $("#car").val();
            model.caltype = $("#selCalType").val();
            if (!oid) {
                if (!customerIdSelected) {
                    alert("Bạn chưa chọn khách hàng");
                    return false;
                }
                else if (!plasticIdSelected) {
                    alert("Bạn chưa chọn loại nhựa");
                    return false;
                }
            }
            if (!model.weight) {
                alert("Bạn chưa nhập khối lượng");
                return false;
            }
            else if (!model.price) {
                alert("Bạn chưa nhập giá tạm tính");
                return false;
            }
            else if (model.caltype == "0") {
                alert("Bạn chưa chọn phương thức tính tiền");
                return false;
            }
            var url = "/api/widget/nguyen-trang/post-import-plastic";
            $("#btnSubmit").prop("disabled", true);
            showLoadingIndicator("Đang thực hiện");
            PNPost(url, model, function (data) {
                if (data == "ok") {
                    setTimeout(function () {
                        hideLoadingIndicator();
                        window.location.href = "/hr-cloud/widget/nt/orders";
                    }, 1000);
                }
            }, function () { alert("Có lỗi xảy ra") });
        });
    });

    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

    function convertUIDateTime(timestapm, c) {
        var date = new Date(timestapm * 1000);
        var day = date.getDate();
        var month = date.getMonth();
        var year = date.getFullYear();
        var result = {};
        result.uiDate = (day < 10 ? "0" + day.toString() : day.toString()) + c + (month < 9 ? "0" + (month + 1).toString() : (month + 1).toString()) + c + year;

        var hour = date.getHours();
        var min = date.getMinutes();
        result.uiTime = (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());

        return result;

    }

</script>

