﻿@{
    ViewBag.Title = "UserSummary";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
}

@{ Html.RenderPartial("CommonFunction"); }

<input type="hidden" id="actionUser" value="@clientModel.Username" />
<script>
    function isAdminUser() {
        var user = $("#actionUser").val();
        return user == "nt_ketoan01" || user == "nt_trangnguyen";
    }
</script>

<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<style>
    .imgBox {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 2px solid #aaa;
        background-size: cover;
        background-position: center
    }


    .oname {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<script src="/Scripts/number-format.js"></script>
<script src="/Scripts/datepicker.js"></script>

<div class="card card-custom gutter-b">
    <div class="card-body" style="padding-top:15px;">
        <div class="row filter-box" style="display:none">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Từ ngày</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="@ViewBag.FromDate" id="fromDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Đến ngày</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="@ViewBag.ToDate" id="toDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Trạng thái</p>
                <select id="status" style="padding:6px; width:100%">
                    <option value="-1">--Tất cả--</option>
                    <option value="0" selected>Hiện hành</option>
                    <option value="1">Hoàn thành</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Từ khoá</p>
                <input class="form-control" id="keyword" autocomplete="off" />
            </div>
        </div>

        <div class="row filter-box" style="margin-top:10px; display:none;">
            <div class="col-12">
                <p style="text-align:center;"><button class="btn btn-primary" id="btnSubmit">Tìm kiếm</button></p>
            </div>
        </div>

        <p id="showBTN">
            <button id="filterBTN" style="width:100%;" class="btn btn-success">Bộ lọc</button>
        </p>

        <h4>Hàng tồn: <span style="color:blue; font-weight:bold;" id="remain"></span> (kg)</h4>
        <div id="res">

        </div>
    </div>
</div>

<div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa giá đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin:0px; color:blue;">Giá:</p>
                <input class="form-control pn-number" id="eprice" />
            </div>
            <div class="modal-footer">
                <button id="btnUpdatePrice" type="button" class="btn btn-primary font-weight-bold">Cập nhật</button>
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="completeModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kết thúc đơn hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4>Tổng nhập: <span style="color:blue;" id="win"></span>(kg)</h4>
                <h4>Trả hàng: <span style="color:blue;" id="wback"></span>(kg)</h4>
                <h4>Tổng xuất: <span style="color:black;" id="wout"></span>(kg)</h4>
                <h4>Hao hụt: <span style="color:red;" id="inout"></span>(kg)</h4>
                <p style="margin-bottom:0px; color:blue;">Ghi chú kết thúc đơn</p>
                <textarea style="width:100%; height:50px; border:1px solid #676767" id="comReason"></textarea>
            </div>
            <div class="modal-footer">
                <button id="btnCompleteOrder" type="button" class="btn btn-success font-weight-bold">Thực hiện</button>
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("LoadingIndicator"); }

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script>
    var template = '<div id="" class="proItem" style="min-height:100px; width:100%; border:1px solid blue; border-radius:10px;padding:10px; padding-bottom:5px; margin-top:10px; ">'+
                        '<a href="/hr-cloud/widget/nt/customer-detail/{cid}"><div class="imgBox" style="background-image: url(\'{imgBack}\');">'+
                            '<img style="height:50px; width:50px; top:10px; left:10px; border-radius:30px; border:1px solid red" src="{imgFront}" />'+
                        '</div></a>'+
                        '<div style="margin-left:110px; margin-top:-100px; height:{bheight}px; position:relative;">'+
                            '<h4 class="oname" style="text-align:center;">{name} - <span id="p_{oid}">{uprice}</span></h4>'+
                            '<div class="row">'+
                                '<div class="col-6" style="text-align:center; border-right:2px solid #454545;">'+
                                    '<p style="margin:0px;"><span style="font-size:20px; color:blue;">{input}</span></p>'+
                                    '<p style="margin:0px;"><a href="/hr-cloud/widget/nt/import-histories?oid={oid}{tu}" class="btn btn-sm btn-info"><i class="flaticon-download-1"></i> <span style="font-size:16px;">{countIN}</span></a></p>'+
                                '</div>'+
                                '<div class="col-6" style="text-align:center;">'+
                                    '<p style="margin:0px;"><span style="font-size:20px;color:orangered">{output}</span></p>'+
                                    '<p style="margin:0px;"><a href="/hr-cloud/widget/nt/export-histories?oid={oid}{tu}" class="btn btn-sm btn-info"><i class="flaticon2-paper-plane"></i> <span style="font-size:16px;">{countOUT}</span></a></p>'+
                                '</div>'+
                            '</div>'+
                            '<p style="margin:0px;text-align:center;margin-top:5px;display:{bstyle}"><a href="/hr-cloud/widget/nt/back-histories?oid={oid}" class="btn btn-dark">Trả hàng: {back}</a></p>' +
                        '</div>'+

                        '<div class="progress" style="margin-top:10px;">'+
                            '<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {percent}%" aria-valuenow="{percent}" aria-valuemin="0" aria-valuemax="100"></div>'+
                        '</div>'+
                        '<p style="text-align:center; font-size:16px; color:red;margin-bottom:0px;">{percent}% ({out}/{in}) - <span style="color:blue;">{remain}</span></p>'+
                        '<p class="accBox" style="display:{astyle}"><button tag-id="{oid}" tag="{price}" class="btn btn-warning btnEdit">Sửa giá</button><button style="margin-left:5px;" tag-id="{oid}" class="btn btn-danger btnCancel">Huỷ đơn</button><button style="margin-left:5px;" tag-id="{oid}" class="btn btn-success btnStatus">Hoàn tất</button><a href="/hr-cloud/widget/nt/export-plastic?oid={xoid}" style="float:right" class="btn btn-primary">Xuất hàng >></a></p>' +
                        '<p class="comBox" style="color: blue;display:{cstyle}"><i style="color: blue !important;" class="flaticon2-check-mark"></i> Hoàn thành - <span style="color:#454545; font-style:italic">{res}</span></p>'+
                    '</div>';

    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });
    }

    var wdata;

    function getCustomer(cid) {
        if (wdata) {
            for (var i = 0; i < wdata.customers.length; i++) {
                if (cid == wdata.customers[i].CustomerId)
                    return wdata.customers[i];
            }
            return "";
        }
        else
            return "";
    }

    function getPlastic(pid) {
        if (wdata) {
            for (var i = 0; i < wdata.plastics.length; i++) {
                if (pid == wdata.plastics[i].PlasticId)
                    return wdata.plastics[i];
            }
            return null;
        }
        else
            return null;
    }

    var comId;

    $(document).ready(function () {
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        loadWData(function () {
            requestData();
        });

        $("#filterBTN").click(function () {
            $("#showBTN").css("display", "none");
            $(".filter-box").css("display", "");
        });

        makeDatepicker("fromDate");
        makeDatepicker("toDate");

        $("#btnSubmit").click(function () {
            showLoadingIndicator("Đang thực hiện");
            var url = buildRequestURL();
            PNGet(url, function (data) {
                setTimeout(function () {
                    var list = JSON.parse(data);
                    bindOrders(list, false);
                    hideLoadingIndicator();
                }, 1000);

            }, function () { alert("Có lỗi xảy ra") });
        });

        function requestData() {

            bindOrders(wdata.orders, true);
        }

        function buildRequestURL() {
            var fromday = $("#fromDate").val();
            fromday = replaceAll(fromday, "/", "-");
            var today = $("#toDate").val();
            today = replaceAll(today, "/", "-");

            return "/api/widget/nguyen-trang/get-order-filter?fromday=" + fromday + "&today=" + today + "&keyword=" + $("#keyword").val() + "&type=" + $("#status").val();

        }

        var ceid;

        $("#btnUpdatePrice").click(function () {
            var url = "/api/widget/nguyen-trang/post-update-price";
            $("#editModal").modal('hide');
            showLoadingIndicator("Đang thực hiện");
            var model = {
                id: ceid, price: $("#eprice").val()
            };

            PNPost(url, model, function (data) {
                if (data == "ok") {
                    setTimeout(function () {
                        hideLoadingIndicator();
                        $("#p_" + model.id).text(model.price);
                    }, 1000);
                }
            }, function () { alert("Có lỗi xảy ra") });
        });

        function bindOrders(list, first) {
            $("#res").empty();
            var remain = 0;
            for (var i = 0; i < list.length; i++) {
                if ((first && list[i].Status == 0) || !first) {
                    var cus = getCustomer(list[i].CustomerId);
                    var pls = getPlastic(list[i].Plastic);
                    var datetime = parseJsonDate(list[i].CreateDate);
                    var uitime = convertUIDateTime(datetime.getTime() / 1000, '/');
                    var name = cus.Name + " - " + pls.Name + " - " + uitime.uiDate;
                    var html = template.replace("{name}", name);
                    html = html.replace("{uprice}", numberWithCommas(list[i].Price));
                    html = html.replace("{back}", numberWithCommas(list[i].CBack));
                    html = html.replace("{imgBack}", cus.Logo);
                    html = html.replace("{cid}", list[i].CustomerId);
                    html = html.replace("{price}", list[i].Price);
                    html = html.replace("{oid}", list[i].NTOrderID).replace("{oid}", list[i].NTOrderID).replace("{oid}", list[i].NTOrderID).replace("{oid}", list[i].NTOrderID).replace("{oid}", list[i].NTOrderID).replace("{oid}", list[i].NTOrderID).replace("{oid}", list[i].NTOrderID);
                    html = html.replace("{imgFront}", pls.Photo);
                    var input = numberWithCommas(list[i].WeightInput);
                    html = html.replace("{input}", input);
                    var output = numberWithCommas(list[i].WeightOutput);
                    html = html.replace("{output}", output);
                    html = html.replace("{countIN}", list[i].CountIn);
                    html = html.replace("{countOUT}", list[i].CountOut);
                    var completed = list[i].WeightOutput + list[i].CBack;
                    if (completed > list[i].WeightInput)
                        completed = list[i].WeightInput;

                    var per = (completed * 100 / list[i].WeightInput).toFixed(0);
                    html = replaceAll(html, "{percent}", per);
                    var URLtime = convertUIDateTime(datetime.getTime() / 1000, '-');
                    var endTime = convertUIDateTime(new Date().getTime() / 1000, '-');
                    var tu = "&fromday=&today=" + endTime.uiDate;
                    html = html.replace("{tu}", tu).replace("{tu}", tu);
                    html = html.replace("{out}", numberWithCommas(list[i].WeightOutput));
                    html = html.replace("{in}", numberWithCommas(list[i].WeightInput));
                    var delta = list[i].Status == 0 ? list[i].WeightInput - list[i].WeightOutput - list[i].CBack : 0;

                    if (list[i].CBack > 0) {
                        html = html.replace("{bstyle}", "");
                        html = html.replace("{bheight}", "135");
                    }
                    else {
                        html = html.replace("{bstyle}", "none");
                        html = html.replace("{bheight}", "100");
                    }
                    if (list[i].Status == 0) {
                        html = html.replace("{cstyle}", "none !important");
                    }
                    else if (list[i].Status == 1) {
                        html = html.replace("{cstyle}", "");
                    }

                    if (isAdminUser() && list[i].Status == 0) {
                        html = html.replace("{astyle}", "");
                        html = html.replace("{xoid}", list[i].NTOrderID)
                    }
                    else {
                        html = html.replace("{astyle}", "none");
                    }

                    if (delta < 0)
                        delta = 0;

                    remain = remain + delta;
                    html = html.replace("{remain}", numberWithCommas(delta));
                    html = html.replace("{res}", list[i].LoseReason);

                    $("#res").append(html);
                }
            }

            $("#remain").text(numberWithCommas(remain));

            $(".btnEdit").click(function () {
                var id = $(this).attr("tag-id");
                ceid = id;
                var price = $(this).attr("tag");
                var val = numberWithCommas(price);
                $("#eprice").val(val);
                $("#editModal").modal('show');
            });

            $(".btnStatus").click(function () {
                var id = $(this).attr("tag-id");
                comId = id;
                $("#completeModal").modal('show');
                $("#comReason").val("");
                PNGet("/api/widget/nguyen-trang/get-order-info-for-actions/" + id, function (data) {
                    if (data != "") {
                        var order = JSON.parse(data);
                        var x = order.WeightInput - order.CBack - order.WeightOutput;
                        $("#wback").text(order.CBack);
                        $("#win").text(order.WeightInput);
                        $("#wout").text(order.WeightOutput);
                        $("#inout").text(x);
                    }
                }, function () { alert("Có lỗi xảy ra"); $("#completeModal").modal('hide');  });
            });

            var cancelBTN;

            $(".btnCancel").click(function () {
                cancelBTN = this;
                var id = $(this).attr("tag-id");
                comId = id;
                $(cancelBTN).prop("disabled", true);
                PNGet("/api/widget/nguyen-trang/get-order-info-for-actions/" + id, function (data) {
                    if (data != "") {
                        var order = JSON.parse(data);
                        if (order.WeightInput > 0 || order.WeightOutput > 0) {
                            alert("Vui lòng xoá phiếu nhập hoặc phiếu xuất trước");
                        }
                        else {
                            if (confirm("Bạn muốn xoá đơn hàng này?")) {
                                showLoadingIndicator("Đang thực hiện");
                                var model = { id: comId };
                                var url = "/api/widget/nguyen-trang/post-cancel-order";
                                PNPost(url, model, function (data) {
                                    if (data == "ok") {
                                        setTimeout(function () {
                                            hideLoadingIndicator();
                                            window.location.reload();
                                        }, 1000);
                                    }
                                }, function () { alert("Có lỗi xảy ra") });
                            }
                        }
                    }
                }, function () { alert("Có lỗi xảy ra"); $(cancelBTN).prop("disabled", false); });
            });

            //verifyAccBox();
        }

        $("#btnCompleteOrder").click(function () {
            showLoadingIndicator("Đang thực hiện");
            $("#completeModal").modal('hide');
            var model = { id: comId, res: $("#comReason").val() };
            var url = "/api/widget/nguyen-trang/post-complete-order";
            PNPost(url, model, function (data) {
                if (data == "ok") {
                    setTimeout(function () {
                        hideLoadingIndicator();
                        alert("OK");
                    }, 1000);
                }
            }, function () { alert("Có lỗi xảy ra") });
        });
    });

    function loadWData(callback) {
        PNGet("/api/widget/nguyen-trang/get-cp-data", function (data) {
            wdata = JSON.parse(data);
            callback();
        }, function () { alert("Có lỗi xảy ra") });
    }

    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

    function convertUIDateTime(timestapm, c) {
        var date = new Date(timestapm * 1000);
        var day = date.getDate();
        var month = date.getMonth();
        var year = date.getFullYear();
        var result = {};
        result.uiDate = (day < 10 ? "0" + day.toString() : day.toString()) + c + (month < 9 ? "0" + (month + 1).toString() : (month + 1).toString()) + c + year;

        var hour = date.getHours();
        var min = date.getMinutes();
        result.uiTime = (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());

        return result;

    }
</script>


