﻿@model IEnumerable<hrcloud.EFWIDGET.NTPlastic>
@{
    ViewBag.Title = "UserSummary";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    var totalWeight = 0;
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<style>
    .imgBox {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 2px solid #aaa;
        background-size: cover;
        background-position: center;
        border-radius:50px;
    }
</style>

<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align:center;"><a class="btn btn-primary" href="/hr-cloud/widget/nt/add-plastic">Thêm tên hàng</a></p>

        <h4><span>Tổng khối lượng: </span><span id="totalW" class="number-format"></span><span> (kg)</span></h4>
        <div id="">
            @foreach (var item in Model)
            {
                totalWeight = totalWeight + item.WCount;

                <div id="" class="proItem" style="min-height:100px; width:100%; border:1px solid blue; border-radius:10px;padding:10px; padding-bottom:10px; margin-top:10px; ">
                    <div class="imgBox" style="background-image: url('@item.Photo');">
                    </div>


                    <div style="margin-left:110px; margin-top:-100px; height:100px; position:relative;">
                        <p style="margin:0px; height:20px;">
                            <a style="float:right;" href="/hr-cloud/widget/nt/edit-plastic/@item.PlasticId" class="btn btn-sm btn-warning">Chi tiết</a>
                        </p>
                        <div style="height:57px; padding-top:10px;">
                            <h5 class="res-detail" style="color:blue;">@item.Name</h5>
  
                        </div>
                        <p><span style="font-style:italic; color:black"><span class="number-format" tag="@item.WCount"></span> (kg)</span></p>


                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script>
    $(document).ready(function () {

        $("#totalW").attr("tag", "@totalWeight");

        displayPrices();
    });

    function displayPrices() {
        var list = $(".number-format");
        for (var i = 0; i < list.length; i++) {
            var val = $(list[i]).attr("tag");
            var num = parseInt(val);
            $(list[i]).text(numberWithCommas(num));
        }
    }
</script>

