﻿@{
    Layout = "~/Views/Shared/_NTCustomerLayout.cshtml";
}


<style>
    .imgBox {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 2px solid #aaa;
        background-size: cover;
        background-position: center
    }


    .oname {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<script src="/Scripts/number-format.js"></script>
<script src="/Scripts/datepicker.js"></script>

<div class="card card-custom gutter-b">
    <div class="card-body" style="padding-top:15px;">
        <div class="row filter-box" style="display:none">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Từ ngày</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="" id="fromDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Đến ngày</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="@ViewBag.ToDate" id="toDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Trạng thái</p>
                <select id="status" style="padding:6px; width:100%">
                    <option value="-1">--Tất cả--</option>
                    <option value="0">Hiện hành</option>
                    <option value="1">Hoàn thành</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Từ khoá</p>
                <input class="form-control" id="keyword" autocomplete="off" />
            </div>
        </div>

        <div class="row filter-box" style="margin-top:10px; display:none;">
            <div class="col-12">
                <p style="text-align:center;"><button class="btn btn-primary" id="btnSubmit">Tìm kiếm</button></p>
            </div>
        </div>

        <p id="showBTN">
            <button id="filterBTN" style="width:100%;" class="btn btn-success">Bộ lọc</button>
        </p>

        <h4>Hàng tồn: <span style="color:blue; font-weight:bold;" id="remain"></span> (kg)</h4>
        <div id="res">

        </div>
    </div>
</div>

@{ Html.RenderPartial("LoadingIndicator"); }

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script>
    var template = '<div id="" class="proItem" style="min-height:100px; width:100%; border:1px solid blue; border-radius:10px;padding:10px; padding-bottom:5px; margin-top:10px; ">' +
        '<div class="imgBox" style="background-image: url(\'{imgBack}\');">' +
        '<img style="height:50px; width:50px; top:10px; left:10px; border-radius:30px; border:1px solid red" src="{imgFront}" />' +
        '</div>' +
        '<div style="margin-left:110px; margin-top:-100px; height:{bheight}px; position:relative;">' +
        '<h4 class="oname" style="text-align:center;">{name} - <span id="p_{oid}">{uprice}</span></h4>' +
        '<div class="row">' +
        '<div class="col-6" style="text-align:center; border-right:2px solid #454545;">' +
        '<p style="margin:0px;"><span style="font-size:20px; color:blue;">{input}</span></p>' +
        '<p style="margin:0px;"><a href="/hr-cloud/widget/nt/my-import-histories?cusid={cid}&oid={oid}{tu}" class="btn btn-sm btn-info"><i class="flaticon-download-1"></i> <span style="font-size:16px;">{countIN}</span></a></p>' +
        '</div>' +
        '<div class="col-6" style="text-align:center;">' +
        '<p style="margin:0px;"><span style="font-size:20px;color:orangered">{output}</span></p>' +
        '<p style="margin:0px;"><a href="/hr-cloud/widget/nt/my-export-histories?cusid={cid}&oid={oid}{tu}" class="btn btn-sm btn-info"><i class="flaticon2-paper-plane"></i> <span style="font-size:16px;">{countOUT}</span></a></p>' +
        '</div>' +
        '</div>' +
        '<p style="margin:0px;text-align:center;margin-top:5px;display:{bstyle}"><a href="/hr-cloud/widget/nt/my-back-histories?oid=cusid={cid}&oid" class="btn btn-dark">Trả hàng: {back}</a></p>' +
        '</div>' +

        '<div class="progress" style="margin-top:10px;">' +
        '<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {percent}%" aria-valuenow="{percent}" aria-valuemin="0" aria-valuemax="100"></div>' +
        '</div>' +
        '<p style="text-align:center; font-size:16px; color:red;margin-bottom:0px;">{percent}% ({out}/{in}) - <span style="color:blue;">{remain}</span></p>' +
        '<p class="comBox" style="color: blue;display:{cstyle}"><i style="color: blue !important;" class="flaticon2-check-mark"></i> Hoàn thành - <span style="color:#454545; font-style:italic">{res}</span></p>' +
        '</div>';

    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });
    }

    var wdata;

    function getCustomer(cid) {
        if (wdata) {
            for (var i = 0; i < wdata.customers.length; i++) {
                if (cid == wdata.customers[i].CustomerId)
                    return wdata.customers[i];
            }
            return "";
        }
        else
            return "";
    }

    function getPlastic(pid) {
        if (wdata) {
            for (var i = 0; i < wdata.plastics.length; i++) {
                if (pid == wdata.plastics[i].PlasticId)
                    return wdata.plastics[i];
            }
            return null;
        }
        else
            return null;
    }

    var cid = "@ViewBag.CID";
    var sec = "@ViewBag.CSEC";

    $(document).ready(function () {

        $("#menuBTN").css("display", "");

        loadWData(function () {
            requestData();
        });

        $("#filterBTN").click(function () {
            $("#showBTN").css("display", "none");
            $(".filter-box").css("display", "");
        });

        makeDatepicker("fromDate");
        makeDatepicker("toDate");

        $("#btnSubmit").click(function () {
            showLoadingIndicator("Đang thực hiện");
            var url = buildRequestURL();
            PNGet(url, function (data) {
                setTimeout(function () {
                    var list = JSON.parse(data);
                    bindOrders(list, false);
                    hideLoadingIndicator();
                }, 1000);

            }, function () { alert("Có lỗi xảy ra") });
        });

        function requestData() {

            bindOrders(wdata.orders, true);
        }

        function buildRequestURL() {
            var fromday = $("#fromDate").val();
            fromday = replaceAll(fromday, "/", "-");
            var today = $("#toDate").val();
            today = replaceAll(today, "/", "-");

            return "/api/widget/nguyen-trang/get-order-filter-by-customer?cusid=" + cid + "&fromday=" + fromday + "&today=" + today + "&keyword=" + $("#keyword").val() + "&type=" + $("#status").val();

        }

        function bindOrders(list, first) {
            $("#res").empty();
            var remain = 0;
            for (var i = 0; i < list.length; i++) {
                if ((first && list[i].Status == 0) || !first) {
                    var cus = getCustomer(list[i].CustomerId);
                    var pls = getPlastic(list[i].Plastic);
                    var datetime = parseJsonDate(list[i].CreateDate);
                    var uitime = convertUIDateTime(datetime.getTime() / 1000, '/');
                    var name = cus.Name + " - " + pls.Name + " - " + uitime.uiDate;
                    var html = template.replace("{name}", name);
                    html = html.replace("{uprice}", numberWithCommas(list[i].Price));
                    html = html.replace("{back}", numberWithCommas(list[i].CBack));
                    html = html.replace("{imgBack}", cus.Logo);
                    html = html.replace("{price}", list[i].Price);
                    html = html.replace("{oid}", list[i].NTOrderID).replace("{oid}", list[i].NTOrderID).replace("{oid}", list[i].NTOrderID).replace("{oid}", list[i].NTOrderID).replace("{oid}", list[i].NTOrderID);
                    html = html.replace("{imgFront}", pls.Photo);
                    var input = numberWithCommas(list[i].WeightInput);
                    html = html.replace("{input}", input);
                    var output = numberWithCommas(list[i].WeightOutput);
                    html = html.replace("{output}", output);
                    html = html.replace("{countIN}", list[i].CountIn);
                    html = html.replace("{countOUT}", list[i].CountOut);
                    var completed = list[i].WeightOutput + list[i].CBack;
                    if (completed > list[i].WeightInput)
                        completed = list[i].WeightInput;

                    var per = (completed * 100 / list[i].WeightInput).toFixed(0);
                    html = replaceAll(html, "{percent}", per);
                    var URLtime = convertUIDateTime(datetime.getTime() / 1000, '-');
                    var endTime = convertUIDateTime(new Date().getTime() / 1000, '-');
                    var tu = "&fromday=&today=" + endTime.uiDate;
                    html = html.replace("{tu}", tu).replace("{tu}", tu);
                    html = html.replace("{out}", numberWithCommas(list[i].WeightOutput));
                    html = html.replace("{in}", numberWithCommas(list[i].WeightInput));
                    var delta = list[i].WeightInput - list[i].WeightOutput - list[i].CBack;

                    if (list[i].CBack > 0) {
                        html = html.replace("{bstyle}", "");
                        html = html.replace("{bheight}", "135");
                    }
                    else {
                        html = html.replace("{bstyle}", "none");
                        html = html.replace("{bheight}", "100");
                    }
                    if (list[i].Status == 0) {
                        html = html.replace("{cstyle}", "none !important");
                    }
                    else if (list[i].Status == 1) {
                        html = html.replace("{cstyle}", "");
                    }

                    if (delta < 0)
                        delta = 0;

                    remain = remain + delta;
                    html = html.replace("{remain}", numberWithCommas(delta));
                    html = html.replace("{cid}", cid);
                    html = html.replace("{cid}", cid);
                    html = html.replace("{cid}", cid);

                    html = html.replace("{res}", list[i].LoseReason);

                    $("#res").append(html);
                }
            }
            $("#remain").text(numberWithCommas(remain));
        }
    });

    function loadWData(callback) {
        PNGet("/api/widget/nguyen-trang/get-cp-data-by-customer/" + cid, function (data) {
            wdata = JSON.parse(data);
            callback();
        }, function () { alert("Có lỗi xảy ra") });
    }

    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

    function convertUIDateTime(timestapm, c) {
        var date = new Date(timestapm * 1000);
        var day = date.getDate();
        var month = date.getMonth();
        var year = date.getFullYear();
        var result = {};
        result.uiDate = (day < 10 ? "0" + day.toString() : day.toString()) + c + (month < 9 ? "0" + (month + 1).toString() : (month + 1).toString()) + c + year;

        var hour = date.getHours();
        var min = date.getMinutes();
        result.uiTime = (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());

        return result;

    }
</script>

