﻿@{
    Layout = "~/Views/Shared/_NTCustomerLayout.cshtml";
}


<style>
    .imgBox {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 2px solid #aaa;
        background-size: cover;
        background-position: center
    }
</style>

<script src="/Scripts/number-format.js"></script>
<script src="/Scripts/datepicker.js"></script>

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div style="text-align:center; display:none;" id="loadingBox">
            <img style="height:60px;" src="/Images/page-loading.gif" />
            <h4>Đang tải dữ liệu</h4>
        </div>
        <div id="introBox" style="display:none;">
            <center>
                <div>
                    <h4>Mật khẩu truy cập</h4>
                    <input type="password" class="form-control" style="max-width:300px; font-size:17px; text-align:center" id="pass" />
                    <button style="margin-top:10px;" id="btnSubmit" class="btn btn-primary">Đăng nhập</button>
                </div>
            </center>

        </div>
        <div id="dataBox" style="display:none;">
            <p style="text-align: center; margin-bottom:0px;">
                <img id="avatar" src="" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
            </p>
            <h3 id="dname" style="text-align:center; color:blue;"></h3>

            <div class="row">
                <div class="col-xs-12 col-sm-12, col-md-12 col-lg-4">
                    <div class=" alert alert-danger">
                        <h3 style="text-align:center;">Công nợ</h3>
                        <h3 id="congno" class="number-format" tag="" style="text-align:center;"></h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12, col-md-12 col-lg-4">
                    <div class="alert alert-info">
                        <h3 style="text-align:center;">Tổng chi phí</h3>
                        <h3 id="doanhso" class="number-format" tag="" style="text-align:center;"></h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12, col-md-12 col-lg-4">
                    <div class=" alert alert-warning">
                        <h3 style="text-align:center;">Tổng khối lượng</h3>
                        <h3 id="khoiluong" class="number-format" tag="" style="text-align:center;"></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@{ Html.RenderPartial("LoadingIndicator"); }

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script>
    function toMapObject(array, name) {
        var res = {};
        for (var i = 0; i < array.length; i++) {
            var val = array[i][name];
            res[val] = array[i];
        }
        return res;
    }

    var pageData;

    var template = '<div id="" class="proItem" style="min-height:100px; width:100%; border:1px solid blue; border-radius:10px;padding:10px; padding-bottom:5px; margin-top:10px; ">' +
        '<div class="imgBox" style="background-image: url(\'{imgBack}\');">' +
        '<img style="height:50px; width:50px; top:10px; left:10px; border-radius:30px; border:1px solid red" src="{imgFront}" />' +
        '</div>' +
        '<div style="margin-left:110px; margin-top:-100px; height:{bheight}px; position:relative;">' +
        '<h4 class="oname" style="text-align:center;">{name} - <span id="p_{oid}">{uprice}</span></h4>' +
        '<div class="row">' +
        '<div class="col-6" style="text-align:center; border-right:2px solid #454545;">' +
        '<p style="margin:0px;"><span style="font-size:20px; color:blue;">{input}</span></p>' +
        '<p style="margin:0px;"><a href="/hr-cloud/widget/nt/import-histories?cusid={cid}&oid={oid}{tu}" class="btn btn-sm btn-info"><i class="flaticon-download-1"></i> <span style="font-size:16px;">{countIN}</span></a></p>' +
        '</div>' +
        '<div class="col-6" style="text-align:center;">' +
        '<p style="margin:0px;"><span style="font-size:20px;color:orangered">{output}</span></p>' +
        '<p style="margin:0px;"><a href="/hr-cloud/widget/nt/export-histories?cusid={cid}&oid={oid}{tu}" class="btn btn-sm btn-info"><i class="flaticon2-paper-plane"></i> <span style="font-size:16px;">{countOUT}</span></a></p>' +
        '</div>' +
        '</div>' +
        '<p style="margin:0px;text-align:center;margin-top:5px;display:{bstyle}"><a href="/hr-cloud/widget/nt/back-histories?oid=cusid={cid}&oid" class="btn btn-dark">Trả hàng: {back}</a></p>' +
        '</div>' +

        '<div class="progress" style="margin-top:10px;">' +
        '<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {percent}%" aria-valuenow="{percent}" aria-valuemin="0" aria-valuemax="100"></div>' +
        '</div>' +
        '<p style="text-align:center; font-size:16px; color:red;margin-bottom:0px;">{percent}% ({out}/{in}) - <span style="color:blue;">{remain}</span></p>' +
        '<p class="comBox" style="color: blue;display:{cstyle}"><i style="color: blue !important;" class="flaticon2-check-mark"></i> Hoàn thành - <span style="color:#454545; font-style:italic">{res}</span></p>' +
        '</div>';

    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });
    }

    var wdata;

    function getCustomer(cid) {
        if (wdata) {
            for (var i = 0; i < wdata.customers.length; i++) {
                if (cid == wdata.customers[i].CustomerId)
                    return wdata.customers[i];
            }
            return "";
        }
        else
            return "";
    }

    function getPlastic(pid) {
        if (wdata) {
            for (var i = 0; i < wdata.plastics.length; i++) {
                if (pid == wdata.plastics[i].PlasticId)
                    return wdata.plastics[i];
            }
            return null;
        }
        else
            return null;
    }

     var cid = "@ViewBag.CID";
     var sec = "@ViewBag.CSEC";

    $(document).ready(function () {

        if (sec) {
            $("#loadingBox").css("display", "");
            login(cid, sec, renderPageData);
        }
        else {
            $("#introBox").css("display", "");
        }

        $("#btnSubmit").click(function () {
            var pass = $("#pass").val();
            login(cid, pass, renderPageData);
        });


        function renderPageData() {
            $("#introBox").css("display", "none");
            $("#dname").text(pageData.Name);
            $("#avatar").attr("src", pageData.Logo);

            $("#congno").attr("tag", pageData.CMoney);
            $("#doanhso").attr("tag", pageData.Money);
            $("#khoiluong").attr("tag", pageData.WCount);

            displayPrices();

            $("#loadingBox").css("display", "none");
            $("#menuBTN").css("display", "block");
            $("#dataBox").css("display", "block");
            $("#orderBoxList").css("display", "block");
            hideLoadingIndicator();
        };

        function loginFail() {
            $("#loadingBox").css("display", "none");
            $("#introBox").css("display", "");
            alert("Đăng nhập không thành công, thử lại");

        }

        function login(id, pass, callback) {
            var url = "/api/widget/nguyen-trang/customer-info-login";
            var model = {};
            model.cid = id;
            model.sec = pass;
            PNPost(url, model, function (data) {
                if (data != "") {
                    pageData = JSON.parse(data);
                    setTimeout(function () {
                        callback();
                    }, 500);
                }
                else
                    loginFail();
            });
        }
        
    });

    function displayPrices() {
        var list = $(".number-format");
        for (var i = 0; i < list.length; i++) {
            var val = $(list[i]).attr("tag");
            var num = parseInt(val);
            $(list[i]).text(numberWithCommas(num));
        }
    }

   

    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

    function convertUIDateTime(timestapm, c) {
        var date = new Date(timestapm * 1000);
        var day = date.getDate();
        var month = date.getMonth();
        var year = date.getFullYear();
        var result = {};
        result.uiDate = (day < 10 ? "0" + day.toString() : day.toString()) + c + (month < 9 ? "0" + (month + 1).toString() : (month + 1).toString()) + c + year;

        var hour = date.getHours();
        var min = date.getMinutes();
        result.uiTime = (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());

        return result;

    }
</script>

