﻿@{
    Layout = "~/Views/Shared/_NTCustomerLayout.cshtml";
}


<style>
    .imgBox {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 2px solid #aaa;
        background-size: cover;
        background-position: center
    }

</style>

<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <h3>Sản phẩm phần mềm được phát triển bởi <span style="color:red;">PNGroup</span> .</h3>
        <h4>Liên hệ bộ phận kỹ thuật: <a class="btn btn-info" href="tel:0773054516">0773054516</a></h4>
    </div>
</div>



