﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_BossLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}

<script>

    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }

</script>

<script src="/Scripts/common-func.js"></script>

<div class="card card-custom gutter-b">
    <div class="card-body">
    </div>
</div>


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/loading-shifts.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/number-format.js"></script>
