﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_BossLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    var money = (decimal)ViewBag.Money;
}

<script>

    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }

</script>

<script src="/Scripts/common-func.js"></script>

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding:10px;">
                <div style="border-radius: 5px; background-color: blueviolet; padding:20px;">
                    <p style="text-align:center; color:white;">Lương Gia Công</p>
                    <h3 style="text-align:center; color:white;">@PNUtility.Helpers.UtilityHelper.MoneyFormat(money)</h3>
                    <p style="text-align:center;"><a href="/hr-cloud/boss/home-working-salary" class="btn btn-primary">Chi tiết</a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding:10px;">
                <div style="border-radius: 5px; background-color: darkgreen; padding:20px;">
                    <p style="text-align:center; color:white;">Đơn hàng đang làm</p>
                    <h3 style="text-align:center; color:white;">@ViewBag.OCount</h3>
                    <p style="text-align:center;"><a class="btn btn-primary">Chi tiết</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/loading-shifts.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/number-format.js"></script>
