﻿@model hrcloud.EFWIDGET.SN_PUser
@{
    ViewBag.Title = "UserSummary";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    var isManager = (bool)ViewBag.Manager;
    var orders = (List<hrcloud.EFWIDGET.SN_Package>)ViewBag.Orders;
    int i = 1;
    var targetUser = ViewBag.Username;

    Layout = "~/Views/Shared/_BossLayout.cshtml";
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        @if (isManager)
        {
            var users = hrcloud.Services.Widgets.SonNguyenCacheService.Users;
            <select style="padding:6px; margin-bottom:20px;" id="selUser">
                @foreach (var item in users)
                {
                    <option class="ouser" value="@item.UserId"></option>
                }
            </select>
            <script>
                $(document).ready(function () {
                    $("#selUser").val("@targetUser");
                    $("#selUser").change(function () {
                        window.location.href = "/hr-cloud/boss/sn/user-summary?username=" + $("#selUser").val();
                    });
                });
            </script>
        }
        <p style="text-align: center; margin-bottom:0px;">
            <img id="avatar" src="/Images/avatar.png" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
        </p>
        <p style="text-align:center;margin-top:0px;"><span id="gcName" style="font-size:16px; font-weight:bold;"></span></p>
        <p id="gPhone" style="text-align:center; font-size:16px; color:blue;"></p>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding:10px;">
                <div style="border-radius: 5px; background-color: blueviolet; padding:20px;">
                    <p style="text-align:center; color:white;">Doanh số lũy tiến</p>
                    <h3 style="text-align:center; color:white;">@PNUtility.Helpers.UtilityHelper.MoneyFormat(Model.TotalAmount)</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding:10px;">
                <div style="border-radius: 5px; background-color: darkgreen; padding:20px;">
                    <p style="text-align:center; color:white;">Số tiền hiện có</p>
                    <h3 style="text-align:center; color:white;">@PNUtility.Helpers.UtilityHelper.MoneyFormat(Model.Account)</h3>
                </div>
            </div>

        </div>
        <h4 style="font-weight:bold;">Đơn hàng đang làm:</h4>
        @foreach (var item in orders)
        {
            var date = PNUtility.Helpers.UtilityHelper.JavaTimeStampToDateTime(item.CreateDate);
            var nail = hrcloud.Services.Widgets.SonNguyenCacheService.Nails.Where(a => a.NailId == item.NailId).FirstOrDefault();
            var grit = hrcloud.Services.Widgets.SonNguyenCacheService.Grit.Where(a => a.GritId == item.GritId).FirstOrDefault();
            <div style="margin-bottom:10px;">
                <input type="hidden" class="avg" value="@nail.AVG" />
                <input type="hidden" class="perc" value="@nail.Perc" />
                <input type="hidden" class="nail-name" value="@nail.Name" />
                <input type="hidden" class="grit-name" value="@grit.Name" />
                <input type="hidden" class="hkgout" value="@Math.Round(item.KgOut.Value, 1)" />
                <input type="hidden" class="hprice" value="@item.Price" />
                <input type="hidden" class="hid" value="@item.PackageId" />
                <input type="hidden" class="hprice" value="@item.Price" />
                <input type="hidden" class="htext" value="@nail.Name - @grit.Name -  @Math.Round(item.KgOut.Value / 10, 1) (kg)" />
                <h5><span style="color:red">@i.</span> <span>@nail.Name</span> - <span>@grit.Name</span> - <span style="color:red; font-weight:bold;"> @Math.Round(item.KgOut.Value / 10, 1) (kg)</span> - <span style="color:blue;">@date.ToString("dd/MM/yyyy HH:mm")</span> - <span>Nhập: </span><span tag="@item.AssignBy" style="color:purple; text-decoration:underline; font-style:italic" class="aname"></span></h5>
            </div>
            i++;
        }

        <div>
            <a href="/hr-cloud/widget/sn/user-latest-approved?username=@targetUser"><div style="margin:5px; margin-top:20px; padding:10px; background-color:darkgreen; color:white;"><p style="text-align:center; margin:0px;">Đã duyệt gần đây</p></div></a>
        </div>

        <div>
            <a href="/hr-cloud/widget/sn/user-transactions?username=@targetUser"><div style="margin:5px; margin-top:20px; padding:10px; background-color:darkblue; color:white;"><p style="text-align:center; margin:0px;">Xem lịch sử giao dịch</p></div></a>
        </div>

        <div>
            <a href="/hr-cloud/widget/sn/user-package-changes?username=@targetUser"><div style="margin:5px; margin-top:20px; padding:10px; background-color:coral; color:white;"><p style="text-align:center; margin:0px;">Xem lịch sử thay đổi</p></div></a>
        </div>
    </div>
</div>


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script>
    function toMapObject(array, name) {
        var res = {};
        for (var i = 0; i < array.length; i++) {
            var val = array[i][name];
            res[val] = array[i];
        }
        return res;
    }

    var map = {};
    var crow;
    var cid;
    $(document).ready(function () {
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var me = "@targetUser";
        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            map = toMapObject(list, "Username");
            for (var i = 0; i < list.length; i++) {
                if (me == list[i].Username) {
                    if (list[i].Avatar) {
                        $("#avatar").attr("src", host + list[i].Avatar);
                    }
                    $("#gcName").text(list[i].FirstName + " " + list[i].LastName);
                    $("#gPhone").text(list[i].Phone);
                    break;
                }
            }

            var anames = $(".aname");
            for (var i = 0; i < anames.length; i++) {
                var id = $(anames[i]).attr("tag");
                var find = map[id];
                $(anames[i]).text(find.LastName);
            }

            var options = $(".ouser");
            for (var i = 0; i < options.length; i++) {
                var id = $(options[i]).attr("value");
                var find = map[id];
                var name = find.FirstName + " " + find.LastName;
                $(options[i]).text(name);
            }
        }, function () { showRetry(); });
        
    });
</script>

