﻿@{
    ViewBag.Title = "MakeFuncTransaction";
    Layout = "~/Views/Shared/_BossLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}

<link href="/Content/swipe/photoswipe.css" rel="stylesheet" />
<link href="/Content/swipe/default-skin.css" rel="stylesheet" />

<script src="/Scripts/swipe/photoswipe-min.js"></script>
<script src="/Scripts/swipe/photoswipe-ui-default-min.js"></script>

<link href="/Content/typehead.css" rel="stylesheet" />
<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/number-format.js"></script>

@{ Html.RenderPartial("CommonFunction"); }

<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<style>
    .fund-item {
        padding: 10px;
        border-bottom: 1px solid #454545;
        position: relative;
    }
</style>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:10px;">
                <div style="border-radius: 5px; background-color: blueviolet; padding:20px;">
                    <p style="text-align:center; color:white;">Quỹ hiện tại</p>
                    <h3 id="currentACC" style="text-align:center; color:white;">Đang tải dữ liệu...</h3>
                </div>
            </div>
        </div>
        <div class="row filter-box">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Từ ngày</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="@ViewBag.FromDate" id="fromDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Đến ngày</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="@ViewBag.ToDate" id="toDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Tối thiểu</p>
                <input class="form-control pn-number" id="min" onkeyup="digitsOnly(this)" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Tối đa</p>
                <input class="form-control pn-number" id="max" onkeyup="digitsOnly(this)" />
            </div>
        </div>
        <div class="row filter-box">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Chọn loại</p>
                <select id="type" style="padding:6px; width:100%">
                    <option value="0" selected>Xuất tiền quỹ</option>
                    <option value="1">Nạp vào quỹ</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Từ khóa</p>
                <input class="form-control" id="query" placeholder="Nhập từ khóa" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Người tham chiếu</p>
                <input class="form-control" id="uref" placeholder="Tìm tên nhân viên" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:12px; height:17px;"> </p>
                <button id="btnSubmit" class="btn btn-success" style="width:100px;">Xem</button>
            </div>
        </div>

        @*<p id="showBTN">
            <button id="filterBTN" style="width:100%;" class="btn btn-success">Bộ lọc</button>
        </p>*@

        <div id="fundBox">
            @*<div class="fund-item">
                <h4><i style="color:red;" class="icon-1x flaticon2-fast-next"></i> <span style="font-weight:bold;">Mua 3 bóng đèn</span> <span style="font-style:italic;">(02/04/2021 - 13h04)</span></h4>
                <h4 style="color:red">- 500.000đ</h4>
                <p style="margin-bottom:0px;"><i class="icon-1x flaticon2-user"></i> <span style="color:blue">Nguyễn Văn Hoàng</span></p>
                <div style="position:absolute; width:100px; height:50px;right:10px; bottom:10px;">
                    <button style="float:right;" class="btn btn-warning"><i class="icon-2x flaticon2-photograph"></i></button>
                </div>
            </div>
            <div class="fund-item">
                <h4><i style="color:red;" class="icon-1x flaticon2-fast-next"></i> <span style="font-weight:bold;">Mua 3 bóng đèn</span> <span style="font-style:italic;">(02/04/2021 - 13h04)</span></h4>
                <h4 style="color:red">- 500.000đ</h4>
                <p style="margin-bottom:0px;"><i class="icon-1x flaticon2-user"></i> <span style="color:blue">Nguyễn Văn Hoàng</span></p>
                <div style="position:absolute; width:100px; height:50px;right:10px; bottom:10px;">
                    <button style="float:right;" class="btn btn-warning"><i class="icon-2x flaticon2-photograph"></i></button>
                </div>
            </div>*@
        </div>
    </div>
</div>



<script src="/Scripts/number-format.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>
<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>

<script src="/Scripts/typehead/bloodhound.min.js"></script>
<script src="/Scripts/typehead/typeahead.bundle.min.js"></script>
<script src="/Scripts/typehead/typeahead.jquery.min.js"></script>


<script>
    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });;
    }

    var substringMatcher = function (strs) {
        return function findMatches(q, cb) {
            var matches, substrRegex;
            matches = [];
            substrRegex = new RegExp(q, 'i');
            $.each(strs, function (i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });
            cb(matches);
        };
    };
    var udata = new Array();

    function removeVietnameseTones(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        // Some system encode vietnamese combining accent as individual utf-8 characters
        // Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
        str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
        str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
        // Remove extra spaces
        // Bỏ các khoảng trắng liền nhau
        str = str.replace(/ + /g, " ");
        str = str.trim();
        // Remove punctuations
        // Bỏ dấu câu, kí tự đặc biệt
        str = str.replace(/!|@@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, " ");
        return str;
    }
    var udata = new Array();
    var userSelected = "";
    var template = '<div class="fund-item">'+
                        '<h4><i style="color:red;" class="icon-1x flaticon2-fast-next"></i> <span style="font-weight:bold;">{ct}</span> <span style="font-style:italic;">({time})</span></h4>'+
                        '<h4 style="color:red">{money} <span style="color:blue; font-style:italic">Còn lại: {remain}</span></h4>'+
                        '<p style="margin-bottom:0px;"><i class="icon-1x flaticon2-user"></i> <span style="color:blue">{name}</span></p>'+
                        '<div style="position:absolute; width:100px; height:50px;right:10px; bottom:10px;">'+
                            '<button title="{url}" style="float:right; {show}" class="btn btn-warning view-photo"><i class="icon-2x flaticon2-photograph"></i></button>'+
                        '</div>'+
                    '</div>';

    function toMapObject(array, name) {
        var res = {};
        for (var i = 0; i < array.length; i++) {
            var val = array[i][name];
            res[val] = array[i];
        }
        return res;
    }

    var map = {};
    var pswpElement;

    function numberWithCommasTest(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }

    $(document).ready(function () {
        $("#filterBTN").click(function () {
            $("#showBTN").css("display", "none");
            $(".filter-box").css("display", "-webkit-box");
        });

         var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        makeDatepicker("fromDate");
        makeDatepicker("toDate");
        pswpElement = document.querySelectorAll('.pswp')[0];

        PNCustomGet(host + "/api/main/accounting/get-current-fund-value", access_token, function (acc) {
            $("#currentACC").text(acc);
        }, function () { });

        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            map = toMapObject(list, "Username");
            for (var i = 0; i < list.length; i++) {
                var text = list[i].FirstName + " " + list[i].LastName;
                var utext = removeVietnameseTones(text);
                udata.push(utext + " - " + list[i].Username);
            }

            $('#uref').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                name: 'udata',
                source: substringMatcher(udata)
            });

            $('#uref').bind('typeahead:select', function (ev, suggestion) {
                var split = suggestion.split('-');
                userSelected = split[1].trim();
            });


            requestData()

        }, function () { showRetry(); });

        $("#btnSubmit").click(function () {
            requestData();
        });



        function requestData() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            var min = $("#min").val().split(".").join("");
            var max = $("#max").val().split(".").join("");
            var type = $("#type").val();
            var query = $("#query").val();
            var uref = userSelected;
            var model = { fromDate: fromDate, toDate: toDate, min: min, max: max, type: type, query: query, uref: uref };
            PNCustomPost(host + "/api/main/accounting/read-fund-transactions", access_token, model, function (results) {
                $("#fundBox").empty();
                var list = JSON.parse(results);
                
                for (var i = 0; i < list.length; i++) {
                    var html = template.replace("{ct}", list[i].Explain);
                    var datetime = new Date(parseInt(list[i].DoDate.match(/(\d+)/)[1], 10));
                    
                    var timeText = formatDateTime(datetime, !list[i].IsSel);

                    html = html.replace("{time}", timeText);
                    var test = numberWithCommasTest(list[i].Value);
                    var money = (list[i].IsOut ? "-" : "+") + numberWithCommasTest(list[i].Value);
                    html = html.replace("{money}", money);
                    html = html.replace("{remain}", numberWithCommasTest(list[i].Remain));
                    var photo = list[i].Photo;

                    if (photo == "") {
                        html = html.replace("{url}", "");
                        html = html.replace("{show}", "display:none;");
                    }
                    else {
                        html = html.replace("{url}", host + photo);
                        html = html.replace("{show}", "");
                    }
                    if (list[i].RefUser) {
                        var find = map[list[i].RefUser];
                        if (find) {
                            html = html.replace("{name}", find.FirstName + " " + find.LastName);
                        }
                    }
                    else {
                        html = html.replace("{name}", "");
                    }
                    $("#fundBox").append(html);
                }

                $(".view-photo").click(function () {
                    var mapLoaded = {};
                    var url = $(this).attr("title");
                    var photoList = new Array();
                    var m = {
                        src: url,
                        w: 0,
                        h: 0,
                        title: ""
                    };
                    photoList.push(m);

                    var options = {
                        index: 0
                    };
                    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, photoList, options);
                    gallery.listen('gettingData', function (index, item) {
                        if (item.w < 1 || item.h < 1) { // unknown size
                            if (!mapLoaded[item.src]) {
                                mapLoaded[item.src] = "load";
                                var img = new Image();
                                img.onload = function () { // will get size after load
                                    item.w = this.width; // set image width
                                    item.h = this.height; // set image height
                                    gallery.invalidateCurrItems(); // reinit Items
                                    gallery.updateSize(true); // reinit Items
                                }
                                img.src = item.src; // let's download image
                            }
                        }
                    });

                    gallery.init();
                    return false;
                });

            }, function () { alert("Có lỗi xảy ra, thử lại sau"); });
        }

        $('#uref').click(function () {
            $('#uref').val("");
            $('#uref').typeahead('val', '');
            userSelected = "";
        });
    });

    function formatDateTime(date, hasHour) {
        var day = ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + date.getFullYear();
        if (hasHour) {
            var h = ((date.getHours() > 9) ? date.getHours() : ('0' + date.getHours())) + 'h' + ((date.getMinutes() > 9) ? date.getMinutes() : ('0' + date.getMinutes()));
            return day + ' - ' + h;
        }
        else
            return day;
    }
</script>


<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

