﻿@model IEnumerable<hrcloud.EFWIDGET.SN_PUser>
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_BossLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}

<script>

    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }

</script>

<script src="/Scripts/common-func.js"></script>

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row">
            @foreach(var item in Model)
            {
                var time = item.LastPayment.HasValue ? item.LastPayment.Value.ToString("dd/MM/yyyy") : "Chưa phát sinh";
                <div style="margin-top:10px; width:100%; min-height:10px; border-bottom:2px solid #454545; padding-bottom:40px;">
                    <div style="width:100px; height:100px;">
                        <img title="@item.UserId" style="border:1px solid #aaa; border-radius:50px; width: 100px; height: 100px;" class="avatar" />
                    </div>
                    <div style="margin-left:110px; margin-top:-100px; height:100px">
                        <h4 class="gname"></h4>
                        <h4>Lương: <span style="color:blue; font-weight:bold;">@PNUtility.Helpers.UtilityHelper.MoneyFormat(item.Account)</span></h4>
                        <h5>Lần TT gần nhất: <span style="color:orangered">@time</span></h5>
                        <p><a href="/hr-cloud/boss/sn/user-summary?username=@item.UserId" class="btn btn-primary">Xem nhiều hơn</a></p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/loading-shifts.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/number-format.js"></script>

<script>
        var access_token = "@clientModel.Token";
    var host = "@clientModel.HostURL";
    var map = {};
        $(document).ready(function () {
            loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
                map = toMapObject(list, "Username");
                var avatars = $(".avatar");
                for (var i = 0; i < avatars.length; i++) {
                    var uid = $(avatars[i]).attr("title");
                    var find = map[uid];
                    if (find) {
                        $(avatars[i]).attr("src", host + find.Avatar);
                        var parent = $($(avatars[i]).parent()).parent();
                        $(parent).find(".gname").text(find.FirstName + " " + find.LastName);
                    }
                }
            }, function () { showRetry(); });
        });
</script>

