﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";
    
    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align: center; margin-bottom:0px;">
            <img id="avatar" src="/Images/avatar.png" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
        </p>
        <p style="margin-top:2px; text-align:center;"><button id="uploadPhotoAvatar" class="btn btn-sm btn-warning" style="padding-left:13px;"> <i class="icon-1x flaticon-photo-camera"></i></button></p>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top:10px;">
                <div id="selPosition" class="dropdown pn-select">
                    <button class="btn btn-pill btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-1x flaticon2-layers" style="color:white; margin-right:5px;"></i>
                        <span>Chọn vai trò</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top:10px;">
                <div id="selArea" class="dropdown pn-select">
                    <button class="btn btn-pill btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-1x flaticon2-hexagonal" style="color:white; margin-right:5px;"></i>
                        <span>Chọn phòng ban</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Họ & chữ lót</p>
                <input id="firstName" type="text" class="form-control" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px;  margin-top:10px;">Tên</p>
                <input id="lastName" type="text" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Giới tính</p>
                <div class="radio-inline">
                    <label class="radio">
                        <input type="radio" checked="checked" name="esex" value="1">
                        <span></span>
                        Nam
                    </label>
                    <label class="radio">
                        <input type="radio" name="esex" value="0">
                        <span></span>
                        Nữ
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px;  margin-top:10px;">Ngày sinh</p>
                <div>
                    <select id="selDay" style="padding:6px;">
                        <option value="01">Ngày 01</option>
                        <option value="02">Ngày 02</option>
                        <option value="03">Ngày 03</option>
                        <option value="04">Ngày 04</option>
                        <option value="05">Ngày 05</option>
                        <option value="06">Ngày 06</option>
                        <option value="07">Ngày 07</option>
                        <option value="08">Ngày 08</option>
                        <option value="09">Ngày 09</option>
                        <option value="10">Ngày 10</option>
                        <option value="11">Ngày 11</option>
                        <option value="12">Ngày 12</option>
                        <option value="13">Ngày 13</option>
                        <option value="14">Ngày 14</option>
                        <option value="15">Ngày 15</option>
                        <option value="16">Ngày 16</option>
                        <option value="17">Ngày 17</option>
                        <option value="18">Ngày 18</option>
                        <option value="19">Ngày 19</option>
                        <option value="20">Ngày 20</option>
                        <option value="21">Ngày 21</option>
                        <option value="22">Ngày 22</option>
                        <option value="23">Ngày 23</option>
                        <option value="24">Ngày 24</option>
                        <option value="25">Ngày 25</option>
                        <option value="26">Ngày 26</option>
                        <option value="27">Ngày 27</option>
                        <option value="28">Ngày 28</option>
                        <option value="29">Ngày 29</option>
                        <option value="30">Ngày 30</option>
                        <option value="31">Ngày 31</option>

                    </select>
                    <select id="selMonth" style="padding:6px;">
                        <option value="01">Tháng 01</option>
                        <option value="02">Tháng 02</option>
                        <option value="03">Tháng 03</option>
                        <option value="04">Tháng 04</option>
                        <option value="05">Tháng 05</option>
                        <option value="06">Tháng 06</option>
                        <option value="07">Tháng 07</option>
                        <option value="08">Tháng 08</option>
                        <option value="09">Tháng 09</option>
                        <option value="10">Tháng 10</option>
                        <option value="11">Tháng 11</option>
                        <option value="12">Tháng 12</option>
                    </select>
                    <select id="selYear" style="padding:6px;">
                        <option value="1970">Năm 1970</option>
                        <option value="1971">Năm 1971</option>
                        <option value="1972">Năm 1972</option>
                        <option value="1973">Năm 1973</option>
                        <option value="1974">Năm 1974</option>
                        <option value="1975">Năm 1975</option>
                        <option value="1976">Năm 1976</option>
                        <option value="1977">Năm 1977</option>
                        <option value="1978">Năm 1978</option>
                        <option value="1979">Năm 1979</option>
                        <option value="1980">Năm 1980</option>

                        <option value="1981">Năm 1981</option>
                        <option value="1982">Năm 1982</option>
                        <option value="1983">Năm 1983</option>
                        <option value="1984">Năm 1984</option>
                        <option value="1985">Năm 1985</option>
                        <option value="1986">Năm 1986</option>
                        <option value="1987">Năm 1987</option>
                        <option value="1988">Năm 1988</option>
                        <option value="1989">Năm 1989</option>
                        <option value="1990">Năm 1990</option>

                        <option value="1991">Năm 1991</option>
                        <option value="1992">Năm 1992</option>
                        <option value="1993">Năm 1993</option>
                        <option value="1994">Năm 1994</option>
                        <option value="1995">Năm 1995</option>
                        <option value="1996">Năm 1996</option>
                        <option value="1997">Năm 1997</option>
                        <option value="1998">Năm 1998</option>
                        <option value="1999">Năm 1999</option>
                        <option value="2000">Năm 2000</option>

                        <option value="2001">Năm 2001</option>
                        <option value="2002">Năm 2002</option>
                        <option value="2003">Năm 2003</option>
                        <option value="2004">Năm 2004</option>
                        <option value="2005">Năm 2005</option>
                        <option value="2006">Năm 2006</option>
                        <option value="2007">Năm 2007</option>
                        <option value="2008">Năm 2008</option>
                        <option value="2009">Năm 2009</option>
                        <option value="2010">Năm 2010</option>

                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Số CMND/Căn cước</p>
                <input id="cmnd" type="text" class="form-control" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px;  margin-top:10px;">Địa chỉ thường trú</p>
                <input id="addr" type="text" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Ngày vào làm</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="01/01/1970" id="joinDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px;  margin-top:10px;">Nhãn</p>
                <div id="labelBox" class="checkbox-inline">

                </div>
            </div>
        </div>
        <p style="color:blue; margin-bottom:0px; margin-top:10px;">Hình ảnh lưu trữ nội bộ</p>
        <div id="companyPhotoComposer">

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Lương căn bản 1 giờ</p>
                <input id="hCost" type="text" onkeyup="digitsOnly(this)" class="form-control pn-number" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Số điện thoại liên lạc</p>
                <input id="phone" type="text" onkeyup="digitsOnly(this)" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Cho phép quản lý thu chi</p>
                <select id="selFunc" style="padding:5px;">
                    <option value="0" selected>Không</option>
                    <option value="1">Quản lý thu chi</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                
            </div>
        </div>
        <p style="text-align:center; margin-top:10px;"><button id="btnUpdateMainInfo" class="btn btn-primary">Cập nhật</button></p>

        <p><button id="hideBTN" style="width:100%" class="btn btn-danger">Nghỉ việc</button></p>
    </div>
</div>
<input style="visibility:hidden;" type="file" id="avatar_file" accept="image/x-png,image/gif,image/jpeg" />


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>

<script>
    var listPosition = new Array();
    var listLabel = new Array();
    var username = "@ViewBag.Target";

    var photoUploadURL_Result;
    var photo_Multi_UploadURL_Result;
    var newAvatar = "";

    function findElementById(list, id) {
        for (var i = 0; i < list.length; i++) {
            if (list[i].Id == id) {
                return list[i];
            }
        }
        return null;
    }

    $(document).ready(function () {
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var postSimplePhotoURL = host + "/api/main/post-photo";
        var postMultiPhotoURL = host + "/api/main/post-multi-photo";
        var photoBox;
        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            for (var i = 0; i < list.length; i++) {
                if (username == list[i].Username) {
                    fetchUserInfo(list[i]);
                    break;
                }
            }
        }, function () { showRetry(); });

        function fetchUserInfo(info) {

            loadPositions(host, access_token, latestChanges.PositionChanged, function (list) {
                listPosition = list;
                var findPosition = findElementById(list, info.Position);
                for (var i = 0; i < list.length; i++) {
                    var option = '<a class="dropdown-item" color="' + list[i].Color + '" href="#!" tag="' + list[i].Id + '">' + list[i].Name + '</a>'
                    $("#selPosition .dropdown-menu").append(option)
                }
                $("#selPosition .dropdown-item").click(function () {
                    var name = $(this).text();
                    var color = $(this).attr("color");
                    var id = $(this).attr("tag");
                    var box = $($(this).parent()).parent();
                    var btn = $(box).find("button");
                    $(btn).attr("class", "btn btn-pill dropdown-toggle");
                    $(btn).addClass("btn-" + color);
                    $(btn).find("span").text(name);
                    $("#selPosition").attr("value", id);
                    e.preventDefault();
                });
                if (findPosition != null) {
                    var box = $("#selPosition");
                    var btn = $(box).find("button");
                    $(btn).attr("class", "btn btn-pill dropdown-toggle");
                    $(btn).addClass("btn-" + findPosition.Color);
                    $(btn).find("span").text(findPosition.Name);
                    $("#selPosition").attr("value", findPosition.Id);
                }
            });

            loadAreas(host, access_token, latestChanges.AreaChanged, function (list) {
                var findArea = findElementById(list, info.AreaId);
                for (var i = 0; i < list.length; i++) {
                    var option = '<a class="dropdown-item" href="#!" tag="' + list[i].Id + '">' + list[i].Name + '</a>'
                    $("#selArea .dropdown-menu").append(option)
                }
                $("#selArea .dropdown-item").click(function () {
                    var name = $(this).text();
                    var id = $(this).attr("tag");
                    var box = $($(this).parent()).parent();
                    var btn = $(box).find("button");
                    $(btn).find("span").text(name);
                    $("#selArea").attr("value", id);
                    e.preventDefault();
                });

                if (findArea != null) {
                    var box = $("#selArea");
                    var btn = $(box).find("button");
                    //$(btn).attr("class", "btn btn-pill dropdown-toggle");
                    //$(btn).addClass("btn-" + findPosition.Color);
                    $(btn).find("span").text(findArea.Name);
                    $("#selArea").attr("value", findArea.Id);
                }
            });

            loadLabels(host, access_token, latestChanges.LabelChanged, function (list) {
                listLabel = list;
                var lbtem = '<label class="checkbox">' +
                    '<input class="chk-label" type="checkbox" {chk} name="{name}" lid="{id}">' +
                    '<span></span>' +
                    '{name}' +
                    '</label>';

                for (var i = 0; i < list.length; i++) {
                    var label = lbtem.replace("{name}", list[i].Name).replace("{name}", list[i].Name).replace("{id}", list[i].Id)
                    var ft = list[i].Id + "*";
                    var matched = info.Labels != null && info.Labels.indexOf(ft) >= 0;
                    if (matched)
                        label = label.replace("{chk}", "checked");
                    else
                        label = label.replace("{chk}", "");

                    $("#labelBox").append(label);
                }
            });

            $("#firstName").val(info.FirstName);
            $("#lastName").val(info.LastName);
            $("#cmnd").val(info.CMND);
            $("#addr").val(info.Addr);
            $("#phone").val(info.Phone);
            $("#selFunc").val(info.IaC ? "1" : "0");

            if (info.Sex == false)
                $("input[name=esex][value=0]").attr('checked', true);
            else
                $("input[name=esex][value=1]").attr('checked', true);

            try {
                var timeSplit = info.Birthday.split('/');
                $("#selDay").val(timeSplit[0]);
                $("#selMonth").val(timeSplit[1]);
                $("#selYear").val(timeSplit[2]);
            }
            catch{ }

            $("#joinDate").val(info.JoinDate);

            if (info.Avatar)
                $("#avatar").attr("src", host + info.Avatar);

            makeDatepicker("joinDate");

            var photoList = info.Pictures ? JSON.parse(info.Pictures) : new Array();

            photoBox = new MultiPhotoBox("companyPhotoComposer", host, photoList, postMultiPhotoURL);
            photoBox.renderUI();

            var mtext = numberWithCommas(info.HValue);
            $("#hCost").val(mtext);

        }

        $("#uploadPhotoAvatar").click(function () {
            $("#avatar_file").click();
        });

        $("#btnOpenMulti").click(function () { $("#office_file").click(); });

        registerSimpleUpload("avatar_file", postSimplePhotoURL, function (path) {
            newAvatar = path;
            $("#avatar").attr("src", host + path);
        });

        registerMultiUpload("office_file", postMultiPhotoURL, function (result) {
            alert(result);
        });


        $("#btnUpdateMainInfo").click(function () {
            var postModel = {};
            postModel.avatar = newAvatar;
            postModel.position = $("#selPosition").attr("value");
            postModel.area = $("#selArea").attr("value");
            postModel.username = username;
            var firstName = $("#firstName").val();
            var lastName = $("#lastName").val();
            if (firstName == "") {
                alert("Họ và chữ lót không được bổ trống");
                return false;
            }

            if (lastName == "") {
                alert("Tên không được bổ trống");
                return false;
            }
            postModel.firstName = firstName;
            postModel.lastName = lastName;
            postModel.sex = $("input[name=esex][value=0]").prop("checked") ? "0" : "1";
            postModel.birthday = $("#selDay").val() + "/" + $("#selMonth").val() + "/" + $("#selYear").val();
            postModel.cmnd = $("#cmnd").val();
            postModel.addr = $("#addr").val();
            postModel.joindate = $("#joinDate").val();

            postModel.func = $("#selFunc").val();

            var value = $("#hCost").val();
            var text = value.split(".").join("").split(",").join("");
            var money = parseInt(text);
            postModel.hcost = money;

            var chks = $(".chk-label");
            var labels = "";

            for (var i = 0; i < chks.length; i++) {
                if ($(chks[i]).prop("checked")) {
                    var id = $(chks[i]).attr("lid");
                    labels = labels + id + "*";
                }
            }


            postModel.labels = labels;
            postModel.avatar = newAvatar;
            var multiData = photoBox.getMultiPostData();
            postModel.pictures = multiData;
            postModel.phone = $("#phone").val();
            postModel.isChanged = multiData != photoBox.origin;
            var updateURL = host + "/api/main/update-user-info";

            PNCustomPost(updateURL, access_token, postModel, function (data) {
                alert("Cập nhật thành công");
            }, function () { alert("Có lỗi xảy ra"); });

        });

        $("#hideBTN").click(function () {
            var hideURL = host + "/api/main/hide-user";
            if (confirm("Bạn muốn cho nhân viên này nghỉ việc???")) {
                PNCustomPost(hideURL, access_token, { username: username }, function (data) {
                    alert("Đã ẩn");
                    window.location = "/hr-cloud/admin/employee-list";
                }, function () { alert("Có lỗi xảy ra"); });
            }
        });
    });
</script>
