﻿@{
    ViewBag.Title = "MakeFuncTransaction";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}
<link href="/Content/typehead.css" rel="stylesheet" />
<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/number-format.js"></script>

@{ Html.RenderPartial("CommonFunction"); }

<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Số tiền</p>
                <input class="form-control pn-number" id="money" onkeyup="digitsOnly(this)" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Nội dung</p>
                <input class="form-control" autocomplete="off" id="content" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Upload ảnh</p>
                <p style="margin-top:2px; text-align:center;"><button id="uploadPhoto" class="btn btn-sm btn-warning" style="padding-left:13px;"> <i class="icon-1x flaticon-photo-camera"></i></button></p>
                <p style="text-align:center">
                    <img id="photo" style="width:200px;" />
                </p>
            </div>
        </div>
        <p style="text-align:center; margin-top:10px;"><button id="exportBTN" class="btn btn-primary">Nạp Quỹ</button></p>
    </div>
</div>

<div class="modal fade" id="nextModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:darkgreen" class="modal-title">Thao tác thành công!</h5>
            </div>
            <div class="modal-body">
                <p style="text-align:right">
                    <a href="/hr-cloud/on-board/fund-admin" class="btn btn-warning">Vào trang quản lý tiền quỹ</a>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Tạo tiếp nhập quỹ</button>
            </div>
        </div>
    </div>
</div>

<input style="visibility:hidden;" type="file" id="photo_file" accept="image/x-png,image/gif,image/jpeg" />
<script src="/Scripts/number-format.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>
<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>

<script src="/Scripts/typehead/bloodhound.min.js"></script>
<script src="/Scripts/typehead/typeahead.bundle.min.js"></script>
<script src="/Scripts/typehead/typeahead.jquery.min.js"></script>


<script>
    

    $(document).ready(function () {
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var postSimplePhotoURL = host + "/api/main/post-photo";
        var photoPath = "";
        $("#uploadPhoto").click(function () {
            $("#photo_file").click();
        });

        registerSimpleUpload("photo_file", postSimplePhotoURL, function (path) {
            photoPath = path;
            $("#photo").attr("src", host + path);
        });

        $("#exportBTN").click(function () {
            var money = $("#money").val();
            money = money.split(",").join("");
            money = money.split(".").join("");
            var content = $("#content").val();
            if (money == "")
                alert("Bạn chưa nhập số tiền cần nạp");
            else if (content == "")
                alert("Bạn chưa nhập nội dung chi quỹ");
            else {
                var model = { money: money, content: content, photo: photoPath };
                PNCustomPost(host + "/api/main/accounting/new-fund-import", access_token, model, function (res) {
                    if (res == "ok") {
                        $("#money").val("");
                        $("#content").val("");
                        $("#nextModal").modal('show');
                    }
                    else if (res == "400")
                        showRetry();
                }, function () { });
            }
        });
    });
</script>

