﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";
    
    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align: center; margin-bottom:20px;">
            <a href="/hr-cloud/admin/payment-user/@ViewBag.Target">
                <img id="avatar" src="/Images/avatar.png" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
            </a>
        </p>
        <h4 style="font-weight:bold; margin-top:10px;"><span>Lương căn bản 01 giờ làm việc: </span><span style="color:red;" id="basicSalary"></span></h4>
        <div id="topShifts">
            @*<h4 style="font-weight:bold; margin-top:10px;"><span style="color:blue;">Sáng (4 tiếng): </span><span style="color:darkviolet">168.000đ</span></h4>
            <h4 style="font-weight:bold; margin-top:10px;"><span style="color:blue;">Chiều (4 tiếng): </span><span style="color:darkviolet">168.000đ</span></h4>
            <h4 style="font-weight:bold; margin-top:10px;"><span  style="color:blue;">Tổng ngày: </span><span style="color:darkviolet">368.000đ</span></h4>*@
        </div>
        <div id="typingBox">
            <div class="row filter-boxs">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <p style="color:blue; margin-bottom:0px; margin-top:10px;">Từ ngày</p>
                    <div class="input-group date">
                        <input type="text" class="form-control" readonly="" value="@ViewBag.FromDate" id="fromDate">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <p style="color:blue; margin-bottom:0px; margin-top:10px;">Đến ngày</p>
                    <div class="input-group date">
                        <input type="text" class="form-control" readonly="" value="@ViewBag.ToDate" id="toDate">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <p style="color:blue; margin-top:10px; margin-bottom:0px;">Đã ứng trước</p>
                    <input class="form-control pn-number" id="prepay" onkeyup="digitsOnly(this)" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <p style="color:blue; margin-top:10px; margin-bottom:0px;">Thưởng thêm</p>
                    <input class="form-control pn-number" id="bonus" onkeyup="digitsOnly(this)" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6">
                    <p style="color:blue; margin-top:10px; margin-bottom:0px;">Khoản trừ</p>
                    <input style="border:1px solid red" class="form-control pn-number" id="subpay" onkeyup="digitsOnly(this)" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-xl-6">
                    <p style="color:blue; margin-top:10px; margin-bottom:0px;">Lý do trừ</p>
                    <input style="border:1px solid red" class="form-control" id="reason" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p style="color:blue; margin-top:10px; margin-bottom:0px;">Ghi chú thêm</p>
                    <input class="form-control" id="note" />
                </div>
            </div>

            <p style="text-align:center; margin-top:10px"><button disabled id="checkPayBTN" class="btn btn-primary">Chốt lương</button></p>
        </div>

        <div id="reviewBox" style="display:none;">
            <div id="workingBox">
                <div id="workingHeader" style="background-color:darkgreen; padding:10px; padding-bottom:5px; color:white">
                    <h4>Ngày công <span id="headFrom" style="color: #f3e325 "></span> - <span id="headTo" style="color: #f3e325"></span></h4>
                </div>
                <div id="workingList" style="border: 1px solid #aaa; padding:5px;">

                </div>
            </div>
            <div id="subBox" style="margin-top:10px;">
                <div id="workingHeader" style="background-color:red; padding:10px; padding-bottom:5px; color:white">
                    <h4>Khoản trừ</h4>
                </div>
                <div id="subList" style="border: 1px solid #aaa; padding:5px;">

                </div>
            </div>
            <h4 style="margin-top:10px;">Thưởng thêm: <span id="bonusText"></span></h4>
            <p><span style="text-decoration:underline;">Ghi chú: </span><span id="noteText" style="font-style:italic"></span></p>

            <h1 style="color:blue;">
                <span>Thực Lãnh: </span>
                <span id="moneyTotal"></span>
            </h1>
            <p style="font-style:italic">(Số tiền được làm tròn đến đơn vị ngàn đồng)</p>
            <p style="text-align:right; margin-top:10px;"><button id="acceptBillingBTN" class="btn btn-primary">Thực hiện</button></p>
        </div>

    </div>
</div>
<input style="visibility:hidden;" type="file" id="avatar_file" accept="image/x-png,image/gif,image/jpeg" />


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>

<script>
    var listPosition = new Array();
    var listLabel = new Array();
    var username = "@ViewBag.Target";

    var photoUploadURL_Result;
    var photo_Multi_UploadURL_Result;
    var newAvatar = "";

    

    function findElementById(list, id) {
        for (var i = 0; i < list.length; i++) {
            if (list[i].Id == id) {
                return list[i];
            }
        }
        return null;
    }

    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });
    }

    var workings
    var beginTS;
    var endTS;
    var postPrepay;
    var postBonus;
    var postSub;
    var postReason;
    var postNote;
    var postTotal;

    $(document).ready(function () {
        var wtotal = 0;
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var url = host + "/api/main/get-all-shifts";
        var payURL = host + "/api/main/working/get-working-by-day/{begin}/{end}/{username}";
        var makeBillURL = host + "/api/main/working/make-working-billing";
        var listAreas = new Array();
        var rateMap = {};
        var aid;
        var mapShifts = {};
        var uinfo;
        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            for (var i = 0; i < list.length; i++) {
                if (username == list[i].Username) {
                    fetchUserInfo(list[i]);
                    break;
                }
            }
        }, function () { showRetry(); });
        
        function fetchUserInfo(info) {
            uinfo = info;
            username = info.Username;
            if (info.Avatar)
                $("#avatar").attr("src", host + info.Avatar);

            $("#basicSalary").text(numberWithCommas(info.HValue) + " đ");
            aid = info.AreaId;

            PNCustomGet(url, access_token, function (data) {
                if (data == "400") {
                    showRetry();
                }
                else {
                    listAreas = JSON.parse(data);                    
                    registerOwnerInfoLoadCompleted(function (owner) {
                        var l = owner.Rates.length;
                        var rates = owner.Rates;
                        for (var i = 0; i < l; i++) {
                            rateMap[rates[i].Id] = rates[i];
                        }

                        for (var i = 0; i < listAreas.length; i++) {
                            if (listAreas[i].Id == aid) {
                                var total = 0;
                                for (var j = 0; j < listAreas[i].Shifts.length; j++) {
                                    mapShifts[listAreas[i].Shifts[j].Id] = listAreas[i].Shifts[j];
                                    var rate = listAreas[i].Shifts[j].Rate;
                                    if (rate == 0) {
                                        var template = '<h4 style="font-weight:bold; margin-top:10px;"><span style="color:blue;">{name} ({hour} tiếng): </span><span style="color:darkviolet">{money}đ</span></h4>';
                                        var html = template.replace("{name}", listAreas[i].Shifts[j].Name);
                                        html = html.replace("{hour}", listAreas[i].Shifts[j].Duration);
                                        var money = listAreas[i].Shifts[j].Duration * info.HValue;
                                        html = html.replace("{money}", numberWithCommas(money));
                                        $("#topShifts").append(html);
                                        total = total + money;
                                    }
                                }
                                var html = '<h4 style="font-weight:bold; margin-top:10px;"><span  style="color:blue;">Tổng ngày: </span><span style="color:darkviolet">' + numberWithCommas(total) + 'đ</span></h4>';
                                $("#topShifts").append(html);
                            }
                        }

                        $("#checkPayBTN").attr("disabled", false);
                    });                    
                }
            }, function () { });
        }

        makeDatepicker("fromDate");
        makeDatepicker("toDate");

        $("#checkPayBTN").click(function () {
            resetCheck();
            wtotal = 0;
            var begin = $("#fromDate").val().replace("/", "-").replace("/", "-");
            var end = $("#toDate").val().replace("/", "-").replace("/", "-");
            var path = payURL.replace("{begin}", begin).replace("{end}", end).replace("{username}", username);
            PNCustomGet(path, access_token, function (data) {
                workings = JSON.parse(data);
                var beginDate = parseDatetime(begin, "00:00:00", '-');
                var endDate = parseDatetime(end, "00:00:00", '-');
                beginTS = beginDate.getTime() / 1000;
                endTS = endDate.getTime() / 1000;
                var delta = (endTS - beginTS) / 86400;
                $("#reviewBox").css("display", "");
                $("#headFrom").text($("#fromDate").val());
                $("#headTo").text($("#toDate").val());
                for (var i = beginTS; i <= endTS; i = i + 86400) {
                    var date = convertUIDateTime(i, '-').uiDate;
                    appendDateWorking(date);
                    for (var j = 0; j < workings.length; j++) {
                        var working = workings[j];
                        if (i == working.DateVal) {
                            if (working.ShiftId) {
                                var shiftName = mapShifts[working.ShiftId].Name;
                                var duration = mapShifts[working.ShiftId].Duration;
                                var rate = rateMap[mapShifts[working.ShiftId].Rate] ? rateMap[mapShifts[working.ShiftId].Rate].RateVal : 1;
                                var smodel = {};
                                smodel.type = "s";
                                smodel.sname = shiftName;
                                smodel.duration = duration;
                                smodel.rate = rate;
                                smodel.off = working.IsOff;
                                smodel.accept = working.Accept;
                                smodel.reason = working.Reason;
                                smodel.cost = uinfo.HValue;
                                smodel.money = !smodel.off ? smodel.duration * smodel.cost * parseFloat(smodel.rate) : 0;
                            }
                            else {
                                var rate = rateMap[working.Rate];
                                var smodel = {};
                                smodel.type = "n";
                                smodel.sname = "Ca gãy - " + (working.Rate == 0 ? "" : rate.Name);
                                smodel.duration = parseFloat((working.End - working.Begin) / 3600).toFixed(2);
                                smodel.rate = working.Rate == 0 ? 1 : rate.RateVal;
                                smodel.off = working.IsOff;
                                smodel.accept = working.Accept;
                                smodel.reason = working.Reason;
                                smodel.cost = uinfo.HValue;
                                smodel.money = smodel.duration * smodel.cost * smodel.rate
                            }
                            appendShiftWorking(smodel, i);
                            wtotal = wtotal + smodel.money;
                        }
                            
                    }
                }
                $("#workingList").append('<hr/>');
                $("#workingList").append('<p style="font-weight:bold;font-size:18px;color:blue"><span>Tổng tiền: </span><span>' + numberWithCommas(wtotal.toFixed(0)) + ' đ</span></p>');
                var tamung = $("#prepay").val() ? $("#prepay").val() : 0;
                postPrepay = parseInt(parseInt(replaceAll(tamung.toString(), ',', '')));
                $("#subList").append('<p style="font-weight:bold;font-size:18px;color:red"><span>Ứng trước: </span><span>-' + tamung + ' đ</span></p>');
                var sub = $("#subpay").val() ? $("#subpay").val() : 0;
                postSub = parseInt(parseInt(replaceAll(sub.toString(), ',', '')));
                $("#subList").append('<p style="font-weight:bold;font-size:18px;color:red"><span>Khoản trừ: </span><span>-' + sub + ' đ</span></p>');
                var r = $("#reason").val();
                if (r)
                    $("#subList").append('<p><span>Lý do trừ: </span><span style="color:red;font-style:italic">' + r + '</span></p>');

                postReason = r;

                var bn = $("#bonus").val() ? $("#bonus").val() : 0;
                postBonus = parseInt(parseInt(replaceAll(bn.toString(), ',', '')));
                $("#bonusText").text(numberWithCommas(bn) + " đ");
                $("#noteText").text($("#note").val());

                postNote = $("#note").val();

                var total = parseInt(wtotal) + parseInt(replaceAll(bn.toString(), ',', '')) - parseInt(replaceAll(tamung.toString(), ',', '')) - parseInt(replaceAll(sub.toString(), ',', ''));
                var x = total.toFixed(0);
                var d = parseInt(x / 1000);
                var le = x % 1000;
                if (le >= 500)
                    d = d + 1;
                postTotal = d * 1000;
                $("#moneyTotal").text(numberWithCommas(d * 1000));

            }, function () {
                
            });
        });

        $("#acceptBillingBTN").click(function () {
            $(this).attr("disabled", true);
            var model = {};
            model.workings = JSON.stringify(workings);
            model.username = username;
            model.fromday = beginTS;
            model.today = endTS;
            model.prepay = postPrepay;
            model.bonus = postBonus;
            model.sub = postSub;
            model.reason = postReason;
            model.note = postNote;
            model.total = postTotal;
            PNCustomPost(makeBillURL, access_token, model, function (data) {
                if (data != "") {
                    window.location.href = "/hr-cloud/admin/payment-detail/" + data + "/" + username;
                }
            }, function () { });
        });

        function resetCheck() {
            $("#workingList").empty();
            $("#subList").empty();
        }

        function appendDateWorking(date) {
            var template = '<div id="' + date + '">' +
                '<h5><i class="icon-1x flaticon2-fast-next"></i> Ngày ' + date.replace('/', '-').replace('/', '-') + '</h5>' +
                '</div>';
            $("#workingList").append(template);
        }

        function appendShiftWorking(model, dateval) {
            var date = convertUIDateTime(dateval, '-').uiDate;
            var box = $("#" + date);
            
            if (model.type == "n") {
                var val = model.money.toFixed(0);
                var tempalte = '<p><span style="background-color:#ab7c05;" class="label label-warning label-inline">' + model.sname + '</span>: <span style="color:blue; font-weight:bold;">' + numberWithCommas(val) + ' đ <span style="color:#333"> (' + model.duration.toString() + ' tiếng)</span></span></p>';
                $(box).append(tempalte);
            }
            else {
                if (model.off) {
                    if (model.accept) {
                        var tempalte = '<p><span class="label label-info label-inline">' + model.sname + '</span>: <span style="color:#792ecb; font-weight:bold;">Nghỉ (có phép - ' + model.reason + ')</span></p>';
                        $(box).append(tempalte);
                    }
                    else {
                        var tempalte = '<p><span class="label label-danger label-inline">' + model.sname + '</span>: <span style="color:#792ecb; font-weight:bold;">Nghỉ (Không phép)</span></p>';
                        $(box).append(tempalte);
                    }
                }
                else {
                    var val = model.money.toFixed(0);
                    var tempalte = '<p><span class="label label-primary label-inline">' + model.sname + '</span>: <span style="color:blue; font-weight:bold;">' + numberWithCommas(val) + ' đ</span></p>';
                    $(box).append(tempalte);
                }
            }
        }

        function convertUIDateTime(timestapm, c) {
            var date = new Date(timestapm * 1000);
            var day = date.getDate();
            var month = date.getMonth();
            var year = date.getFullYear();
            var result = {};
            result.uiDate = (day < 10 ? "0" + day.toString() : day.toString()) + c + (month < 9 ? "0" + (month + 1).toString() : (month + 1).toString()) + c + year;

            var hour = date.getHours();
            var min = date.getMinutes();
            result.uiTime = (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());

            return result;

        }

        function parseDatetime(date, time, c) {
            var split = date.split(c);
            var day = split[0];
            var month = split[1];
            var year = split[2];

            var timeSplit = time.split(':');
            var hour = timeSplit[0];
            var minute = timeSplit[1];
            return new Date(year, month - 1, day, hour, minute, 0, 0);
        }

    });
</script>
