﻿@{
    ViewBag.Title = "MakeFuncTransaction";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}
<link href="/Content/typehead.css" rel="stylesheet" />
<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/number-format.js"></script>

@{ Html.RenderPartial("CommonFunction"); }

<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Chọn ngày</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="@DateTime.Now.ToString("dd/MM/yyyy")" id="selDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Số tiền</p>
                <input class="form-control pn-number" id="money" onkeyup="digitsOnly(this)" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Nội dung</p>
                <input class="form-control" autocomplete="off" id="content" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Upload ảnh</p>
                <p style="margin-top:2px; text-align:center;"><button id="uploadPhoto" class="btn btn-sm btn-warning" style="padding-left:13px;"> <i class="icon-1x flaticon-photo-camera"></i></button></p>
                <p style="text-align:center">
                    <img id="photo" style="width:200px;" />
                </p>
            </div>
        </div>
        <div>
            <p style="color:blue; margin-bottom:0px; margin-top:10px;">Người tham chiếu</p>
            <input class="form-control" id="uref" />
        </div>
        <p style="text-align:center; margin-top:10px;"><button id="exportBTN" class="btn btn-primary">Xuất Quỹ</button></p>
    </div>
</div>

<div class="modal fade" id="nextModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:darkgreen" class="modal-title">Thao tác thành công!</h5>
            </div>
            <div class="modal-body">
                <p style="text-align:right">
                    <a href="/hr-cloud/on-board/fund-admin" class="btn btn-warning">Vào trang quản lý tiền quỹ</a>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Tạo tiếp xuất quỹ</button>
            </div>
        </div>
    </div>
</div>

<input style="visibility:hidden;" type="file" id="photo_file" accept="image/x-png,image/gif,image/jpeg" />
<script src="/Scripts/number-format.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>
<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>

<script src="/Scripts/typehead/bloodhound.min.js"></script>
<script src="/Scripts/typehead/typeahead.bundle.min.js"></script>
<script src="/Scripts/typehead/typeahead.jquery.min.js"></script>


<script>
    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });;
    }

    var substringMatcher = function (strs) {
        return function findMatches(q, cb) {
            var matches, substrRegex;
            matches = [];
            substrRegex = new RegExp(q, 'i');
            $.each(strs, function (i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });
            cb(matches);
        };
    };
    var udata = new Array();

    function removeVietnameseTones(str) {
    str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a");
    str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e");
    str = str.replace(/ì|í|ị|ỉ|ĩ/g,"i");
    str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o");
    str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u");
    str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y");
    str = str.replace(/đ/g,"d");
    str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
    str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
    str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
    str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
    str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
    str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
    str = str.replace(/Đ/g, "D");
    // Some system encode vietnamese combining accent as individual utf-8 characters
    // Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
    str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
    str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
    // Remove extra spaces
    // Bỏ các khoảng trắng liền nhau
    str = str.replace(/ + /g," ");
    str = str.trim();
    // Remove punctuations
    // Bỏ dấu câu, kí tự đặc biệt
    str = str.replace(/!|@@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g," ");
    return str;
    }

    $(document).ready(function () {
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var postSimplePhotoURL = host + "/api/main/post-photo";
        makeDatepicker("selDate");
        var photoPath = "";
        var userSelected = "";
        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            for (var i = 0; i < list.length; i++) {
                var text = list[i].FirstName + " " + list[i].LastName;
                var utext = removeVietnameseTones(text);
                udata.push(utext + " - " + list[i].Username);
            }

            $('#uref').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                name: 'udata',
                source: substringMatcher(udata)
            });

            $('#uref').bind('typeahead:select', function (ev, suggestion) {
                var split = suggestion.split('-');
                userSelected = split[1].trim();
            });

        }, function () { showRetry(); });



        //$('#thOwner').bind('typeahead:select', function (ev, suggestion) {
        //    var model = owners[suggestion];
        //    selectOwner(model);
        //});

        $("#uploadPhoto").click(function () {
            $("#photo_file").click();
        });

        registerSimpleUpload("photo_file", postSimplePhotoURL, function (path) {
            photoPath = path;
            $("#photo").attr("src", host + path);
        });

        $("#exportBTN").click(function () {
            var date = $("#selDate").val();
            var money = $("#money").val();
            money = money.split(",").join("");
            money = money.split(".").join("");
            var content = $("#content").val();
            if (money == "")
                alert("Bạn chưa nhập số tiền đã chi");
            else if (content == "")
                alert("Bạn chưa nhập nội dung chi quỹ");
            else {
                var model = { date: date, money: money, content: content, photo: photoPath, user: userSelected };
                $("#exportBTN").attr("disabled", true);
                PNCustomPost(host + "/api/main/accounting/new-fund-export", access_token, model, function (res) {
                    if (res == "ok") {
                        $("#money").val("");
                        $("#content").val("");
                        $("#uref").val("");
                        userSelected = "";
                        $("#nextModal").modal('show');
                        $("#exportBTN").attr("disabled", false);
                    }
                    else if (res == "400")
                        showRetry();
                }, function () { });
            }
        });
    });
</script>

