﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}

<div class="card card-custom gutter-b">
    <div class="card-body">
        <h4>Định danh: @clientModel.Domain</h4>
        <p style="margin-bottom:0px; color:blue; font-weight:bold;">Tên đăng nhập</p>
        <input class="form-control" id="username" />
        <p style="margin-bottom:0px; color:blue; font-weight:bold; margin-top:10px;">Họ và chữ lót</p>
        <input class="form-control" id="firstName" />
        <p style="margin-bottom:0px; color:blue; font-weight:bold; margin-top:10px;">Tên</p>
        <input class="form-control" id="lastName" />
        <p style="margin-bottom:0px; color:blue; font-weight:bold; margin-top:10px;">Mật khẩu</p>
        <input class="form-control" id="password" />
        <p style="margin-bottom:0px; color:blue; font-weight:bold; margin-top:10px;">Nhập lại mật khẩu</p>
        <input class="form-control" id="rePassword" />
        <p style="margin-top:10px; text-align:center"><button id="submitNewEmployee" class="btn btn-primary">Tạo nhân viên</button></p>
    </div>
</div>

@{ Html.RenderPartial("CommonFunction"); }

<script src="/Scripts/PNAjaxV2.js"></script>
<script>
    $(document).ready(function () {
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var url = host + "/api/main/get-full-user-info";
        var domain = "@clientModel.Domain";
        var submitBtn;
        $("#submitNewEmployee").click(function () {
            submitBtn = this;
            var firstName = $("#firstName").val();
            var lastName = $("#lastName").val();
            var username = $("#username").val();
            var pass = $("#password").val();
            var repass = $("#rePassword").val();
            if (username == "") {
                alert("Tên đăng nhập không được bỏ trống");
                return false;
            }
            else if (username.length < 3) {
                alert("Tên đăng nhập phải ít nhất 4 ký tự");
                return false;
            }
            else if (username.toString().indexOf(" ") > -1) {
                alert("Tên đăng nhập không được có khoảng trống");
                return false;
            }
            else if (firstName == "") {
                alert("Họ & chữ lót không được bỏ trống");
                return false;
            }
            else if (lastName == "") {
                alert("Tên không được bỏ trống");
                return false;
            }
            else if (pass != repass) {
                alert("2 mật khẩu không khớp nhau");
                return false;
            }
            else if (pass.length < 6) {
                alert("Mật khẩu ít nhất 6 ký tự");
                return false;
            }
            else {
                submitAsSpiner(this);
                PNPost("/api/admin/create-user", { firstName: firstName, lastName: lastName, username: username, password: pass, domain: domain }, function (data) {
                    var obj = JSON.parse(data);
                    if (obj.Code == -1) {
                        alert("Tài khoản đã tồn tại");
                        resetSubmitSpiner(submitBtn);
                    }
                    else if (obj.Code == -2) {
                        resetSubmitSpiner(submitBtn);
                    }
                    else if (obj.Code == 1) {
                        setTimeout(function () {
                            var path = url + "?username=" + domain + "_" + username;
                            alert(path);
                            PNCustomGet(path, access_token, function (info) {
                                if (info != "")
                                    alert(info);
                                resetSubmitSpiner(submitBtn);
                            }, function () { });
                        }, 2000);
                    }

                }, function () { });
            }
        });
    });
</script>