﻿@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}

@{ Html.RenderPartial("CommonFunction"); }

<script>
    var cdata = "@clientModel.ToChangesText()";
    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

</script>

<style>
    .color-unchecked i {
        display: none;
    }
</style>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <div id="labelBox">
            @*<p>
                    <span class="label label-lg label-pill label-inline mr-2 label-rounded label-success"><i class="icon-1x flaticon2-tag" style="color:white; margin-right:5px;"></i> <span>Dịch vụ LĐ</span></span>
                    <button class="labelEdit btn btn-sm btn-warning font-weight-bold btn-pill">Sửa</button>
                    <button class="labelDelete btn btn-sm btn-danger font-weight-bold btn-pill" style="margin-left:10px;">Xoá</button>
                </p>
                <p>
                    <span class="label label-lg label-pill label-inline mr-2 label-rounded label-success"><i class="icon-1x flaticon2-tag" style="color:white; margin-right:5px;"></i> <span>Dịch vụ LĐ</span></span>
                    <button class="labelEdit btn btn-sm btn-warning font-weight-bold btn-pill">Sửa</button>
                    <button class="labelDelete btn btn-sm btn-danger font-weight-bold btn-pill" style="margin-left:10px;">Xoá</button>
                </p>*@
        </div>
        @{ Html.RenderPartial("LoadingBox"); }

        <div id="emptyBox" style="display:none;">
            <p style="text-align:center; color:red;">Chưa có nhãn nào!</p>
        </div>
        <p id="btnAddLabel" style="text-align:center; display:none;"><a class="btn btn-primary" href="#new-label-modal" data-toggle="modal"><i class="flaticon-add-circular-button"></i> Tạo thêm nhãn</a></p>
    </div>
</div>

@{ Html.RenderPartial("RemoveConfirm"); }

<div class="modal fade" id="new-label-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tạo nhãn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Tên nhãn:</p>
                <input class="form-control" id="labelName" />
                <p style="margin-bottom:0px; margin-top:10px; color:blue;">Chọn màu sắc:</p>
                <div id="checkBox">
                    <button title="primary" class="btn btn-primary color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                    <button title="success" class="btn btn-success color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                    <button title="warning" class="btn btn-warning color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                    <button title="danger" class="btn btn-danger color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                    <button title="dark" class="btn btn-dark color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                    <button title="info" class="btn btn-info color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button id="submitLabel" type="submit" class="btn btn-primary font-weight-bold">Tạo mới</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-label-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="labelHeader_edit">Tạo nhãn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Tên nhãn:</p>
                <input class="form-control" id="labelName_edit" />
                <p style="margin-bottom:0px; margin-top:10px; color:blue;">Chọn màu sắc:</p>
                <div id="checkBox_edit">
                    <button title="primary" class="btn btn-primary color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                    <button title="success" class="btn btn-success color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                    <button title="warning" class="btn btn-warning color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                    <button title="danger" class="btn btn-danger color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                    <button title="dark" class="btn btn-dark color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                    <button title="info" class="btn btn-info color-unchecked" style="width:50px; height:50px; margin-top:5px; margin-left:5px;"><i class="icon-2x flaticon2-check-mark"></i></button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button id="submitLabel_edit" type="submit" class="btn btn-primary font-weight-bold">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/PNAjaxV2.js"></script>
<script>
    var access_token = "@clientModel.Token";
    var host = "@clientModel.HostURL";
    var selectColor = "";
    var selectColorEdit = "";
    var cLabelEditID = "";
    var labelTemplate = '<p id="{id}">'+
                            '<span tag="{color}" class="label label-lg label-pill label-inline mr-2 label-rounded label-{color}"><i class="icon-1x flaticon2-tag" style="color:white; margin-right:5px;"></i> <span class="lname">{name}</span></span>'+
                            '<button class="labelEdit btn btn-sm btn-warning font-weight-bold btn-pill">Sửa</button>'+
                            '<button class="labelDelete btn btn-sm btn-danger font-weight-bold btn-pill" style="margin-left:10px;">Xoá</button>'+
                        '</p>';
    var colorMapIndex = { "primary": 0, "success": 1, "warning": 2, "danger": 3, "dark": 4, "info": 5 };
    $(document).ready(function () {
        var dataKey = "data_labels";
        var changeKey = "change_labels";
        var url = host + "/api/main/get-all-labels";

        var localChange = readCacheChange(changeKey);
        if (localChange < latestChanges.LabelChanged || localChange == 0) {
            loadDataFromServer();
        }
        else {
            var text = localStorage.getItem(dataKey);
            if (text) {
                var list = JSON.parse(text);
                bindingData(list);
            }
            else
                loadDataFromServer();
        }

        function loadDataFromServer() {
            PNCustomGet(url, access_token, function (data) {
                if (data == "400") {
                    showRetry();
                }
                else {
                    var list = JSON.parse(data);
                    localStorage.setItem(dataKey, data);
                    writeCacheChange(changeKey, latestChanges.LabelChanged);

                    bindingData(list);
                    
                }
            }, function () { });
        }

        function bindingData(list) {
            if (list.length == 0) {
                $("#emptyBox").css("display", "block");
            }
            else {
                $("#emptyBox").css("display", "none");
                for (var i = 0; i < list.length; i++) {
                    appendLabel(list[i].SKey, list[i].Name, list[i].Color);
                }
                bindEvents();
            }
            hideLoadingBox();
            $("#btnAddLabel").css("display", "block");
        }

        var btnSubmit;
        $("#submitLabel").click(function () {
            btnSubmit = this;
            var label = $("#labelName").val();
            if (label == "") {
                alert("Bạn chưa đặt tên nhãn");
                return false;
            }
            else if (selectColor == "") {
                alert("Bạn chưa chọn màu sắc");
                return false;
            }
            else {
                $(btnSubmit).attr("disabled", true);
                PNCustomPost(host + "/api/main/create-label", access_token, { name: label, color: selectColor }, function (data) {
                    $("#new-label-modal").modal('hide');
                    if (data != "400") {
                        setTimeout(function () {
                            appendLabel(data, label, selectColor);
                            bindEvents();
                            resetColor();
                        }, 2000);
                    }
                    else
                        resetColor();
                    $("#labelName").val("");

                }, function () { resetColor(); });
            }
        });

        $("#submitLabel_edit").click(function () {
            btnSubmit = this;
            var label = $("#labelName_edit").val();
            if (label == "") {
                alert("Bạn chưa đặt tên nhãn");
                return false;
            }
            else if (selectColorEdit == "") {
                alert("Bạn chưa chọn màu sắc");
                return false;
            }
            else {
                $(btnSubmit).attr("disabled", true);
                PNCustomPost(host + "/api/main/update-label", access_token, { skey: cLabelEditID, name: label, color: selectColorEdit }, function (data) {
                    $("#edit-label-modal").modal('hide');
                    if (data != "400") {
                        $(cLabelRow).find(".lname").text(label);
                        var domLabel = $(cLabelRow).find(".label")[0];
                        $(domLabel).attr("tag", selectColorEdit);
                        $(domLabel).attr("class", "label label-lg label-pill label-inline mr-2 label-rounded label-" + selectColorEdit)
                    }

                }, function () { resetColor(); });
            }
        });

        $("#checkBox button").click(function () {
            $("#checkBox button").removeClass("color-unchecked");
            $("#checkBox button").addClass("color-unchecked");
            $(this).removeClass("color-unchecked");
            selectColor = $(this).attr("title");
        });

        $("#checkBox_edit button").click(function () {
            $("#checkBox_edit button").removeClass("color-unchecked");
            $("#checkBox_edit button").addClass("color-unchecked");
            $(this).removeClass("color-unchecked");
            selectColorEdit = $(this).attr("title");
        });

        function resetColor() {
            $("#checkBox button").removeClass("color-unchecked");
            $("#checkBox button").addClass("color-unchecked");
            selectColor = "";
            $(btnSubmit).attr("disabled", false);
        }

        function appendLabel(id, name, color) {
            var html = labelTemplate.replace("{id}", id).replace("{name}", name).replace("{color}", color).replace("{color}", color);
            $("#labelBox").append(html);
            $("#emptyBox").css("display", "none");
        }

        var cLabelRow;
        function bindEvents() {
            try {
                $(".labelEdit").unbind("click");
                $(".labelDelete").unbind("click");
            }
            catch{ }
            $(".labelEdit").bind("click", function () {
                cLabelRow = $(this).parent();
                var labelName = $(cLabelRow).find(".lname").text();
                var color = $($(cLabelRow).find(".label")).attr("tag");
                $("#labelHeader_edit").text("Chỉnh sửa: " + labelName);
                $("#labelName_edit").val(labelName);
                $("#checkBox_edit button").removeClass("color-unchecked");
                $("#checkBox_edit button").addClass("color-unchecked");
                var list = $("#checkBox_edit button");
                selectColorEdit = color;
                cLabelEditID = $(cLabelRow).attr("id");
                $(list[colorMapIndex[color]]).removeClass("color-unchecked");
                $("#edit-label-modal").modal('show');
                $("#submitLabel_edit").attr("disabled", false);
            });

            $(".labelDelete").bind("click", function () {
                var labelBox = $(this).parent();
                var skey = $(labelBox).attr("id");
                var labelName = $(labelBox).find(".lname").text();
                showRemoveConfirmation("Bạn muốn xoá: " + labelName, function () {
                    PNCustomPost(host + "/api/main/delete-label", access_token, { skey: skey }, function (sid) {
                        if (sid != "400" && sid != "") {
                            $(labelBox).remove();
                        }
                    }, function () { });
                });
            });
        }


    });
</script>

