﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}
@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";
    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<div class="card card-custom gutter-b">
    <div class="card-body">
        <button type="button" class="btn btn-primary font-weight-bold mr-2" data-toggle="modal" href="#new-area-modal"><i class="flaticon-add-circular-button"></i> Thêm phòng ban</button>

        <div id="areaBox" style="margin-top:10px;">

            @*<div style="padding:15px; border-radius:5px; border:2px solid #0e4a9b; margin-bottom:10px;">
                    <div style="height:100px; overflow:hidden;">
                        <img style="height:100px; border-radius:5px; border:1px solid #ff6a00;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Bird_Logo.png/220px-Bird_Logo.png" />
                        <div style="margin-left:110px; top:-100px; position:relative;">
                            <p style="font-size:18px; margin-left:10px;">Xưởng nhựa</p>
                        </div>
                    </div>
                    <div style="width:100%; min-height:10px; margin-top:10px; overflow:hidden;">
                        <button class="btn btn-warning">Chỉnh sửa</button>
                        <button class="btn btn-danger">Xóa</button>
                    </div>
                </div>*@
        </div>

        @{ Html.RenderPartial("LoadingBox"); }

    </div>
</div>

<div class="modal fade" id="new-area-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm phòng ban mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Tên phòng ban:</p>
                <input class="form-control" id="areaname" />
                <p style="margin-bottom:0px; margin-top:10px; color:blue;">Ảnh đại điện:</p>
                <button id="selPic" class="btn btn-warning"><i class="flaticon-photo-camera"></i> Chọn ảnh</button>
                <input style="visibility:hidden;" type="file" id="ifile" />
                <div>
                    <img id="avatar" style="height:100px; margin-top:10px;" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button id="submitArea" type="submit" class="btn btn-primary font-weight-bold">Tạo mới</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-area-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa thông tin phòng ban</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Tên phòng ban:</p>
                <input class="form-control" id="areaname_edit" />
                <p style="margin-bottom:0px; margin-top:10px; color:blue;">Ảnh đại điện:</p>
                <button id="selPic_edit" class="btn btn-warning"><i class="flaticon-photo-camera"></i> Chọn ảnh</button>
                <input style="visibility:hidden;" type="file" id="ifile_edit" />
                <div>
                    <img id="avatar_edit" style="height:100px; margin-top:10px;" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button id="submitArea_edit" type="submit" class="btn btn-primary font-weight-bold">Cập nhật</button>
            </div>
        </div>
    </div>
</div>




@{ Html.RenderPartial("RemoveConfirm"); }

<script src="/Scripts/PNAjaxV2.js"></script>
<script>
    var areaTemplate = '<div style="padding:15px; border-radius:5px; border:2px solid #0e4a9b; margin-bottom:10px;">'+
                            '<div style="height:100px; overflow:hidden;">'+
                                '<img class="apic" style="height:100px; width:100px; border-radius:5px; border:1px solid #ff6a00;" src="{photo}" />' +
                                '<div style="margin-left:110px; top:-100px; position:relative;">'+
                                    '<p class="aname" style="font-size:18px; margin-left:10px;">{name}</p>'+
                                '</div>'+
                            '</div>'+
                            '<div style="width:100%; min-height:10px; margin-top:10px; overflow:hidden;">'+
                                '<input type="hidden" class="aid" value="{id}" />'+
                                '<button class="btn btn-warning btnEdit">Chỉnh sửa</button>'+
                                ' <button class="btn btn-danger btnDelete">Xóa</button>'+
                            '</div>'+
        '</div>';

    var access_token = "@clientModel.Token";
    var callbackURL = "";
    var host = "@clientModel.HostURL";

    

    $(document).ready(function () {
        var dataKey = "data_areas";
        var changeKey = "change_areas";
        var rowSelected;
        var rowId = "";
        var updatePhotoURL = "";
        var currentPhotoURL = "";
        var url = host + "/api/main/area-list";
        var localChange = readCacheChange(changeKey);
        if (localChange < latestChanges.AreaChanged || localChange == 0) {
            loadDataFromServer();
        }
        else {
            var text = localStorage.getItem(dataKey);
            if (text) {
                var list = JSON.parse(text);
                bindingData(list);
            }
            else
                loadDataFromServer();
        }

        function loadDataFromServer() {
            PNCustomGet(url, access_token, function (data) {
                if (data == "400") {
                    showRetry();
                }
                else {
                    var list = JSON.parse(data);
                    localStorage.setItem(dataKey, data);
                    writeCacheChange(changeKey, latestChanges.AreaChanged);

                    bindingData(list);
                }
            }, function () { });
        }

        function bindingData(list) {
            for (var i = 0; i < list.length; i++) {
                addAreaRecord(list[i]);
            }
            hideLoadingBox();
            bindEvents();
        }

        var postPhotoURL = host + "/api/main/post-photo";

        $("#selPic").click(function () {
            $("#ifile").click();
        });

        $("#selPic_edit").click(function () { $("#ifile_edit").click(); });

        $("#ifile").change(function () {
            var img = document.createElement("img");
            var reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
            }
            reader.readAsDataURL($("#ifile").get(0).files[0]);
            img.onload = function () {
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0);

                var MAX_WIDTH = 600;
                var MAX_HEIGHT = 600;
                var width = img.width;
                var height = img.height;

                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                    }
                }
                canvas.width = width;
                canvas.height = height;
                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0, width, height);

                var dataurl = canvas.toDataURL('image/png', 1.0);
                var data = new FormData();
                data.append("photo", dataurl.substr(22, dataurl.length - 22));
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: postPhotoURL,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        setTimeout(function () {
                            callbackURL =  result;
                            $("#avatar").attr("src", host + result);
                        }, 1000);
                    }
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    $("#ifile").val(null);
                });
            }
        });

        $("#ifile_edit").change(function () {

            var img = document.createElement("img");
            var reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
            }
            reader.readAsDataURL($("#ifile_edit").get(0).files[0]);
            img.onload = function () {
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0);

                var MAX_WIDTH = 600;
                var MAX_HEIGHT = 600;
                var width = img.width;
                var height = img.height;

                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                    }
                }
                canvas.width = width;
                canvas.height = height;
                var ctx = canvas.getContext("2d");
                ctx.drawImage(img, 0, 0, width, height);

                var dataurl = canvas.toDataURL('image/png', 1.0);
                var data = new FormData();
                data.append("photo", dataurl.substr(22, dataurl.length - 22));
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: postPhotoURL,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        setTimeout(function () {
                            updatePhotoURL = result;
                            $("#avatar_edit").attr("src", host + result);
                        }, 1000);
                    }
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    $("#ifile_edit").val(null);
                });
            }
        });

        $("#submitArea").click(function () {
            if (callbackURL == "")
                alert("Bạn chưa chọn hình ảnh");
            else {
                var name = $("#areaname").val();
                if (name == "") {
                    alert("Bạn chưa đặt tên cho phòng ban");
                }
                else {

                    var createURL = host + "/api/main/create-new-area";
                    $("#new-area-modal").modal('hide');
                    showLoadingBox();
                    PNCustomPost(createURL, access_token, { name: name, photo: callbackURL }, function (data) {
                        if (data != "") {
                            setTimeout(function () {
                                callbackURL = "";
                                $("#areaname").val("");
                                $("#avatar").attr("src", "");
                                var split = data.split("*");
                                var obj = { Id: split[0], Photo: split[1], Name: name };
                                addAreaRecord(obj);
                                hideLoadingBox();
                                bindEvents();
                            }, 3000);
                        }
                    }, function () { })
                }
            }
        });

        $("#submitArea_edit").click(function () {
            var name = $("#areaname_edit").val();
            if (name == "") {
                alert("Bạn chưa đặt tên cho phòng ban");
            }
            else {

                var updatePath = host + "/api/main/update-area";
                $("#edit-area-modal").modal('hide');
                showLoadingBox();
                PNCustomPost(updatePath, access_token, { id: rowId, name: name, cphoto: currentPhotoURL, nphoto: updatePhotoURL }, function (data) {
                    if (data != "") {
                        setTimeout(function () {
                            $("#areaname_edit").val("");
                            $("#avatar_edit").attr("src", "");
                            $($(rowSelected).find(".aname")).text(name);
                            $($(rowSelected).find(".apic")).attr("src", host + data);
                            hideLoadingBox();
                        }, 3000);
                    }
                }, function () { })
            }
        });

        function addAreaRecord(area) {
            var html = areaTemplate.replace("{id}", area.Id).replace("{photo}", host + area.Photo).replace("{name}", area.Name);
            $("#areaBox").append(html);
        }

        function bindEvents() {
            try {
                $(".btnEdit").unbind("click");
                $(".btnDelete").unbind("click");
            }
            catch{ }
            $(".btnEdit").bind("click", function () {
                var parent = $(this).parent();
                var box = $(parent).parent();
                rowSelected = box;
                var id = $(parent).find(".aid").val();
                rowId = id;
                var name = $($(box).find(".aname")).text();
                var photo = $($(box).find(".apic")).attr("src");
                $("#areaname_edit").val(name);
                $("#avatar_edit").attr("src", photo);
                $("#edit-area-modal").modal('show');
                currentPhotoURL = photo.substr(host.length, photo.length - host.length);
                updatePhotoURL = currentPhotoURL;
            });

            $(".btnDelete").bind("click", function () {
                var parent = $(this).parent();
                var box = $(parent).parent();
                rowSelected = box;
                var id = $(parent).find(".aid").val();
                rowId = id;
                var name = $($(box).find(".aname")).text();
                showRemoveConfirmation("Bạn muốn xoá phòng ban: " + name, function () {
                    PNCustomPost(host + "/api/main/hide-area", access_token, { id: id }, function (data) {
                        if (data != "") {
                            $(rowSelected).remove();
                        }
                    }, function () { })
                });
            });
        }

    });


</script>