﻿@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}




<script>
    var cdata = "@clientModel.ToChangesText()";
    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

</script>

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div id="shiftBox">


        </div>
        @{ Html.RenderPartial("LoadingBox"); }

        <div id="emptyBox" style="display:none;">
            <p style="text-align:center; color:red;">Hãy tạo phòng ban trước khi thêm ca làm việc!</p>
            <p style="text-align:center;"><a class="btn btn-primary" href="/hr-cloud/admin/area-management">Tạo phòng ban</a></p>
        </div>
    </div>
</div>


<div class="modal fade" id="new-shift-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newShiftTitle">Tạo ca làm việc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Tên ca làm việc:</p>
                <input class="form-control" id="shiftname" />
                <p style="margin-bottom:0px; margin-top:10px; color:blue;">Bắt đầu lúc:</p>
                <p>
                    <span>Giờ: </span>
                    <select id="hour" style="padding:5px;">
                        <option value="0">00h</option>
                        <option value="60">01h</option>
                        <option value="120">02h</option>
                        <option value="180">03h</option>
                        <option value="240">04h</option>
                        <option value="300">05h</option>
                        <option value="360">06h</option>
                        <option value="420">07h</option>
                        <option value="480">08h</option>
                        <option value="540">09h</option>
                        <option value="600">10h</option>
                        <option value="660">11h</option>
                        <option value="720">12h</option>
                        <option value="780">13h</option>
                        <option value="840">14h</option>
                        <option value="900">15h</option>
                        <option value="960">16h</option>
                        <option value="1020">17h</option>
                        <option value="1080">18h</option>
                        <option value="1140">19h</option>
                        <option value="1200">20h</option>
                        <option value="1260">21h</option>
                        <option value="1320">22h</option>
                        <option value="1380">23h</option>
                    </select>
                    <span>Phút: </span>
                    <select id="minute" style="padding:5px;">
                        <option value="0">00 phút</option>
                        <option value="5">05 phút</option>
                        <option value="10">10 phút</option>
                        <option value="15">15 phút</option>
                        <option value="20">20 phút</option>
                        <option value="25">25 phút</option>
                        <option value="30">30 phút</option>
                        <option value="35">35 phút</option>
                        <option value="40">40 phút</option>
                        <option value="45">45 phút</option>
                        <option value="50">50 phút</option>
                        <option value="55">55 phút</option>
                    </select>
                </p>
                <p style="margin-bottom:0px; color:blue;">Số tiếng làm việc:</p>
                <input style="width:100px; text-align:center;" class="form-control" id="duration" />

                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Nhân theo tỷ lệ:</p>
                <select id="rate" style="padding:5px;">
                    <option value="0">Bình thường - Không nhân</option>
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button id="submitShift" type="submit" class="btn btn-primary font-weight-bold">Tạo mới</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-shift-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editShiftTitle">Tạo ca làm việc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Tên ca làm việc:</p>
                <input class="form-control" id="shiftname_edit" />
                <p style="margin-bottom:0px; margin-top:10px; color:blue;">Bắt đầu lúc:</p>
                <p>
                    <span>Giờ: </span>
                    <select id="hour_edit" style="padding:5px;">
                        <option value="0">00h</option>
                        <option value="60">01h</option>
                        <option value="120">02h</option>
                        <option value="180">03h</option>
                        <option value="240">04h</option>
                        <option value="300">05h</option>
                        <option value="360">06h</option>
                        <option value="420">07h</option>
                        <option value="480">08h</option>
                        <option value="540">09h</option>
                        <option value="600">10h</option>
                        <option value="660">11h</option>
                        <option value="720">12h</option>
                        <option value="780">13h</option>
                        <option value="840">14h</option>
                        <option value="900">15h</option>
                        <option value="960">16h</option>
                        <option value="1020">17h</option>
                        <option value="1080">18h</option>
                        <option value="1140">19h</option>
                        <option value="1200">20h</option>
                        <option value="1260">21h</option>
                        <option value="1320">22h</option>
                        <option value="1380">23h</option>
                    </select>
                    <span>Phút: </span>
                    <select id="minute_edit" style="padding:5px;">
                        <option value="0">00 phút</option>
                        <option value="5">05 phút</option>
                        <option value="10">10 phút</option>
                        <option value="15">15 phút</option>
                        <option value="20">20 phút</option>
                        <option value="25">25 phút</option>
                        <option value="30">30 phút</option>
                        <option value="35">35 phút</option>
                        <option value="40">40 phút</option>
                        <option value="45">45 phút</option>
                        <option value="50">50 phút</option>
                        <option value="55">55 phút</option>
                    </select>
                </p>
                <p style="margin-bottom:0px; color:blue;">Số tiếng làm việc:</p>
                <input style="width:100px; text-align:center;" class="form-control" id="duration_edit" />

                <p style="margin-bottom:0px; color:blue;margin-top:10px;">Nhân theo tỷ lệ:</p>
                <select id="erate" style="padding:5px;">
                    <option value="0">Bình thường - Không nhân</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button id="submitShift_edit" type="submit" class="btn btn-primary font-weight-bold">Cập nhật</button>
            </div>
        </div>
    </div>
</div>


@{ Html.RenderPartial("RemoveConfirm"); }

<script src="/Scripts/PNAjaxV2.js"></script>

<script>
    var shiftTemplate = '<div class="shiftItem">'+
                            '<div style="margin-top:10px; min-height:10px; overflow:hidden;">'+
                                '<div jdata=\"{data}\" tag="{aid}" style="padding:10px; border-radius:10px; height:50px;" class="bg-success">'+
                                    '<input type="hidden" class="sid" value="{id}" />'+
                                    '<span class="label label-info label-inline mr-2">{name}</span>'+
                                    '<span class="dtext" style="font-weight:bold;">{dtext}</span>'+
                                    '<button style="float:right;" class="shiftDelete btn btn-danger btn-sm font-weight-bold btn-pill">Xóa</button>'+
                                    '<button style="float:right; margin-right:5px;" class="shiftEdit btn btn-sm btn-warning font-weight-bold btn-pill">Sửa</button>'+
                                '</div>'+
                            '</div>'+
                        '</div>';

    var areaTemplate = '<div class="areaItem" style="padding:15px; border-radius:5px; border:2px solid #0e4a9b; margin-bottom:10px;">'+
                            '<div style="height:100px; overflow:hidden;">'+
                                '<img class="apic" style="height:100px; width:100px; border-radius:5px; border:1px solid #ff6a00;" src="{photo}">'+
                                '<div style="margin-left:110px; top:-100px; position:relative;">'+
                                '<p class="aname" style="font-size:18px; margin-left:10px;">{name}</p>'+
                                '</div>'+
                            '</div>'+
                            '<div id="{id}" class="shiftBox">'+
                                '{shifts}'+
                            '</div>'+
                            '<p style="text-align:center; margin-top:10px;">'+
                                '<button tag="{id}" title="{name}" type="button" class="shiftNew btn btn-primary font-weight-bold mr-2"><i class="flaticon-add-circular-button"></i> Thêm ca làm việc</button>'+
                            '</p>'+
                        '</div>';

     var access_token = "@clientModel.Token";
    var host = "@clientModel.HostURL";

    var currentAreaId = "";
    $(document).ready(function () {
        var dataKey = "data_shifts";
        var changeKey = "change_shifts"
        var url = host + "/api/main/get-all-shifts";
        var localChange = readCacheChange(changeKey);
        if (localChange < latestChanges.ShiftChanged || localChange == 0) {
            loadDataFromServer();
        }
        else {
            var text = localStorage.getItem(dataKey);
            if (text) {
                var list = JSON.parse(text);
                bindingData(list);
            }
            else
                loadDataFromServer();
        }

        function loadDataFromServer() {
            PNCustomGet(url, access_token, function (data) {
                if (data == "400") {
                    showRetry();
                }
                else {
                    var list = JSON.parse(data);
                    localStorage.setItem(dataKey, data);
                    writeCacheChange(changeKey, latestChanges.ShiftChanged);

                    bindingData(list);
                }
            }, function () { });
        }

        function bindingData(list) {
            if (list.length == 0) {
                $("#emptyBox").css("display", "block");
            }
            else {
                for (var i = 0; i < list.length; i++) {
                    addAreaRecord(list[i]);
                }
                bindEvents();
            }
            hideLoadingBox();
        }


        function addAreaRecord(area) {
            var html = areaTemplate.replace("{id}", area.Id).replace("{id}", area.Id).replace("{photo}", host + area.Photo).replace("{name}", area.Name).replace("{name}", area.Name);
            var shifts = "";
            for (var i = 0; i < area.Shifts.length; i++) {
                var jdata = JSON.stringify(area.Shifts[i]);
                jdata = buildAttributeText(jdata);
                var shiftHtml = shiftTemplate.replace("{data}", jdata).replace("{aid}", area.Shifts[i].AreaId).replace("{id}", area.Shifts[i].Id).replace("{name}", area.Shifts[i].Name).replace("{dtext}", area.Shifts[i].DText);
                shifts = shifts + shiftHtml;
            }
            html = html.replace("{shifts}", shifts);
            $("#shiftBox").append(html);
        }

        registerOwnerInfoLoadCompleted(function (owner) {
            var l = owner.Rates.length;
            var rates = owner.Rates;
            for (var i = 0; i < l; i++) {
                var html = '<option value="' + rates[i].Id + '">' + rates[i].Name + '</option>';
                $("#rate").append(html);
                $("#erate").append(html);
            }
        });
    });

    function bindEvents() {
        try {
            $(".shiftNew").unbind("click");
            $("#submitShift").unbind("click");
            $(".shiftDelete").unbind("click");
            $(".shiftEdit").unbind("click");
            $("#submitShift_edit").unbind("click");
        }
        catch{ }

        $(".shiftNew").bind("click", function () {
            $("#submitShift").attr("disabled", false);
            $("#shiftname").val("");
            $("#hour").val("0");
            $("#minute").val("0");
            $("#duration").val("");
            var id = $(this).attr("tag");
            currentAreaId = id;
            $("#newShiftTitle").text("Tạo ca làm việc - " + $(this).attr("title"));
            $("#new-shift-modal").modal('show');
        });

        var btnSubmit;
        $("#submitShift").bind("click", function () {
            btnSubmit = this;
            var name = $("#shiftname").val();
            var hour = $("#hour").val();
            var minute = $("#minute").val();
            var duration = $("#duration").val();
            var begin = parseInt(hour) + parseInt(minute);
            var time = parseFloat(duration);
            var rate = $("#rate").val();
            if (name == "") {
                alert("Bạn chưa đặt tên ca làm việc");
                return false;
            }
            if (time <= 0) {
                alert("Số tiếng không hợp lệ");
                return false;
            }
            $(btnSubmit).attr("disabled", true);
            PNCustomPost(host + "/api/main/create-shift", access_token, { areaId: currentAreaId, name: name, begin: begin, duration: time, rate : rate }, function (data) {
                $("#new-shift-modal").modal('hide');
                if (data != "400") {
                    setTimeout(function () {
                        PNCustomGet(host + "/api/main/get-shift-by-id?area=" + currentAreaId + "&id=" + data, access_token, function (result) {
                            var shift = JSON.parse(result);

                            var shiftHtml = shiftTemplate.replace("{data}", result).replace("{aid}", shift.AreaId).replace("{id}", shift.Id).replace("{name}", shift.Name).replace("{dtext}", shift.DText);
                            $("#" + currentAreaId).append(shiftHtml);
                            bindEvents();
                        }, function () { });
                    }, 2000);
                }
            }, function () { });
        });

        $(".shiftDelete").bind("click", function () {
            var parent = $(this).parent();
            var id = $(parent).find(".sid").val();
            var aid = $(parent).attr("tag");
            var name = $(parent).find(".label").text();
            var shiftBox = $($(parent).parent()).parent();
            showRemoveConfirmation("Bạn muốn xoá: " + name, function () {
                PNCustomPost(host + "/api/main/delete-shift", access_token, { aid: aid, sid: id }, function (sid) {
                    if (sid != "400" && sid != "") {
                        $(shiftBox).remove();
                    }
                }, function () { });
            });
        });
        var shiftBox = null;
        var ceditID = "";
        $(".shiftEdit").bind("click", function () {
            var parent = $(this).parent();
            ceditID = $(parent).find(".sid").val();
            
            shiftBox = parent;
            
            var jdata = $(parent).attr("jdata");
            jdata = getTextFormAttribute(jdata);
            var shift = JSON.parse(jdata);

            $("#shiftname_edit").val(shift.Name);
            $("#erate").val(shift.Rate);
            var minute = shift.Begin % 60;
            hour = shift.Begin - minute;
            $("#hour_edit").val(hour);
            $("#minute_edit").val(minute);
            $("#editShiftTitle").text("Cập nhật ca: " + shift.Name);
            $("#duration_edit").val(shift.Duration);
            $("#edit-shift-modal").modal('show');
        });

        $("#submitShift_edit").bind("click", function () {
            btnSubmit = this;
            var name = $("#shiftname_edit").val();
            var hour = $("#hour_edit").val();
            var minute = $("#minute_edit").val();
            var duration = $("#duration_edit").val();
            var begin = parseInt(hour) + parseInt(minute);
            var time = parseFloat(duration);
            var rate = $("#erate").val();
            if (name == "") {
                alert("Bạn chưa đặt tên ca làm việc");
                return false;
            }
            if (time <= 0) {
                alert("Số tiếng không hợp lệ");
                return false;
            }
            $(btnSubmit).attr("disabled", true);
            PNCustomPost(host + "/api/main/update-shift", access_token, { sid: ceditID, name: name, begin: begin, duration: time, rate : rate }, function (data) {
                $("#edit-shift-modal").modal('hide');
                $(btnSubmit).attr("disabled", false);
                if (data != "400") {
                    var jdata = $(shiftBox).attr("jdata");
                    var shift = JSON.parse(getTextFormAttribute(jdata));
                    shift.Name = name;
                    shift.Begin = begin;
                    shift.Duration = duration;
                    shift.DText = data;
                    var text = buildAttributeText(JSON.stringify(shift));
                    $(shiftBox).attr("jdata", text);
                    $($(shiftBox).find(".label")).text(name);
                    $($(shiftBox).find(".dtext")).text(data);
                }
            }, function () { });
        });
    }
</script>
