﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div id="employeeBox">
            @*<div style="padding:15px; border-radius:5px; border:2px solid #0e4a9b; margin-bottom:10px;">
                    <div style="height:100px; overflow:hidden;">
                        <img class="apic" style="height:100px; width:100px; border-radius:5px; border:1px solid #ff6a00;" src="http://localhost:57480/Media/Owners/sn/Common/d6a24b9b-57ea-4e0f-a94d-0c525fefcb27.png">
                        <div style="margin-left:110px; top:-100px; position:relative;">
                            <p class="aname" style="font-size:18px; font-weight:bold; margin-bottom:5px;">Nguyễn Hoàng Long</p>
                            <p style="margin-bottom:5px;"><button tag="info" class="position btn btn-pill btn-info"><i class="icon-1x flaticon2-layers" style="color:white; margin-right:5px;"></i> <span class="lname">Quản lý sản xuất</span></button></p>
                            <p style="font-size:16px;"><span>Làm việc: </span><span class="label label-primary label-inline font-weight-bolder mr-2">123 (tiếng)</span><span>Nghỉ: </span><span class="label label-danger label-inline font-weight-bold mr-2">1 (ca)</span></p>
                        </div>
                    </div>
                    <div style="width:100%; min-height:10px; margin-top:10px; overflow:hidden;">
                        <input type="hidden" class="aid" value="8bf1552a-2fd1-4e7b-944c-1ba872f7a9b3">
                        <button style="float:right;" class="btn btn-warning btnEdit">Chỉnh sửa</button>
                        <button style="float:right; margin-right:10px;" class="btn btn-info btnDelete">Thông tin chi tiết</button>
                    </div>
                </div>*@

        </div>
        @{ Html.RenderPartial("LoadingBox"); }
    </div>
</div>

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>

<script>

    var emTemplate = '<div style="padding:15px; border-radius:5px; border:2px solid #0e4a9b; margin-bottom:10px;">'+
                        '<div style="height:100px; overflow:hidden;">'+
                            '<img class="apic" style="height:100px; width:100px; border-radius:5px; border:1px solid #ff6a00;" src="{photo}">'+
                            '<div style="margin-left:110px; top:-100px; position:relative;">'+
                                '<p class="aname" style="font-size:18px; font-weight:bold; margin-bottom:5px;">{name}</p>'+
                                '<p style="margin-bottom:5px;"><button position-id="{pid}" tag="info" class="position btn btn-pill btn-secondary"><i class="icon-1x flaticon2-layers" style="color:white; margin-right:5px;"></i> <span class="lname">Chưa có vai trò</span></button></p>'+
                                '<p style="font-size:16px;"><span>Làm việc: </span><span class="label label-primary label-inline font-weight-bolder mr-2">{w} (tiếng)</span><span>Nghỉ: </span><span class="label label-danger label-inline font-weight-bold mr-2">{s} (ca)</span></p>'+
                            '</div>'+
                        '</div>'+
                        '<div style="width:100%; min-height:10px; margin-top:10px; overflow:hidden;">'+
                            '<input type="hidden" class="aid" value="8bf1552a-2fd1-4e7b-944c-1ba872f7a9b3">'+
                            '<a href="/hr-cloud/admin/edit-user/{us}" style="float:right;" class="btn btn-warning btnEdit">Chỉnh sửa</a>'+
                            '<button style="float:right; margin-right:10px;" class="btn btn-info btnDelete">Thông tin chi tiết</button>'+
                        '</div>'+
                    '</div>';
    $(document).ready(function () {
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";

        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            for (var i = 0; i < list.length; i++) {
                var avatar = list[i].Avatar ? host + list[i].Avatar : "/Images/avatar.png";
                var html = emTemplate.replace("{photo}", avatar).replace("{us}", list[i].Username).replace("{name}", list[i].FirstName + " " + list[i].LastName);
                html = html.replace("{w}", parseFloat(list[i].HW / 60).toFixed(1)).replace("{s}", list[i].SO).replace("{pid}", list[i].Position);
                $("#employeeBox").append(html);
            }
            hideLoadingBox();
            loadPositions(host, access_token, latestChanges.PositionChanged, function (posList) {
                var positions = $(".position");
                var cachePost = {};
                for (var i = 0; i < positions.length; i++) {
                    var pid = $(positions[i]).attr("position-id");
                    if (!cachePost[pid]) {
                        //alert(pid);
                        for (var p = 0; p < posList.length; p++) {
                            if (pid == posList[p].Id) {
                                cachePost[pid] = posList[p];
                                setPositionUI(positions[i], posList[p]);
                                break;
                            }
                        }
                    }
                    else {
                        setPositionUI(positions[i], cachePost[pid]);
                    }
                }
            });
        }, function () { showRetry(); });

        function setPositionUI(e, p) {
            $($(e).find(".lname")).text(p.Name);
            $(e).attr("class", "position btn btn-pill btn-" + p.Color);
        }
    });
</script>