﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align: center; margin-bottom:20px;">
            <a href="/hr-cloud/admin/payment-user/@ViewBag.Target">
                <img id="avatar" src="/Images/avatar.png" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
            </a>
        </p>
        <p id="st0" style="text-align: center; display: none">
            <span class="label label-xl label-info label-inline mr-2">Chưa thanh toán</span>
        </p>
        <p id="st4" style="text-align: center; display: none">
            <span class="label label-xl label-danger label-inline mr-2">Đã huỷ</span>
        </p>
        <p id="st1" style="text-align: center; display: none ">
            <span class="label label-xl label-primary label-inline mr-2">Đã thanh toán</span>
        </p>
        <div id="reviewBox">
            <div id="workingBox">
                <div id="workingHeader" style="background-color:darkgreen; padding:10px; padding-bottom:5px; color:white">
                    <h4>Ngày công <span id="headFrom" style="color: #f3e325 "></span> - <span id="headTo" style="color: #f3e325"></span></h4>
                </div>
                <div id="workingList" style="border: 1px solid #aaa; padding:5px;">

                </div>
            </div>
            <div id="subBox" style="margin-top:10px;">
                <div id="workingHeader" style="background-color:red; padding:10px; padding-bottom:5px; color:white">
                    <h4>Khoản trừ</h4>
                </div>
                <div id="subList" style="border: 1px solid #aaa; padding:5px;">

                </div>
            </div>
            <h4 style="margin-top:10px;">Thưởng thêm: <span id="bonusText"></span></h4>
            <p><span style="text-decoration:underline;">Ghi chú: </span><span id="noteText" style="font-style:italic"></span></p>

            <h1 style="color:blue;">
                <span>Thực Lãnh: </span>
                <span id="moneyTotal"></span>
            </h1>
            <p style="font-style:italic">(Số tiền được làm tròn đến đơn vị ngàn đồng)</p>

            <p id="newBox" style="text-align: right; margin-top: 10px; display: none;"><button id="acceptBillingBTN" class="btn btn-primary" style="margin-right:10px;">Thanh toán</button><button id="cancelBTN" class="btn btn-danger">Huỷ</button></p>
            <p id="comBox" style="text-align:right; margin-top:10px; display:none"><a target="" href="/hr-cloud/admin/payment-printer/@ViewBag.PID/@ViewBag.Target" class="btn btn-warning" style="margin-right:10px;"><i class="icon-1x flaticon2-printer"></i> In bảng lương</a></p>
        </div>

    </div>
</div>
<input style="visibility:hidden;" type="file" id="avatar_file" accept="image/x-png,image/gif,image/jpeg" />

<div class="modal fade" id="payModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body" id="postDetail1Body">
                <h4>Xác nhận thanh toán, bạn muốn trừ quỹ báo cáo ngày?</h4>
                <label class="checkbox checkbox-success">
                    <input type="checkbox" name="Checkboxes5" id="hasDoFund">
                    <span></span> Trừ từ quỹ
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="continuePayment" type="button" class="btn btn-primary" data-dismiss="modal">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>

<script>
    var listPosition = new Array();
    var listLabel = new Array();
    var username = "@ViewBag.Target";

    var photoUploadURL_Result;
    var photo_Multi_UploadURL_Result;
    var newAvatar = "";



    function findElementById(list, id) {
        for (var i = 0; i < list.length; i++) {
            if (list[i].Id == id) {
                return list[i];
            }
        }
        return null;
    }

    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });
    }

    var workings
    var beginTS;
    var endTS;
    var postPrepay;
    var postBonus;
    var postSub;
    var postReason;
    var postNote;
    var postTotal;
    var paymentid = "@ViewBag.PID";

    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

    var wtotal = 0;
    var access_token = "@clientModel.Token";
    var host = "@clientModel.HostURL";
    var cancelURL = host + "/api/main/working/cancel-billing";
    var completeBilling = host + "/api/main/working/complete-billing";
    var url = host + "/api/main/get-all-shifts";
    var getPaymentURL = host + "/api/main/working/payment-detail/" + paymentid;
    var listAreas = new Array();
    var rateMap = {};
    var aid;
    var mapShifts = {};
    var uinfo;
    var tname = "";
    $(document).ready(function () {

        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            for (var i = 0; i < list.length; i++) {
                if (username == list[i].Username) {
                    fetchUserInfo(list[i]);
                    break;
                }
            }
        }, function () { showRetry(); });

        function fetchUserInfo(info) {
            uinfo = info;
            tname = info.FirstName + " " + info.LastName;
            username = info.Username;
            $("#firstName").val(info.FirstName);
            $("#lastName").val(info.LastName);

            if (info.Avatar)
                $("#avatar").attr("src", host + info.Avatar);

            aid = info.AreaId;
            PNCustomGet(url, access_token, function (data) {
                if (data == "400") {
                    showRetry();
                }
                else {
                    listAreas = JSON.parse(data);
                    registerOwnerInfoLoadCompleted(function (owner) {
                        var l = owner.Rates.length;
                        var rates = owner.Rates;
                        for (var i = 0; i < l; i++) {
                            rateMap[rates[i].Id] = rates[i];
                        }

                        for (var i = 0; i < listAreas.length; i++) {
                            if (listAreas[i].Id == aid) {
                                for (var j = 0; j < listAreas[i].Shifts.length; j++) {
                                    mapShifts[listAreas[i].Shifts[j].Id] = listAreas[i].Shifts[j];
                                }
                            }
                        }

                        PNCustomGet(url, access_token, function (data) {
                            if (data == "400") {
                                showRetry();
                            }
                            else {
                                listAreas = JSON.parse(data);
                                registerOwnerInfoLoadCompleted(function (owner) {
                                    var l = owner.Rates.length;
                                    var rates = owner.Rates;
                                    for (var i = 0; i < l; i++) {
                                        rateMap[rates[i].Id] = rates[i];
                                    }

                                    for (var i = 0; i < listAreas.length; i++) {
                                        if (listAreas[i].Id == aid) {
                                            var total = 0;
                                            for (var j = 0; j < listAreas[i].Shifts.length; j++) {
                                                mapShifts[listAreas[i].Shifts[j].Id] = listAreas[i].Shifts[j];
                                                var rate = listAreas[i].Shifts[j].Rate;
                                                if (rate == 0) {
                                                    var template = '<h4 style="font-weight:bold; margin-top:10px;"><span style="color:blue;">{name} ({hour} tiếng): </span><span style="color:darkviolet">{money}đ</span></h4>';
                                                    var html = template.replace("{name}", listAreas[i].Shifts[j].Name);
                                                    html = html.replace("{hour}", listAreas[i].Shifts[j].Duration);
                                                    var money = listAreas[i].Shifts[j].Duration * info.HValue;
                                                    html = html.replace("{money}", numberWithCommas(money));
                                                    $("#topShifts").append(html);
                                                    total = total + money;
                                                }
                                            }
                                            var html = '<h4 style="font-weight:bold; margin-top:10px;"><span  style="color:blue;">Tổng ngày: </span><span style="color:darkviolet">' + numberWithCommas(total) + 'đ</span></h4>';
                                            $("#topShifts").append(html);
                                        }
                                    }

                                    bindingPayment();
                                });
                            }
                        }, function () { });
                    });
                }
            }, function () { });
        }

        function bindingPayment() {
            PNCustomGet(getPaymentURL, access_token, function (data) {
                var paymentData = JSON.parse(data);
                workings = JSON.parse(paymentData.detail);
                var paymentModel = paymentData.payment;

                var uiDateFrom = convertUIDateTime(paymentModel.FromDay, "/");
                var uiDateTo = convertUIDateTime(paymentModel.ToDay, "/");

                beginTS = paymentModel.FromDay;
                endTS = paymentModel.ToDay;
                $("#reviewBox").css("display", "");
                $("#headFrom").text(uiDateFrom.uiDate);
                $("#headTo").text(uiDateTo.uiDate);
                for (var i = beginTS; i <= endTS; i = i + 86400) {
                    var date = convertUIDateTime(i, '-').uiDate;
                    appendDateWorking(date);
                    for (var j = 0; j < workings.length; j++) {
                        var working = workings[j];
                        if (i == working.DateVal) {
                            if (working.ShiftId) {
                                var shiftName = mapShifts[working.ShiftId].Name;
                                var duration = mapShifts[working.ShiftId].Duration;
                                var rate = rateMap[mapShifts[working.ShiftId].Rate] ? rateMap[mapShifts[working.ShiftId].Rate].RateVal : 1;
                                var smodel = {};
                                smodel.type = "s";
                                smodel.sname = shiftName;
                                smodel.duration = duration;
                                smodel.rate = rate;
                                smodel.off = working.IsOff;
                                smodel.accept = working.Accept;
                                smodel.reason = working.Reason;
                                smodel.cost = uinfo.HValue;
                                smodel.money = !smodel.off ? smodel.duration * smodel.cost * parseFloat(smodel.rate) : 0;
                            }
                            else {
                                var rate = rateMap[working.Rate];
                                var smodel = {};
                                smodel.type = "n";
                                smodel.sname = "Ca gãy - " + (working.Rate == 0 ? "" : rate.Name);
                                smodel.duration = parseFloat((working.End - working.Begin) / 3600).toFixed(2);
                                smodel.rate = working.Rate == 0 ? 1 : rate.RateVal;
                                smodel.off = working.IsOff;
                                smodel.accept = working.Accept;
                                smodel.reason = working.Reason;
                                smodel.cost = uinfo.HValue;
                                smodel.money = smodel.duration * smodel.cost * smodel.rate
                            }
                            appendShiftWorking(smodel, i);
                            wtotal = wtotal + smodel.money;
                        }

                    }
                }
                $("#workingList").append('<hr/>');
                $("#workingList").append('<p style="font-weight:bold;font-size:18px;color:blue"><span>Tổng tiền: </span><span>' + numberWithCommas(wtotal.toFixed(0)) + ' đ</span></p>');
                $("#subList").append('<p style="font-weight:bold;font-size:18px;color:red"><span>Ứng trước: </span><span>-' + numberWithCommas(paymentModel.PrePay.toFixed(0)) + ' đ</span></p>');
                $("#subList").append('<p style="font-weight:bold;font-size:18px;color:red"><span>Khoản trừ: </span><span>-' + numberWithCommas(paymentModel.SubPay.toFixed(0)) + ' đ</span></p>');
                var r = paymentModel.Reason;
                if (r)
                    $("#subList").append('<p><span>Lý do trừ: </span><span style="color:red;font-style:italic">' + r + '</span></p>');

                $("#noteText").text(paymentModel.Note);
                $("#moneyTotal").text(numberWithCommas(paymentModel.TotalMoney));

                if (paymentModel.Status == 0) {
                    $("#newBox").css("display", "");
                    $("#st0").css("display", "");
                }
                else if (paymentModel.Status == 1) {
                    $("#comBox").css("display", "");
                    $("#st1").css("display", "");
                }
                else {
                    $("#st4").css("display", "");
                }

            });
        }

        $("#cancelBTN").click(function () {
            $(this).attr("disabled", true);

            PNCustomPost(cancelURL, access_token, { id: paymentid }, function (data) {
                if (data == "ok") {
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
            });
        });


        $("#acceptBillingBTN").click(function () {
            $("#payModal").modal('show');
        });

        $("#continuePayment").click(function () {
            $(this).attr("disabled", true);
            var check = $("#hasDoFund").prop("checked");
            var model = {};
            model.id = paymentid;
            model.name = tname;
            model.fund = check ? "1" : "0";
            PNCustomPost(completeBilling, access_token, model, function (data) {
                if (data == "ok") {
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
            });
        });


        function appendDateWorking(date) {
            var template = '<div id="' + date + '">' +
                '<h5><i class="icon-1x flaticon2-fast-next"></i> Ngày ' + date.replace('/', '-').replace('/', '-') + '</h5>' +
                '</div>';
            $("#workingList").append(template);
        }

        function appendShiftWorking(model, dateval) {
            var date = convertUIDateTime(dateval, '-').uiDate;
            var box = $("#" + date);

            if (model.type == "n") {
                var val = model.money.toFixed(0);
                var tempalte = '<p><span style="background-color:#ab7c05;" class="label label-warning label-inline">' + model.sname + '</span>: <span style="color:blue; font-weight:bold;">' + numberWithCommas(val) + ' đ <span style="color:#333"> (' + model.duration.toString() + ' tiếng)</span></span></p>';
                $(box).append(tempalte);
            }
            else {
                if (model.off) {
                    if (model.accept) {
                        var tempalte = '<p><span class="label label-info label-inline">' + model.sname + '</span>: <span style="color:#792ecb; font-weight:bold;">Nghỉ (có phép - ' + model.reason + ')</span></p>';
                        $(box).append(tempalte);
                    }
                    else {
                        var tempalte = '<p><span class="label label-danger label-inline">' + model.sname + '</span>: <span style="color:#792ecb; font-weight:bold;">Nghỉ (Không phép)</span></p>';
                        $(box).append(tempalte);
                    }
                }
                else {
                    var val = model.money.toFixed(0);
                    var tempalte = '<p><span class="label label-primary label-inline">' + model.sname + '</span>: <span style="color:blue; font-weight:bold;">' + numberWithCommas(val) + ' đ</span></p>';
                    $(box).append(tempalte);
                }
            }
        }

        function convertUIDateTime(timestapm, c) {
            var date = new Date(timestapm * 1000);
            var day = date.getDate();
            var month = date.getMonth();
            var year = date.getFullYear();
            var result = {};
            result.uiDate = (day < 10 ? "0" + day.toString() : day.toString()) + c + (month < 9 ? "0" + (month + 1).toString() : (month + 1).toString()) + c + year;

            var hour = date.getHours();
            var min = date.getMinutes();
            result.uiTime = (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());

            return result;

        }

        function parseDatetime(date, time, c) {
            var split = date.split(c);
            var day = split[0];
            var month = split[1];
            var year = split[2];

            var timeSplit = time.split(':');
            var hour = timeSplit[0];
            var minute = timeSplit[1];
            return new Date(year, month - 1, day, hour, minute, 0, 0);
        }

    });
</script>
