﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";
    
    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align: center; margin-bottom:20px;">
            <a href="/hr-cloud/admin/payment-user/@ViewBag.Target">
                <img id="avatar" src="/Images/avatar.png" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
            </a>
        </p>
        <p style="text-align:center; margin:10px;"><a class="btn btn-info" href="/hr-cloud/admin/make-working-billing/@ViewBag.Target">Chốt lương</a></p>
        <h4 style="text-align:center; color:blue; margin-top: 10px;">LỊCH SỬ CHỐT LƯƠNG</h4>

        <div id="billList">

        </div>



    </div>
</div>
<input style="visibility:hidden;" type="file" id="avatar_file" accept="image/x-png,image/gif,image/jpeg" />



<div class="modal fade" id="payModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body" id="postDetail1Body">
                <h4>Xác nhận thanh toán, bạn muốn trừ quỹ báo cáo ngày?</h4>
                <label class="checkbox checkbox-success">
                    <input type="checkbox" name="Checkboxes5" id="hasDoFund">
                    <span></span> Trừ từ quỹ
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="continuePayment" type="button" class="btn btn-primary" data-dismiss="modal">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-areas.js"></script>
<script src="/Scripts/loading-positions.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script src="/Scripts/loading-labels.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/upload-photo-ajax.js"></script>

<script>
    var listPosition = new Array();
    var listLabel = new Array();
    var username = "@ViewBag.Target";

    var photoUploadURL_Result;
    var photo_Multi_UploadURL_Result;
    var newAvatar = "";
    var tname = "";
    function findElementById(list, id) {
        for (var i = 0; i < list.length; i++) {
            if (list[i].Id == id) {
                return list[i];
            }
        }
        return null;
    }

    $(document).ready(function () {
        var cpid = "";
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var getPaymentURL = host + "/api/main/working/get-payment-by-user/" + username + " /0";
        var cancelURL = host + "/api/main/working/cancel-billing";
        var completeBilling = host + "/api/main/working/complete-billing";
        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            for (var i = 0; i < list.length; i++) {
                if (username == list[i].Username) {
                    fetchUserInfo(list[i]);
                    break;
                }
            }
        }, function () { showRetry(); });

        function fetchUserInfo(info) {          

            tname = info.FirstName + " " + info.LastName;
           

            if (info.Avatar)
                $("#avatar").attr("src", host + info.Avatar);

            PNCustomGet(getPaymentURL, access_token, function (data) {
                var list = JSON.parse(data);
                for (var i = 0; i < list.length; i++) {
                    var cls = "";
                    var stscript = "";
                    var html = "";
                    if (list[i].Status == 0) {
                        cls = "info";
                        stscript = '<span class="label label-inline label-secondary">chưa thanh toán</span>';
                        html = '<div style="height:40px; margin-top:10px;">' +
                            '<button style="float:right;" class="btn btn-danger btn-cancel">Huỷ</button>' +
                            '<button style="float:right; margin-right:10px;" class="btn btn-primary btn-do-pay">Thanh toán</button>' +
                            '</div>';
                    }
                    else if (list[i].Status == 1) {
                        cls = "success";
                        stscript = '<span class="label label-inline label-primary">Thanh toán xong</span>';
                    }
                    else {
                        cls = "danger";
                        stscript = '<span class="label label-inline label-secondary">Đã huỷ</span>';
                    }
                    $("#billList").append('<div class="alert alert-' + cls + '" id="' + list[i].PaymentId + '"></div>');
                    var date = parseJsonDate(list[i].CreateDate);
                    var uiTime = convertUIDateTime(date.getTime() / 1000, '/');
                    var uiTimeBegin = convertUIDateTime(list[i].FromDay, '/');
                    var uiTimeEnd = convertUIDateTime(list[i].ToDay, '/');
                    $("#" + list[i].PaymentId).append('<h4>' + uiTime.uiDate + '<span style="float:right">' + numberWithCommas(list[i].TotalMoney) + ' đ</span> <a class="btn btn-warning" href="/hr-cloud/admin/payment-detail/' + list[i].PaymentId + '/' + list[i].Username + '">Chi tiết</a></h4>');
                    $("#" + list[i].PaymentId).append('<p style="font-style:italic; margin-bottom:0px;">(' + uiTimeBegin.uiDate + " - " + uiTimeEnd.uiDate + '<span style="float:right">' + stscript + '</span>)</p>');
                    $("#" + list[i].PaymentId).append(html);
                }

                $(".btn-do-pay").click(function () {
                    cpid = $($($(this).parent()).parent()).attr("id");
                    $("#payModal").modal('show');
                });

                $(".btn-cancel").click(function () {
                    $(this).attr("disabled", true);
                    cpid = $($($(this).parent()).parent()).attr("id");

                    PNCustomPost(cancelURL, access_token, { id: cpid }, function (data) {
                        if (data == "ok") {
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                    });
                });

            }, function () { });
        }

        $("#continuePayment").click(function () {
            $(this).attr("disabled", true);
            var check = $("#hasDoFund").prop("checked");
            var model = {};
            model.id = cpid;
            model.name = tname;
            model.fund = check ? "1" : "0";
            PNCustomPost(completeBilling, access_token, model, function (data) {
                if (data == "ok") {
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
            });
        });
    });

    function convertUIDateTime(timestapm, c) {
        var date = new Date(timestapm * 1000);
        var day = date.getDate();
        var month = date.getMonth();
        var year = date.getFullYear();
        var result = {};
        result.uiDate = (day < 10 ? "0" + day.toString() : day.toString()) + c + (month < 9 ? "0" + (month + 1).toString() : (month + 1).toString()) + c + year;

        var hour = date.getHours();
        var min = date.getMinutes();
        result.uiTime = (hour < 10 ? "0" + hour.toString() : hour.toString()) + ":" + (min < 10 ? "0" + min.toString() : min.toString());

        return result;

    }

    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }

</script>
