﻿@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_NewMemLayout.cshtml";
}

<script src="/assets/js/pages/features/miscellaneous/bootstrap-notify.js?v=7.0.6"></script>
<input type="hidden" id="hcode" value="@ViewBag.Code" />
<div id="toolBarRow">
    <div id="toolBarRec">
        <h2 class="pageName">CHÀO NHÀ KINH DOANH MỚI</h2>
    </div>
</div>
<div id="mainBody">
    <p>
        <img id="banner" src="/Images/new-member.png" style="width:100%" />
    </p>
    <div id="beginBox">
        <h4 style="text-align:center;">Chào mừng bạn đã tham gia mạng doanh nghiệp Việt Nam</h4>
        <h4 style="text-align:center; color:darkblue">Hãy chọn một <span style="color:red">Tên Định Danh</span> cho website của bạn</h4>
        <div>
            <div style="width:170px; float:right;"><input style="color:red;" class="form-control" id="domain" placeholder="TenDinhDanh" autocomplete="off" /></div>
            <p style="float:right; font-weight:bold; margin-top:9px; font-size:14px;">https://vpages.vn/</p>
        </div>
        <div class="clearfix"></div>
        <p style="text-align:center;">
            <button id="submitBTN" class="btn btn-primary">Tiếp tục <i class="icon-1x flaticon2-fast-next"></i></button>
        </p>
        <p style="font-style:italic;">
            <span style="font-weight:bold; text-decoration:underline;">Lưu ý: </span><span style="color:red;">Tên Định Danh </span><span>Chỉ bao gồm chữ cái không dấu và số viết liền nhau, không chứa ký tự đặc biệt và khoảng trắng.</span>
        </p>
    </div>
    <div id="successBox" style="display:none;">
        <h2 style="text-align:center;">Thiết lập Tên Định Danh thành công, chờ trong giây lát</h2>
    </div>

</div>

<div style="z-index:99999;" class="modal fade" id="domainModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2 id="viewDomain" style="color:blue;margin-bottom:0px; text-align:center"></h2>
                <p style="font-size:15px; text-align:center; margin-top:10px;">Địa chỉ website của bạn sẽ là:</p>
                <h3 id="viewDomain" style="color:darkmagenta;margin-bottom:0px; text-align:center"><span id="viewPath"></span></h3>
                <p style="color:blue; margin-top:10px; margin-bottom:2px;">Tên đầy đủ đơn vị kinh doanh (Nhập tiếng việt có dấu - Ví dụ: Công ty TNHH Thiên Ân):</p>
                <input id="viewName" class="form-control" style="font-size:16px; border:1px solid #f789fa;" />
            </div>
            <div class="modal-footer" style="padding:5px;">
                <button class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button id="updateBTN" type="button" class="btn btn-primary">Hoàn thành <i class="icon-xl fas fa-check"></i></button>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("LoadingIndicator"); }

<script>
    function removeVietnameseTones(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        // Some system encode vietnamese combining accent as individual utf-8 characters
        // Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
        str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
        str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
        // Remove extra spaces
        // Bỏ các khoảng trắng liền nhau
        str = str.replace(/ + /g, " ");
        str = str.trim();
        // Remove punctuations
        // Bỏ dấu câu, kí tự đặc biệt
        str = str.replace(/!|@@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, " ");
        str = str.toLowerCase();
        return str;
    }

    function showToastMessage(message, type) {
        var content = {};

        content.message = message;

        var notify = $.notify(content, {
            type: type,
            allow_dismiss: true,
            newest_on_top: false,
            mouse_over: false,
            showProgressbar: false,
            spacing: 10,
            timer: 2000,
            placement: {
                from: 'top',
                align: 'right'
            },
            offset: {
                x: 30,
                y: 30
            },
            delay: 1000,
            z_index: 999999,
            animate: {
                enter: 'animate__animated animate__' + 'bounceIn',
                exit: 'animate__animated animate__' + 'bounce'
            }
        });

    }
    $(document).ready(function () {
        $("#submitBTN").click(function () {
            var domain = $("#domain").val();
            var text = removeVietnameseTones(domain);
            var hasSpace = false;
            if (text == "") {
                alert("Bạn chưa nhập Tên Định Danh");
                return false;
            }
            for (var i = 0; i < text.length; i++) {
                if (text[i] == ' ') {
                    hasSpace = true;
                    break;
                }
            }
            if (hasSpace)
                alert("Bạn hãy xóa hết khoảng trắng hoặc ký tự đặc biệt của Tên Định Danh");
            else {
                $("#viewDomain").text(text);
                $("#viewPath").text("https://vpages.vn/" + text);
                $("#domainModal").modal('show');
            }

        });

        $("#updateBTN").click(function () {
            var name = $("#viewName").val();
            if (name == "") {
                alert("Bạn chưa nhập tên chuyên trang Bất Động Sản");
                return false;
            }
            $("#domainModal").modal('hide');
            showLoadingIndicator("Đang cập nhật");
            PNPost("/api/owner/config-domain", { domain: $("#viewDomain").text(), name : name, code : $("#hcode").val()}, function (data) {
                setTimeout(function () {
                    hideLoadingIndicator();
                    if (data == "-1") {
                        showToastMessage("Tên Định Danh đã có người sử dụng", "danger");
                    }
                    else if (data == "-2") {
                        showToastMessage("Tên Định Danh không hợp lệ", "danger");
                    }
                    else if (data == "ok") {
                        $("#banner").attr("src", "/images/checked-animation.gif");
                        $("#beginBox").css("display", "none");
                        $("#successBox").css("display", "block");
                        setTimeout(function () {
                            window.location.href = "/owner/dashboard";
                        }, 3000);
                    }
                    else {
                        showToastMessage("Có lỗi xảy ra", "danger");
                    }
                }, 1000);
            }, function () {
                    setTimeout(function () {
                        hideLoadingIndicator();
                        showToastMessage("Có lỗi xảy ra", "danger");
                    }, 1000);
            })
        });
    });
</script>

