﻿@model IEnumerable<string>
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_CMLayout.cshtml";
}
<div class="card card-custom" style="width:100%">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-user"></i>
            </span>
            <h3 class="card-label">
                Danh sách roles
            </h3>
        </div>
    </div>
    <div class="card-body">
        @foreach (var item in Model)
        {
            <h2>@item</h2>
        }

    </div>
</div>
