﻿
@{
    ViewBag.Title = "CreateOwner";
    Layout = "~/Views/Shared/_CMLayout.cshtml";
}



<div class="card card-custom" style="width:100%">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-user"></i>
            </span>
            <h3 class="card-label">
                Thêm khách hàng
            </h3>
        </div>

    </div>
    <div class="card-body">
        <p style="margin-bottom:0px;">Tên doanh nghiệp</p>
        <input id="name" class="form-control" />

        <p style="margin-bottom:0px; margin-top:10px;">Tên định danh domain</p>
        <input id="domain" class="form-control" />

        <p style="margin-bottom:0px; margin-top:10px;">Server</p>
        <select id="server" style="padding:6px">
            <option value="1">Server 1</option>
            <option value="2">Server 2</option>
            <option value="3">Server 3</option>
            <option value="4">Server 4</option>
            <option value="5">Server 5</option>
        </select>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <button id="submit" href="#" class="btn btn-primary font-weight-bold">Khởi tạo</button>
    </div>
</div>

<script src="/Scripts/PNAjaxV2.js"></script>
<script>
    
    $(document).ready(function () {
        $("#submit").click(function () {
            var name = $("#name").val();
            var domain = $("#domain").val();
            var server = $("#server").val();
            PNPost("/api/management/create-owner", { name: name, domain: domain, server: server }, function (data) {
                if (data != "") {
                    setTimeout(function () {
                        alert(data);
                    }, 3000);
                }
            })
        });
    });
</script>