﻿@model IEnumerable<hrcloud.EF.Owner>
@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_CMLayout.cshtml";
}


<div class="card card-custom" style="width:100%">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-user"></i>
            </span>
            <h3 class="card-label">
                Danh sách khách hàng
            </h3>
        </div>
        <div class="card-toolbar">
            <a class="btn btn-primary" href="/center/mamagement/create-owner"><i class="icon-xl far fa-plus-square"></i> Thêm khách hàng</a>
        </div>
    </div>
    <div class="card-body">
        @foreach (var item in Model)
        {
            <h2><a href="/center/management/detail-owner/@item.OwnerId">@item.Name</a></h2>
            <div class="widget-box">
                @foreach (var w in item.Widget)
                {
                    <h4 style="font-weight:bold">@w.Name</h4>
                    if (!string.IsNullOrEmpty(w.TopMenuData))
                    {
                        <h5> -- Top menu</h5>
                        var menu = PNUtility.Helpers.JSONHelper.Jsoner.Deserialize<List<hrcloud.Models.WMenu>>(w.TopMenuData);
                        foreach (var m in menu)
                        {
                            <p>@m.N : @m.L</p>
                        }
                    }
                    if (!string.IsNullOrEmpty(w.ActionData))
                    {
                        <h5> -- Action menu</h5>
                        var menu = PNUtility.Helpers.JSONHelper.Jsoner.Deserialize<List<hrcloud.Models.WMenu>>(w.ActionData);
                        foreach (var m in menu)
                        {
                            <p>@m.N : @m.L</p>
                        }
                    }
                }
            </div>
            <p>
                <input type="hidden" class="hid" value="@item.OwnerId" />
                <button class="btn btn-success add-function" data-toggle="modal" href="#functionModal">+ Thêm chức năng mở rộng</button>
            </p>
        }
    </div>
</div>

<div class="modal fade" id="functionModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm chức năng mở rộng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Tên chức năng mở rộng</p>
                <input id="fName" class="form-control" placeholder="Tên chức năng" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="submitBnt" type="submit" class="btn btn-primary font-weight-bold">Thêm chức năng</button>
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/PNAjaxV2.js"></script>

<script>
    $(document).ready(function () {
        var cid = "";
        $(".add-function").click(function () {
            var parent = $(this).parent();
            cid = $(parent).find(".hid").val();
        });

        $("#submitBnt").click(function () {
            var name = $("#fName").val();
            if (name == "")
                alert("Bạn chưa nhập tên");
            else {
                var model = { oid: cid, name: name };
                PNPost("/api/management/create-extra-function", model, function (res) {
                    if (res != "") {
                        alert("OK");
                    }
                }, function () { });
            }
        });
    });
</script>






