﻿@model hrcloud.EF.Owner
@{
    ViewBag.Title = "DetailOwner";
    Layout = "~/Views/Shared/_CMLayout.cshtml";
}

<div class="card card-custom" style="width:100%">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-user"></i>
            </span>
            <h3 class="card-label">
                @Model.Name
            </h3>
        </div>

    </div>
    <div class="card-body">
        <p><span style="font-weight:bold;">Ngày tạo: </span><span>@Model.CreateDate.ToString("dd/MM/yyyy HH:mm")</span></p>
        <p><span style="font-weight:bold;">Định danh: </span> @Model.Domain</p>
        <h4>Danh sách quản trị viên</h4>
        @foreach (var item in Model.QUser)
        {
            if (item.Role == "C_ADM")
            {
                <p>@item.QUserId</p>
            }
        }
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a data-toggle="modal" href="#new-user-modal" class="btn btn-primary font-weight-bold">Thêm quản trị</a>
    </div>
</div>


<!-- Modal-->
<div class="modal fade" id="new-user-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/center-management/new-user-for-owner" method="post">
                <input type="hidden" name="oid" value="@Model.OwnerId" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo người dùng cho doanh nghiệp</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h4><span style="font-weight:bold;">Định danh: </span><span>@Model.Domain</span></h4>
                    <p style="margin-bottom:0px; color:blue;">Tên đăng nhập:</p>
                    <input class="form-control" id="username" name="username" />
                    <p style="margin-bottom:0px; color:blue;">Tên đầy đủ:</p>
                    <input class="form-control" id="name" name="name" />
                    <p style="margin-bottom:0px; color:blue; margin-top:10px;">Mật khẩu:</p>
                    <input class="form-control" id="password" name="password" />
                    <p style="margin-bottom:0px; color:blue; margin-top:10px;">Role:</p>
                    <select id="role" style="padding:6px;" name="role">
                        <option value="C_ADM">Quản trị viên</option>
                        <option value="C_BOS">Chủ doanh nghiệp</option>
                        <option value="C_EMP">Nhân viên</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                    <button id="submitUser" type="submit" class="btn btn-primary font-weight-bold">Tạo người dùng</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#submitUser").click(function () {
            var username = $("#username").val();
            var password = $("#password").val();
            var role = $("#role").val();
        });
    });
</script>
