﻿@{
    Layout = null;
    var owner = (hrcloud.EF.Owner)ViewBag.Owner;
    var domain = (string)ViewBag.Domain;
    var day = (string)ViewBag.Day;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>@day - Báo cáo quỹ - @owner.Name</title>
    <meta name="description" content="Updates and statistics" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta property="og:title" itemprop="name" content="@day - Báo cáo quỹ - @owner.Name" />   

    <link href="/Content/swipe/photoswipe.css" rel="stylesheet" />
    <link href="/Content/swipe/default-skin.css" rel="stylesheet" />

    <script src="/Scripts/swipe/photoswipe-min.js"></script>
    <script src="/Scripts/swipe/photoswipe-ui-default-min.js"></script>

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />        <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="/assets/plugins/global/plugins.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->

    <link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/Scripts/PNAjaxV2.js"></script>
    <style>
        .fund-item {
            padding: 10px;
            border-bottom: 1px solid #454545;
            position: relative;
        }
    </style>
</head>
<!--end::Head-->
<!--begin::Body-->
<body>
    <divc class="container">
        <h4 style="margin-top:10px;">Báo cáo: @day.Replace("-", "/")</h4>
        <div style="padding:10px; padding-top:20px; background-color:darkblue; margin-bottom:20px;">
            <h4 style="color: white !important;">Số dư đầu ngày: <span style="font-weight:bold;" id="beginVal"></span></h4>
            <h4 style="color: white !important;">Nạp thêm: <span style="font-weight:bold;" id="pushVal"></span></h4>
            <h4 style="color: white !important;">Chi tiêu: <span style="font-weight:bold;" id="spentVal"></span></h4>
            <h4 style="color: white !important;">Còn lại: <span style="font-weight:bold; color:yellow!important" id="remainVal"></span></h4>
        </div>
        <div id="fundBox">

        </div>
    </divc>


    <script>

        var template = '<div class="fund-item">' +
            '<h4><i style="color:red;" class="icon-1x flaticon2-fast-next"></i> <span style="font-weight:bold;">{ct}</span> <span style="font-style:italic;">({time})</span></h4>' +
            '<h4 style="color:red">{money} <span style="color:blue; font-style:italic">Còn lại: {remain}</span></h4>' +
            '<p style="margin-bottom:0px;"><i class="icon-1x flaticon2-user"></i> <span style="color:blue">{name}</span></p>' +
            '<div style="position:absolute; width:100px; height:50px;right:10px; bottom:10px;">' +
            '<button title="{url}" style="float:right; {show}" class="btn btn-warning view-photo"><i class="icon-2x flaticon2-photograph"></i></button>' +
            '</div>' +
            '</div>';

        function numberWithCommasTest(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        }
        var pswpElement;
        var lastUrl = "@ViewBag.Host" + "/api/main/accounting/quick-report/get-report-by-last-day";
        $(document).ready(function () {
            pswpElement = document.querySelectorAll('.pswp')[0];
            var host = "@ViewBag.Host";
            var url = "@ViewBag.Host" + "/api/main/accounting/quick-report/get-report-by-day";

            var day = "@day";
            var owner = "@owner.OwnerId";
            PNPost(url, { oid: owner, day: day }, function (res) {
                var list = JSON.parse(res);
                if (list.length == 0)
                    getLastDay();
                else {
                    var model = list[0];
                    var last = list[list.length - 1];
                    var begin = last.IsOut ? parseInt(last.Remain) + parseInt(last.Value) : parseInt(last.Remain) - parseInt(last.Value);
                    $("#beginVal").text(numberWithCommasTest(begin) + " đ");
                    $("#remainVal").text(numberWithCommasTest(model.Remain) + " đ");
                    var spent = 0;
                    var push = 0;
                    for (var i = 0; i < list.length; i++) {
                        if (list[i].IsOut)
                            spent = spent + list[i].Value;
                        else
                            push = push + list[i].Value;

                        var html = template.replace("{ct}", list[i].Explain);
                        var datetime = new Date(parseInt(list[i].DoDate.match(/(\d+)/)[1], 10));

                        var timeText = formatDateTime(datetime, !list[i].IsSel);

                        html = html.replace("{time}", timeText);
                        var test = numberWithCommasTest(list[i].Value);
                        var money = (list[i].IsOut ? "-" : "+") + numberWithCommasTest(list[i].Value);
                        html = html.replace("{money}", money);
                        html = html.replace("{remain}", numberWithCommasTest(list[i].Remain));
                        var photo = list[i].Photo;

                        if (photo == "") {
                            html = html.replace("{url}", "");
                            html = html.replace("{show}", "display:none;");
                        }
                        else {
                            html = html.replace("{url}", host + photo);
                            html = html.replace("{show}", "");
                        }
                        if (list[i].RefUser) {
                            html = html.replace("{name}", list[i].RefUser);
                        }
                        else {
                            html = html.replace("{name}", "");
                        }

                        $("#fundBox").append(html);
                    }
                    $("#pushVal").text(numberWithCommasTest(push) + " đ");
                    $("#spentVal").text(numberWithCommasTest(spent) + " đ");

                    $(".view-photo").click(function () {
                        var mapLoaded = {};
                        var url = $(this).attr("title");
                        var photoList = new Array();
                        var m = {
                            src: url,
                            w: 0,
                            h: 0,
                            title: ""
                        };
                        photoList.push(m);

                        var options = {
                            index: 0
                        };
                        var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, photoList, options);
                        gallery.listen('gettingData', function (index, item) {
                            if (item.w < 1 || item.h < 1) { // unknown size
                                if (!mapLoaded[item.src]) {
                                    mapLoaded[item.src] = "load";
                                    var img = new Image();
                                    img.onload = function () { // will get size after load
                                        item.w = this.width; // set image width
                                        item.h = this.height; // set image height
                                        gallery.invalidateCurrItems(); // reinit Items
                                        gallery.updateSize(true); // reinit Items
                                    }
                                    img.src = item.src; // let's download image
                                }
                            }
                        });

                        gallery.init();
                        return false;
                    });
                }

            }, function (err) { alert(JSON.stringify(err)); });

            function getLastDay() {
                PNPost(lastUrl, { oid: owner, day: day }, function (res) {
                    var model = JSON.parse(res);
                    if (model.Remain) {
                        $("#beginVal").text(numberWithCommasTest(model.Remain) + " đ");
                        $("#remainVal").text(numberWithCommasTest(model.Remain) + " đ");
                    }
                    $("#pushVal").text("0 đ");
                    $("#spentVal").text("0 đ");
                }, function (err) { alert(JSON.stringify(err)); });
            }
        });



        

        function formatDateTime(date, hasHour) {
            var day = ((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' + ((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + date.getFullYear();
            if (hasHour) {
                var h = ((date.getHours() > 9) ? date.getHours() : ('0' + date.getHours())) + 'h' + ((date.getMinutes() > 9) ? date.getMinutes() : ('0' + date.getMinutes()));
                return day + ' - ' + h;
            }
            else
                return day;
        }
    </script>

    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1200
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#6993FF",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#F3F6F9",
                        "dark": "#212121"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1E9FF",
                        "secondary": "#ECF0F3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#212121",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                      ViewBag
                    }
                },
                "gray": {
                    "dayray-100": "#F3F6F9",
                    "gray-200": "#ECF0F3",
                    "gray-300": "#E5EAEE",
                    "gownera★ OwnerId★ OwnerId★ OwnerIdy-400": "#D6D6E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#80808F",
                    "gray-700": "#464E5F",
                    "gray-800": "#1B283F",
                    "gray-900": "#212121"
                }
            },
            "font-family": "Poppins"
        };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js?v=7.0.6"></script>
    <script src="/assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6"></script>
    <script src="/assets/js/scripts.bundle.js?v=7.0.6"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js?v=7.0.6"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="/assets/js/pages/widgets.js?v=7.0.6"></script>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

</body>
<!--end::Body-->
</html>
