﻿@model hrcloud.EFWIDGET.Order
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";

    var nails = hrcloud.Services.Widgets.SonNguyenCacheService.Nails;
    var grit = hrcloud.Services.Widgets.SonNguyenCacheService.Grit;
    var details = (List<hrcloud.EFWIDGET.OrderDetail>)ViewBag.Details;
    var completed = details.Sum(a => a.Complete);
    var total = details.Sum(a => a.Count);
    var percent = (completed * 100) / total;
}


<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <h3 style="margin-bottom:0px;">@Model.Name</h3>
        <p style="margin:0px; color:blue">@percent % (@completed/@total)</p>
        <div class="progress h-6px w-100">
            <div class="progress-bar bg-primary" role="progressbar" style="width: @percent%" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p style="color:blue; margin-top:10px; margin-bottom:0px;">@Model.Note</p>
        <p style="font-style:italic;color:firebrick; margin-top:10px;">Ngày xuất hàng: @Model.ExportDate.ToString("dd/MM/yyyy")</p>
        @foreach (var item in details)
        {

            var n = nails.Where(a => a.NailId == item.NailId).FirstOrDefault();
            var g = grit.Where(a => a.GritId == item.GritId).FirstOrDefault();
            var p = (item.Complete * 100) / item.Count;
            var title = n.Name + " - " + g.Name;
            <div>
                <input type="hidden" value="@title" class="dtitle" />
                <input type="hidden" value="@item.ODetailID" class="detailID" />
                <h5 style="color:blue">@n.Name - @g.Name - <span style="color:red;"> @item.Count</span></h5>
                <p style="margin-bottom:0px; color:red">@p % (@item.Complete/@item.Count)</p>
                <div class="progress h-6px w-100">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: @p%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <hr />
            </div>
        }
    </div>
</div>
<input id="orderID" type="hidden" value="@Model.OrderId" />


<script>
    $(document).ready(function () {
        
    });
</script>

