﻿@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<script src="/Scripts/number-format.js"></script>

<form class="form w-100" novalidate="novalidate" id="kt_sign_up_form" method="post" action="/owner/post-register">
    <!--begin::Heading-->
    <div class="mb-10 text-center">
        <!--begin::Title-->
        <h1 class="text-dark mb-3">Doanh Nghiệp Đăng Ký</h1>
        <!--end::Title-->
        <!--begin::Link-->
        <div class="text-gray-400 fw-bold fs-4">
            Bạn đã có tài khoản?
            <a href="/owner/login" class="link-primary fw-bolder">Đăng nhập</a>
        </div>
        <!--end::Link-->
    </div>
    <!--end::Heading-->
    <!--begin::Action-->
    <!--end::Action-->
    <!--begin::Separator-->
    <!--end::Separator-->
    <!--begin::Input group-->
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="fv-row mb-7">
        <label class="form-label fw-bolder text-dark fs-6">Số điện thoại</label>
        <input style="background-color: #113f40; color:white;" class="form-control form-control-lg form-control-solid" placeholder="Viết liền 10 số" name="phone" id="phone" autocomplete="off" maxlength="10" onkeyup="digitsOnly(this)" />
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="mb-10 fv-row" data-kt-password-meter="false">
        <!--begin::Wrapper-->
        <div class="mb-1">
            <!--begin::Label-->
            <label class="form-label fw-bolder text-dark fs-6">Mật khẩu</label>
            <!--end::Label-->
            <!--begin::Input wrapper-->
            <div class="position-relative mb-3">
                <input style="background-color: #113f40; color:white;" class="form-control form-control-lg form-control-solid" type="password" placeholder="" name="pass" id="pass" autocomplete="off" />
                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
            </div>
            <!--end::Input wrapper-->
            <!--begin::Meter-->
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
            <!--end::Meter-->
        </div>
        <!--end::Wrapper-->
        <!--begin::Hint-->
        <div class="text-muted">Sử dụng ít nhất 8 ký tự.</div>
        <!--end::Hint-->
    </div>
    <!--end::Input group=-->
    <!--begin::Input group-->
    <div class="fv-row mb-5">
        <label class="form-label fw-bolder text-dark fs-6">Nhập lại mật khẩu</label>
        <input style="background-color: #113f40; color:white;" class="form-control form-control-lg form-control-solid" type="password" placeholder="" name="confirm-password" id="repass" autocomplete="off" />
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <!--end::Input group-->
    <!--begin::Actions-->
    <div class="text-center">
        <button type="button" id="submitRegister" class="btn btn-lg btn-primary">
            <span class="indicator-label">Đăng ký</span>
            <span class="indicator-progress">
                Đang tạo tài khoản...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>
    </div>
    <!--end::Actions-->
</form>

<script>
    $(document).ready(function () {
        $("#submitRegister").click(function () {
            var phone = $("#phone").val();
            var pass = $("#pass").val();
            var repass = $("#repass").val();
            if (phone == "") {
                alert("Bạn chưa nhập số điện thoại");
                return false;
            }
            else if (phone.length != 10) {
                alert("Số di động không hợp lệ");
                return false;
            }
            else if (pass == "") {
                alert("Mật khẩu không được để trống");
                return false;
            }
            else if (pass.length < 8) {
                alert("Mật khẩu phải lớn hơn hoặc bằng 8 ký tự");
                return false;
            }
            else if (pass != repass) {
                alert("2 mật khẩu không khớp nhau");
                return false;
            }
            else {
                //$("#BTNSubmit").prop("disabled", true);
                $(this).prop("disabled", true);
                $(this).attr("data-kt-indicator", "on");
                var url = "/api/public/check-exist-username/" + phone;
                var btn = this;
                PNGet(url, function (data) {
                    if (data == "true") {
                        $(btn).prop("disabled", false);
                        $(btn).attr("data-kt-indicator", "");
                        alert("Tên đăng nhập đã tồn tại.");
                    }
                    else {
                        $("#kt_sign_up_form").submit();
                    }
                }, function () { alert("Có lỗi xảy ra"); });

            }
        });
    });
</script>
