﻿@{ 
    Layout = null;
    var owner = (hrcloud.EF.Owner)ViewBag.Owner;
}
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 9 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->
<head>
    <base href="../../../../">
    <meta charset="utf-8" />
    <title>Metronic | Login Page 1</title>
    <meta name="description" content="Login page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />        <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="/assets/css/pages/login/classic/login-1.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="/assets/plugins/global/plugins.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->

    <link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />

</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" style="background-image: url(/assets/media/bg/bg-10.jpg)" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
    @if (owner != null)
    {
        <input type="hidden" id="domain" value="@owner.Domain" />
        <input type="hidden" id="name" value="@owner.Name" />
        <input type="hidden" id="id" value="@owner.OwnerId" />
        <input type="hidden" id="slogan" value="@owner.Slogan" />
    }

    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-row-fluid bg-white" id="kt_login">
            <!--begin::Aside-->
            <!--<div class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10" style="background-image: url(/assets/media/bg/bg-4.jpg);">-->
                <!--begin: Aside Container-->
                <!--<div class="d-flex flex-row-fluid flex-column justify-content-between">-->
                    <!--begin: Aside header-->
                    <!--<a href="#" class="flex-column-auto mt-5 pb-lg-0 pb-10">
                        @if (owner == null)
                        {
                            <img src="/vpages-logo.png" class="max-h-70px pageLogo" alt="" />
                        }
                        else
                        {
                            var logo = "/OData/Logo/" + owner.OwnerId + ".png";
                            <img src="@logo" class="max-h-70px pageLogo"  alt="@owner.Name" />
                        }
                    </a>-->
                    <!--end: Aside header-->
                    <!--begin: Aside content-->
                    <!--<div class="flex-column-fluid d-flex flex-column justify-content-center">
                        @if (owner == null)
                        {
                            <h3 class="font-size-h1 mb-5 text-white pageName">Mạng xã hội quản trị doanh nghiệp</h3>
                            <p class="font-weight-lighter text-white opacity-80 pageSlogan">
                                Quản lý nhân sự trên nền tảng công nghệ 4.0x
                            </p> 
                        }
                        else
                        {
                            <h3 class="font-size-h1 mb-5 text-white pageName">@owner.Name</h3>
                            <p class="font-weight-lighter text-white opacity-80 pageSlogan">
                                @owner.Slogan
                            </p>
                        }


                    </div>-->
                    <!--end: Aside content-->
                    <!--begin: Aside footer for desktop-->
                    <!--<div class="d-none flex-column-auto d-lg-flex justify-content-between mt-10">
                        <div class="opacity-70 font-weight-bold	text-white">
                            &copy; 2020 vpages.vn
                        </div>
                        <div class="d-flex">
                            <a href="#" class="text-white">Giới thiệu</a>
                            <a href="#" class="text-white ml-10">Hướng dẫn</a>
                            <a href="#" class="text-white ml-10">Liên hệ</a>
                        </div>
                    </div>-->
                    <!--end: Aside footer for desktop-->
                <!--</div>-->
                <!--end: Aside Container-->
            <!--</div>-->
            <!--begin::Aside-->
            <!--begin::Content-->
            <div class="flex-row-fluid d-flex flex-column position-relative p-7 overflow-hidden">
                <!--begin::Content header-->
                <div class="position-absolute top-0 right-0 text-right mt-5 mb-15 mb-lg-0 flex-column-auto justify-content-center py-5 px-10">
                    <span class="font-weight-bold text-dark-50">Bạn chưa có tài khoản?</span>
                    <a href="javascript:;" class="font-weight-bold ml-2" id="kt_login_signup">Đăng ký!</a>
                </div>
                <!--end::Content header-->
                <!--begin::Content body-->
                <div class="d-flex flex-column-fluid mt-30 mt-lg-0">
                    <!--begin::Signin-->
                    <div class="login-form login-signin">
                        <div class="text-center mb-10 mb-lg-20" style="margin-bottom:0px !important;">
                            <h3 class="font-size-h1">Đăng nhập hệ thống</h3>
                            <p class="text-muted font-weight-bold">Nhập tên đăng nhập và mật khẩu</p>
                        </div>

                        <!--begin::Form-->
                        <form method="post" action="hr-cloud/post-login" class="form" novalidate="novalidate" id="mainform">
                            <input type="hidden" name="returnUrl" value="@ViewBag.URL" />
                            <div class="form-group">
                                @if (owner == null)
                                {
                                    <input id="username" class="form-control form-control-solid h-auto py-5 px-6" type="text" placeholder="Username" name="username" autocomplete="off" /> }
                                else
                                {
                                    var domain = owner.Domain + "_";
                                    <input id="username" class="form-control form-control-solid h-auto py-5 px-6" type="text" placeholder="Username" name="username" autocomplete="off" value="@domain" />
                                }
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-solid h-auto py-5 px-6" type="password" placeholder="Password" name="password" autocomplete="off" />
                            </div>
                            <!--begin::Action-->
                            <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                                <a href="javascript:;" class="text-dark-50 text-hover-primary my-3 mr-2" id="kt_login_forgot">
                                    Quên mật khẩu ?
                                </a>
                                <button id="submit" type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3">Đăng nhập</button>
                            </div>
                            <!--end::Action-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Signin-->
                    <!--begin::Signup-->
                    <div class="login-form login-signup">
                        <div class="text-center mb-10 mb-lg-20">
                            <h3 class="font-size-h1">Sign Up</h3>
                            <p class="text-muted font-weight-bold">Enter your details to create your account</p>
                        </div>

                        <!--begin::Form-->
                        <form class="form" novalidate="novalidate" id="kt_login_signup_form">
                            <div class="form-group">
                                <input class="form-control form-control-solid h-auto py-5 px-6" type="text" placeholder="Fullname" name="fullname" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-solid h-auto py-5 px-6" type="email" placeholder="Email" name="email" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-solid h-auto py-5 px-6" type="password" placeholder="Password" name="password" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-solid h-auto py-5 px-6" type="password" placeholder="Confirm password" name="cpassword" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label class="checkbox mb-0">
                                    <input type="checkbox" name="agree" />
                                    <span></span>
                                    I Agree the <a href="#">terms and conditions</a>
                                </label>
                            </div>
                            <div class="form-group d-flex flex-wrap flex-center">
                                <button type="button" id="kt_login_signup_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Submit</button>
                                <button type="button" id="kt_login_signup_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-4">Cancel</button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Signup-->
                    <!--begin::Forgot-->
                    <div class="login-form login-forgot">
                        <div class="text-center mb-10 mb-lg-20">
                            <h3 class="font-size-h1">Forgotten Password ?</h3>
                            <p class="text-muted font-weight-bold">Enter your email to reset your password</p>
                        </div>

                        <!--begin::Form-->
                        <form class="form" novalidate="novalidate" id="kt_login_forgot_form">
                            <div class="form-group">
                                <input class="form-control form-control-solid h-auto py-5 px-6" type="email" placeholder="Email" name="email" autocomplete="off" />
                            </div>
                            <div class="form-group d-flex flex-wrap flex-center">
                                <button type="button" id="kt_login_forgot_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Submit</button>
                                <button type="button" id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-4">Cancel</button>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Forgot-->
                </div>
                <!--end::Content body-->
                <!--begin::Content footer for mobile-->
                <div class="d-flex d-lg-none flex-column-auto flex-column flex-sm-row justify-content-between align-items-center mt-5 p-5">
                    <div class="text-dark-50 font-weight-bold order-2 order-sm-1 my-2">
                        &copy; 2020 vpages.vn
                    </div>
                    <div class="d-flex order-1 order-sm-2 my-2">
                        <a href="#" class="text-dark-75 text-hover-primary">Giới thiệu</a>
                        <a href="#" class="text-dark-75 text-hover-primary ml-4">Hướng dẫn</a>
                        <a href="#" class="text-dark-75 text-hover-primary ml-4">Liên hệ</a>
                    </div>
                </div>
                <!--end::Content footer for mobile-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Login-->
    </div>
    <!--end::Main-->


    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>
    var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1200
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#6993FF",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#F3F6F9",
                        "dark": "#212121"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1E9FF",
                        "secondary": "#ECF0F3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#212121",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#ECF0F3",
                    "gray-300": "#E5EAEE",
                    "gray-400": "#D6D6E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#80808F",
                    "gray-700": "#464E5F",
                    "gray-800": "#1B283F",
                    "gray-900": "#212121"
                }
            },
            "font-family": "Poppins"
        };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js?v=7.0.6"></script>
    <script src="/assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6"></script>
    <script src="/assets/js/scripts.bundle.js?v=7.0.6"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="/assets/js/pages/custom/login/login-general.js?v=7.0.6"></script>
    <!--end::Page Scripts-->

    <script>$(document).ready(function () {
            var domain = $("#domain").val();
            if (!domain) {
                var text = localStorage.getItem("owner");
                if (text) {
                    var owner = JSON.parse(text);
                    $(".pageName").text(owner.name);
                    $(".pageSlogan").text(owner.slogan);
                    $(".pageLogo").attr("src", "/OData/Logo/" + owner.id + ".png");
                    $("#username").val(owner.domain + "_");
                }
            }
            else {
                var obj = { domain: $("#domain").val(), id: $("#id").val(), name: $("#name").val(), slogan: $("#slogan").val() };
                localStorage.setItem("owner", JSON.stringify(obj));
            }
        });</script>
</body>
<!--end::Body-->
</html>
