﻿@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<script src="/Scripts/number-format.js"></script>

<form class="form w-100" novalidate="novalidate" id="kt_sign_in_form" method="post" action="/owner/post-login">
    <!--begin::Heading-->
    <div class="mb-10 text-center">
        <!--begin::Title-->
        <h1 class="text-dark mb-3">Đăng nhập hệ thống</h1>
        <!--end::Title-->
        <!--begin::Link-->
        <div class="text-gray-400 fw-bold fs-4">
            Chưa có tài khoản?
            <a href="/owner/register" class="link-primary fw-bolder">Đăng ký</a>
        </div>
        <!--end::Link-->
    </div>
    <!--end::Heading-->
    <!--begin::Action-->
    <!--end::Action-->
    <!--begin::Separator-->
    <!--end::Separator-->
    <!--begin::Input group-->
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="fv-row mb-10">
        <!--begin::Label-->
        <label class="form-label fs-6 fw-bolder text-dark">Số điện thoại</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input style="background-color: #113f40; color:white;" class="form-control form-control-lg form-control-solid" placeholder="Viết liền 10 số" name="phone" id="phone" autocomplete="off" maxlength="10" onkeyup="digitsOnly(this)" />
        <!--end::Input-->
    </div>
    <!--end::Input group-->
    <!--begin::Input group-->
    <div class="fv-row mb-10">
        <!--begin::Wrapper-->
        <div class="d-flex flex-stack mb-2">
            <!--begin::Label-->
            <label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
            <!--end::Label-->
            <!--begin::Link-->
            <a href="../../demo2/dist/authentication/layouts/basic/password-reset.html" class="link-primary fs-6 fw-bolder">Quên mật khẩu ?</a>
            <!--end::Link-->
        </div>
        <!--end::Wrapper-->
        <!--begin::Input-->
        <input style="background-color: #113f40; color:white;" class="form-control form-control-lg form-control-solid" type="password" name="pass" id="pass" autocomplete="off" />
        <!--end::Input-->
    </div>
    <!--end::Input group-->
    <!--begin::Actions-->
    <div class="text-center">
        <!--begin::Submit button-->
        <button type="submit" id="submitLogin" class="btn btn-lg btn-primary w-100 mb-5">
            <span class="indicator-label">Đăng nhập</span>
            <span class="indicator-progress">
                Đang thực hiện...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
        </button>        
    </div>
</form>

<script>
    $(document).ready(function () {
        $(this).prop("disabled", false);
        $(this).attr("data-kt-indicator", "");
        $("#submitLogin").click(function () {
            var phone = $("#phone").val();
            var pass = $("#pass").val();
            if (phone == "") {
                alert("Bạn chưa nhập số điện thoại");
                return false;
            }
            else if (phone.length != 10) {
                alert("Số di động không hợp lệ");
                return false;
            }
            else if (pass == "") {
                alert("Mật khẩu không được để trống");
                return false;
            }
            else if (pass.length < 8) {
                alert("Mật khẩu phải lớn hơn hoặc bằng 8 ký tự");
                return false;
            }
            else {
                //$("#BTNSubmit").prop("disabled", true);
                $(this).prop("disabled", true);
                $(this).attr("data-kt-indicator", "on");
                $("#kt_sign_in_form").submit();
            }
        });
    });
</script>
