﻿@{
    Layout = null;
    var code = ViewBag.Code;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register - Validation - @code </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
<body style="padding-top:30px;">
    @if (string.IsNullOrEmpty(code))
    {
        <h2 style="color:red; text-align:center">Trang không hợp lệ, hoặc hết hiệu lực</h2>
        <p style="text-align:center"><a href="/" class="btn btn-primary">Quay lại trang chủ</a></p>
    }
    else
    {
        <h3 style="text-align:center; color:dodgerblue;">Vui lòng đợi trong giây lát</h3>
        <p style="text-align:center"><img src="/Images/loading.gif" /></p>
        <script>
            $(document).ready(function () {
                var code = "@code";
                setTimeout(function () {
                    window.location.href = "/account/welcome-user?code=" + code;
                }, 2000);
            });
        </script>
    }
</body>
</html>
