﻿@{

}
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 9 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Link Xem Trực Tuyến - Khách Hàng: @ViewBag.CName</title>
    <meta name="description" content="Updates and statistics" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />        <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="/assets/plugins/global/plugins.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->

    <link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>


</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" style="background-image: url(/assets/media/bg/bg-10.jpg)" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
    @{ Html.RenderPartial("CommonFunction"); }
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile ">
        <!--begin::Logo-->
        <a href="#">
            <img alt="Logo" src="/Images/NNTWhite.png" class="logo-default max-h-30px" style="border-radius:30px;" />
        </a>
        <!--end::Logo-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">

            <button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
                <span></span>
            </button>

        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header Mobile-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                <div id="kt_header" class="header  header-fixed ">
                    <!--begin::Container-->
                    <div class=" container  d-flex align-items-stretch justify-content-between">
                        <!--begin::Left-->
                        <div class="d-flex align-items-stretch mr-3">
                            <!--begin::Header Logo-->
                            <div class="header-logo">
                                <a href="#">
                                    <img alt="Logo" src="/Images/NNTWhite.png" class="logo-default max-h-40px" style="border-radius:30px;"  />
                                    <img alt="Logo" src="/Images/NNTWhite.png" class="logo-sticky max-h-40px" style="border-radius:30px;" />
                                </a>
                            </div>
                            <!--end::Header Logo-->
                            <!--begin::Header Menu Wrapper-->
                            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                                <!--begin::Header Menu-->
                                <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile  header-menu-layout-default ">
                                    <!--begin::Header Nav-->
                                    <ul class="menu-nav ">
                                        <li class="menu-item  menu-item-open menu-item-rel menu-item-open">
                                            <a href="/hr-cloud/widget/nt/customer/@ViewBag.CID" class="menu-link"><span class="menu-text">Trang chủ khách hàng</span></a>
                                        </li>
                                        <li class="menu-item  menu-item-open menu-item-rel menu-item-open">
                                            <a href="/hr-cloud/widget/nt/customer-support/@ViewBag.CID" class="menu-link"><span class="menu-text">Hỗ trợ</span></a>
                                        </li>
                                        <li class="menu-item  menu-item-open menu-item-rel menu-item-open">
                                            <a href="#" id="logout" class="menu-link"><span class="menu-text">Đăng xuất</span></a>
                                        </li>
                                    </ul>
                                    <!--end::Header Nav-->
                                </div>
                                <!--end::Header Menu-->
                            </div>
                            <!--end::Header Menu Wrapper-->
                        </div>
                        <!--end::Left-->
                        <!--begin::Topbar-->
                        <div class="topbar">
                            <span></span>
                        </div>
                        <!--end::Topbar-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Subheader-->
                    <div class="subheader py-2 py-lg-12  subheader-transparent " id="kt_subheader">
                        <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center flex-wrap mr-1">

                                <!--begin::Heading-->
                                <div class="d-flex flex-column">
                                    <!--begin::Title-->
                                    <h2 class="text-white font-weight-bold my-2 mr-5">
                                        @ViewBag.PageName
                                    </h2>
                                    <!--end::Title-->
                                    <!--begin::Breadcrumb-->
                                    <!--end::Breadcrumb-->
                                </div>
                                <!--end::Heading-->

                            </div>
                            <!--end::Info-->
                            <!--begin::Toolbar-->
                            <div id="menuBTN" class="d-flex align-items-center" style="display:none !important;">


                                <!--begin::Button-->
                                <!--end::Button-->
                                <!--begin::Dropdown-->
                                <div class="dropdown dropdown-inline ml-2" data-toggle="tooltip" data-placement="top">
                                    <a href="#" class="btn btn-white font-weight-bold py-3 px-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Chọn nhanh
                                    </a>
                                    <div class="dropdown-menu p-0 m-0 dropdown-menu-md dropdown-menu-right">
                                        <!--begin::Navigation-->
                                        <ul id="quick-menu" class="navi navi-hover py-5">
                                            @*<li class="navi-item">
            <a href="#" class="navi-link">
                <span class="navi-icon"><i class="flaticon-eye"></i></span>
                <span class="navi-text">Theo dõi ngày công</span>
            </a>
        </li>
        <li class="navi-item">
            <a href="#" class="navi-link">
                <span class="navi-icon"><i class="flaticon2-drop"></i></span>
                <span class="navi-text">Ứng tiền</span>
            </a>
        </li>
        <li class="navi-item">
            <a href="#" class="navi-link">
                <span class="navi-icon"><i class="flaticon2-list-3"></i></span>
                <span class="navi-text">Ghi chú nhân viên</span>
            </a>
        </li>

        <li class="navi-separator my-3"></li>

        <li class="navi-item">
            <a href="#" class="navi-link">
                <span class="navi-icon"><i class="flaticon2-bell-2"></i></span>
                <span class="navi-text">Tạo thông báo</span>
            </a>
        </li>*@
                                            <li class="navi-item">
                                                <a href="/hr-cloud/widget/nt/customer/@ViewBag.CID" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-analytics-2"></i></span>
                                                    <span class="navi-text">Tổng quan</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="/hr-cloud/widget/nt/my-orders/@ViewBag.CID" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-correct"></i></span>
                                                    <span class="navi-text">Đơn hàng</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="/hr-cloud/widget/nt/my-import-histories?cusid=@ViewBag.CID" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-paper-plane"></i></span>
                                                    <span class="navi-text">Xe hàng đi</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="/hr-cloud/widget/nt/my-export-histories?cusid=@ViewBag.CID" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon-download-1"></i></span>
                                                    <span class="navi-text">Xe hàng về</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="/hr-cloud/widget/nt/my-payment-histories?cusid=@ViewBag.CID" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-zig-zag-line-sign"></i></span>
                                                    <span class="navi-text">Lịch sử thanh toán</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="/hr-cloud/widget/nt/my-account-changes-histories?cusid=@ViewBag.CID" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-zig-zag-line-sign"></i></span>
                                                    <span class="navi-text">Lịch sử công nợ</span>
                                                </a>
                                            </li>
                                            @*<li class="navi-item">
            <a href="/hr-cloud/widget/nt/account-changes/@ViewBag.CID" class="navi-link">
                <span class="navi-icon"><i class="flaticon2-paper-plane"></i></span>
                <span class="navi-text">Lịch sử tài khoản</span>
            </a>
        </li>
        <li class="navi-item">
            <a href="/hr-cloud/widget/nt/payments/@ViewBag.CID" class="navi-link">
                <span class="navi-icon"><i class="flaticon2-paper-plane"></i></span>
                <span class="navi-text">Lịch sử thanh toán</span>
            </a>
        </li>*@
                                        </ul>
                                        <!--end::Navigation-->
                                    </div>
                                </div>
                                <!--end::Dropdown-->
                            </div>
                            <!--end::Toolbar-->
                        </div>
                    </div>
                    <!--end::Subheader-->
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class=" container ">
                            <!--begin::Dashboard-->
                            <!--begin::Row-->
                            @RenderBody()
                            <!--end::Row-->
                            <!--begin::Row-->
                            <!--end::Row-->
                            <!--end::Dashboard-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                </div>
                <!--end::Content-->
                <!--begin::Footer-->



                <div class="footer bg-white py-4 d-flex flex-lg-column " id="kt_footer">
                    <!--begin::Container-->
                    <div class=" container  d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <!--begin::Copyright-->
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted font-weight-bold mr-2">2022 &copy;</span>
                            <a href="http://keenthemes.com/metronic" target="_blank" class="text-dark-75 text-hover-primary">@ViewBag.CName</a>
                        </div>
                        <!--end::Copyright-->
                        <!--begin::Nav-->
                        @*<div class="nav nav-dark order-1 order-md-2">
                            <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link pr-3 pl-0">Giới thiệu</a>
                            <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link px-3">Hướng dẫn</a>
                            <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link pl-3 pr-0">Liên hệ</a>
                        </div>*@
                        <!--end::Nav-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <!--begin::Quick Panel-->
    <!--end::Quick Panel-->
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop">
        <span class="svg-icon">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
                    <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
                </g>
            </svg><!--end::Svg Icon-->
        </span>
    </div>
    <!--end::Scrolltop-->
    <!--begin::Sticky Toolbar-->
    <!--end::Demo Panel-->

    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->

    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1200
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#6993FF",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#F3F6F9",
                        "dark": "#212121"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1E9FF",
                        "secondary": "#ECF0F3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#212121",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#ECF0F3",
                    "gray-300": "#E5EAEE",
                    "gray-400": "#D6D6E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#80808F",
                    "gray-700": "#464E5F",
                    "gray-800": "#1B283F",
                    "gray-900": "#212121"
                }
            },
            "font-family": "Poppins"
        };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js?v=7.0.6"></script>
    <script src="/assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6"></script>
    <script src="/assets/js/scripts.bundle.js?v=7.0.6"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js?v=7.0.6"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="/assets/js/pages/widgets.js?v=7.0.6"></script>
    <!--end::Page Scripts-->
    @*<script>
            var profile = null;
            var listeners = new Array();
            var userList = null;
            var listenersUserList = new Array();
            function registerProfileLoadCompleted(completed) {
                if (profile != null)
                    completed(profile);
                else
                    listeners.push(completed);
            }

            function registerUserListLoadCompleted(completed) {
                if (userList != null)
                    completed(userList);
                else
                    listenersUserList.push(completed);
            }

            $(document).ready(function () {
                var access_token = "@clientModel.Token";
                var host = "@clientModel.HostURL";
                var changeData = "@clientModel.ToChangesText()";
                var latestChanges = JSON.parse(getTextFormAttribute(changeData));
                var me = "@clientModel.Username";
                var url = host + "/api/main/employee-full-list";
                var dataKey = "data_users";
                var changeKey = "change_users";
                var localChange = readCacheChange(changeKey);
                if (localChange < latestChanges.UserListChanged || localChange == 0) {
                    loadUserFromServer();
                }
                else {
                    var text = localStorage.getItem("profile");
                    if (text) {
                        var cachedUser = JSON.parse(text);
                        if (cachedUser.Username == me) {
                            processMyProfile(cachedUser);
                            var text2 = localStorage.getItem(dataKey);
                            userList = JSON.parse(text2);
                            notifyUserListLoaded(userList);
                        }
                        else {
                            loadUserFromServer();
                        }

                    }
                    else
                        loadUserFromServer();
                }

                function loadUserFromServer() {
                    PNCustomGet(url, access_token, function (data) {
                        if (data == "400") {
                            retry();
                        }
                        else {
                            var list = JSON.parse(data);
                            localStorage.setItem(dataKey, data);
                            writeCacheChange(changeKey, latestChanges.UserListChanged);
                            for (var i = 0; i < list.length; i++) {
                                if (list[i].Username == me) {
                                    processMyProfile(list[i]);
                                    break;
                                }
                            }
                            userList = list;
                            notifyUserListLoaded(userList);
                        }
                    }, function () { });
                }

                function processMyProfile(info) {
                    localStorage.setItem("profile", JSON.stringify(info));
                    profile = info;
                    notifyProfileLoaded(profile);
                    if (info.AreaM && info.AreaM.length > 30) {
                        alert("x");
                        var temp = '<li class="navi-item"><a href="/hr-cloud/on-board/day-working" class="navi-link">'+
                                            '<span class="navi-icon"><i class="flaticon2-edit"></i></span>'+
                                            '<span class="navi-text">Chấm công ngày</span>'+
                                        '</a>'+
                                    '</li>';

                        $("#quick-menu").append(temp);
                    }
                    if (info.IaC) {
                        var temp = '<li class="navi-item"><a href="/hr-cloud/on-board/advance" class="navi-link">' +
                                    '<span class="navi-icon"><i class="flaticon2-gift"></i></span>' +
                                    '<span class="navi-text">Tạm ứng</span>' +
                                    '</a>' +
                                    '</li>';

                        $("#quick-menu").append(temp);
                    }
                }

                function notifyProfileLoaded(profile) {
                    for (var i = 0; i < listeners.length; i++) {
                        listeners[i](profile);
                    }
                }

                function notifyUserListLoaded(list) {
                    for (var i = 0; i < listenersUserList.length; i++) {
                        listenersUserList[i](list);
                    }
                }
            });


        </script>

        <script>
            var owner = null;
            var ownerlisteners = new Array();

            function registerOwnerInfoLoadCompleted(completed) {
                if (owner != null)
                    completed(owner);
                else
                    ownerlisteners.push(completed);
            }


            $(document).ready(function () {
                var access_token = "@clientModel.Token";
                var host = "@clientModel.HostURL";
                var changeData = "@clientModel.ToChangesText()";
                var latestChanges = JSON.parse(getTextFormAttribute(changeData));
                var me = "@clientModel.Username";
                var url = host + "/api/owner/get-owner-info";
                var dataKey = "data_owner";
                var changeKey = "change_owner";
                var localChange = readCacheChange(changeKey);

                if (localChange < latestChanges.OwnerChanged || localChange == 0) {
                    loadOwnerFromServer();
                }
                else {
                    var text = localStorage.getItem(dataKey);
                    if (text) {
                        try {
                            var cachedOwner = JSON.parse(text);
                            notifyOwnerLoaded(cachedOwner);
                        }
                        catch{
                            loadOwnerFromServer();
                        }
                    }
                    else
                        loadOwnerFromServer();
                }

                function loadOwnerFromServer() {
                    PNCustomGet(url, access_token, function (data) {
                        if (data == "400") {
                            retry();
                        }
                        else {
                            var server_owner = JSON.parse(data);
                            localStorage.setItem(dataKey, data);
                            writeCacheChange(changeKey, latestChanges.OwnerChanged);
                            owner = server_owner;
                            notifyOwnerLoaded(server_owner);
                        }
                    }, function () { });
                }

                function notifyOwnerLoaded(owner) {
                    for (var i = 0; i < ownerlisteners.length; i++) {
                        ownerlisteners[i](owner);
                    }
                }
            });


        </script>*@

    <script>
        $(document).ready(function () {
            var id = "@ViewBag.CID";
            $("#logout").click(function () {
                delete_cookie(id);
                window.location.href = "/hr-cloud/widget/nt/customer/" + id;
            });
        });
        function delete_cookie(name) {
            document.cookie = name + '=; Path=/; domain=.hrcenter.vn; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }

    </script>
</body>
<!--end::Body-->
</html>
