﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <base href="">
    <title>Metronic - the world's #1 selling Bootstrap Admin Theme Ecosystem for HTML, Vue, React, Angular &amp; Laravel by Keenthemes</title>
    <meta charset="utf-8" />
    <meta name="description" content="The most advanced Bootstrap Admin Theme on Themeforest trusted by 94,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue &amp; Laravel versions. Grab your copy now and get life-time updates for free." />
    <meta name="keywords" content="Metronic, bootstrap, bootstrap 5, Angular, VueJs, React, Laravel, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Metronic - Bootstrap 5 HTML, VueJS, React, Angular &amp; Laravel Admin Dashboard Theme" />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="Keenthemes | Metronic" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="/Themes/owner/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="/Themes/owner/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/Themes/owner/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-3.4.1.min.js"></script>
    <script src="/Scripts/PNAjaxV2.js"></script>
</head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-enabled sidebar-enabled">
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-column flex-column-fluid">
            <!--begin::Header-->
            <div id="kt_header" class="header align-items-stretch">
                <!--begin::Container-->
                <div class="container-xxl d-flex align-items-stretch justify-content-between">
                    <!--begin::Brand-->
                    <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 w-lg-225px me-5">
                        <!--begin::Aside mobile toggle-->
                        <div class="btn btn-icon btn-active-icon-primary ms-n2 me-2 d-flex d-lg-none" id="kt_aside_toggle">
                            <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black" />
                                    <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                        <!--end::Aside mobile toggle-->
                        <!--begin::Logo-->
                        <a href="../../demo5/dist/index.html">
                            <img alt="Logo" src="/Images/hr-center-logo-official.png" style="height:50px !important" class="d-none d-lg-inline h-30px" />
                            <img alt="Logo" src="/Images/hr-center-logo-official.png" style="height:40px !important" class="d-lg-none h-25px" />
                        </a>
                        <!--end::Logo-->
                    </div>
                    <!--end::Brand-->
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                        <!--begin::Navbar-->
                        <div class="d-flex align-items-stretch" id="kt_header_nav">
                            <!--begin::Menu wrapper-->
                            <div class="header-menu align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_header_menu_mobile_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav'}">
                                <!--begin::Menu-->
                                <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">
                                    <a href="/owner/dashboard" data-kt-menu-placement="bottom-start" class="menu-item here show menu-lg-down-accordion me-lg-1">
                                        <span class="menu-link py-3">
                                            <span class="menu-title">Tổng quan</span>
                                            <span class="menu-arrow d-lg-none"></span>
                                        </span>
                                    </a>
                                    <a href="/owner/dashboard" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
                                        <span class="menu-link py-3">
                                            <span class="menu-title">Giới thiệu</span>
                                            <span class="menu-arrow d-lg-none"></span>
                                        </span>
                                    </a>
                                    <a href="/owner/user-book" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
                                        <span class="menu-link py-3">
                                            <span class="menu-title">Sách hướng dẫn</span>
                                            <span class="menu-arrow d-lg-none"></span>
                                        </span>
                                    </a>

                                    <a href="/owner/user-support" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-lg-1">
                                        <span class="menu-link py-3">
                                            <span class="menu-title">Hỗ trợ</span>
                                            <span class="menu-arrow d-lg-none"></span>
                                        </span>
                                    </a>
                                </div>
                                <!--end::Menu-->
                            </div>
                            <!--end::Menu wrapper-->
                        </div>
                        <!--end::Navbar-->
                        <!--begin::Toolbar wrapper-->
                        <div class="d-flex align-items-stretch flex-shrink-0">

                            <!--begin::Sidebar Toggler-->

                            <!--end::Sidebar Toggler-->
                            <!--begin::User-->
                            <div class="d-flex align-items-center ms-lg-5" id="kt_header_user_menu_toggle">
                                <!--begin::User info-->
                                <div class="btn btn-active-light d-flex align-items-center bg-hover-light py-2 px-2 px-md-3" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                    <!--begin::Name-->
                                    <div class="d-none d-md-flex flex-column align-items-end justify-content-center me-2">
                                        <span class="text-muted fs-7 fw-bold lh-1 mb-2">Hello</span>
                                        <span class="text-dark fs-base fw-bolder lh-1">Richard</span>
                                    </div>
                                    <!--end::Name-->
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-30px symbol-md-40px">
                                        <img src="/Images/avatar.png" alt="image" />
                                    </div>
                                    <!--end::Symbol-->
                                </div>
                                <!--end::User info-->
                                <!--begin::User account menu-->
                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px" data-kt-menu="true">
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <div class="menu-content d-flex align-items-center px-3">
                                            <!--begin::Avatar-->
                                            <div class="symbol symbol-50px me-5">
                                                <img alt="Logo" src="assets/media/avatars/300-1.jpg" />
                                            </div>
                                            <!--end::Avatar-->
                                            <!--begin::Username-->
                                            <div class="d-flex flex-column">
                                                <div class="fw-bolder d-flex align-items-center fs-5">
                                                    Max Smith
                                                    <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2">Pro</span>
                                                </div>
                                                <a href="#" class="fw-bold text-muted text-hover-primary fs-7">max@kt.com</a>
                                            </div>
                                            <!--end::Username-->
                                        </div>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu separator-->
                                    <div class="separator my-2"></div>
                                    <!--end::Menu separator-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-5">
                                        <a href="../../demo5/dist/account/overview.html" class="menu-link px-5">My Profile</a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-5">
                                        <a href="../../demo5/dist/apps/projects/list.html" class="menu-link px-5">
                                            <span class="menu-text">My Projects</span>
                                            <span class="menu-badge">
                                                <span class="badge badge-light-danger badge-circle fw-bolder fs-7">3</span>
                                            </span>
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-5" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start">
                                        <a href="#" class="menu-link px-5">
                                            <span class="menu-title">My Subscription</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <!--begin::Menu sub-->
                                        <div class="menu-sub menu-sub-dropdown w-175px py-4">
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="../../demo5/dist/account/referrals.html" class="menu-link px-5">Referrals</a>
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="../../demo5/dist/account/billing.html" class="menu-link px-5">Billing</a>
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="../../demo5/dist/account/statements.html" class="menu-link px-5">Payments</a>
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <a href="../../demo5/dist/account/statements.html" class="menu-link d-flex flex-stack px-5">
                                                    Statements
                                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="View your statements"></i>
                                                </a>
                                            </div>
                                            <!--end::Menu item-->
                                            <!--begin::Menu separator-->
                                            <div class="separator my-2"></div>
                                            <!--end::Menu separator-->
                                            <!--begin::Menu item-->
                                            <div class="menu-item px-3">
                                                <div class="menu-content px-3">
                                                    <label class="form-check form-switch form-check-custom form-check-solid">
                                                        <input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="notifications" />
                                                        <span class="form-check-label text-muted fs-7">Notifications</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <!--end::Menu item-->
                                        </div>
                                        <!--end::Menu sub-->
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-5">
                                        <a href="../../demo5/dist/account/statements.html" class="menu-link px-5">My Statements</a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu separator-->
                                    <div class="separator my-2"></div>
                                    <!--end::Menu separator-->
                                    <div class="menu-item px-5">
                                        <a href="/owner/logout" class="menu-link px-5">Đăng xuất</a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu separator-->
                                    <!--end::Menu item-->
                                </div>
                                <!--end::User account menu-->
                            </div>
                            <!--end::User -->
                            <!--begin::Header menu toggle-->
                            <div class="d-flex d-lg-none align-items-center me-n2" title="Show header menu">
                                <button class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_header_menu_mobile_toggle">
                                    <!--begin::Svg Icon | path: icons/duotune/text/txt001.svg-->
                                    <span class="svg-icon svg-icon-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M13 11H3C2.4 11 2 10.6 2 10V9C2 8.4 2.4 8 3 8H13C13.6 8 14 8.4 14 9V10C14 10.6 13.6 11 13 11ZM22 5V4C22 3.4 21.6 3 21 3H3C2.4 3 2 3.4 2 4V5C2 5.6 2.4 6 3 6H21C21.6 6 22 5.6 22 5Z" fill="black" />
                                            <path opacity="0.3" d="M21 16H3C2.4 16 2 15.6 2 15V14C2 13.4 2.4 13 3 13H21C21.6 13 22 13.4 22 14V15C22 15.6 21.6 16 21 16ZM14 20V19C14 18.4 13.6 18 13 18H3C2.4 18 2 18.4 2 19V20C2 20.6 2.4 21 3 21H13C13.6 21 14 20.6 14 20Z" fill="black" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </button>
                            </div>
                            <!--end::Header menu toggle-->
                        </div>
                        <!--end::Toolbar wrapper-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Header-->
            <!--begin::Container-->
            <div id="kt_content_container" class="d-flex flex-column-fluid align-items-stretch container-xxl">
                <!--begin::Aside-->
                <div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '225px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle" data-kt-sticky="true" data-kt-sticky-name="aside-sticky" data-kt-sticky-offset="{default: false, lg: '1px'}" data-kt-sticky-width="{lg: '225px'}" data-kt-sticky-left="auto" data-kt-sticky-top="94px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95">
                    <!--begin::Aside nav-->
                    <div class="hover-scroll-overlay-y my-5 my-lg-5 w-100 ps-4 ps-lg-0 pe-4 me-1" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_header" data-kt-scroll-wrappers="#kt_aside" data-kt-scroll-offset="5px">
                        <!--begin::Menu-->
                        <div class="menu menu-column menu-active-bg menu-hover-bg menu-title-gray-700 fs-6 menu-rounded w-100" id="#kt_aside_menu" data-kt-menu="true">
                            <!--begin::Heading-->
                            <!--end::Heading-->
                            <!--begin::Menu item-->
                            <div class="menu-item pt-5">
                                <div class="menu-content pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-7 fw-bolder" style="font-weight:bold !important; color:red !important">Quản trị nội dung</span>
                                </div>
                            </div>
                            <div class="menu-item">
                                <a id="menuFolder" href="/owner/cms/categories" class="menu-link">
                                    <span class="menu-title">Menu</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a id="menuBanner" href="/owner/cms/banners" class="menu-link">
                                    <span class="menu-title">Banner</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a id="menuProduct" href="/owner/cms/products" class="menu-link">
                                    <span class="menu-title">Sản phẩm</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a id="menuArticles" href="/owner/cms/articles" class="menu-link">
                                    <span class="menu-title">Bài viết</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a id="menuAlbums" href="/owner/cms/albums" class="menu-link">
                                    <span class="menu-title">Thư viện ảnh</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a id="menuVideo"  href="/owner/cms/video" class="menu-link">
                                    <span class="menu-title">Thư viện video</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a id="menuFiles"  href="/owner/cms/files" class="menu-link">
                                    <span class="menu-title">Thư viện file</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a id="menuLinks" href="/owner/cms/links" class="menu-link">
                                    <span class="menu-title">Link liên kết</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a id="menuTags" href="/owner/cms/tags" class="menu-link">
                                    <span class="menu-title">Nhãn</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="/owner/cms/social-networks" class="menu-link">
                                    <span class="menu-title">Liên kết MXH</span>
                                </a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Heading-->
                            <div class="menu-item pt-5">
                                <div class="menu-content pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-7 fw-bolder" style="font-weight:bold !important; color:red !important">Hoạt động</span>
                                </div>
                            </div>
                            <div class="menu-item">
                                <a href="/owner/activities/orders" class="menu-link">
                                    <span class="menu-title">Đơn đặt hàng</span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="/owner/activities/visitors" class="menu-link">
                                    <span class="menu-title">Lượt xem</span>
                                </a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item">
                                <a href="/owner/activities/feedbacks" class="menu-link">
                                    <span class="menu-title">Phản hồi</span>
                                    <span class="menu-badge"></span>
                                </a>
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Heading-->
                            <div class="menu-item pt-5">
                                <div class="menu-content pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-7 fw-bolder" style="font-weight:bold !important; color:red !important">Cài đặt</span>
                                </div>
                            </div>
                            <div class="menu-item">
                                <a href="/owner/setting/page-info" class="menu-link">
                                    <span class="menu-title">Thông tin trang</span>
                                    <span class="menu-badge"></span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="/owner/setting/page-segments" class="menu-link">
                                    <span class="menu-title">Bố cục nội dung</span>
                                    <span class="menu-badge"></span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="/owner/setting/seo" class="menu-link">
                                    <span class="menu-title">SEO metadata</span>
                                    <span class="menu-badge"></span>
                                </a>
                            </div>
                        </div>
                        <!--end::Menu-->
                    </div>
                    <!--end::Aside nav-->
                </div>
                <!--end::Aside-->
                <!--begin::Wrapper-->
                <div class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10" id="kt_wrapper">
                    <!--begin::Content-->
                    <div class="content flex-column-fluid" id="kt_content">
                        @RenderBody()
                    </div>
                    <!--end::Content-->
                    <!--begin::Footer-->
                    <div class="footer pt-10 pb-5 d-flex flex-column flex-md-row flex-stack" id="kt_footer">
                        <!--begin::Copyright-->
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted fw-bold me-1">2021©</span>
                            <a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">Keenthemes</a>
                        </div>
                        <!--end::Copyright-->
                        <!--begin::Menu-->
                        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
                            <li class="menu-item">
                                <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link ps-2 pe-0">Purchase</a>
                            </li>
                        </ul>
                        <!--end::Menu-->
                    </div>
                    <!--end::Footer-->
                </div>
            </div>
            <!--end::Container-->
        </div>
        <!--end::Page-->
    </div>


    <script>var hostUrl = "/Themes/owner/assets/";</script>
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="/Themes/owner/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/Themes/owner/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="/Themes/owner/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="/Themes/owner/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script src="/Themes/owner/assets/js/widgets.bundle.js"></script>
    <script src="/Themes/owner/assets/js/custom/widgets.js"></script>
    <script src="/Themes/owner/assets/js/custom/apps/chat/chat.js"></script>
    <script src="/Themes/owner/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
    <script src="/Themes/owner/assets/js/custom/utilities/modals/users-search.js"></script>
    <script>
        $(document).ready(function () {
            var am = "@ViewBag.Am";
            if (am == "folder")
                $("#menuFolder").addClass("active");
            else if (am == "banner")
                $("#menuBanner").addClass("active");
            else if (am == "product")
                $("#menuProduct").addClass("active");
            else if (am == "article")
                $("#menuArticles").addClass("active");
            else if (am == "album")
                $("#menuAlbums").addClass("active");
            else if (am == "video")
                $("#menuVideo").addClass("active");
            else if (am == "file")
                $("#menuFiles").addClass("active");
            else if (am == "link")
                $("#menuLinks").addClass("active");
            else if (am == "tag")
                $("#menuTags").addClass("active");
        });
    </script>
</body>
</html>
