﻿@{
    var owner = (hrcloud.EF.Owner)ViewBag.Owner;
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    var extraFunctions = hrcloud.CacheCenter.GetExtraFunction(clientModel.Owner.OwnerId.ToString());
    string vaval = extraFunctions == null ? "Null" : extraFunctions.Count.ToString();
}
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 9 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>@owner.Name</title>
    <meta name="description" content="Updates and statistics" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />        <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="/assets/plugins/global/plugins.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->

    <link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var me = "@clientModel.Username";
        var domain = "@clientModel.Domain";

        function buildAttributeText(input) {
            return input.replace(new RegExp('"', 'g'), '&quot;');
        }


        function getTextFormAttribute(input) {
            return input.replace(new RegExp('&quot;', 'g'), '"');
        }

        function readCacheChange(changeKey) {
            var text = localStorage.getItem(changeKey);
            if (text) {
                return parseInt(text);
            }
            else
                return 0;
        }

        function writeCacheChange(changeKey, time) {
            localStorage.setItem(changeKey, time);
        }

        var cdata = "@clientModel.ToChangesText()";


        var latestChanges = JSON.parse(getTextFormAttribute(cdata));

        function updateCacheData(key, obj) {
            localStorage.setItem(key, JSON.stringify(obj));
        }

        function updateCacheChanges(changes) {
            writeCacheChanges(changes);
        }
        function toMapObject(array, name) {
            var res = {};
            for (var i = 0; i < array.length; i++) {
                var val = array[i][name];
                res[val] = array[i];
            }
            return res;
        }

        function findElementByProperty(array, name, value) {
            for (var i = 0; i < array.length; i++) {
                if (array[i][name] == value)
                    return array[i];
            }
            return null;
        }

    </script>

    <script>
        var profile = null;
        var listeners = new Array();
        var userList = null;
        var listenersUserList = new Array();
        function registerProfileLoadCompleted(completed) {
            if (profile != null) {
                completed(profile);
            }
            else {
                listeners.push(completed);
            }
        }

        function registerUserListLoadCompleted(completed) {
            if (userList != null)
                completed(userList);
            else
                listenersUserList.push(completed);
        }


        $(document).ready(function () {

            var access_token = "@clientModel.Token";
            var host = "@clientModel.HostURL";
            var changeData = "@clientModel.ToChangesText()";
            var latestChanges = JSON.parse(getTextFormAttribute(changeData));

            var me = "@clientModel.Username";
            var url = host + "/api/main/employee-full-list";
            var dataKey = "data_users";
            var changeKey = "change_users";
            var localChange = readCacheChange(changeKey);

            if (localChange < latestChanges.UserListChanged || localChange == 0) {
                loadUserFromServer();
            }
            else {
                var text = localStorage.getItem("profile");
                if (text) {
                    var cachedUser = JSON.parse(text);
                    if (cachedUser.Username == me) {
                        processMyProfile(cachedUser);
                        var text2 = localStorage.getItem(dataKey);
                        userList = JSON.parse(text2);
                        notifyUserListLoaded(userList);
                    }
                    else {
                        loadUserFromServer();
                    }

                }
                else
                    loadUserFromServer();
            }

            function loadUserFromServer() {
                PNCustomGet(url, access_token, function (data) {
                    if (data == "400") {
                        retry();
                    }
                    else {
                        var list = JSON.parse(data);
                        localStorage.setItem(dataKey, data);
                        writeCacheChange(changeKey, latestChanges.UserListChanged);
                        for (var i = 0; i < list.length; i++) {
                            if (list[i].Username == me) {
                                processMyProfile(list[i]);
                                break;
                            }
                        }
                        userList = list;
                        notifyUserListLoaded(userList);
                    }
                }, function () { });
            }

            function processMyProfile(info) {
                localStorage.setItem("profile", JSON.stringify(info));
                profile = info;
                notifyProfileLoaded(profile);
                if (info.AreaM && info.AreaM.length > 30) {
                    var temp = '<li class="navi-item"><a href="/hr-cloud/on-board/day-working" class="navi-link">'+
                                        '<span class="navi-icon"><i class="flaticon2-edit"></i></span>'+
                                        '<span class="navi-text">Chấm công ngày</span>'+
                                    '</a>'+
                                '</li>';

                    $("#quick-menu").append(temp);
                }
                if (info.IaC) {
                    //var temp = '<li class="navi-item"><a href="/hr-cloud/on-board/advance" class="navi-link">' +
                    //                '<span class="navi-icon"><i class="flaticon2-gift"></i></span>' +
                    //                '<span class="navi-text">Tạm ứng</span>' +
                    //                '</a>' +
                    //            '</li>';

                    //$("#quick-menu").append(temp);

                    var temp1 = '<li class="navi-item"><a href="/hr-cloud/on-board/make-fund-transaction" class="navi-link">' +
                        '<span class="navi-icon"><i class="flaticon2-world"></i></span>' +
                        '<span class="navi-text">Chi tiền quỹ</span>' +
                        '</a>' +
                        '</li>';

                    $("#quick-menu").append(temp1);

                    var temp2 = '<li class="navi-item"><a href="/hr-cloud/on-board/import-to-fund" class="navi-link">' +
                        '<span class="navi-icon"><i class="flaticon2-world"></i></span>' +
                        '<span class="navi-text">Nạp vào quỹ</span>' +
                        '</a>' +
                        '</li>';

                    $("#quick-menu").append(temp2);

                    var temp3 = '<li class="navi-item"><a href="/hr-cloud/on-board/fund-admin" class="navi-link">' +
                        '<span class="navi-icon"><i class="flaticon2-world"></i></span>' +
                        '<span class="navi-text">Quản lý tiền quỹ</span>' +
                        '</a>' +
                        '</li>';

                    $("#quick-menu").append(temp3);
                }
            }

            function notifyProfileLoaded(profile) {
                for (var i = 0; i < listeners.length; i++) {
                    listeners[i](profile);
                }
            }

            function notifyUserListLoaded(list) {
                for (var i = 0; i < listenersUserList.length; i++) {
                    listenersUserList[i](list);
                }
            }
        });


    </script>

    <script>
        var owner = null;
        var ownerlisteners = new Array();

        function registerOwnerInfoLoadCompleted(completed) {
            if (owner != null)
                completed(owner);
            else
                ownerlisteners.push(completed);
        }


        $(document).ready(function () {
            var access_token = "@clientModel.Token";
            var host = "@clientModel.HostURL";
            var changeData = "@clientModel.ToChangesText()";
            var latestChanges = JSON.parse(getTextFormAttribute(changeData));
            var me = "@clientModel.Username";
            var url = host + "/api/owner/get-owner-info";
            var dataKey = "data_owner";
            var changeKey = "change_owner";
            var localChange = readCacheChange(changeKey);

            if (localChange < latestChanges.OwnerChanged || localChange == 0) {
                loadOwnerFromServer();
            }
            else {
                var text = localStorage.getItem(dataKey);
                if (text) {
                    try {
                        var cachedOwner = JSON.parse(text);
                        notifyOwnerLoaded(cachedOwner);
                    }
                    catch{
                        loadOwnerFromServer();
                    }
                }
                else
                    loadOwnerFromServer();
            }

            function loadOwnerFromServer() {
                PNCustomGet(url, access_token, function (data) {
                    if (data == "400") {
                        retry();
                    }
                    else {
                        var server_owner = JSON.parse(data);
                        localStorage.setItem(dataKey, data);
                        writeCacheChange(changeKey, latestChanges.OwnerChanged);
                        owner = server_owner;
                        notifyOwnerLoaded(server_owner);
                    }
                }, function () { });
            }

            function notifyOwnerLoaded(owner) {
                for (var i = 0; i < ownerlisteners.length; i++) {
                    ownerlisteners[i](owner);
                }
            }
        });


    </script>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" style="background-image: url(/assets/media/bg/bg-10.jpg)" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
    @{ Html.RenderPartial("CommonFunction"); }
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <div id="kt_header_mobile" class="header-mobile ">
        <!--begin::Logo-->
        <a href="index.html">
            <img alt="Logo" src="/assets/media/logos/logo-letter-1.png" class="logo-default max-h-30px" />
        </a>
        <!--end::Logo-->
        <!--begin::Toolbar-->
        <div class="d-flex align-items-center">

            <button class="btn p-0 burger-icon burger-icon-left ml-4" id="kt_header_mobile_toggle">
                <span></span>
            </button>

        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header Mobile-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                <div id="kt_header" class="header  header-fixed ">
                    <!--begin::Container-->
                    <div class=" container  d-flex align-items-stretch justify-content-between">
                        <!--begin::Left-->
                        <div class="d-flex align-items-stretch mr-3">
                            <!--begin::Header Logo-->
                            <div class="header-logo">
                                <a href="index.html">
                                    <img alt="Logo" src="/assets/media/logos/logo-letter-9.png" class="logo-default max-h-40px" />
                                    <img alt="Logo" src="/assets/media/logos/logo-letter-1.png" class="logo-sticky max-h-40px" />
                                </a>
                            </div>
                            <!--end::Header Logo-->
                            <!--begin::Header Menu Wrapper-->
                            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                                <!--begin::Header Menu-->
                                <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile  header-menu-layout-default ">
                                    <!--begin::Header Nav-->
                                    <ul class="menu-nav ">
                                        <li class="menu-item  menu-item-open menu-item-rel menu-item-open">
                                            <a href="/hr-cloud/on-board/feeds" class="menu-link"><span class="menu-text">Bản tin</span></a>
                                        </li>
                                        <li class="menu-item  menu-item-open menu-item-rel menu-item-open">
                                            <a href="/hr-cloud/admin/employee-list" class="menu-link"><span class="menu-text">Nhân sự</span></a>
                                        </li>
                                        <li class="menu-item  menu-item-open menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">Thống kê</span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item " aria-haspopup="true">
                                                        <a target="_blank" href="https://preview.keenthemes.com/metronic/preview/demo2/builder.html" class="menu-link ">
                                                            <span class="svg-icon menu-icon">
                                                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Design\Polygon.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                        <path d="M8.08113883,20 L15.9188612,20 C16.5645068,20 17.137715,19.5868549 17.3418861,18.9743416 L19.6721428,11.9835717 C19.8694432,11.3916705 19.6797482,10.7394436 19.1957765,10.3456849 L12.9561839,5.26916104 C12.4053757,4.82102426 11.6158052,4.82050247 11.0644052,5.26791085 L4.80622561,10.345825 C4.32117072,10.7394007 4.13079092,11.3923728 4.32832067,11.984962 L6.65811388,18.9743416 C6.86228495,19.5868549 7.43549322,20 8.08113883,20 Z" fill="#000000" />
                                                                    </g>
                                                                </svg><!--end::Svg Icon-->
                                                            </span>
                                                            <span class="menu-text">Lịch làm việc</span><span class="menu-desc"></span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item " aria-haspopup="true">
                                                        <a target="_blank" href="https://preview.keenthemes.com/metronic/preview/demo2/builder.html" class="menu-link ">
                                                            <span class="svg-icon menu-icon">
                                                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Home\Alarm-clock.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                        <path d="M7.14319965,19.3575259 C7.67122143,19.7615175 8.25104409,20.1012165 8.87097532,20.3649307 L7.89205065,22.0604779 C7.61590828,22.5387706 7.00431787,22.7026457 6.52602525,22.4265033 C6.04773263,22.150361 5.88385747,21.5387706 6.15999985,21.0604779 L7.14319965,19.3575259 Z M15.1367085,20.3616573 C15.756345,20.0972995 16.3358198,19.7569961 16.8634386,19.3524415 L17.8320512,21.0301278 C18.1081936,21.5084204 17.9443184,22.1200108 17.4660258,22.3961532 C16.9877332,22.6722956 16.3761428,22.5084204 16.1000004,22.0301278 L15.1367085,20.3616573 Z" fill="#000000" />
                                                                        <path d="M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z M19.068812,3.25407593 L20.8181344,5.00339833 C21.4039208,5.58918477 21.4039208,6.53893224 20.8181344,7.12471868 C20.2323479,7.71050512 19.2826005,7.71050512 18.696814,7.12471868 L16.9474916,5.37539627 C16.3617052,4.78960984 16.3617052,3.83986237 16.9474916,3.25407593 C17.5332781,2.66828949 18.4830255,2.66828949 19.068812,3.25407593 Z M5.29862906,2.88207799 C5.8844155,2.29629155 6.83416297,2.29629155 7.41994941,2.88207799 C8.00573585,3.46786443 8.00573585,4.4176119 7.41994941,5.00339833 L5.29862906,7.12471868 C4.71284263,7.71050512 3.76309516,7.71050512 3.17730872,7.12471868 C2.59152228,6.53893224 2.59152228,5.58918477 3.17730872,5.00339833 L5.29862906,2.88207799 Z" fill="#000000" opacity="0.3" />
                                                                        <path d="M11.9630156,7.5 L12.0475062,7.5 C12.3043819,7.5 12.5194647,7.69464724 12.5450248,7.95024814 L13,12.5 L16.2480695,14.3560397 C16.403857,14.4450611 16.5,14.6107328 16.5,14.7901613 L16.5,15 C16.5,15.2109164 16.3290185,15.3818979 16.1181021,15.3818979 C16.0841582,15.3818979 16.0503659,15.3773725 16.0176181,15.3684413 L11.3986612,14.1087258 C11.1672824,14.0456225 11.0132986,13.8271186 11.0316926,13.5879956 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z" fill="#000000" />
                                                                    </g>
                                                                </svg><!--end::Svg Icon-->
                                                            </span>
                                                            <span class="menu-text">Tạm ứng</span><span class="menu-desc"></span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item " aria-haspopup="true">
                                                        <a target="_blank" href="https://preview.keenthemes.com/metronic/preview/demo2/builder.html" class="menu-link ">
                                                            <span class="svg-icon menu-icon">
                                                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Design\Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                        <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
                                                                        <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1" />
                                                                    </g>
                                                                </svg><!--end::Svg Icon-->
                                                            </span>
                                                            <span class="menu-text">Tiền lương</span><span class="menu-desc"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="menu-item  menu-item-open menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                                            <a href="javascript:;" class="menu-link menu-toggle"><span class="menu-text">Thiết lập</span><i class="menu-arrow"></i></a>
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                                <ul class="menu-subnav">
                                                    <li class="menu-item " aria-haspopup="true">
                                                        <a href="/hr-cloud/admin/area-management" class="menu-link ">
                                                            <span class="svg-icon menu-icon">
                                                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Design\Polygon.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                        <path d="M8.08113883,20 L15.9188612,20 C16.5645068,20 17.137715,19.5868549 17.3418861,18.9743416 L19.6721428,11.9835717 C19.8694432,11.3916705 19.6797482,10.7394436 19.1957765,10.3456849 L12.9561839,5.26916104 C12.4053757,4.82102426 11.6158052,4.82050247 11.0644052,5.26791085 L4.80622561,10.345825 C4.32117072,10.7394007 4.13079092,11.3923728 4.32832067,11.984962 L6.65811388,18.9743416 C6.86228495,19.5868549 7.43549322,20 8.08113883,20 Z" fill="#000000" />
                                                                    </g>
                                                                </svg><!--end::Svg Icon-->
                                                            </span>
                                                            <span class="menu-text">Phòng ban</span><span class="menu-desc"></span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item " aria-haspopup="true">
                                                        <a href="/hr-cloud/admin/shift-management" class="menu-link ">
                                                            <span class="svg-icon menu-icon">
                                                                <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo2\dist/../src/media/svg/icons\Home\Alarm-clock.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                        <path d="M7.14319965,19.3575259 C7.67122143,19.7615175 8.25104409,20.1012165 8.87097532,20.3649307 L7.89205065,22.0604779 C7.61590828,22.5387706 7.00431787,22.7026457 6.52602525,22.4265033 C6.04773263,22.150361 5.88385747,21.5387706 6.15999985,21.0604779 L7.14319965,19.3575259 Z M15.1367085,20.3616573 C15.756345,20.0972995 16.3358198,19.7569961 16.8634386,19.3524415 L17.8320512,21.0301278 C18.1081936,21.5084204 17.9443184,22.1200108 17.4660258,22.3961532 C16.9877332,22.6722956 16.3761428,22.5084204 16.1000004,22.0301278 L15.1367085,20.3616573 Z" fill="#000000" />
                                                                        <path d="M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z M19.068812,3.25407593 L20.8181344,5.00339833 C21.4039208,5.58918477 21.4039208,6.53893224 20.8181344,7.12471868 C20.2323479,7.71050512 19.2826005,7.71050512 18.696814,7.12471868 L16.9474916,5.37539627 C16.3617052,4.78960984 16.3617052,3.83986237 16.9474916,3.25407593 C17.5332781,2.66828949 18.4830255,2.66828949 19.068812,3.25407593 Z M5.29862906,2.88207799 C5.8844155,2.29629155 6.83416297,2.29629155 7.41994941,2.88207799 C8.00573585,3.46786443 8.00573585,4.4176119 7.41994941,5.00339833 L5.29862906,7.12471868 C4.71284263,7.71050512 3.76309516,7.71050512 3.17730872,7.12471868 C2.59152228,6.53893224 2.59152228,5.58918477 3.17730872,5.00339833 L5.29862906,2.88207799 Z" fill="#000000" opacity="0.3" />
                                                                        <path d="M11.9630156,7.5 L12.0475062,7.5 C12.3043819,7.5 12.5194647,7.69464724 12.5450248,7.95024814 L13,12.5 L16.2480695,14.3560397 C16.403857,14.4450611 16.5,14.6107328 16.5,14.7901613 L16.5,15 C16.5,15.2109164 16.3290185,15.3818979 16.1181021,15.3818979 C16.0841582,15.3818979 16.0503659,15.3773725 16.0176181,15.3684413 L11.3986612,14.1087258 C11.1672824,14.0456225 11.0132986,13.8271186 11.0316926,13.5879956 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z" fill="#000000" />
                                                                    </g>
                                                                </svg><!--end::Svg Icon-->
                                                            </span>
                                                            <span class="menu-text">Ca làm việc</span><span class="menu-desc"></span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item " aria-haspopup="true">
                                                        <a href="/hr-cloud/admin/label-management" class="menu-link ">
                                                            <i class="icon-1x menu-icon flaticon2-tag" style=""></i>
                                                            <span class="menu-text">Nhãn</span><span class="menu-desc"></span>
                                                        </a>
                                                    </li>
                                                    <li class="menu-item " aria-haspopup="true">
                                                        <a href="/hr-cloud/admin/position-management" class="menu-link ">
                                                            <i class="icon-1x menu-icon flaticon2-layers" style=""></i>
                                                            <span class="menu-text">Vai trò</span><span class="menu-desc"></span>
                                                        </a>
                                                    </li>
                                                    @if (extraFunctions != null)
                                                    {
                                                        foreach (var item in extraFunctions)
                                                        {
                                                            foreach (var m in item.SettingMenu)
                                                            {
                                                                <li class="menu-item " aria-haspopup="true">
                                                                    <a href="@m.L" class="menu-link ">
                                                                        <i class="icon-1x menu-icon flaticon2-right-arrow" style=""></i>
                                                                        <span class="menu-text">@m.N</span><span class="menu-desc"></span>
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </li>
                                        @if (extraFunctions != null)
                                        {
                                            foreach (var item in extraFunctions)
                                            {
                                                foreach (var m in item.TopMenu)
                                                {
                                                    <li class="menu-item  menu-item-open menu-item-rel menu-item-open">
                                                        <a href="@m.L" class="menu-link"><span class="menu-text">@m.N</span></a>
                                                    </li>
                                                }
                                            }
                                        }
                                        <li class="menu-item  menu-item-open menu-item-rel menu-item-open">
                                            <a href="/hr-cloud/my-account" class="menu-link"><span class="menu-text">My Account</span></a>
                                        </li>
                                    </ul>
                                    <!--end::Header Nav-->
                                </div>
                                <!--end::Header Menu-->
                            </div>
                            <!--end::Header Menu Wrapper-->
                        </div>
                        <!--end::Left-->
                        <!--begin::Topbar-->
                        <div class="topbar">
                            <span></span>
                        </div>
                        <!--end::Topbar-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Subheader-->
                    <div class="subheader py-2 py-lg-12  subheader-transparent " id="kt_subheader">
                        <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center flex-wrap mr-1">

                                <!--begin::Heading-->
                                <div class="d-flex flex-column">
                                    <!--begin::Title-->
                                    <h2 class="text-white font-weight-bold my-2 mr-5">
                                        @ViewBag.PageName
                                    </h2>
                                    <!--end::Title-->
                                    <!--begin::Breadcrumb-->
                                    <!--end::Breadcrumb-->
                                </div>
                                <!--end::Heading-->

                            </div>
                            <!--end::Info-->
                            <!--begin::Toolbar-->
                            <div class="d-flex align-items-center">


                                <!--begin::Button-->
                                <!--end::Button-->
                                <!--begin::Dropdown-->
                                <div class="dropdown dropdown-inline ml-2" data-toggle="tooltip" data-placement="top">
                                    <a href="#" class="btn btn-white font-weight-bold py-3 px-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Chọn nhanh
                                    </a>
                                    <div class="dropdown-menu p-0 m-0 dropdown-menu-md dropdown-menu-right">
                                        <!--begin::Navigation-->
                                        <ul id="quick-menu" class="navi navi-hover py-5">
                                            @*<li class="navi-item">
            <a href="#" class="navi-link">
                <span class="navi-icon"><i class="flaticon-eye"></i></span>
                <span class="navi-text">Theo dõi ngày công</span>
            </a>
        </li>
        <li class="navi-item">
            <a href="#" class="navi-link">
                <span class="navi-icon"><i class="flaticon2-drop"></i></span>
                <span class="navi-text">Ứng tiền</span>
            </a>
        </li>
        <li class="navi-item">
            <a href="#" class="navi-link">
                <span class="navi-icon"><i class="flaticon2-list-3"></i></span>
                <span class="navi-text">Ghi chú nhân viên</span>
            </a>
        </li>

        <li class="navi-separator my-3"></li>

        <li class="navi-item">
            <a href="#" class="navi-link">
                <span class="navi-icon"><i class="flaticon2-bell-2"></i></span>
                <span class="navi-text">Tạo thông báo</span>
            </a>
        </li>*@
                                            <li class="navi-item">
                                                <a href="/hr-cloud/admin/add-employee" class="navi-link">
                                                    <span class="navi-icon"><i class="flaticon2-plus"></i></span>
                                                    <span class="navi-text">Thêm nhân viên</span>
                                                </a>
                                            </li>
                                            @if (clientModel.Domain == "sn")
                                            {
                                                <li class="navi-item">
                                                    <a href="/hr-cloud/widget/sn/order/management" class="navi-link">
                                                        <span class="navi-icon"><i class="flaticon2-ui"></i></span>
                                                        <span class="navi-text">Quản lý đơn hàng </span>
                                                    </a>
                                                </li>
                                            }
                                            @if (extraFunctions != null)
                                            {
                                                foreach (var item in extraFunctions)
                                                {
                                                    foreach (var m in item.ActionMenu)
                                                    {
                                                        <li class="navi-item">
                                                            <a href="@m.L" class="navi-link">
                                                                <span class="navi-icon"><i class="flaticon2-right-arrow"></i></span>
                                                                <span class="navi-text">@m.N</span>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            }

                                            @if (clientModel.Domain == "nt")
                                            {
                                                <li class="navi-item">
                                                    <a href="/hr-cloud/widget/nt/customers" class="navi-link">
                                                        <span class="navi-icon"><i class="flaticon2-avatar"></i></span>
                                                        <span class="navi-text">Khách hàng</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="/hr-cloud/widget/nt/plastics" class="navi-link">
                                                        <span class="navi-icon"><i class="flaticon2-layers"></i></span>
                                                        <span class="navi-text">Tên hàng</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="/hr-cloud/widget/nt/orders" class="navi-link">
                                                        <span class="navi-icon"><i class="flaticon2-correct"></i></span>
                                                        <span class="navi-text">Đơn hàng</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="/hr-cloud/widget/nt/import-plastic" class="navi-link">
                                                        <span class="navi-icon"><i class="flaticon-download-1"></i></span>
                                                        <span class="navi-text">Nhập hàng</span>
                                                    </a>
                                                </li>

                                                <li class="navi-item">
                                                    <a href="/hr-cloud/widget/nt/export-plastic" class="navi-link">
                                                        <span class="navi-icon"><i class="flaticon2-paper-plane"></i></span>
                                                        <span class="navi-text">Xuất hàng</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="/hr-cloud/widget/nt/goback-plastic" class="navi-link">
                                                        <span class="navi-icon"><i class="flaticon-reply"></i></span>
                                                        <span class="navi-text">Trả hàng</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="/hr-cloud/widget/nt/directly-accounting" class="navi-link">
                                                        <span class="navi-icon"><i class="flaticon2-zig-zag-line-sign"></i></span>
                                                        <span class="navi-text">Công nợ trực tiếp</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                        <!--end::Navigation-->
                                    </div>
                                </div>
                                <!--end::Dropdown-->
                            </div>
                            <!--end::Toolbar-->
                        </div>
                    </div>
                    <!--end::Subheader-->
                    <!--begin::Entry-->
                    <div class="d-flex flex-column-fluid">
                        <!--begin::Container-->
                        <div class=" container ">
                            <!--begin::Dashboard-->
                            <!--begin::Row-->
                            @RenderBody()
                            <!--end::Row-->
                            <!--begin::Row-->
                            <!--end::Row-->
                            <!--end::Dashboard-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Entry-->
                </div>
                <!--end::Content-->
                <!--begin::Footer-->



                <div class="footer bg-white py-4 d-flex flex-lg-column " id="kt_footer">
                    <!--begin::Container-->
                    <div class=" container  d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <!--begin::Copyright-->
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted font-weight-bold mr-2">2022 &copy;</span>
                            <a href="http://keenthemes.com/metronic" target="_blank" class="text-dark-75 text-hover-primary">@owner.Name</a>
                        </div>
                        <!--end::Copyright-->
                        <!--begin::Nav-->
                        @*<div class="nav nav-dark order-1 order-md-2">
                            <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link pr-3 pl-0">Giới thiệu</a>
                            <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link px-3">Hướng dẫn</a>
                            <a href="http://keenthemes.com/metronic" target="_blank" class="nav-link pl-3 pr-0">Liên hệ</a>
                        </div>*@
                        <!--end::Nav-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <!--begin::Quick Panel-->
    <!--end::Quick Panel-->
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop">
        <span class="svg-icon">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
                    <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
                </g>
            </svg><!--end::Svg Icon-->
        </span>
    </div>
    <!--end::Scrolltop-->
    <!--begin::Sticky Toolbar-->
    <!--end::Demo Panel-->

    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->

    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1200
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#6993FF",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#F3F6F9",
                        "dark": "#212121"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1E9FF",
                        "secondary": "#ECF0F3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#212121",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#ECF0F3",
                    "gray-300": "#E5EAEE",
                    "gray-400": "#D6D6E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#80808F",
                    "gray-700": "#464E5F",
                    "gray-800": "#1B283F",
                    "gray-900": "#212121"
                }
            },
            "font-family": "Poppins"
        };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js?v=7.0.6"></script>
    <script src="/assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6"></script>
    <script src="/assets/js/scripts.bundle.js?v=7.0.6"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js?v=7.0.6"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="/assets/js/pages/widgets.js?v=7.0.6"></script>
    <!--end::Page Scripts-->
    @*<script>
            var profile = null;
            var listeners = new Array();
            var userList = null;
            var listenersUserList = new Array();
            function registerProfileLoadCompleted(completed) {
                if (profile != null)
                    completed(profile);
                else
                    listeners.push(completed);
            }

            function registerUserListLoadCompleted(completed) {
                if (userList != null)
                    completed(userList);
                else
                    listenersUserList.push(completed);
            }

            $(document).ready(function () {
                var access_token = "@clientModel.Token";
                var host = "@clientModel.HostURL";
                var changeData = "@clientModel.ToChangesText()";
                var latestChanges = JSON.parse(getTextFormAttribute(changeData));
                var me = "@clientModel.Username";
                var url = host + "/api/main/employee-full-list";
                var dataKey = "data_users";
                var changeKey = "change_users";
                var localChange = readCacheChange(changeKey);
                if (localChange < latestChanges.UserListChanged || localChange == 0) {
                    loadUserFromServer();
                }
                else {
                    var text = localStorage.getItem("profile");
                    if (text) {
                        var cachedUser = JSON.parse(text);
                        if (cachedUser.Username == me) {
                            processMyProfile(cachedUser);
                            var text2 = localStorage.getItem(dataKey);
                            userList = JSON.parse(text2);
                            notifyUserListLoaded(userList);
                        }
                        else {
                            loadUserFromServer();
                        }

                    }
                    else
                        loadUserFromServer();
                }

                function loadUserFromServer() {
                    PNCustomGet(url, access_token, function (data) {
                        if (data == "400") {
                            retry();
                        }
                        else {
                            var list = JSON.parse(data);
                            localStorage.setItem(dataKey, data);
                            writeCacheChange(changeKey, latestChanges.UserListChanged);
                            for (var i = 0; i < list.length; i++) {
                                if (list[i].Username == me) {
                                    processMyProfile(list[i]);
                                    break;
                                }
                            }
                            userList = list;
                            notifyUserListLoaded(userList);
                        }
                    }, function () { });
                }

                function processMyProfile(info) {
                    localStorage.setItem("profile", JSON.stringify(info));
                    profile = info;
                    notifyProfileLoaded(profile);
                    if (info.AreaM && info.AreaM.length > 30) {
                        alert("x");
                        var temp = '<li class="navi-item"><a href="/hr-cloud/on-board/day-working" class="navi-link">'+
                                            '<span class="navi-icon"><i class="flaticon2-edit"></i></span>'+
                                            '<span class="navi-text">Chấm công ngày</span>'+
                                        '</a>'+
                                    '</li>';

                        $("#quick-menu").append(temp);
                    }
                    if (info.IaC) {
                        var temp = '<li class="navi-item"><a href="/hr-cloud/on-board/advance" class="navi-link">' +
                                    '<span class="navi-icon"><i class="flaticon2-gift"></i></span>' +
                                    '<span class="navi-text">Tạm ứng</span>' +
                                    '</a>' +
                                    '</li>';

                        $("#quick-menu").append(temp);
                    }
                }

                function notifyProfileLoaded(profile) {
                    for (var i = 0; i < listeners.length; i++) {
                        listeners[i](profile);
                    }
                }

                function notifyUserListLoaded(list) {
                    for (var i = 0; i < listenersUserList.length; i++) {
                        listenersUserList[i](list);
                    }
                }
            });


        </script>

        <script>
            var owner = null;
            var ownerlisteners = new Array();

            function registerOwnerInfoLoadCompleted(completed) {
                if (owner != null)
                    completed(owner);
                else
                    ownerlisteners.push(completed);
            }


            $(document).ready(function () {
                var access_token = "@clientModel.Token";
                var host = "@clientModel.HostURL";
                var changeData = "@clientModel.ToChangesText()";
                var latestChanges = JSON.parse(getTextFormAttribute(changeData));
                var me = "@clientModel.Username";
                var url = host + "/api/owner/get-owner-info";
                var dataKey = "data_owner";
                var changeKey = "change_owner";
                var localChange = readCacheChange(changeKey);

                if (localChange < latestChanges.OwnerChanged || localChange == 0) {
                    loadOwnerFromServer();
                }
                else {
                    var text = localStorage.getItem(dataKey);
                    if (text) {
                        try {
                            var cachedOwner = JSON.parse(text);
                            notifyOwnerLoaded(cachedOwner);
                        }
                        catch{
                            loadOwnerFromServer();
                        }
                    }
                    else
                        loadOwnerFromServer();
                }

                function loadOwnerFromServer() {
                    PNCustomGet(url, access_token, function (data) {
                        if (data == "400") {
                            retry();
                        }
                        else {
                            var server_owner = JSON.parse(data);
                            localStorage.setItem(dataKey, data);
                            writeCacheChange(changeKey, latestChanges.OwnerChanged);
                            owner = server_owner;
                            notifyOwnerLoaded(server_owner);
                        }
                    }, function () { });
                }

                function notifyOwnerLoaded(owner) {
                    for (var i = 0; i < ownerlisteners.length; i++) {
                        ownerlisteners[i](owner);
                    }
                }
            });


        </script>*@
</body>
<!--end::Body-->
</html>
