﻿
@{
    Layout = null;
}

<div class="modal fade" id="retryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="retryNoticeBox" style="display:block;">
                    <p style="text-align:center; color:red;"><i class="icon-5x text-dark-50 flaticon-refresh"></i></p>
                    <p style="text-align:center; font-size:15px; color:red;">Phiên làm việc hết hạn, bấm tiếp tục để tải lại trang</p>
                </div>

                <p id="retryLoading" style="text-align:center; display:none;"><img src="/Common/Images/loading.gif" /></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="retryBTN" type="button" class="btn btn-danger font-weight-bold">Làm mới</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showRetry() {
        $("#retryLoading").css("display", "none");
        $("#retryNoticeBox").css("display", "block");
        $("#retryBTN").attr("disabled", false);
        $("#retryModal").modal('show');
        try {
            $("#retryBTN").unbind("click");
        }
        catch{ }
        $("#retryBTN").bind("click", function () {
            $("#retryBTN").attr("disabled", true);
            $("#retryLoading").css("display", "block");
            $("#retryNoticeBox").css("display", "none");
            PNPost("/api/member/reset-access-token", {}, function (data) {
                if (data == "OK") {
                    setTimeout(function () {
                        $("#retryModal").modal('hide');
                        window.location.reload();
                    }, 1000);
                }
            }, function () {
                $("#retryModal").modal('hide');
                alert("Có lỗi xảy ra, thử lại sau!");
            });
        });
    }

    function buildAttributeText(input) {
        return input.replace(new RegExp('"', 'g'), '&quot;');
    }


    function getTextFormAttribute(input) {
        return input.replace(new RegExp('&quot;', 'g'), '"');
    }

    function submitAsSpiner(btn) {
        $(btn).addClass("spinner");
        $(btn).addClass("spinner-white");
        $(btn).addClass("spinner-right");
        $(btn).prop("disabled", true);
    }

    function resetSubmitSpiner(btn) {
        $(btn).removeClass("spinner");
        $(btn).removeClass("spinner-white");
        $(btn).removeClass("spinner-right");
        $(btn).prop("disabled", false);
    }

    function getProfile(data, username) {
        for (var i = 0; i < data.length; i++) {
            if (data[i].Username == username)
                return data[i];
        }
        return null;
    }
    
</script>
