﻿@{
    Layout = null;
}
<div style="position:absolute; top:-500px;">
    <input id="myCopyInput" type="text" />
</div>
<script>

    function copyText(text1) {
        var textarea = document.createElement('textarea');
        textarea.textContent = text1;
        document.body.appendChild(textarea);
        var selection = document.getSelection();
        var range = document.createRange();
        range.selectNode(textarea);
        selection.removeAllRanges();
        selection.addRange(range);
        document.execCommand('copy');
        selection.removeAllRanges();
        document.body.removeChild(textarea);
        alert("Đã copy: " + text1);
    }
</script>