﻿
<div style="z-index: 99999999999;" id="loadingIndicatorModal"  class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content"> 
            <div class="modal-body">
                <p style="text-align:center;">
                    <img src="/Images/loading.gif" />
                </p>
                <p style="text-align:center;color:dodgerblue; font-size:16px;" id="loadingIndicatorText"></p>
            </div>
        </div>
    </div>
</div>

<script>
    function showLoadingIndicator(text) {
        $("#loadingIndicatorText").text(text);
        $('#loadingIndicatorModal').modal('show'); 
    }

    function hideLoadingIndicator() {
        $("#loadingIndicatorModal").modal('hide');
    }
</script>
