﻿@{
    Layout = null;
}

<div id="loadingBox" style="width:100%; min-height:10px; overflow:hidden;">
    <p style="text-align:center"><img src="/Common/Images/loading.gif" /></p>
</div>

<script>
    function showLoadingBox() {
        $("#loadingBox").css("display", "block");
    }
    function hideLoadingBox() {
        $("#loadingBox").css("display", "none");
    }
</script>
