﻿
@{
    Layout = null;
}
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p style="text-align:center; color:red;"><i class="icon-5x text-dark-50 flaticon-delete"></i></p>
                <p id="removeMessage" style="text-align:center; font-size:15px; color:red;">Bạn có muốn xoá</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Không</button>
                <button id="removeOK" type="button" class="btn btn-danger font-weight-bold">Xoá</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showRemoveConfirmation(text, callback) {
        $("#removeMessage").text(text);
        $("#removeModal").modal('show');
        try {
            $("#removeOK").unbind("click");
        }
        catch{ }
        $("#removeOK").bind("click", function () {
            $("#removeModal").modal('hide');
            callback();
        });
    }
</script>