﻿
@{
    ViewBag.Title = "OwnerEmployeeList";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    var isManager = (bool)ViewBag.Manager;
    if (!isManager)
    {
        Layout = "~/Views/Shared/_GCLayout.cshtml";
    }
    else
    {
        if (clientModel.QUser.Role == "C_ADM")
        {
            Layout = "~/Views/Shared/_OwnerLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
        }
    }

    var users = hrcloud.Services.Widgets.SonNguyenCacheService.Users;
    var nails = hrcloud.Services.Widgets.SonNguyenCacheService.Nails;
    var grit = hrcloud.Services.Widgets.SonNguyenCacheService.Grit;
    var order = hrcloud.Services.Widgets.SonNguyenCacheService.Orders.Where(a => !a.IsComplete).ToList();
    bool isSelctedFirst = true;
}


@{ Html.RenderPartial("CommonFunction"); }

<script src="/Scripts/number-format.js"></script>

<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <select id="selHUser" style="padding:8px; width:100%; margin-top:10px;">
                    <option value="0">-Chọn Người Gia Công-</option>
                    @foreach (var item in users)
                    {
                        <option class="ouser" value="@item.UserId"></option>
                    }
                </select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <select id="selNail" style="padding:8px; width:100%; margin-top:10px;">
                    <option value="0">-Chọn Loại Dũa-</option>
                    @foreach (var item in nails)
                    {
                        if (item.NailId < 10)
                        {
                            foreach (var g in grit)
                            {
                                if (g.GritId < 4)
                                {
                                    <option value="@item.NailId" tag="@g.GritId">@item.Name - @g.Name</option>
                                }
                            }
                        }
                        else
                        {
                            <option value="@item.NailId" tag="4">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <select id="selGrit" style="padding:8px; width:100%; margin-top:10px;">
                    <option value="0">-Chọn Độ Nhám-</option>
                    @foreach (var item in grit)
                    {
                        <option value="@item.GritId">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <input id="weight" style="margin-top:8px;" class="form-control" placeholder="Kilo (45,6kg nhập : 456)" onkeyup="digitsOnly(this)" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <select id="selOrder" style="padding:8px; width:100%; margin-top:10px;">
                    <option value="">-Chọn đơn hàng-</option>
                    @foreach (var item in order)
                    {
                        if (!item.IsComplete && isSelctedFirst)
                        {
                            <option value="@item.OrderId" selected>@item.Name</option>
                            isSelctedFirst = false;
                        }
                        else
                        {
                            <option value="@item.OrderId">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p style="margin-top:10px; text-align:center;"><button id="btnSubmit" class="btn btn-primary">Tạo mới đơn hàng</button></p>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="nextModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:darkgreen" class="modal-title" id="postDetail1Title">Tạo thành công!</h5>
            </div>
            <div class="modal-body" id="postDetail1Body">
                <p style="text-align:right">
                    <a href="/hr-cloud/widget/sn/gia-cong" class="btn btn-warning">Vào trang Gia Công</a>
                </p>

            </div>
            <div class="modal-footer">
                <button id="continueBTN" type="button" class="btn btn-primary" data-dismiss="modal">Tạo tiếp đơn gia công</button>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>
<script>
     var access_token = "@clientModel.Token";
    var host = "@clientModel.HostURL";
    var activedRow;
</script>

<script>
    function toMapObject(array, name) {
        var res = {};
        for (var i = 0; i < array.length; i++) {
            var val = array[i][name];
            res[val] = array[i];
        }
        return res;
    }
    $(document).ready(function () {
        
        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            var map = toMapObject(list, "Username");

            var options = $(".ouser");
            for (var i = 0; i < options.length; i++) {
                var id = $(options[i]).attr("value");
                var find = map[id];
                var name = find.FirstName + " " + find.LastName;
                $(options[i]).text(name);
            }

        }, function () { showRetry(); });

        $("#selNail").change(function () {
            var gid = $("#selNail option:selected").attr("tag");
            $("#selGrit").val(gid);
        });

        $("#btnSubmit").click(function () {
            var selHUser = $("#selHUser").val();
            var selNail = $("#selNail").val();
            var selGrit = $("#selGrit").val();
            var weight = $("#weight").val();
            var order = $("#selOrder").val();
            if (selHUser == "0")
                alert("Bạn chưa chọn người nhận gia công");
            else if (selNail == "0")
                alert("Bạn chưa cho loại dũa");
            else if (selGrit == "0")
                alert("Bạn chưa chọn độ nhám");
            else if (weight == "")
                alert("Bạn chưa nhập trọng lượng thùng dũa");
            else {
                var model = { huser: selHUser, nail: selNail, grit: selGrit, weight: weight, order: order};
                $("#btnSubmit").prop("disabled", true);
                PNPost("/api/widget/son-nguyen/post-new-home-working", model, function (res) {
                    $("#btnSubmit").prop("disabled", false);
                    if (res == "ok") {
                        showNextStep();
                    }
                    else {
                        alert("Phiên làm việc đã hết hạn, reload trang và thử lại!");
                        location.reload();
                    }
                }, function () { });
            }
        });

        $("#continueBTN").click(function () {
            $("#selNail").val("0");
            $("#selGrit").val("0");
            $("#weight").val("");
        });

        function showNextStep() {
            $("#nextModal").modal('show');
        }
    });
</script>