﻿
@{
    ViewBag.Title = "CreateEvent";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    var isManager = (bool)ViewBag.Manager;
    if (!isManager)
    {
        Layout = "~/Views/Shared/_GCLayout.cshtml";
    }
    else
    {
        if (clientModel.QUser.Role == "C_ADM")
        {
            Layout = "~/Views/Shared/_OwnerLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
        }
    }
}

<script src="/Scripts/number-format.js"></script>

<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <div id="exPhotoBox">
            <div class="exPhotoBody">
                <div class="alert alert-success" role="alert">
                    <p><i style="color:white;" class="icon-1x flaticon2-arrow-up"></i> Hình hoá đơn VAT</p>
                </div>
            </div>
            <div class="exPhotoFooter">
                <button id="uploadPhotoBTN" class="btn btn-warning"><i class="icon-1x flaticon2-arrow-up"></i> Tải ảnh</button>
                <button data-toggle="modal" href="#capturePhotoModal" id="capturePhotoBTN" class="btn btn-info"><i class="icon-1x flaticon-photo-camera"></i> Chụp ảnh</button>
            </div>
        </div>
    </div>
</div>
<input style="visibility:hidden;" type="file" id="uploadFile" />

<div class="modal fade" id="capturePhotoModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chụp ảnh</h5>
                <button type="button" class="close close-photo-modal" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" style="padding-top:5px;">
                <p style="margin-bottom:0px; color:blue;margin:0px;">Chọn camera</p>
                <select id="selCamera" style="width:100%; padding:5px; margin-bottom:5px;">
                </select>
                <video id="video" autoplay muted playsinline style="width: 100%"></video>
                <p style="text-align:center;"><button id="snap" class="btn btn-warning">Chụp ảnh</button></p>
            </div>
        </div>
    </div>
</div>

<video style="display:none" id="video2" autoplay muted playsinline></video>

<div class="modal fade" id="reviewPhotoModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding-bottom:10px;">
                <div id="showBOX">
                    <canvas id="displayCanvas" style="width:100%"></canvas>
                    <p style="margin-bottom:0px; color:blue;">Mô tả ảnh</p>
                    <input id="photoDesc" class="form-control" />
                    <p style="color:firebrick; margin-top:10px; margin-bottom:0px;"><i class="icon-1x flaticon2-favourite"></i><span style="margin-left:10px;" id="revLong"></span>, <span id="revLat"></span></p>
                </div>
                <div id="loadingBOX" style="display:none">
                    <p style="text-align:center"><img src="/Images/loading_gif.gif" /></p>
                    <p style="text-align:center;color:blue;">Đang upload ảnh lên máy chủ...</p>
                </div>
            </div>
            <div class="modal-footer" id="reviewFooter">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="completeBTN" type="submit" class="btn btn-primary font-weight-bold">Hoàn tất</button>
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/PNAjaxV2.js"></script>
<script>
    $(document).ready(function () {
        var canvas = document.getElementById('displayCanvas');
        var context = canvas.getContext('2d');
        var postPhotoURL = "/api/main/post-event-photo";
        var video2 = document.getElementById('video2');
        var video = document.getElementById('video');
        var pageCanvas;

        var realWidth;
        var realHeight;
        var clat;
        var clong;
        var isCaptured;

        $("#uploadPhotoBTN").click(function () {
            $("#uploadFile").click();
        });

        $("#uploadFile").change(function () {
            isCaptured = false;
            clat = "0";
            clong = "0";
            var img = document.createElement("img");
            var reader = new FileReader();
            reader.onload = function (e) {
                img.src = e.target.result;
            }
            reader.readAsDataURL($("#uploadFile").get(0).files[0]);
            img.onload = function () {
                context.clearRect(0, 0, canvas.offsetWidth, canvas.offsetHeight);

                pageCanvas = document.createElement('canvas');
                pageCanvas.width = img.width;
                pageCanvas.height = img.height;
                var dynamicContext = pageCanvas.getContext("2d");
                dynamicContext.drawImage(img, 0, 0);
                realWidth = img.width;
                realHeight = img.height;

                var width = img.width;
                var height = img.height;                

                var canvasHeight = canvas.width * height / width;
                canvas.height = canvasHeight;
                context.drawImage(img, 0, 0, canvas.width, canvasHeight);

                $("#revLat").text("");
                $("#revLong").text("");
                $("#photoDesc").val("");
                $("#reviewPhotoModal").modal('show');
            }
        });

        function uploadPhotoToServer(note, lat, lng) {
            var dataurl = canvas.toDataURL('image/png', 1.0);
            var data = new FormData();
            data.append("photo", dataurl.substr(22, dataurl.length - 22));
            var ajaxRequest = $.ajax({
                type: "POST",
                url: postPhotoURL,
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    setTimeout(function () {
                        alert(result);
                        //updatePhotoURL = result;
                        //$("#avatar_edit").attr("src", host + result);
                    }, 1000);
                }
            });

            ajaxRequest.done(function (xhr, textStatus) {
                $("#uploadFile").val(null);
            });
        }

        var currentStream;
        var isRender = false;

        function stopMediaTracks(stream) {
            stream.getTracks().forEach(track => {
                track.stop();
            });
        }

        $("#capturePhotoBTN").click(function () {
            if (!isRender) {
                navigator.mediaDevices.enumerateDevices().then(gotDevices);
            }

            function gotDevices(mediaDevices) {
                if (!isRender) {
                    mediaDevices.forEach(mediaDevice => {
                        if (mediaDevice.kind === 'videoinput') {
                            const label = mediaDevice.label || "Camera ${count++}";
                            $("#selCamera").append('<option value="' + mediaDevice.deviceId + '">' + label + '</option>');
                        }
                    });
                    renderVideoDefault();
                }
            }
        });

        function renderVideoDefault() {
            isRender = true;
            $("#selCamera").val($("#selCamera option:first").val());
            var id = $("#selCamera").val();
            selVideo(id);
        }

        $("#selCamera").change(function () {
            var id = $("#selCamera").val();
            selVideo(id);
        });

        function selVideo(id) {
            if (typeof currentStream !== 'undefined') {
                stopMediaTracks(currentStream);
            }
            const videoConstraints = {};
            videoConstraints.facingMode = 'environment';
            videoConstraints.deviceId = { exact: id };
            videoConstraints.width = { min: 1280 };
            videoConstraints.height = { min: 720 };
            const constraints = {
                video: videoConstraints,
                audio: false
            };

            navigator.mediaDevices
                .getUserMedia(constraints)
                .then(stream => {
                    currentStream = stream;
                    video.srcObject = stream;
                    return navigator.mediaDevices.enumerateDevices();
                })
                .then(gotDevices)
                .catch(error => {
                    console.error(error);
                });
        }

        function resetCamera() {
            if (typeof currentStream !== 'undefined') {
                stopMediaTracks(currentStream);
            }
            currentStream = undefined;
            isRender = false;
            $("#selCamera").empty();
        }

        $(".close-photo-modal").click(function () {
            resetCamera();
        });

        
         
        $("#snap").click(function () {
            isCaptured = true;
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    clat = pos.lat;
                    clong = pos.lng;
                    $("#revLat").text(pos.lat);
                    $("#revLong").text(pos.lng);
                });
            } else {
                alert("Thiết bị của bạn hiện không hỗ trợ. Vui lòng thử lại hoặc cấp quyền cho trình duyệt web")
            }

            var time = new Date();
            context.clearRect(0, 0, canvas.width, canvas.height);
            canvas.width = video.offsetWidth;
            canvas.height = video.offsetHeight;

            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            pageCanvas = document.createElement('canvas');
            var dynamicContext = pageCanvas.getContext("2d");
            pageCanvas.width = video.videoWidth;
            pageCanvas.height = video.videoHeight;
            dynamicContext.drawImage(video, 0, 0);
            realWidth = pageCanvas.width;
            realHeight = pageCanvas.height;

            context.font = "26px Helvetica, Arial, sans-serif";
            context.fillText(time.toString().substr(0, 24), 40, 125);

            dynamicContext.font = "26px Helvetica, Arial, sans-serif";
            dynamicContext.fillText(time.toString().substr(0, 24), 40, 125);

            $("#capturePhotoModal").modal('hide');
            $("#reviewPhotoModal").modal('show');
            $("#reviewFooter").css("display", "block");
            $("#showBOX").css("display", "block");
            $("#loadingBOX").css("display", "none");
            resetCamera();
            $("#photoDesc").val("");
            $("#photoDesc").focus();
        });

        $("#completeBTN").click(function () {
            $("#reviewFooter").css("display", "none");
            $("#showBOX").css("display", "none");
            $("#loadingBOX").css("display", "block");
            var MAX_WIDTH = 800;
            var MAX_HEIGHT = 800;
            var width = realWidth;
            var height = realHeight;

            if (width > height) {
                if (width > MAX_WIDTH) {
                    height *= MAX_WIDTH / width;
                    width = MAX_WIDTH;
                }
            } else {
                if (height > MAX_HEIGHT) {
                    width *= MAX_HEIGHT / height;
                    height = MAX_HEIGHT;
                }
            }


            var dataurl = pageCanvas.toDataURL('image/jpeg', 1.0);
            var data = new FormData();
            data.append("photo", dataurl.substr(23, dataurl.length - 23));
            var ajaxRequest = $.ajax({
                type: "POST",
                url: postPhotoURL,
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    var note = $("#photoDesc").val();
                    var model = { path: result, cap: isCaptured, note: note, posLat: clat, posLong: clong };
                    PNPost("/api/son-nguyen/create-event-photo", model, function (photoKey) {
                        $("#reviewPhotoModal").modal('hide');
                        addPhotoToBox(result, isCaptured, note, clat, clong);
                    }, function () { });
                }
            });

            ajaxRequest.done(function (xhr, textStatus) {
                $("#uploadFile").val(null);
            });
        });

        function addPhotoToBox(path, cap, note, lat, lng) {
            alert("ADDED");
        }
    });
</script>
