﻿@model IEnumerable<hrcloud.EFWIDGET.SN_Package>
@{
    ViewBag.Title = "HomeWorkingPage";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    var users = hrcloud.Services.Widgets.SonNguyenCacheService.Users;
    var nails = hrcloud.Services.Widgets.SonNguyenCacheService.Nails;
    var grits = hrcloud.Services.Widgets.SonNguyenCacheService.Grit;
    var orders = hrcloud.Services.Widgets.SonNguyenCacheService.Orders.Where(a => !a.IsComplete).ToList();

    var isManager = (bool)ViewBag.Manager;
    if (!isManager)
    {
        Layout = "~/Views/Shared/_GCLayout.cshtml";
    }
    else
    {
        if(clientModel.QUser.Role == "C_ADM")
        {
            Layout = "~/Views/Shared/_OwnerLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
        }
    }
    var mapNail = new Dictionary<int, hrcloud.EFWIDGET.SN_Nail>();
    var mapGrit = new Dictionary<int, hrcloud.EFWIDGET.SN_Grit>();
    var mapOrder = new Dictionary<string, hrcloud.EFWIDGET.Order>();
    decimal total = 0;
}

@{ Html.RenderPartial("CommonFunction"); }

<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>


<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Từ ngày</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="@ViewBag.FromDate" id="fromDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Đến ngày</p>
                <div class="input-group date">
                    <input type="text" class="form-control" readonly="" value="@ViewBag.ToDate" id="toDate">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Loại dũa</p>
                <select id="selNail" style="padding:6px; width:100%;">
                    <option value="0">-Chọn Loại Dũa-</option>
                    @foreach (var item in nails)
                    {
                        <option value="@item.NailId">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-top:10px; margin-bottom:0px;">Độ nhám</p>
                <select id="selGrit" style="padding:6px; width:100%; margin-top:0px;">
                    <option value="0">-Chọn Độ Nhám-</option>
                    @foreach (var item in grits)
                    {
                        <option value="@item.GritId">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="row">
            @if (isManager)
            {
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <p style="color:blue; margin-bottom:0px; margin-top:10px;">Người làm gia công</p>
                    <select id="selHUser" style="padding:8px; width:100%;">
                        <option value="0">-Tất cả-</option>
                        @foreach (var item in users)
                        {
                            <option class="ouser" value="@item.UserId"></option>
                        }
                    </select>
                </div>
            }

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Tình trạng</p>
                <select id="selStatus" style="padding:8px; width:100%;">
                    <option value="0">-Hiện hành-</option>
                    <option value="1">Mới giao</option>
                    <option value="2">Hoàn thành</option>
                    <option value="3">Đã hủy</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Số lượng hiển thị</p>
                <select id="selDisplay" style="padding:8px; width:100%;">
                    <option value="0">50 kết quả</option>
                    <option value="1">200 kết quả</option>
                    <option value="2">Tất cả kết quả</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <p style="color:blue; margin-bottom:0px; margin-top:10px; height:17px;"> </p>
                <button id="btnSubmit" class="btn btn-success" style="width:100px;">Xem</button>
                <button id="btnQuickSearch" class="btn btn-warning" style="width:100px; float:right">Tìm nhanh</button>
            </div>

        </div>
        <div>
            <p style="margin-top:10px; margin-bottom:0px;"><span style="font-weight:bold;">@Model.Count() Kết quả</span>
            <span id="totalAmount" style="float:right; font-weight:bold; color:red;"></span>
            </p>
        </div>
        <p id="resetBox" style="text-align:center; display:none;"><button id="resetBTN" class="btn btn-danger">Reset tìm nhanh</button></p>
        <div style="margin-top:5px;">
            @foreach (var item in Model)
            {
                var appdate = "";
                var detatime = "";
                var createDate = PNUtility.Helpers.UtilityHelper.JavaTimeStampToDateTime(item.CreateDate);
                if (item.ApproveDate.HasValue)
                {
                    appdate = item.ApproveDate.Value.ToString("dd/MM/yyyy - HH:mm");
                    var span = item.ApproveDate.Value - createDate;
                    detatime = Math.Round(span.TotalHours, 1).ToString() + "h";
                }
            <div class="work-box" style="margin-top:10px; height:auto; position:relative; overflow:hidden;">
                <input type="hidden" class="price" value="@item.Price" />
                <input type="hidden" class="hid" value="@item.PackageId" />
                <input type="hidden" class="hnailid" value="@item.NailId" />
                <input type="hidden" class="hgritid" value="@item.GritId" />
                <input type="hidden" class="horderid" value="@item.OrderId" />
                <input type="hidden" class="hcode" value="@item.Code" />
                <input type="hidden" class="uidto" value="@item.AssignTo" />
                <input type="hidden" class="uidby" value="@item.AssignBy" />
                <input type="hidden" class="approveby" value="@item.ApproveBy" />
                <input type="hidden" class="hkgout" value="@Math.Round(item.KgOut.Value, 1)" />
                <div class="work-head" style="height:40px; width:100%; background-color:darkgreen; padding:10px;margin-top:-2px">

                    @if (mapNail.ContainsKey(item.NailId))
                    {
                        <span avg="@mapNail[item.NailId].AVG" perc="@mapNail[item.NailId].Perc" style="color:white;" class="nail-name">@mapNail[item.NailId].Name</span>
                    }
                    else
                    {
                        var nail = nails.Where(a => a.NailId == item.NailId).FirstOrDefault();
                        mapNail.Add(item.NailId, nail);
                        <span avg="@nail.AVG" perc="@nail.Perc" style="color:white;" class="nail-name">@nail.Name</span>
                    }
                    @if (item.IsCompleted)
                    {
                        total = total + item.Amount;
                        <span class="label label-md label-pill label-inline label-warning">Hoàn thành</span>
                        <span style="visibility:hidden;" class="label label-md label-pill label-inline label-danger app-note">note</span>
                    }
                    else
                    {
                        <span class="label label-md label-pill label-inline label-info lb-status">Đang làm...</span>
                    }
                    @if (item.IsCancel)
                    {
                        <span class="label label-md label-pill label-inline label-danger">Đã hủy</span>
                    }

                    @if (mapGrit.ContainsKey(item.GritId))
                    {
                        <span style="float:right;color:white;" class="grit-name">@mapGrit[item.GritId].Name</span>
                    }
                    else
                    {
                        var grit = grits.Where(a => a.GritId == item.GritId).FirstOrDefault();
                        mapGrit.Add(item.GritId, grit);
                        <span style="float: right; color: white;" class="grit-name">@grit.Name</span>
                    }

                </div>
                <div class="work-body" style=" position:relative; height:auto; padding:5px; border:1px solid darkgreen">
                    <div style="width:90px; height:90px;">
                        <a href="/hr-cloud/widget/sn/user-summary?username=@item.AssignTo"><img class="gc-pic" style="width:90px; height:90px; border-radius:50px; border:1px solid #aaa" src="/Images/avatar.png" /></a>
                    </div>
                    <div style="height:90px; margin-top:-90px;margin-left:100px;">
                        <p class="gc-name" style="font-size:18px; margin-bottom:2px;">Nguyễn Thị Cúc (GC)</p>
                        <p style="margin-bottom:2px;">
                            <span class="label label-pill label-inline label-dark">Go: @Math.Round(item.KgOut.Value / 10, 1)</span>
                            @if (item.KgBack.HasValue)
                            {
                                if (Math.Abs(item.KgBack.Value - item.KgOut.Value) >= 10)
                                {
                                    <span title="Số kg chênh lệch quá nhiều" class="label label-pill label-inline label-danger kg-back">Back: @Math.Round(item.KgBack.Value, 1)</span>
                                }
                                else
                                {
                                    <span class="label label-pill label-inline label-dark kg-back">Back: @Math.Round(item.KgBack.Value / 10, 1)</span>
                                }

                                <span class="label label-pill label-inline label-warning app-number">@item.Number</span>
                            }
                            else
                            {
                                <span style="display:none;" class="label label-pill label-inline label-dark kg-back"></span>
                                <span style="display:none;" class="label label-pill label-inline label-warning res-num"></span>
                            }

                        </p>
                        <p style="margin-bottom:0px;"><i class="icon-1x flaticon2-pen"></i>: <span class="name-by" style="color:blue;"></span></p>
                        <p style="margin-bottom:0px;"><i class="icon-1x flaticon2-check-mark"></i>: <span class="name-app" style="color:blue;"></span></p>
                    </div>
                    <div style="height:40px;">
                        <p style="margin:0px;"><i class="icon-1x flaticon2-pen"></i>: <span style="color:firebrick">@createDate.ToString("dd/MM/yyyy - HH:mm")</span></p>
                        <p style="margin:0px;">
                            <i class="icon-1x flaticon2-check-mark"></i>: <span class="app-time">@appdate</span>
                            @if (item.IsCompleted)
                            {
                                <span class="label label-pill label-inline label-success">@detatime</span>
                            }
                            else
                            {
                                <span style="display:none;" class="label label-pill label-inline label-success">@detatime</span>
                            }
                        </p>
                    </div>
                    <div class="work-price" style="position:absolute; width:100px; height:30px; right:10px; top:10px;">
                        @if (item.IsCompleted)
                        {
                            <span style="float:right;" class="label label-pill label-lg label-inline label-warning label-price">@PNUtility.Helpers.UtilityHelper.MoneyFormat(item.Amount)</span>
                        }
                        else
                        {
                            <span style="float:right; display:none;" class="label label-pill label-lg label-inline label-warning label-price"></span>
                        }

                    </div>
                </div>
                @if (!item.IsCancel)
                {
                    <div class="work-action" style="position:absolute; width:290px; height:50px; right:10px; bottom:0px;">

                        @if (!item.IsCompleted)
                        {
                            if (item.AssignBy == clientModel.Username)
                            {
                                <button title="Hủy đơn hàng" style="float:right;" class="btn btn-danger btn-cancel"><i class="icon-1x flaticon2-cancel"></i></button>
                            }
                            if (isManager)
                            {
                                <button style="float:right; margin-right:5px;" class="btn btn-success btn-approve"><i class="icon-1x flaticon2-check-mark"></i></button>
                            }

                            if (item.AssignBy == clientModel.Username)
                            {
                                <button style="float:right; margin-right:5px;" class="btn btn-primary btn-edit"><i class="icon-1x flaticon2-edit"></i></button>
                            }
                        }

                        @*<button style="float:right; margin-right:5px;" class="btn btn-info"><i class="icon-1x flaticon2-chat"></i> (@item.CommentCount)</button>*@
                    </div>
                }

            </div>
            }
        </div>        
    </div>
</div>
<input type="hidden" id="hamount" value="@total" />

<div class="modal fade" id="approveModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approveModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4>Gia công: <span id="modalGCName"></span></h4>
                <h4 style="text-align:center;">
                    <span style="color:blue;">Khối lượng nhận về:</span>
                    <input id="modalKGBack" class="form-control" placeholder="Kilo (45,6kg nhập : 456)" style="text-align:center; color:red; font-size:20px;" />
                </h4>
                <h4 style="text-align:center;">
                    <span style="color:blue;">Số block:</span>
                    <input id="modalNumber" class="form-control" style="text-align:center; color:red; font-size:20px;" onkeyup="digitsOnly(this)" autocomplete="off" />
                </h4>
                <h5 id="suggest">Gợi ý nhập số lượng: <span id="nmin" style="color:red; font-weight:bold;"></span> đến <span id="nmax" style="color:red; font-weight:bold;"></span></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button id="doApproveBtn" class="btn btn-primary">Hoàn tất</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <p style="color:blue; margin-bottom:0px;">Người làm gia công</p>
                    <select id="selEditUser" style="padding:8px; width:100%;">
                        @foreach (var item in users)
                        {
                            <option class="ouser" value="@item.UserId"></option>
                        }
                    </select>
                </div>
                <div class="col-12">
                    <p style="color:blue; margin-top:10px; margin-bottom:0px;">Loại dũa</p>
                    <select id="selEditNail" style="padding:6px; width:100%;">
                        @foreach (var item in nails)
                        {
                            <option value="@item.NailId">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-12">
                    <p style="color:blue; margin-top:10px; margin-bottom:0px;">Độ nhám</p>
                    <select id="selEditGrit" style="padding:6px; width:100%; margin-top:0px;">
                        @foreach (var item in grits)
                        {
                            <option value="@item.GritId">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-12">
                    <p style="color:blue; margin-top:10px; margin-bottom:0px;">Thuộc đơn hàng</p>
                    <select id="selEditOrder" style="padding:6px; width:100%; margin-top:0px;">
                        <option value="">-Chọn đơn hàng-</option>
                        @foreach (var item in orders)
                        {
                            <option value="@item.OrderId">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="col-12">
                    <p style="color:blue; margin-top:10px; margin-bottom:0px;">Khối lượng gửi đi</p>
                    <input class="form-control" id="editWeight" placeholder="Kilo (45,6kg nhập : 456)" style="font-size:18px; text-align:center;" onkeyup="digitsOnly(this)" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button id="doEdit" class="btn btn-primary">Lưu lại</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="searchModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:darkgreen" class="modal-title" id="postDetail1Title">Tìm nhanh</h5>
            </div>
            <div class="modal-body" id="postDetail1Body">
                <p style="margin-bottom:0px; color:blue; text-align:center">Nhập Số kg</p>
                <input class="form-control" id="searchkg" style="font-size:18px; text-align:center;" placeholder="Kilo (45,6kg nhập : 456)" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button id="searchBTN" type="button" class="btn btn-primary" data-dismiss="modal">Tìm</button>
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/number-format.js"></script>
<script src="/Scripts/datepicker.js"></script>
<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/loading-user-list.js"></script>

<script>
     var access_token = "@clientModel.Token";
    var host = "@clientModel.HostURL";
    var activedRow;
</script>
<script>
    function toMapObject(array, name) {
        var res = {};
        for (var i = 0; i < array.length; i++) {
            var val = array[i][name];
            res[val] = array[i];
        }
        return res;
    }

    function makeDatepicker(id, change) {
        $('#' + id).datepicker({
            rtl: KTUtil.isRTL(),
            todayBtn: "linked",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true,
            templates: arrows,
            format: 'dd/mm/yyyy'
        }).on('change', function () {
            if (change)
                change();
        });;
    }
    var map = {};
    $(document).ready(function () {
        var me = "@clientModel.Username";
        var cid = "";
        var crow;
        var manager = "@isManager.ToString()";
        makeDatepicker("fromDate");
        makeDatepicker("toDate");
        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            map = toMapObject(list, "Username");

            var options = $(".ouser");
            for (var i = 0; i < options.length; i++) {
                var id = $(options[i]).attr("value");
                var find = map[id];
                var name = find.FirstName + " " + find.LastName;
                $(options[i]).text(name);
            }

            bindingData(map);

        }, function () { showRetry(); });

        $("#selNail").val("@ViewBag.Nail");
        $("#selGrit").val("@ViewBag.Grit");
        $("#selStatus").val("@ViewBag.Status");
        $("#selHUser").val("@ViewBag.Username");
        $("#selDisplay").val("@ViewBag.Display");

        $("#btnSubmit").click(function () {
            var fd = $("#fromDate").val();
            fd = fd.replace('/', '-').replace('/', '-');
            var td = $("#toDate").val();
            td = td.replace('/', '-').replace('/', '-');
            var type = $("#selNail").val();
            var grit = $("#selGrit").val();
            var status = $("#selStatus").val();
            var username = $("#selHUser").val();
            var url = "/hr-cloud/widget/sn/gia-cong?fromDate=" + fd + "&toDate=" + td + "&nail=" + type + "&grit=" + grit + "&status=" + status;
            if (username != "0") {
                url = url + "&username=" + username;
            }
            if (manager == "True") {

            }
            var display = $("#selDisplay").val();
            if (display == "1") {
                url = url + "&view=200";
            }
            else if (display == "2") {
                url = url + "&view=all";
            }
            $("#btnSubmit").prop("disabled", true);
            window.location = url;
        });

        $("#btnSubmit").prop("disabled", false);

        function bindingData(userMap) {
            var workings = $(".work-box");
            for (var i = 0; i < workings.length; i++) {
                var uid = $(workings[i]).find(".uidto").val();
                var uidby = $(workings[i]).find(".uidby").val();
                var uidappby = $(workings[i]).find(".approveby").val();
                var u = userMap[uid];
                if (u.Avatar)
                    $(workings[i]).find(".gc-pic").attr("src", host + u.Avatar);

                $(workings[i]).find(".gc-name").text(u.LastName);
                var uby = userMap[uidby];
                $(workings[i]).find(".name-by").text(uby.LastName);
                if (uidappby) {
                    var uidapp = userMap[uidappby];
                    $(workings[i]).find(".name-app").text(uidapp.LastName);
                }
            }
        }

        var nmin = 0;
        var nmax = 0;

        $(".btn-approve").click(function () {
            $("#approveModal").modal('show');
            var box = $($(this).parent()).parent();
            crow = box;
            var code = $(box).find(".hcode").val();
            cid = $(box).find(".hid").val();
            var nailname = $(box).find(".nail-name").text();
            var gritname = $(box).find(".grit-name").text();
            var kgout = $(box).find(".hkgout").val();
            $("#modalKGBack").val(kgout);
            $("#approveModalTitle").text(code + " - " + nailname + " - " + gritname);
            $("#modalGCName").text($(box).find(".gc-name").text());

            var av = $(box).find(".nail-name").attr("avg");
            var perc = $(box).find(".nail-name").attr("perc");
            if (av != "0" && perc != "0") {
                var x = parseInt(kgout) * 100;
                var y = parseInt(av);
                var z = (x / y).toFixed(0);
                var p = parseInt(perc) / 100;
                nmin = (z - (z * p)).toFixed(0);
                nmax = (z - (-1 * (z * p))).toFixed(0);
                $("#nmin").text(nmin);
                $("#nmax").text(nmax);
                $("#suggest").css("display", "block");
            }
            else {
                nmin = 0;
                nmax = 0;
                $("#suggest").css("display", "none");
            }
        });

        $(".btn-edit").click(function () {
            var box = $($(this).parent()).parent();
            crow = box;
            cid = $(box).find(".hid").val();
            var code = $(box).find(".hcode").val();
            $("#editModalTitle").text("Chỉnh sửa đơn hàng: " + code);
            var uidto = $(box).find(".uidto").val();
            $("#selEditUser").val(uidto);

            var nailid = $(box).find(".hnailid").val();
            $("#selEditNail").val(nailid);

            var gritid = $(box).find(".hgritid").val();
            $("#selEditGrit").val(gritid);

            var orderid = $(box).find(".horderid").val();
            $("#selEditOrder").val(orderid);

            var kgout = $(box).find(".hkgout").val();
            kgout = kgout.replace(",", "");
            kgout = kgout.replace(".", "");
            $("#editWeight").val(kgout);


            $("#doEdit").prop("disabled", false);
            $("#editModal").modal('show');
        });

        $(".btn-cancel").click(function () {
            var box = $($(this).parent()).parent();
            var code = $(box).find(".hcode").val();
            cid = $(box).find(".hid").val();
            if (confirm("Bạn muốn hủy đơn hàng: " + code)) {
                PNPost("/api/widget/son-nguyen/post-cancel-home-working", { id: cid }, function (res) {
                    if (res == "ok") {
                        setTimeout(function () { window.location.reload(); }, 1000);
                    }
                    else {
                        alert("Phiên làm việc đã hết hạn, reload trang và thử lại!");
                        location.reload();
                    }
                }, function () { alert("Có lỗi xảy ra, thử lại sau!"); });
            }
        });

        $("#doApproveBtn").click(function () {
            var kgBack = $("#modalKGBack").val();
            var number = $("#modalNumber").val();
            var url = "/api/widget/son-nguyen/approve-home-working";
            if (kgBack == "")
                alert("Bạn chưa nhập khối lượng");
            else if (number == "")
                alert("Bạn chưa nhập số lượng block");
            else {
                if (nmin != 0 && nmax != 0) {
                    var vnum = parseInt(number);
                    if (vnum <= nmax && vnum >= nmin) {

                    }
                    else {
                        if (confirm("Giá trị nhập ngoài giá trị gợi ý: " + nmin + " - " + nmax + ". Bạn thật sự muốn nhập số: " + number + "???")) {

                        }
                        else
                            return false;
                    }
                }
                PNPost(url, { hid: cid, weight: kgBack, number: number }, function (res) {
                    var type = (typeof res);
                    if (type.toString() == "string") {
                        $("#approveModal").modal('hide');
                        $("#modalNumber").val("");
                        setApprove(res, cid, kgBack, number);
                    }
                    else {
                        alert("Phiên làm việc đã hết hạn, reload trang và thử lại!");
                        location.reload();
                    }

                }, function () {
                        alert("Có lỗi xảy ra, thử lại sau!");
                });
            }
        });

        $("#doEdit").prop("disabled", false);
        $("#doEdit").click(function () {
            var username = $("#selEditUser").val();
            var nail = $("#selEditNail").val();
            var grit = $("#selEditGrit").val();
            var weight = $("#editWeight").val();
            var order = $("#selEditOrder").val();
            if (weight == "")
                alert("Bạn chưa nhập khối lượng");
            else {
                $("#doEdit").prop("disabled", true);
                var postModel = { id: cid, huser: username, nail: nail, grit: grit, weight: weight, order: order };
                PNPost("/api/widget/son-nguyen/post-edit-home-working", postModel, function (res) {
                    if (res == "ok") {
                        setTimeout(function () { window.location.reload(); }, 1000);
                    }
                    else {
                        alert("Phiên làm việc đã hết hạn, reload trang và thử lại!");
                        location.reload();
                    }
                }, function () { alert("Có lỗi xảy ra, thử lại sau!"); });
            }
        });

        var t = $("#hamount").val();
        var val = parseFloat(t).toFixed(0);
        var am = numberWithCommas(val);
        $("#totalAmount").text(am + " đ");

        function setApprove(time, id, weight, number) {
            var fu = map[me];
            $(crow).find(".name-app").text(fu.FirstName + " " + fu.LastName);
            $(crow).find(".lb-status").attr("class", "label label-md label-pill lb-status label-inline label-warning");
            $(crow).find(".lb-status").text("Hoàn thành");
            var textOut = $(crow).find(".hkgout").val();
            textOut = textOut.replace(",", ".");
            var kgout = parseFloat(textOut);
            var kgback = parseFloat(weight.replace(",", "."));
            $(crow).find(".kg-back").css("display", "inline");
            $(crow).find(".kg-back").text("Back: " + (kgback/10).toString().replace(".", ","));
            $(crow).find(".res-num").text(number);
            $(crow).find(".res-num").css("display", "inline");
            if (Math.abs(kgback - kgout) >= 10) {
                $(crow).find(".kg-back").removeClass("label-dark");
                $(crow).find(".kg-back").addClass("label-danger");
            }
            var price = $(crow).find(".price").val();
            var ammout = parseInt(number) * parseInt(price);
            $(crow).find(".label-price").text(numberWithCommas(ammout + " đ"));
            $(crow).find(".label-price").css("display", "inline-flex");

            $(crow).find(".btn-approve").css("display", "none");
            $(crow).find(".btn-cancel").css("display", "none");
            $(crow).find(".btn-edit").css("display", "none");

            $(crow).find(".app-time").text(time);


        }

        $("#btnQuickSearch").click(function () {
            $("#searchkg").val("");
            $("#searchModal").modal('show');
            $("#searchkg").focus();
        });

        $("#searchBTN").click(function () {
            $(".work-box").css("display", "none");
            var list = $(".work-box");
            var skg = $("#searchkg").val();
            for (var i = 0; i < list.length; i++) {
                var kg = $(list[i]).find(".hkgout").val();
                if (skg == kg)
                    $(list[i]).css("display", "block");
            }
            $("#resetBox").css("display", "block");
        });

        $("#resetBTN").click(function () {
            $("#resetBox").css("display", "none");
            $(".work-box").css("display", "block");
        });

        var list = $(".work-box");
        for (var i = 0; i < list.length; i++) {
            var nail = $(list[i]).find(".nail-name");
            var av = $(nail).attr("avg");
            var perc = $(nail).attr("perc");
            var num = $(list[i]).find(".app-number").text();
            var kgout = $(list[i]).find(".hkgout").val();
            //alert(av);
            if (av != "0" && perc != "0" && num) {
                var x = parseInt(kgout) * 100;
                var y = parseInt(av);
                var z = (x / y).toFixed(0);
                var p = parseInt(perc) / 100;
                var nmin = (z - (z * p)).toFixed(0);
                var nmax = (z - (-1 * (z * p))).toFixed(0);
                var vnum = parseInt(num);
                var delta = nmax - z;
                if (i < 200) {
                    if (vnum <= nmax && vnum >= nmin) {
                        //alert("hợp lệ :" + nmax + "-" + nmin + ":" + vnum);
                    }
                    else {
                        var text = "";
                        if (vnum > nmax) {
                            var realPercent = ((vnum - z) * parseInt(perc)) / delta;
                            
                            text = "+" + realPercent.toFixed(0) + "%(" + nmin + "-" + nmax + ":" + vnum + ")";
                        }
                        else {
                            var realPercent = ((nmin - z) * parseInt(perc)) / delta;
                            text = + realPercent.toFixed(0) + "%(" + nmin + "-" + nmax + ":" + vnum + ")";
                        }
                        //alert(text);
                        var note = $(list[i]).find(".app-note");
                        $(note).text(text);
                        $(note).css("visibility", "visible");
                    }
                }
                
            }
        }
    });
</script>

