﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImportFuel</title>
</head>
<body>
    <div>
        <button id="button">Click</button>
        <hr />
        <select id="select">
        </select>
        <video id="video" autoplay muted playsinline></video>
        <button id="snap">Snap Photo</button>
        <canvas id="canvas" width="640" height="480"></canvas>

    </div>
    <script>
        var video = document.getElementById('video');
        var button = document.getElementById('button');
        var select = document.getElementById('select');
        var currentStream;
        var isRender = false;

        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        
        document.getElementById("snap").addEventListener("click", function () {
            var time = new Date();
            context.drawImage(video, 0, 0, 640, 480);
            context.font = "26px Helvetica, Arial, sans-serif";
            context.fillText(time.toString().substr(0, 24), 40, 125);
        });

        navigator.mediaDevices.enumerateDevices().then(gotDevices);

        function gotDevices(mediaDevices) {
            if (!isRender) {
                let count = 1;
                mediaDevices.forEach(mediaDevice => {
                    if (mediaDevice.kind === 'videoinput') {
                        const option = document.createElement('option');
                        option.value = mediaDevice.deviceId;
                        const label = mediaDevice.label || "Camera ${count++}";
                        const textNode = document.createTextNode(label);
                        option.appendChild(textNode);
                        select.appendChild(option);
                    }
                });
                renderVideoDefault();
                select.addEventListener('change', (event) => {
                    selVideo(select.value);
                });
            }
        }

        function stopMediaTracks(stream) {
            stream.getTracks().forEach(track => {
                track.stop();
            });
        }

        function renderVideoDefault() {
            isRender = true;
            //$("#select").val($("#select option:first").val());
            //var id = $("#select").val();
            selVideo(select.value);
        }

        function selVideo(id) {
            if (typeof currentStream !== 'undefined') {
                stopMediaTracks(currentStream);
            }
            const videoConstraints = {};
            videoConstraints.facingMode = 'environment';
            videoConstraints.deviceId = { exact: id };
            const constraints = {
                video: videoConstraints,
                audio: false
            };

            navigator.mediaDevices
                .getUserMedia(constraints)
                .then(stream => {
                    currentStream = stream;
                    video.srcObject = stream;
                    return navigator.mediaDevices.enumerateDevices();
                })
                .then(gotDevices)
                .catch(error => {
                    console.error(error);
                });
        }

        
    </script>
</body>
</html>
