﻿@model hrcloud.EFWIDGET.Order
@{
    ViewBag.Title = "UserSummary";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    var isManager = (bool)ViewBag.Manager;
    int i = 0;

    if (!isManager)
    {
        Layout = "~/Views/Shared/_GCLayout.cshtml";
    }
    else
    {
        if (clientModel.QUser.Role == "C_ADM")
        {
            Layout = "~/Views/Shared/_OwnerLayout.cshtml";
        }
        else if (clientModel.QUser.Role == "C_BOS")
        {
            Layout = "~/Views/Shared/_BossLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
        }
    }

    var nails = hrcloud.Services.Widgets.SonNguyenCacheService.Nails;
    var grit = hrcloud.Services.Widgets.SonNguyenCacheService.Grit;
    var details = (List<hrcloud.EFWIDGET.OrderDetail>)ViewBag.Details;
    var completed = details.Sum(a => a.Complete);
    var total = details.Sum(a => a.Count);
    var percent = total == 0 ? total : (completed * 100) / total;
}

<script src="/Scripts/number-format.js"></script>

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <h3 style="margin-bottom:0px;">@Model.Name</h3>
        <p style="margin:0px; color:blue">@percent % (@completed/@total)</p>
        <div class="progress h-6px w-100">
            <div class="progress-bar bg-primary" role="progressbar" style="width: @percent%" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p style="color:blue; margin-top:10px; margin-bottom:0px;">@Model.Note</p>
        <p style="font-style:italic;color:firebrick; margin-top:10px;">Ngày xuất hàng: @Model.ExportDate.ToString("dd/MM/yyyy")</p>
        @foreach (var item in details)
        {

            var n = nails.Where(a => a.NailId == item.NailId).FirstOrDefault();
            var g = grit.Where(a => a.GritId == item.GritId).FirstOrDefault();
            var p = (item.Complete * 100) / item.Count;
            var title = n.Name + " - " + g.Name;
            <div>
                <input type="hidden" value="@title" class="dtitle" />
                <input type="hidden" value="@item.ODetailID" class="detailID" />
                <h5 style="color:blue">@n.Name - @g.Name - <span style="color:red;"> @item.Count</span></h5>
                <p style="margin-bottom:0px; color:red">@p % (@item.Complete/@item.Count)</p>
                <div class="progress h-6px w-100">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: @p%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p style="margin-top:5px;"><a class="btn btn-info"><i class="icon-1x flaticon-eye"></i></a> <button class="btn btn-primary addProduct" data-toggle="modal" href="#addProductNailModal"><i class="icon-1x flaticon2-plus"></i></button> <button class="btn btn-danger lessProduct" data-toggle="modal" href="#lessProductNailModal"><i class="icon-1x flaticon2-line"></i></button></p>
                <hr />
            </div>
        }
        <p>
            <button style="margin-bottom:10px;" class="btn btn-primary" data-toggle="modal" href="#addNailModal"><span class="navi-icon"><i class="flaticon2-plus"></i></span>Thêm Loại Dũa</button>
        </p>
    </div>
</div>
<input id="orderID" type="hidden" value="@Model.OrderId" />
<div class="modal fade" id="addNailModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:darkgreen" class="modal-title" id="postDetail1Title">Thêm dũa vào đơn hàng</h5>
            </div>
            <div class="modal-body" id="postDetail1Body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <select id="selNail" style="padding:8px; width:100%; margin-top:10px;">
                            <option value="0" selected>-Chọn Loại Dũa-</option>
                            @foreach (var item in nails)
                            {
                                foreach (var g in grit)
                                {
                                    if (g.GritId < 4)
                                    {
                                        <option value="@item.NailId" tag="@g.GritId">@item.Name - @g.Name</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <select id="selGrit" style="padding:8px; width:100%; margin-top:10px;">
                            <option value="0">-Chọn Độ Nhám-</option>
                            @foreach (var item in grit)
                            {
                                <option value="@item.GritId">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div>
                    <p style="margin-bottom:0px; margin-top:10px; color:blue;">Số lượng block:</p>
                    <input class="form-control" onkeyup="digitsOnly(this)" style="text-align:center;" id="count" />
                </div>
                <div>
                    <p style="margin-bottom:0px; margin-top:10px; color:blue;">Ghi chú:</p>
                    <input class="form-control" id="note" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="addBTN" type="button" class="btn btn-primary" data-dismiss="modal">Thêm Dũa</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addProductNailModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:darkgreen" class="modal-title" id="addProductTitle">Thêm dũa vào đơn hàng</h5>
            </div>
            <div class="modal-body">
                <div>
                    <p style="margin-bottom:0px; margin-top:10px; color:blue;">Số lượng block:</p>
                    <input class="form-control" onkeyup="digitsOnly(this)" style="text-align:center;" id="productCount" />
                </div>
                <div>
                    <p style="margin-bottom:0px; margin-top:10px; color:blue;">Nội dung:</p>
                    <input class="form-control" id="content" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="addProductBTN" type="button" class="btn btn-primary" data-dismiss="modal">Thêm Số Lượng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="lessProductNailModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:darkgreen" class="modal-title" id="lessProductTitle">Thêm dũa vào đơn hàng</h5>
            </div>
            <div class="modal-body">
                <div>
                    <p style="margin-bottom:0px; margin-top:10px; color:blue;">Số lượng block:</p>
                    <input class="form-control" onkeyup="digitsOnly(this)" style="text-align:center;" id="lessproductCount" />
                </div>
                <div>
                    <p style="margin-bottom:0px; margin-top:10px; color:blue;">Nội dung:</p>
                    <input class="form-control" id="lesscontent" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button id="lessProductBTN" type="button" class="btn btn-primary" data-dismiss="modal">Bớt Số Lượng</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#selNail").change(function () {
            var gid = $("#selNail option:selected").attr("tag");
            $("#selGrit").val(gid);
        });

        $("#addBTN").click(function () {
            var selNail = $("#selNail").val();
            var selGrit = $("#selGrit").val();
            var count = $("#count").val();
            var note = $("#note").val();
            var model = { oid: $("#orderID").val(), nail: selNail, grit: selGrit, count: count, note: note };
            alert(JSON.stringify(model));
            PNPost("/api/widget/son-nguyen/add-order-nail-file", model, function (res) {
                setTimeout(function () {
                    
                }, 3000);
            }, function () { });
        });

      

        var cid = "";

        $(".addProduct").click(function () {
            var box = $($(this).parent()).parent();
            var title = $(box).find(".dtitle").val();
            $("#addProductTitle").text("Thêm - " + title);
            cid = $(box).find(".detailID").val();
        });

        $(".lessProduct").click(function () {
            var box = $($(this).parent()).parent();
            var title = $(box).find(".dtitle").val();
            $("#lessProductTitle").text("Bớt - " + title);
            cid = $(box).find(".detailID").val();
        });


        $("#addProductBTN").click(function () {
            var count = $("#productCount").val();
            var content = $("#content").val();
            var model = { id: cid, count: count, content: content };
            if (count != "") {
                var url = "/api/widget/son-nguyen/add-product-to-detail";
                PNPost(url, model, function (res) {
                    setTimeout(function () {
                        window.location.reload();
                    }, 3000);
                }, function () { });
            }
            else
                alert("Bạn chưa nhập số lượng cần thêm");
        });

        $("#lessProductBTN").click(function () {
            var count = $("#lessproductCount").val();
            var content = $("#lesscontent").val();
            var model = { id: cid, count: count, content: content };
            if (count != "") {
                var url = "/api/widget/son-nguyen/less-product-to-detail";
                PNPost(url, model, function (res) {
                    setTimeout(function () {
                        window.location.reload();
                    }, 3000);
                }, function () { });
            }
            else
                alert("Bạn chưa nhập số lượng cần trừ ra");

        });
    });
</script>

