﻿@model IEnumerable<hrcloud.EFWIDGET.Order>
@{
    ViewBag.Title = "UserSummary";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    var isManager = (bool)ViewBag.Manager;
    int i = 1;
    if (!isManager)
    {
        Layout = "~/Views/Shared/_GCLayout.cshtml";
    }
    else
    {
        if (clientModel.QUser.Role == "C_ADM")
        {
            Layout = "~/Views/Shared/_OwnerLayout.cshtml";
        }
        else if (clientModel.QUser.Role == "C_BOS")
        {
            Layout = "~/Views/Shared/_BossLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
        }
    }
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <button style="margin-bottom:10px;" class="btn btn-primary" data-toggle="modal" href="#newOrderModal"><span class="navi-icon"><i class="flaticon2-plus"></i></span>Tạo đơn hàng</button>
        @foreach (var item in Model)
        {
            <h5>
                <span>@i.</span>
                <a href="/hr-cloud/widget/sn/order/detail/@item.OrderId">
                    <span>@item.Name </span>
                    @if (item.IsComplete)
                    {
                        <span class="label label-primary label-inline font-weight-bolder mr-2">Hoàn thành</span>
                    }
                    else
                    {
                        <span class="label label-outline-info label-inline mr-2">Đang làm ...</span>
                    }
                </a>
            </h5>
            <p style="margin-top:0px; font-style:italic">@item.Note</p>
            <hr />
            i++;
        }
    </div>
</div>

<div class="modal fade" id="newOrderModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approveModalTitle">Thêm đơn hàng mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <p style="margin-bottom:0px; color:blue;">Tên đơn hàng</p>
                <input class="form-control" id="oname" />

                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Số ngày sản xuất</p>
                <input onkeyup="digitsOnly(this)" class="form-control" id="days" />

                <p style="margin-bottom:0px; color:blue; margin-top:10px;">Ghi chú</p>
                <input class="form-control" id="note" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button id="btnSubmit" class="btn btn-primary">Tạo mới</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var name = $("#oname").val();
            var day = $("#days").val();
            var note = $("#note").val();
            if (name == "")
                alert("Chưa nhập tên đơn hàng");
            else if (day == "")
                alert("Chưa nhập số ngày SX");
            else {
                $("#btnSubmit").prop("disabled", true);
                var model = { name: name, day: day, note: note };
                PNPost("/api/widget/son-nguyen/create-order", model, function (res) {
                    setTimeout(function () {
                        var url = "/hr-cloud/widget/sn/order/detail/" + res;
                        window.location.href = url;
                    }, 3000);
                }, function () {
                        $("#btnSubmit").prop("disabled", false);
                });
            }
        });
    });
</script>

