﻿@model hrcloud.EFWIDGET.SN_Transaction
@{
    Layout = null;
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    var guser = (hrcloud.EFWIDGET.SN_PUser)ViewBag.GUSER;
    var datetime = PNUtility.Helpers.UtilityHelper.JavaTimeStampToDateTime(Model.CreateDate);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Thanh toán gia công - @Model.CreateDate </title>
    <meta name="description" content="Updates and statistics" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />        <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="/assets/plugins/global/plugins.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->

    <link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script>
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var me = "@clientModel.Username";
        var domain = "@clientModel.Domain";

        function buildAttributeText(input) {
            return input.replace(new RegExp('"', 'g'), '&quot;');
        }


        function getTextFormAttribute(input) {
            return input.replace(new RegExp('&quot;', 'g'), '"');
        }

        function readCacheChange(changeKey) {
            var text = localStorage.getItem(changeKey);
            if (text) {
                return parseInt(text);
            }
            else
                return 0;
        }

        function writeCacheChange(changeKey, time) {
            localStorage.setItem(changeKey, time);
        }

        var cdata = "@clientModel.ToChangesText()";


        var latestChanges = JSON.parse(getTextFormAttribute(cdata));

        function updateCacheData(key, obj) {
            localStorage.setItem(key, JSON.stringify(obj));
        }

        function updateCacheChanges(changes) {
            writeCacheChanges(changes);
        }
        function toMapObject(array, name) {
            var res = {};
            for (var i = 0; i < array.length; i++) {
                var val = array[i][name];
                res[val] = array[i];
            }
            return res;
        }

        function findElementByProperty(array, name, value) {
            for (var i = 0; i < array.length; i++) {
                if (array[i][name] == value)
                    return array[i];
            }
            return null;
        }

    </script>

    <script>
        var profile = null;
        var listeners = new Array();
        var userList = null;
        var listenersUserList = new Array();
        function registerProfileLoadCompleted(completed) {
            if (profile != null) {
                completed(profile);
            }
            else {
                listeners.push(completed);
            }
        }

        function registerUserListLoadCompleted(completed) {
            if (userList != null)
                completed(userList);
            else
                listenersUserList.push(completed);
        }


        $(document).ready(function () {

            var access_token = "@clientModel.Token";
            var host = "@clientModel.HostURL";
            var changeData = "@clientModel.ToChangesText()";
            var latestChanges = JSON.parse(getTextFormAttribute(changeData));

            var me = "@clientModel.Username";
            var url = host + "/api/main/employee-full-list";
            var dataKey = "data_users";
            var changeKey = "change_users";
            var localChange = readCacheChange(changeKey);

            if (localChange < latestChanges.UserListChanged || localChange == 0) {
                loadUserFromServer();
            }
            else {
                var text = localStorage.getItem("profile");
                if (text) {
                    var cachedUser = JSON.parse(text);
                    if (cachedUser.Username == me) {
                        processMyProfile(cachedUser);
                        var text2 = localStorage.getItem(dataKey);
                        userList = JSON.parse(text2);
                        notifyUserListLoaded(userList);
                    }
                    else {
                        loadUserFromServer();
                    }

                }
                else
                    loadUserFromServer();
            }

            function loadUserFromServer() {
                PNCustomGet(url, access_token, function (data) {
                    if (data == "400") {
                        retry();
                    }
                    else {
                        var list = JSON.parse(data);
                        localStorage.setItem(dataKey, data);
                        writeCacheChange(changeKey, latestChanges.UserListChanged);
                        for (var i = 0; i < list.length; i++) {
                            if (list[i].Username == me) {
                                processMyProfile(list[i]);
                                break;
                            }
                        }
                        userList = list;
                        notifyUserListLoaded(userList);
                    }
                }, function () { });
            }

            function processMyProfile(info) {
                localStorage.setItem("profile", JSON.stringify(info));
                profile = info;
                notifyProfileLoaded(profile);
                if (info.AreaM && info.AreaM.length > 30) {
                    var temp = '<li class="navi-item"><a href="/hr-cloud/on-board/day-working" class="navi-link">'+
                                        '<span class="navi-icon"><i class="flaticon2-edit"></i></span>'+
                                        '<span class="navi-text">Chấm công ngày</span>'+
                                    '</a>'+
                                '</li>';

                    $("#quick-menu").append(temp);
                }
                if (info.IaC) {
                    var temp = '<li class="navi-item"><a href="/hr-cloud/on-board/advance" class="navi-link">' +
                        '<span class="navi-icon"><i class="flaticon2-gift"></i></span>' +
                        '<span class="navi-text">Tạm ứng</span>' +
                        '</a>' +
                        '</li>';

                    $("#quick-menu").append(temp);
               targetUserargetUserargetUserargetUser}
            }

            function notifyProfileLoaded(profile) {
                for (var i = 0; i < listeners.length; i++) {
                    listeners[i](profile);
                }
            }

            function notifyUserListLoaded(list) {
                for (var i = 0; i < listenersUserList.length; i++) {
                    listenersUserList[i](list);
                }
            }
        });


    </script>

    <script>
        var owner = null;
        var ownerlisteners = new Array();

        function registerOwnerInfoLoadCompleted(completed) {
            if (owner != null)
                completed(owner);
            else
                ownerlisteners.push(completed);
        }


        $(document).ready(function () {
            var access_token = "@clientModel.Token";
            var host = "@clientModel.HostURL";
            var changeData = "@clientModel.ToChangesText()";
            var latestChanges = JSON.parse(getTextFormAttribute(changeData));
            var me = "@clientModel.Username";
            var url = host + "/api/owner/get-owner-info";
            var dataKey = "data_owner";
            var changeKey = "change_owner";
            var localChange = readCacheChange(changeKey);

            if (localChange < latestChanges.OwnerChanged || localChange == 0) {
                loadOwnerFromServer();
            }
            else {
                var text = localStorage.getItem(dataKey);
                if (text) {
                    try {
                      Model DoByvar cachedOwner = JSON.parse(text);
                        notifyOwnerLoaded(cachedOwner);
                    }
                    catch{
                        loadOwnerFromServer();
                    }
                }
                else
                    loadOwnerFromServer();
            }

            function loadOwnerFromServer() {
                PNCustomGet(url, access_token, function (data) {
                    if (data == "400") {
                        retry();
                    }
                    else {
                        var server_owner = JSON.parse(data);
                        localStorage.setItem(dataKey, data);
                        writeCacheChange(changeKey, latestChanges.OwnerChanged);
                        owner = server_owner;
                        notifyOwnerLoaded(server_owner);
                    }
                }, function () { });
            }

            function notifyOwnerLoaded(owner) {
                for (var i = 0; i < ownerlisteners.length; i++) {
                    ownerlisteners[i](owner);
                }
            }
        });


    </script>

    <script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
    </script>

</head>
<!--end::Head-->
<!--begin::Body-->
<body>

    <div class="modal fade" id="retryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="retryNoticeBox" style="display:block;">
                        <p style="text-align:center; color:red;"><i class="icon-5x text-dark-50 flaticon-refresh"></i></p>
                        <p style="text-align:center; font-size:15px; color:red;">Phiên làm việc hết hạn, bấm tiếp tục để tải lại trang</p>
                    </div>

                    <p id="retryLoading" style="text-align:center; display:none;"><img src="/Common/Images/loading.gif" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                    <button id="retryBTN" type="button" class="btn btn-danger font-weight-bold">Làm mới</button>
                </div>
            </div>
        </div>
    </div>
    <script>


    </script>
    <script>
        var retryCalled = false;
        function showRetry() {
            if (!retryCalled) {
                retryCalled = true;
                $("#retryLoading").css("display", "none");
                $("#retryNoticeBox").css("display", "block");
                $("#retryBTN").attr("disabled", false);
                $("#retryModal").modal('show');
                try {
                    $("#retryBTN").unbind("click");
                }
                catch (err) {

                }
                $("#retryBTN").bind("click", function () {
                    $("#retryBTN").attr("disabled", true);
                    $("#retryLoading").css("display", "block");
                    $("#retryNoticeBox").css("display", "none");
                    PNPost("/api/member/reset-access-token", {}, function (data) {
                        if (data == "OK") {
                            setTimeout(function () {
                                $("#retryModal").modal('hide');
                                window.location.reload();
                            }, 1000);
                        }
                    }, function () {
                        $("#retryModal").modal('hide');
                        alert("Có lỗi xảy ra, thử lại sau!");
                    });
                });
            }
        }

        function submitAsSpiner(btn) {
            $(btn).addClass("spinner");
            $(btn).addClass("spinner-white");
            $(btn).addClass("spinner-right");
            $(btn).prop("disabled", true);
        }

        function resetSubmitSpiner(btn) {
            $(btn).removeClass("spinner");
            $(btn).removeClass("spinner-white");
            $(btn).removeClass("spinner-right");
            $(btn).prop("disabled", false);
        }

        function getProfile(data, username) {
            for (var i = 0; i < data.length; i++) {
                if (data[i].Username == username)
                    return data[i];
            }
            return null;
        }

    </script>
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    <!--end::Header Mobile-->
    <style>
        .ptitle{
            color:blue; font-weight:bold;
        }
    </style>
    <divc class="container">
        <h3 style="font-weight: bold;">Công ty TNHH ĐT SX TM DV Sơn Nguyễn</h3>
        <h5 style="font-style:italic">Địa chỉ: C10/15 ấp 3, đường Kinh Trung Ương, xã Vĩnh Lộc A, huyện Bình Chánh, TP. Hồ Chí Minh</h5>
        <h1 style="text-align:center; margin:30px; font-weight:bold;">THANH TOÁN GIA CÔNG</h1>
        <p style="text-align:right; font-size:16px;">No: @Model.CreateDate</p>

        <div class="row" style="margin-top:20px;">
            <div class="col-9" style="padding-right:40px;">
                <p style="font-size:18px;"><span class="ptitle">Họ và tên: </span><span style="font-style:italic" id="gcName"></span> <span style="float:right;"> <span class="ptitle">Số điện thoại: </span><span style="font-style:italic" id="gcPhone"></span></span></p>
                <p style="font-size:18px;"><span class="ptitle">Tên đăng nhập: </span><span style="font-style:italic">@Model.Username</span></p>
                <p style="font-size:18px;"><span class="ptitle">Doanh số lũy tiến: </span><span style="font-style:italic; font-weight:bold;">@PNUtility.Helpers.UtilityHelper.MoneyFormat(guser.TotalAmount)</span></p>
                <p style="font-size:18px;"><span class="ptitle">Số dư trước thanh toán: </span><span style="font-style:italic; font-weight:bold;">@PNUtility.Helpers.UtilityHelper.MoneyFormat(Model.BeginValue)</span></p>
                <p style="font-size:18px;"><span class="ptitle">Số tiền thanh toán: </span><span style="font-style:italic; font-size:22px; font-weight:bold;">@PNUtility.Helpers.UtilityHelper.MoneyFormat(Model.ChangeValue)</span></p>
                <p style="font-size:18px;"><span class="ptitle">Nội dung: </span><span style="font-style:italic;">@Model.Note</span></p>
                <p style="font-size:18px;"><span class="ptitle">Số dư còn lại: </span><span style="font-style:italic; font-weight:bold;">@PNUtility.Helpers.UtilityHelper.MoneyFormat(Model.EndValue)</span></p>
                <p style="font-size:18px;"><span class="ptitle">Người lập phiếu: </span><span id="aname" style="font-style:italic;"></span></p>
                
            </div>
            <div class="col-3">
                <img style="width:200px; height:200px; border:1px solid #aaa; border-radius:100px;" id="avatar" />
            </div>
        </div>
        <div>
            <p style="text-align:right;">Xác nhận đã nhận đầy đủ số tiền @PNUtility.Helpers.UtilityHelper.MoneyFormat(Model.ChangeValue)</p>
            <p style="text-align:right; font-style:italic"><span style="font-weight:bold">Bình Chánh, @datetime.Hour<span>h</span>@datetime.Minute</span> ngày <span style="font-weight:bold">@datetime.Day</span> tháng <span style="font-weight:bold">@datetime.Month</span> năm <span style="font-weight:bold">@datetime.Year</span></p>
        </div>
        <div class="row">
            <div class="col-6">
                <h3 style="text-align:center; font-weight:bold">Nhân viên phát tiền</h3>
                <p style="text-align:center; font-style:italic">(Ký, ghi rõ họ tên)</p>
            </div>
            <div class="col-6">
                <h3 style="text-align:center; font-weight:bold">Người nhận tiền</h3>
                <p style="text-align:center; font-style:italic">(Ký, ghi rõ họ tên)</p>
                <h3 style="text-align:center; font-weight:bold; margin-top:150px;" id="sname"></h3>
            </div>
        </div>
    </divc>
    <!--end::Main-->
    <!--begin::Quick Panel-->
    <!--end::Quick Panel-->
    <!--end::Scrolltop-->
    <!--end::Demo Panel-->

    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1200
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#6993FF",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#F3F6F9",
                        "dark": "#212121"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1E9FF",
                        "secondary": "#ECF0F3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#212121",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#ECF0F3",
                    "gray-300": "#E5EAEE",
                    "gray-400": "#D6D6E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#80808F",
                    "gray-700": "#464E5F",
                    "gray-800": "#1B283F",
                    "gray-900": "#212121"
                }
            },
            "font-family": "Poppins"
        };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="/assets/plugins/global/plugins.bundle.js?v=7.0.6"></script>
    <script src="/assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6"></script>
    <script src="/assets/js/scripts.bundle.js?v=7.0.6"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js?v=7.0.6"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="/assets/js/pages/widgets.js?v=7.0.6"></script>
    <!--end::Page Scripts-->
    <script src="/Scripts/loading-user-list.js"></script>
    <script>
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var username = "@Model.Username";
        var doby = "@Model.DoBy";
        $(document).ready(function () {
            loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
                for (var i = 0; i < list.length; i++) {
                    if (username == list[i].Username) {
                        $("#avatar").attr("src", host + list[i].Avatar);
                        var gcname = list[i].FirstName + " " + list[i].LastName;
                        $("#gcName").text(gcname);
                        $("#sname").text(gcname);
                        $("#gcPhone").text(list[i].Phone);
                        
                    }
                    if (doby == list[i].Username) {
                        $("#aname").text(list[i].FirstName + " " + list[i].LastName);
                    }
                }
            }, function () { showRetry(); });
        });
    </script>

</body>
<!--end::Body-->
</html>
