﻿
@{
    ViewBag.Title = "SettingHomeWorking";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    var hwusers = (hrcloud.Models.SonNguyen.HWUsers)ViewBag.Config;
    var nails = hrcloud.Services.Widgets.SonNguyenCacheService.Nails;
    var outText = "";
    foreach(var item in hwusers.OutsideUsers)
    {
        outText = outText + item + ",";
    }

    var manText = "";
    foreach (var item in hwusers.ManageUsers)
    {
        manText = manText + item + ",";
    }
}

<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="margin-bottom:0px;">Danh sách username làm gia công:</p>
        <input class="form-control" id="users" placeholder="tên người dùng cách nhau dấu ," value="@outText" />

        <p style="margin-bottom:0px; margin-top:15px;">Danh sách username quản lý gia công:</p>
        <input class="form-control" id="musers" placeholder="tên người dùng cách nhau dấu ," value="@manText" />

        <p style="text-align:right; margin-top:10px;"><button id="saveBtn" class="btn btn-primary">Lưu lại</button></p>

        <h3>Thanh toán gia công</h3>
        <p style="margin-bottom:0px;">Username gia công:</p>
        <input class="form-control" id="paymentUser" />

        <p style="margin-bottom:0px;">Số tiền thanh toán:</p>
        <input class="form-control pn-number" id="paymentValue" onkeyup="digitsOnly(this)" />

        <p style="margin-bottom:0px;">Ghi chú:</p>
        <input class="form-control" id="paymentMessage" />

        <p style="text-align:right; margin-top:10px;"><button id="paymentBtn" class="btn btn-primary">Thanh toán</button></p>

        <h3>Nạp tiền gia công</h3>
        <p style="margin-bottom:0px;">Username gia công:</p>
        <input class="form-control" id="chargeUser" />

        <p style="margin-bottom:0px;">Số tiền cần thêm:</p>
        <input class="form-control pn-number" id="chargeValue" onkeyup="digitsOnly(this)" />

        <p style="margin-bottom:0px;">Lý do:</p>
        <input class="form-control" id="chargeMessage" />

        <p style="text-align:right; margin-top:10px;"><button id="chargeBtn" class="btn btn-primary">Nạp thêm</button></p>

        <h3>Cảnh báo duyệt đơn hàng</h3>
        <select id="selNail" style="padding:6px; width:100%;">
            <option value="0">-Chọn Loại Dũa-</option>
            @foreach (var item in nails)
            {
                <option avg="@item.AVG" perc="@item.Perc" value="@item.NailId">@item.Name</option>
            }
        </select>
        <div id="obox" style="margin-top:20px;">

            
        </div>
        <p>Trung bình: <span style="color:red; font-weight:bold;" id="avNum"></span> gram/block</p>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-4 col-lg-4">
                <p style="margin-bottom:0px; color:blue;">TB gram/block</p>
                <input class="form-control" id="nailAV" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-4 col-lg-4">
                <p style="margin-bottom:0px; color:blue;">+/- %</p>
                <input class="form-control" id="delta" />
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-4 col-lg-4">
                <button id="btnSaveAV" style="margin-top:18px;" class="btn btn-primary">Lưu lại</button>
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/PNAjaxV2.js"></script>
<script>
    var otem = '<p><span style="color:red;">{kg}</span>kg -><span style="color:blue;">{block}</span>block <i class="icon-1x flaticon2-fast-next"></i> <span class="avnumber" style="color:firebrick">{av}</span> gram/block <button class="btn btn-danger btn-remove">Xóa</button></p>';
    var chargeURL = "/api/widget/son-nguyen/charge-home-working-user";
    var payURL = "/api/widget/son-nguyen/payment-home-working-user";
    $(document).ready(function () {
        $("#saveBtn").click(function () {
            var users = $("#users").val();
            var musers = $("#musers").val();
            PNPost("/api/widget/son-nguyen/set-home-working-users", { users: users, musers: musers }, function (res) {
                alert(res);
            }, function () { });
        });

        $("#chargeBtn").click(function () {
            var user = $("#chargeUser").val();
            var value = $("#chargeValue").val();
            value = value.replace(",", "").replace(",", "").replace(",", "");
            value = value.replace(".", "").replace(".", "").replace(".", "");
            var note = $("#chargeMessage").val();
            var model = { huser: user, value: value, note: note };
            if (value == "")
                alert("Bạn chưa nhập số tiền");
            else {
                PNPost(chargeURL, model, function (res) {
                    if (res == "ok") {
                        alert("Nạp thành công!");
                        $("#chargeUser").val("");
                        $("#chargeValue").val("");
                        $("#chargeMessage").val("");
                    }
                }, function () { });
            }
        });
        $("#paymentBtn").click(function () {
            var user = $("#paymentUser").val();
            var value = $("#paymentValue").val();
            value = value.replace(",", "").replace(",", "").replace(",", "");
            value = value.replace(".", "").replace(".", "").replace(".", "");
            var note = $("#paymentMessage").val();
            var model = { huser: user, value: value, note: note };
            if (value == "")
                alert("Bạn chưa nhập số tiền");
            else {
                PNPost(payURL, model, function (res) {
                    if (res == "ok") {
                        alert("Thanh toán thành công!");
                        $("#paymentUser").val("");
                        $("#paymentValue").val("");
                        $("#paymentMessage").val("");
                    }
                }, function () { });
            }
        });

        $("#selNail").change(function () {
            var id = $("#selNail").val();
            var url = "/api/widget/son-nguyen/get-order-completed-50/" + id;
            PNGet(url, function (data) {
                var list = JSON.parse(data);
                $("#obox").empty();
                var total = 0;
                var count = 0;
                for (var i = 0; i < list.length; i++) {
                    var kg = list[i].kg / 10;
                    var html = otem.replace("{kg}", kg);
                    html = html.replace("{block}", list[i].nu);
                    var av = ((kg * 1000) / list[i].nu).toFixed(0);
                    total = total + parseInt(av);
                    html = html.replace("{av}", av);
                    $("#obox").append(html);
                    count++;
                }
                var avnum = (total / count).toFixed(0);
                $("#avNum").text(avnum);

                $(".btn-remove").click(function () {
                    var pa = $(this).parent();
                    $(pa).remove();
                    reCalculator();
                });

                var avg = $("#selNail option:selected").attr("avg");
                var delta = $("#selNail option:selected").attr("perc");
                $("#nailAV").val(avg);
                $("#delta").val(delta);
            }, function () { });
        });

        $("#btnSaveAV").click(function () {
            var av = $("#nailAV").val();
            var delta = $("#delta").val();
            var nid = $("#selNail").val();
            var model = { av: av, delta: delta, nid: nid };
            PNPost("/api/widget/son-nguyen/set-avg", model, function (res) {
                if (res == "ok") {
                    $("#selNail option:selected").attr("avg", av);
                    $("#selNail option:selected").attr("perc", delta);
                    alert("Thiết lập thành công");
                }
            });
            
        });

        function reCalculator() {
            var list = $(".avnumber");
            var total = 0;
            for (var i = 0; i < list.length; i++) {
                var t = $(list[i]).text();
                total = total + parseInt(t);
            }
            var avnum = (total / list.length).toFixed(0);
            $("#avNum").text(avnum);
        }
    });
</script>