﻿@model hrcloud.EFWIDGET.SN_PUser
@{
    ViewBag.Title = "UserSummary";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    var isManager = (bool)ViewBag.Manager;
    var trans = (List<hrcloud.EFWIDGET.SN_Transaction>)ViewBag.Trans;
    int i = 1;
    var targetUser = ViewBag.Username;

    var userHomeLink = "/hr-cloud/widget/sn/user-summary";
    if (!isManager)
    {
        Layout = "~/Views/Shared/_GCLayout.cshtml";
    }
    else
    {
        if (clientModel.QUser.Role == "C_ADM")
        {
            Layout = "~/Views/Shared/_OwnerLayout.cshtml";
        }
        else if (clientModel.QUser.Role == "C_BOS")
        {
            Layout = "~/Views/Shared/_BossLayout.cshtml";
            userHomeLink = "/hr-cloud/boss/sn/user-summary";
        }
        else
        {
            Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
        }
    }
}

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>

<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align: center; margin-bottom:0px;">
            <a href="@userHomeLink?username=@targetUser">
                <img id="avatar" src="/Images/avatar.png" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
            </a>
        </p>
        <p style="text-align:center;margin-top:0px;"><span id="gcName" style="font-size:16px; font-weight:bold;"></span></p>
        
        <h4 style="font-weight:bold;">Các giao dịch gần đây:</h4>
        @foreach (var item in trans)
        {
    <h5>
        <span>@i.</span>
        @if (item.IsPayment)
        {
            <span class="label label-pill label-lg label-inline label-warning label-price">Trả lương</span>
            <span style="font-weight:bold;">- @PNUtility.Helpers.UtilityHelper.MoneyFormat(item.ChangeValue)</span>
            <span>Số dư sau cùng: <span style="color:red;">@PNUtility.Helpers.UtilityHelper.MoneyFormat(item.EndValue)</span></span>
            <a class="btn btn-info" target="_blank" href="/hr-cloud/widget/sn/printer/thanh-toan-gia-cong/@item.CreateDate">In biên lai</a>
        }
        else
        {
            <span class="label label-pill label-lg label-inline label-primary label-price">Cộng tiền</span>
            <span style="font-weight:bold;">+ @PNUtility.Helpers.UtilityHelper.MoneyFormat(item.ChangeValue)</span>
            <span>Số dư sau cùng: <span style="color:red;">@PNUtility.Helpers.UtilityHelper.MoneyFormat(item.EndValue)</span></span>
        }
    </h5>
    <p style="margin-top:0px; font-style:italic">@item.Note</p>
    <hr />
            i++;
        }
    </div>
</div>
<script src="/Scripts/loading-user-list.js"></script>
<script>
    $(document).ready(function () {
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var me = "@targetUser";
        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            for (var i = 0; i < list.length; i++) {
                if (me == list[i].Username) {
                    if (list[i].Avatar) {
                        $("#avatar").attr("src", host + list[i].Avatar);
                    }
                    $("#gcName").text(list[i].FirstName + " " + list[i].LastName);
                }
            }
        }, function () { showRetry(); });
    });
</script>

