﻿@model hrcloud.EFWIDGET.SN_PUser
@{
    ViewBag.Title = "UserSummary";
    ClientModel clientModel = (ClientModel)ViewBag.ClientModel;
    var isManager = (bool)ViewBag.Manager;
    var orders = (List<hrcloud.EFWIDGET.SN_Package>)ViewBag.Orders;
    int i = 1;
    var targetUser = ViewBag.Username;
    var userHomeLink = "/hr-cloud/widget/sn/user-summary";
    if (!isManager)
    {
        Layout = "~/Views/Shared/_GCLayout.cshtml";
    }
    else
    {
        if (clientModel.QUser.Role == "C_ADM")
        {
            Layout = "~/Views/Shared/_OwnerLayout.cshtml";
        }
        else if(clientModel.QUser.Role == "C_BOS")
        {
            Layout = "~/Views/Shared/_BossLayout.cshtml";
            userHomeLink = "/hr-cloud/boss/sn/user-summary";
        }
        else
        {
            Layout = "~/Views/Shared/_OnBoardLayout.cshtml";
        }
    }
}

<style>
    .miss-number{
        border: 2px solid red !important;
    }
</style>

@{ Html.RenderPartial("CommonFunction"); }
<script>
    var cdata = "@clientModel.ToChangesText()";

    var latestChanges = JSON.parse(getTextFormAttribute(cdata));

    function updateCacheData(key, obj) {
        localStorage.setItem(key, JSON.stringify(obj));
    }

    function updateCacheChanges(changes) {
        writeCacheChanges(changes);
    }
</script>
<script src="/Scripts/PNAjaxV2.js"></script>
<script src="/Scripts/number-format.js"></script>
<div class="card card-custom gutter-b">
    <div class="card-body">
        <p style="text-align: center; margin-bottom:0px;">
            <a href="@userHomeLink?username=@targetUser">
                <img id="avatar" src="/Images/avatar.png" style="width:150px; height:150px; border-radius:75px; border: 2px solid #aaa;" />
            </a>
        </p>
        <p style="text-align:center;margin-top:0px;"><span id="gcName" style="font-size:16px; font-weight:bold;"></span></p>
        <p id="gPhone" style="text-align:center; font-size:16px; color:blue;"></p>
        <h4 style="font-weight:bold;">50 Đơn đã duyệt gần đây:</h4>
        @foreach (var item in orders)
        {
            var date = item.ApproveDate.Value;
            var nail = hrcloud.Services.Widgets.SonNguyenCacheService.Nails.Where(a => a.NailId == item.NailId).FirstOrDefault();
            var grit = hrcloud.Services.Widgets.SonNguyenCacheService.Grit.Where(a => a.GritId == item.GritId).FirstOrDefault();
            <div class="row-box">
                <input type="hidden" class="avg" value="@nail.AVG" />
                <input type="hidden" class="perc" value="@nail.Perc" />
                <input type="hidden" class="block-num" value="@item.Number" />
                <input type="hidden" class="hkgout" value="@item.KgOut.Value" />
                <input type="hidden" class="hid" value="@item.PackageId" />
                <input type="hidden" class="hprice" value="@item.Price" />
                <input type="hidden" class="htext" value="@nail.Name - @grit.Name -  @Math.Round(item.KgOut.Value / 10, 1) (kg)" />
                <h5 style="margin-top:20px;"><span style="color:red">@i.</span> <span>@nail.Name</span> - <span>@grit.Name</span> - @Math.Round(item.KgOut.Value / 10, 1) (kg) - <span style="color:blue;">@date.ToString("dd/MM/yyyy HH:mm")</span></h5>
                <p><span class="label label-pill label-lg label-inline label-info cnumber">@item.Number</span> <span class="label label-pill label-lg label-inline label-warning label-price">@PNUtility.Helpers.UtilityHelper.MoneyFormat(item.Amount)</span> <span>Duyệt: </span><span tag="@item.ApproveBy" style="color:purple; text-decoration:underline; font-style:italic" class="aname"></span></p>
                @if(clientModel.QUser.Role == "C_ADM")
                {
                <button class="btn btn-danger btn-edit">Sửa</button>
                }
            </div>
            i++;
        }

    </div>
</div>
<div class="modal fade" id="changeModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approveModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h4>Số block hiện tại: <span id="cnumber"></span></h4>

                <h4 style="text-align:center;">
                    <span style="color:blue;">Nhập Số Block Mới:</span>
                    <input id="modalNumber" autocomplete="off" class="form-control" style="text-align:center; color:red; font-size:20px;" onkeyup="digitsOnly(this)" />
                </h4>
                <p style="color:blue; margin-bottom:0px; margin-top:10px;">Lý do thay đổi</p>
                <input class="form-control" id="reason" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button id="doApproveBtn" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>


<script src="/Scripts/loading-user-list.js"></script>
<script>
    function toMapObject(array, name) {
        var res = {};
        for (var i = 0; i < array.length; i++) {
            var val = array[i][name];
            res[val] = array[i];
        }
        return res;
    }

    var map = {};
    $(document).ready(function () {
        var access_token = "@clientModel.Token";
        var host = "@clientModel.HostURL";
        var me = "@targetUser";
        loadUserList(host, access_token, latestChanges.UserListChanged, function (list) {
            map = toMapObject(list, "Username");
            for (var i = 0; i < list.length; i++) {
                if (me == list[i].Username) {
                    if (list[i].Avatar) {
                        $("#avatar").attr("src", host + list[i].Avatar);
                    }
                    $("#gcName").text(list[i].FirstName + " " + list[i].LastName);
                    $("#gPhone").text(list[i].Phone);
                    break;
                }
                
            }

            var anames = $(".aname");
            for (var i = 0; i < anames.length; i++) {
                var id = $(anames[i]).attr("tag");
                var find = map[id];
                $(anames[i]).text(find.LastName);
            }
        }, function () { showRetry(); });

        var crow;
        $(".btn-edit").click(function () {            
            var pa = $(this).parent();
            crow = pa;
            var text = $(pa).find(".htext").val();
            var number = $(pa).find(".cnumber").text();
            $("#approveModalTitle").text(text);
            $("#cnumber").text(number);
            $("#changeModal").modal('show');
        });

        $("#doApproveBtn").click(function () {
            var number = $("#modalNumber").val();
            var reason = $("#reason").val();
            if (number == "") {
                alert("Bạn chưa nhập số lượng mới.");
            }
            else if (reason == "") {
                alert("Bạn chưa nhập lý do thay đổi");
            }
            else {
                var id = $(crow).find(".hid").val();
                var pname = $(crow).find(".htext").val();
                var model = { hid: id, number: number, pname: pname, reason: reason };
                $("#changeModal").modal('hide');
                PNPost("/api/widget/son-nguyen/change-approve", model, function (res) {
                    if (res == "ok") {
                        window.location.href = "/hr-cloud/widget/sn/user-summary?username=" + "@targetUser";
                    }
                }, function () { alert("Có lỗi về sử cố mạng"); });
            }
        });

        var list = $(".row-box");
        for (var i = 0; i < list.length; i++) {
            var av = $(list[i]).find(".avg").val();
            var perc = $(list[i]).find(".perc").val();
            var num = $(list[i]).find(".block-num").val();
            var kgout = $(list[i]).find(".hkgout").val();

            if (av != "0" && perc != "0") {
                var x = parseInt(kgout) * 100;
                var y = parseInt(av);
                var z = (x / y).toFixed(0);
                var p = parseInt(perc) / 100;
                var nmin = (z - (z * p)).toFixed(0);
                var nmax = (z - (-1 * (z * p))).toFixed(0);
                var vnum = parseInt(num);
                if (vnum <= nmax && vnum >= nmin) {

                }
                else {
                    $(list[i]).addClass("miss-number");
                }
            }
        }
    });
</script>

